.dxWeb_rpHeaderTopLeftCorner_MetropolisBlue,
.dxWeb_rpHeaderTopRightCorner_MetropolisBlue,
.dxWeb_rpBottomLeftCorner_MetropolisBlue,
.dxWeb_rpBottomRightCorner_MetropolisBlue,
.dxWeb_rpTopLeftCorner_MetropolisBlue,
.dxWeb_rpTopRightCorner_MetropolisBlue,
.dxWeb_rpGroupBoxBottomLeftCorner_MetropolisBlue,
.dxWeb_rpGroupBoxBottomRightCorner_MetropolisBlue,
.dxWeb_rpGroupBoxTopLeftCorner_MetropolisBlue,
.dxWeb_rpGroupBoxTopRightCorner_MetropolisBlue,
.dxWeb_mHorizontalPopOut_MetropolisBlue,
.dxWeb_mHorizontalPopOutHover_MetropolisBlue,
.dxWeb_mVerticalPopOut_MetropolisBlue,
.dxWeb_mVerticalPopOutHover_MetropolisBlue,
.dxWeb_mVerticalPopOutRtl_MetropolisBlue,
.dxWeb_mVerticalPopOutHoverRtl_MetropolisBlue,
.dxWeb_mSubMenuItem_MetropolisBlue,
.dxWeb_mSubMenuItemChecked_MetropolisBlue,
.dxWeb_mScrollUp_MetropolisBlue,
.dxWeb_mScrollUpHover_MetropolisBlue,
.dxWeb_mScrollDown_MetropolisBlue,
.dxWeb_mScrollDownHover_MetropolisBlue,
.dxWeb_tcScrollLeft_MetropolisBlue,
.dxWeb_tcScrollRight_MetropolisBlue,
.dxWeb_tcScrollLeftHover_MetropolisBlue,
.dxWeb_tcScrollRightHover_MetropolisBlue,
.dxWeb_tcScrollLeftPressed_MetropolisBlue,
.dxWeb_tcScrollRightPressed_MetropolisBlue,
.dxWeb_tcScrollLeftDisabled_MetropolisBlue,
.dxWeb_tcScrollRightDisabled_MetropolisBlue,
.dxWeb_nbCollapse_MetropolisBlue,
.dxWeb_nbExpand_MetropolisBlue,
.dxWeb_splVSeparator_MetropolisBlue,
.dxWeb_splVSeparatorHover_MetropolisBlue,
.dxWeb_splHSeparator_MetropolisBlue,
.dxWeb_splHSeparatorHover_MetropolisBlue,
.dxWeb_splVCollapseBackwardButton_MetropolisBlue,
.dxWeb_splVCollapseBackwardButtonHover_MetropolisBlue,
.dxWeb_splHCollapseBackwardButton_MetropolisBlue,
.dxWeb_splHCollapseBackwardButtonHover_MetropolisBlue,
.dxWeb_splVCollapseForwardButton_MetropolisBlue,
.dxWeb_splVCollapseForwardButtonHover_MetropolisBlue,
.dxWeb_splHCollapseForwardButton_MetropolisBlue,
.dxWeb_splHCollapseForwardButtonHover_MetropolisBlue,
.dxWeb_pcCloseButton_MetropolisBlue,
.dxWeb_pcPinButton_MetropolisBlue,
.dxWeb_pcRefreshButton_MetropolisBlue,
.dxWeb_pcCollapseButton_MetropolisBlue,
.dxWeb_pcMaximizeButton_MetropolisBlue,
.dxWeb_pcSizeGrip_MetropolisBlue,
.dxWeb_pcSizeGripRtl_MetropolisBlue,
.dxWeb_pPopOut_MetropolisBlue,
.dxWeb_pPopOutDisabled_MetropolisBlue,
.dxWeb_pPopOutHover_MetropolisBlue,
.dxWeb_pPopOutPressed_MetropolisBlue,
.dxWeb_pAll_MetropolisBlue,
.dxWeb_pAllDisabled_MetropolisBlue,
.dxWeb_pPrev_MetropolisBlue,
.dxWeb_pPrevDisabled_MetropolisBlue,
.dxWeb_pNext_MetropolisBlue,
.dxWeb_pNextDisabled_MetropolisBlue,
.dxWeb_pLast_MetropolisBlue,
.dxWeb_pLastDisabled_MetropolisBlue,
.dxWeb_pFirst_MetropolisBlue,
.dxWeb_pFirstDisabled_MetropolisBlue,
.dxWeb_tvColBtn_MetropolisBlue,
.dxWeb_tvColBtnRtl_MetropolisBlue,
.dxWeb_tvExpBtn_MetropolisBlue,
.dxWeb_tvExpBtnRtl_MetropolisBlue,
.dxWeb_fmFolder_MetropolisBlue,
.dxWeb_fmFolderLocked_MetropolisBlue,
.dxWeb_fmCreateButton_MetropolisBlue,
.dxWeb_fmMoveButton_MetropolisBlue,
.dxWeb_fmRenameButton_MetropolisBlue,
.dxWeb_fmDeleteButton_MetropolisBlue,
.dxWeb_fmRefreshButton_MetropolisBlue,
.dxWeb_fmDwnlButton_MetropolisBlue,
.dxWeb_fmCreateButtonDisabled_MetropolisBlue,
.dxWeb_fmMoveButtonDisabled_MetropolisBlue,
.dxWeb_fmRenameButtonDisabled_MetropolisBlue,
.dxWeb_fmDeleteButtonDisabled_MetropolisBlue,
.dxWeb_fmRefreshButtonDisabled_MetropolisBlue,
.dxWeb_fmDwnlButtonDisabled_MetropolisBlue,
.dxWeb_fmThumbnailCheck_MetropolisBlue,
.dxWeb_ucClearButton_MetropolisBlue,
.dxWeb_isPrevBtnHor_MetropolisBlue,
.dxWeb_isNextBtnHor_MetropolisBlue,
.dxWeb_isPrevBtnVert_MetropolisBlue,
.dxWeb_isNextBtnVert_MetropolisBlue,
.dxWeb_isPrevPageBtnHor_MetropolisBlue,
.dxWeb_isNextPageBtnHor_MetropolisBlue,
.dxWeb_isPrevPageBtnVert_MetropolisBlue,
.dxWeb_isNextPageBtnVert_MetropolisBlue,
.dxWeb_isPrevBtnHorDisabled_MetropolisBlue,
.dxWeb_isNextBtnHorDisabled_MetropolisBlue,
.dxWeb_isPrevBtnVertDisabled_MetropolisBlue,
.dxWeb_isNextBtnVertDisabled_MetropolisBlue,
.dxWeb_isPrevPageBtnHorDisabled_MetropolisBlue,
.dxWeb_isNextPageBtnHorDisabled_MetropolisBlue,
.dxWeb_isPrevPageBtnVertDisabled_MetropolisBlue,
.dxWeb_isNextPageBtnVertDisabled_MetropolisBlue,
.dxWeb_isDot_MetropolisBlue,
.dxWeb_isDotDisabled_MetropolisBlue,
.dxWeb_isDotSelected_MetropolisBlue,
.dxWeb_isPlayBtn_MetropolisBlue,
.dxWeb_isPauseBtn_MetropolisBlue,
.dxWeb_igCloseButton_MetropolisBlue,
.dxWeb_igNextButton_MetropolisBlue,
.dxWeb_igPrevButton_MetropolisBlue,
.dxWeb_igPlayButton_MetropolisBlue,
.dxWeb_igPauseButton_MetropolisBlue,
.dxWeb_igNavigationBarMarker_MetropolisBlue
{
    background-color: transparent;
	background-image: url('sprite.png');
	background-repeat: no-repeat;
    display: block;
}

.dxWeb_edtCheckBoxChecked_MetropolisBlue,
.dxWeb_edtCheckBoxUnchecked_MetropolisBlue,
.dxWeb_edtCheckBoxGrayed_MetropolisBlue,
.dxWeb_edtCheckBoxCheckedDisabled_MetropolisBlue,
.dxWeb_edtCheckBoxUncheckedDisabled_MetropolisBlue,
.dxWeb_edtCheckBoxGrayedDisabled_MetropolisBlue
{
	background: White url('sprite.png') no-repeat;
	width: 16px;
	height: 16px;
}
.dxWeb_edtCheckBoxUnchecked_MetropolisBlue
{
	background-position: -41px -99px;
}
.dxWeb_edtCheckBoxChecked_MetropolisBlue
{
	background-position: -56px -99px;
}
.dxWeb_edtCheckBoxGrayed_MetropolisBlue
{
	background-position: -71px -99px;
}
.dxWeb_edtCheckBoxUncheckedDisabled_MetropolisBlue
{
	background-position: -86px -99px;
}
.dxWeb_edtCheckBoxCheckedDisabled_MetropolisBlue
{
	background-position: -101px -99px;
}
.dxWeb_edtCheckBoxGrayedDisabled_MetropolisBlue
{
	background-position: -116px -99px;
}

.dxWeb_mScrollUp_MetropolisBlue, .dxWeb_mScrollDown_MetropolisBlue
{
	margin: auto;
}

.dxWeb_rpHeaderTopLeftCorner_MetropolisBlue
{
	width: 0;
	height: 0;
}

.dxWeb_rpHeaderTopRightCorner_MetropolisBlue
{
	width: 0;
	height: 0;
}

.dxWeb_rpBottomLeftCorner_MetropolisBlue
{
	width: 0;
	height: 0;
}

.dxWeb_rpBottomRightCorner_MetropolisBlue
{
	width: 0;
	height: 0;
}

.dxWeb_rpTopLeftCorner_MetropolisBlue
{
	width: 0;
	height: 0;
}

.dxWeb_rpTopRightCorner_MetropolisBlue
{
	width: 0;
	height: 0;
}

.dxWeb_rpGroupBoxBottomLeftCorner_MetropolisBlue
{
	width: 0;
	height: 0;
}

.dxWeb_rpGroupBoxBottomRightCorner_MetropolisBlue
{
	width: 0;
	height: 0;
}

.dxWeb_rpGroupBoxTopLeftCorner_MetropolisBlue
{
	width: 0;
	height: 0;
}

.dxWeb_rpGroupBoxTopRightCorner_MetropolisBlue
{
	width: 0;
	height: 0;
}

.dxWeb_mHorizontalPopOut_MetropolisBlue
{
	background-position: -92px -50px;
	width: 5px;
	height: 3px;
}

.dxWeb_mHorizontalPopOutHover_MetropolisBlue
{
	background-position: -92px -53px;
	width: 5px;
	height: 3px;
}

.dxWeb_mVerticalPopOut_MetropolisBlue
{
	background-position: -105px -50px;
	width: 4px;
	height: 8px;
}

.dxWeb_mVerticalPopOutHover_MetropolisBlue
{
	background-position: -109px -50px;
	width: 4px;
	height: 8px;
}

.dxWeb_mVerticalPopOutRtl_MetropolisBlue
{
	background-position: -145px -50px;
	width: 4px;
	height: 8px;
}

.dxWeb_mVerticalPopOutHoverRtl_MetropolisBlue
{
	background-position: -149px -50px;
	width: 4px;
	height: 8px;
}

.dxWeb_mSubMenuItem_MetropolisBlue
{
	background-position: -48px -50px;
	width: 14px;
	height: 14px;
}

.dxWeb_mSubMenuItemChecked_MetropolisBlue
{
	background-position: -70px -50px;
	width: 14px;
	height: 14px;
}

.dxWeb_mScrollUp_MetropolisBlue
{
	background-position: -115px -49px;
	width: 13px;
	height: 13px;
}

.dxWeb_mScrollUpHover_MetropolisBlue
{
	background-position: -101px -84px;
	width: 13px;
	height: 13px;
}

.dxWeb_mScrollDown_MetropolisBlue
{
	background-position: -129px -49px;
	width: 13px;
	height: 13px;
}

.dxWeb_mScrollDownHover_MetropolisBlue
{
	background-position: -115px -84px;
	width: 13px;
	height: 13px;
}

.dxWeb_tcScrollLeft_MetropolisBlue
{
	background-position: -136px -62px;
	width: 24px;
	height: 24px;
}

.dxWeb_tcScrollRight_MetropolisBlue
{
	background-position: -161px -62px;
	width: 24px;
	height: 24px;
}

.dxWeb_tcScrollLeftHover_MetropolisBlue
{
	background-position: -136px -62px;
	width: 24px;
	height: 24px;
}
.dxWeb_tcScrollRightHover_MetropolisBlue
{
	background-position: -161px -62px;
	width: 24px;
	height: 24px;
}

.dxWeb_tcScrollLeftPressed_MetropolisBlue
{
	background-position: -136px -62px;
	width: 24px;
	height: 24px;
}
.dxWeb_tcScrollRightPressed_MetropolisBlue
{
	background-position: -161px -62px;
	width: 24px;
	height: 24px;
}

.dxWeb_tcScrollLeftDisabled_MetropolisBlue
{
	background-position: -136px -86px;
	width: 24px;
	height: 24px;
}
.dxWeb_tcScrollRightDisabled_MetropolisBlue
{
	background-position: -161px -86px;
	width: 24px;
	height: 24px;
}

.dxWeb_nbCollapse_MetropolisBlue
{
	background-position: -130px 0px;
	width: 24px;
	height: 24px;
}

.dxWeb_nbExpand_MetropolisBlue
{
	background-position: -130px -24px;
	width: 24px;
	height: 24px;
}

.dxWeb_splVSeparator_MetropolisBlue
{
	background-position: -97px -60px;
	width: 11px;
	height: 23px;
}

.dxWeb_splVSeparatorHover_MetropolisBlue
{
	background-position: -88px -60px;
	width: 11px;
	height: 23px;
}

.dxWeb_splHSeparator_MetropolisBlue
{
	background-position: -58px -81px;
	width: 23px;
	height: 11px;
}

.dxWeb_splHSeparatorHover_MetropolisBlue
{
	background-position: -58px -72px;
	width: 23px;
	height: 11px;
}

.dxWeb_splVCollapseBackwardButton_MetropolisBlue
{
	background-position: -36px -75px;
	width: 6px;
	height: 7px;
}

.dxWeb_splVCollapseBackwardButtonHover_MetropolisBlue
{
	background-position: -30px -75px;
	width: 6px;
	height: 7px;
}

.dxWeb_splHCollapseBackwardButton_MetropolisBlue
{
	background-position: 0px -81px;
	width: 7px;
	height: 6px;
}

.dxWeb_splHCollapseBackwardButtonHover_MetropolisBlue
{
	background-position: 0px -75px;
	width: 7px;
	height: 6px;
}

.dxWeb_splVCollapseForwardButton_MetropolisBlue
{
	background-position: -50px -75px;
	width: 6px;
	height: 7px;
}

.dxWeb_splVCollapseForwardButtonHover_MetropolisBlue
{
	background-position: -44px -75px;
	width: 6px;
	height: 7px;
}

.dxWeb_splHCollapseForwardButton_MetropolisBlue
{
	background-position: -15px -80px;
	width: 7px;
	height: 6px;
}

.dxWeb_splHCollapseForwardButtonHover_MetropolisBlue
{
	background-position: -15px -74px;
	width: 7px;
	height: 6px;
}
.dxWeb_pcCloseButton_MetropolisBlue,
.dxWeb_pcPinButton_MetropolisBlue,
.dxWeb_pcRefreshButton_MetropolisBlue,
.dxWeb_pcCollapseButton_MetropolisBlue,
.dxWeb_pcMaximizeButton_MetropolisBlue
{
	width: 15px;
	height: 14px;
}
.dxWeb_pcCloseButton_MetropolisBlue
{
	background-position: 0px -50px;
}

.dxWeb_pcPinButton_MetropolisBlue
{
	background-position: -146px -114px;
}
.dxpcPinButtonChecked_MetropolisBlue .dxWeb_pcPinButton_MetropolisBlue,
.dxpc-pinBtnChecked .dxWeb_pcPinButton_MetropolisBlue
{
	background-position: -166px -113px;
}
 
.dxWeb_pcRefreshButton_MetropolisBlue
{
	background-position: -171px 0px;
}

.dxWeb_pcCollapseButton_MetropolisBlue
{
	background-position: -145px -144px;
}
.dxpcCollapseButtonChecked_MetropolisBlue .dxWeb_pcCollapseButton_MetropolisBlue,
.dxpc-collapseBtnChecked .dxWeb_pcCollapseButton_MetropolisBlue
{
	background-position: -165px -144px;
}
 
.dxWeb_pcMaximizeButton_MetropolisBlue
{
	background-position: -165px -128px;
}
.dxpcMaximizeButtonChecked_MetropolisBlue .dxWeb_pcMaximizeButton_MetropolisBlue,
.dxpc-maximizeBtnChecked .dxWeb_pcMaximizeButton_MetropolisBlue
{
	background-position: -145px -128px;
}

.dxWeb_pcSizeGrip_MetropolisBlue
{
	background-position: -24px -50px;
	width: 16px;
	height: 16px;
}

.dxWeb_pcSizeGripRtl_MetropolisBlue
{
	background-position: -109px -62px;
	width: 16px;
	height: 16px;
}

.dxWeb_pPopOut_MetropolisBlue
{
	background-position: -160px 0px;
	width: 7px;
	height: 4px;
}

.dxWeb_pPopOutDisabled_MetropolisBlue
{
	background-position: -160px -4px;
	width: 7px;
	height: 4px;
}

.dxWeb_pPopOutHover_MetropolisBlue
{
	background-position: -160px -8px;
	width: 7px;
	height: 4px;
}

.dxWeb_pPopOutPressed_MetropolisBlue
{
	background-position: -160px -12px;
	width: 7px;
	height: 4px;
}

.dxWeb_pAll_MetropolisBlue
{
	background-position: 0px 0px;
	width: 24px;
	height: 24px;
}

.dxWeb_pAllDisabled_MetropolisBlue
{
	background-position: 0px -24px;
	width: 24px;
	height: 24px;
}

.dxWeb_pPrev_MetropolisBlue
{
	background-position: -105px 0;
	width: 24px;
	height: 24px;
}

.dxWeb_pPrevDisabled_MetropolisBlue
{
	background-position: -105px -24px;
	width: 24px;
	height: 24px;
}

.dxWeb_pNext_MetropolisBlue
{
	background-position: -81px 0px;
	width: 24px;
	height: 24px;
}

.dxWeb_pNextDisabled_MetropolisBlue
{
	background-position: -81px -24px;
	width: 24px;
	height: 24px;
}

.dxWeb_pLast_MetropolisBlue
{
	background-position: -55px 0px;
	width: 24px;
	height: 24px;
}

.dxWeb_pLastDisabled_MetropolisBlue
{
	background-position: -55px -24px;
	width: 24px;
	height: 24px;
}

.dxWeb_pFirst_MetropolisBlue
{
	background-position: -29px 0;
	width: 24px;
	height: 24px;
}

.dxWeb_pFirstDisabled_MetropolisBlue
{
	background-position: -29px -24px;
	width: 24px;
	height: 24px;
}

.dxWeb_tvColBtn_MetropolisBlue
{
	background-position: -19px -90px;
	width: 17px;
	height: 17px;
}

.dxWeb_tvExpBtn_MetropolisBlue
{
	background-position: 0px -90px;
	width: 17px;
	height: 17px;
}

.dxWeb_tvColBtnRtl_MetropolisBlue
{
	background-position: -19px -105px;
	width: 17px;
	height: 17px;
}

.dxWeb_tvExpBtnRtl_MetropolisBlue
{
	background-position: 0px -105px;
	width: 17px;
	height: 17px;
}

.dxWeb_fmFolder_MetropolisBlue
{
	background-position: 0px -123px;
	width: 16px;
	height: 16px;
}

.dxWeb_fmFolderLocked_MetropolisBlue
{
	background-position: -20px -123px;
	width: 16px;
	height: 16px;
}

.dxWeb_fmCreateButton_MetropolisBlue
{
	background-position: -40px -123px;
	width: 16px;
	height: 16px;
}

.dxWeb_fmRenameButton_MetropolisBlue
{
	background-position: -60px -123px;
	width: 16px;
	height: 16px;
}

.dxWeb_fmMoveButton_MetropolisBlue
{
	background-position: -80px -123px;
	width: 16px;
	height: 16px;
}

.dxWeb_fmDeleteButton_MetropolisBlue
{
	background-position: -100px -123px;
	width: 16px;
	height: 16px;
}

.dxWeb_fmRefreshButton_MetropolisBlue
{
	background-position: -120px -123px;
	width: 16px;
	height: 16px;
}

.dxWeb_fmDwnlButton_MetropolisBlue
{
	background-position: 0px -147px;
	width: 16px;
	height: 16px;
}
.dxWeb_fmDwnlButtonDisabled_MetropolisBlue
{
	background-position: -20px -147px;
	width: 16px;
	height: 16px;
}

.dxWeb_fmCreateButtonDisabled_MetropolisBlue
{
	background-position: -40px -147px;
	width: 16px;
	height: 16px;
}

.dxWeb_fmRenameButtonDisabled_MetropolisBlue
{
	background-position: -60px -147px;
	width: 16px;
	height: 16px;
}

.dxWeb_fmMoveButtonDisabled_MetropolisBlue
{
	background-position: -80px -147px;
	width: 16px;
	height: 16px;
}

.dxWeb_fmDeleteButtonDisabled_MetropolisBlue
{
	background-position: -100px -147px;
	width: 16px;
	height: 16px;
}

.dxWeb_fmRefreshButtonDisabled_MetropolisBlue
{
	background-position: -120px -147px;
	width: 16px;
	height: 16px;
}
.dxWeb_ucClearButton_MetropolisBlue
{
	background-position: -100px -123px;
	width: 16px;
	height: 16px;
}
.dxWeb_ucClearButtonDisabled_MetropolisBlue
{
	background-position: -100px -147px;
	width: 16px;
	height: 16px;
}
.dxWeb_fmThumbnailCheck_MetropolisBlue
{
    background-position: -115px -200px;
    width: 10px;
    height: 11px;
}  

/*ASPxImageSlider*/
.dxWeb_isPlayBtn_MetropolisBlue
{
    background-position: -80px -198px;
}
.dxWeb_isPauseBtn_MetropolisBlue
{
    background-position: -94px -197px;
}
.dxWeb_isDot_MetropolisBlue,
.dxWeb_isDotDisabled_MetropolisBlue
{
    background-position: -113px -177px;
}
.dxWeb_isDotSelected_MetropolisBlue
{
    background-position: -131px -177px;
}
.dxWeb_isPrevBtnVert_MetropolisBlue,
.dxWeb_isNextBtnVert_MetropolisBlue,
.dxWeb_isPrevBtnVertDisabled_MetropolisBlue,
.dxWeb_isNextBtnVertDisabled_MetropolisBlue
{
    width: 29px;
    height: 19px;
}
.dxWeb_isPrevBtnHor_MetropolisBlue,
.dxWeb_isNextBtnHor_MetropolisBlue,
.dxWeb_isPrevBtnHorDisabled_MetropolisBlue,
.dxWeb_isNextBtnHorDisabled_MetropolisBlue
{
    width: 18px;
    height: 31px;
}
.dxWeb_isPrevBtnVert_MetropolisBlue,
.dxWeb_isPrevBtnVertDisabled_MetropolisBlue
{
    background-position: -46px -173px;
}
.dxWeb_isNextBtnVert_MetropolisBlue,
.dxWeb_isNextBtnVertDisabled_MetropolisBlue
{
    background-position: -79px -173px;
}
.dxWeb_isPrevBtnHor_MetropolisBlue,
.dxWeb_isPrevBtnHorDisabled_MetropolisBlue
{
    background-position: -1px -167px;
}
.dxWeb_isNextBtnHor_MetropolisBlue,
.dxWeb_isNextBtnHorDisabled_MetropolisBlue
{
    background-position: -24px -167px;
}
.dxWeb_isPrevPageBtnVert_MetropolisBlue,
.dxWeb_isNextPageBtnVert_MetropolisBlue,
.dxWeb_isPrevPageBtnVertDisabled_MetropolisBlue,
.dxWeb_isNextPageBtnVertDisabled_MetropolisBlue
{
    width: 21px;
    height: 14px;
}
.dxWeb_isPrevPageBtnHor_MetropolisBlue,
.dxWeb_isNextPageBtnHor_MetropolisBlue,
.dxWeb_isPrevPageBtnHorDisabled_MetropolisBlue,
.dxWeb_isNextPageBtnHorDisabled_MetropolisBlue
{
    width: 14px;
    height: 21px;
}
.dxWeb_isPrevPageBtnVert_MetropolisBlue,
.dxWeb_isPrevPageBtnVertDisabled_MetropolisBlue
{
    background-position: -35px -206px;
}
.dxWeb_isNextPageBtnVert_MetropolisBlue,
.dxWeb_isNextPageBtnVertDisabled_MetropolisBlue
{
    background-position: -58px -222px;
}
.dxWeb_isPrevPageBtnHor_MetropolisBlue,
.dxWeb_isPrevPageBtnHorDisabled_MetropolisBlue
{
    background-position: -2px -202px;
}
.dxWeb_isNextPageBtnHor_MetropolisBlue,
.dxWeb_isNextPageBtnHorDisabled_MetropolisBlue
{
    background-position: -18px -202px;
}

/*ASPxImageGallery*/
.dxWeb_igCloseButton_MetropolisBlue
{
    background-position: -144px -223px;
}
.dxigControl_MetropolisBlue.dxTouchUI .dxWeb_igCloseButton_MetropolisBlue
{
    background-position: -139px -252px;
}
.dxWeb_igPrevButton_MetropolisBlue
{
    background-position: -92px -224px;
}
.dxWeb_igPrevButtonHover_MetropolisBlue
{
    background-position: 0px -224px;
}
.dxWeb_igPrevButtonPressed_MetropolisBlue
{
    background-position: -46px -224px;
}
.dxWeb_igPrevButtonDisabled_MetropolisBlue
{
    background-position: -92px -224px;
}
.dxWeb_igNextButton_MetropolisBlue
{
    background-position: -92px -290px;
}
.dxWeb_igNextButtonHover_MetropolisBlue
{
    background-position: 0px -290px;
}
.dxWeb_igNextButtonPressed_MetropolisBlue
{
    background-position: -46px -290px;
}
.dxWeb_igNextButtonDisabled_MetropolisBlue
{
    background-position: -92px -290px;
}
.dxWeb_igPlayButton_MetropolisBlue
{
    background-position: -80px -198px;
}
.dxWeb_igPauseButton_MetropolisBlue
{
    background-position: -94px -197px;
}
.dxWeb_igNavigationBarMarker_MetropolisBlue
{
    background-position: -142px -237px;
}
.dxigControl_MetropolisBlue.dxTouchUI .dxWeb_igPlayButton_MetropolisBlue
{
    background-position: -141px -301px;
}
.dxigControl_MetropolisBlue.dxTouchUI .dxWeb_igPauseButton_MetropolisBlue
{
    background-position: -145px -275px;
}
