.dxXtraReports_BtnFirstPage_MetropolisBlue,
.dxXtraReports_BtnFirstPageDisabled_MetropolisBlue,
.dxXtraReports_BtnLastPage_MetropolisBlue,
.dxXtraReports_BtnLastPageDisabled_MetropolisBlue,
.dxXtraReports_BtnNextPage_MetropolisBlue,
.dxXtraReports_BtnNextPageDisabled_MetropolisBlue,
.dxXtraReports_BtnPrevPage_MetropolisBlue,
.dxXtraReports_BtnPrevPageDisabled_MetropolisBlue,
.dxXtraReports_BtnPrint_MetropolisBlue,
.dxXtraReports_BtnPrintDisabled_MetropolisBlue,
.dxXtraReports_BtnPrintPage_MetropolisBlue,
.dxXtraReports_BtnPrintPageDisabled_MetropolisBlue,
.dxXtraReports_BtnSave_MetropolisBlue,
.dxXtraReports_BtnSaveDisabled_MetropolisBlue,
.dxXtraReports_BtnSaveWindow_MetropolisBlue,
.dxXtraReports_BtnSaveWindowDisabled_MetropolisBlue,
.dxXtraReports_BtnSearch_MetropolisBlue,
.dxXtraReports_BtnSearchDisabled_MetropolisBlue
{
	background: transparent url('sprite.png') no-repeat;
}

.dxXtraReports_BtnFirstPage_MetropolisBlue {
    background-position: -16px 0px;
    width: 16px;
    height: 16px;
}

.dxXtraReports_BtnFirstPageDisabled_MetropolisBlue {
    background-position: -16px -16px;
    width: 16px;
    height: 16px;
}

.dxXtraReports_BtnLastPage_MetropolisBlue {
    background-position: -32px 0px;
    width: 16px;
    height: 16px;
}

.dxXtraReports_BtnLastPageDisabled_MetropolisBlue {
    background-position: -32px -16px;
    width: 16px;
    height: 16px;
}

.dxXtraReports_BtnNextPage_MetropolisBlue {
    background-position: -64px 0px;
    width: 16px;
    height: 16px;
}

.dxXtraReports_BtnNextPageDisabled_MetropolisBlue {
    background-position: -64px -16px;
    width: 16px;
    height: 16px;
}

.dxXtraReports_BtnPrevPage_MetropolisBlue {
    background-position: -48px 0px;
    width: 16px;
    height: 16px;
}

.dxXtraReports_BtnPrevPageDisabled_MetropolisBlue {
    background-position: -48px -16px;
    width: 16px;
    height: 16px;
}

.dxXtraReports_BtnPrint_MetropolisBlue {
    background-position: -80px 0px;
    width: 16px;
    height: 16px;
}

.dxXtraReports_BtnPrintDisabled_MetropolisBlue {
    background-position: -80px -16px;
    width: 16px;
    height: 16px;
}

.dxXtraReports_BtnPrintPage_MetropolisBlue {
    background-position: -96px 0px;
    width: 16px;
    height: 16px;
}

.dxXtraReports_BtnPrintPageDisabled_MetropolisBlue {
    background-position: -96px -16px;
    width: 16px;
    height: 16px;
}

.dxXtraReports_BtnSave_MetropolisBlue {
    background-position: -112px 0px;
    width: 16px;
    height: 16px;
}

.dxXtraReports_BtnSaveDisabled_MetropolisBlue {
    background-position: -112px -16px;
    width: 16px;
    height: 16px;
}

.dxXtraReports_BtnSaveWindow_MetropolisBlue {
    background-position: -128px 0px;
    width: 16px;
    height: 16px;
}

.dxXtraReports_BtnSaveWindowDisabled_MetropolisBlue {
    background-position: -128px -16px;
    width: 16px;
    height: 16px;
}

.dxXtraReports_BtnSearch_MetropolisBlue {
    background-position: 0px 0px;
    width: 16px;
    height: 16px;
}

.dxXtraReports_BtnSearchDisabled_MetropolisBlue {
    background-position: 0px -16px;
    width: 16px;
    height: 16px;
}



