﻿.form_auth_img {
    border-bottom-color: #C0C0C0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    height: 80px;
}

.form_auth_table { 
    width: 100%;
    border: 0px;
    border-collapse: collapse;
}

.form_auth_text {
    color: #585858;
    padding-bottom: 10px;
    text-align: left;
    font-size: 1.4em;
}

.form_auth_input input[type=text],
.form_auth_input input[type=password] {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: solid 1px #93afc9;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 18px;
    height: 39px;
    line-height: 39px;
    padding: 0 17px;
    width: 100%;
}

.form_auth_desc {
    /*color: #CCC;
    font-size: 8pt;
    padding-bottom: 5px;
    padding-left: 5px;
    text-align: left;*/
    height: 20px;
}

#logout_text span {
    -webkit-text-shadow: 0 1px 0 white;
    color: black;
    cursor: default;
    display: block;
    margin-left: 14px;
    margin-top: 8px;
    text-shadow: 0 1px 0 white;
}

.logout_button {
    display: block;
    height: 35px;
    position: absolute;
    right: 0;
    top: 0;
    width: 34px;
}

#project_name {
    color: #305B94;
    font-size: 1.7em;
    font-weight: bold;
    margin-bottom: 35px;
    text-align: center;
}

/*.round_panel {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background-color: #ffffff;
    border: 1px solid #a8d5e0;
    border-radius: 8px;
}*/

.curved {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#div_error_panel {
    background-color: #FCC;
    border: 1px solid #C00;
    color: #606060;
    font: .8em Verdana;
    margin: 10px;
    padding: 10px;
}