﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.ViewModels
@model bgTeam.IsRui.WebApp.ViewModels.Activities.Goods.GoodsEditViewModel

@Html.DropDownMD(m => m.ExpenseDirectionId, Model.ExpenseDirectionList, true, Model.ReadOnly)
@Html.DropDownMD(m => m.ExpenseTypeId, Model.ExpenseTypeList, true, Model.ReadOnly)

<script type="text/javascript">

    $(function () {
        $("#ExpenseTypeId").rules("add", { expenseTypeId: true });
        $('#ExpenseTypeId').prop("disabled", $('#ExpenseTypeId')[0].length == 1);

        AddValidatorsMethods();

        $('#ExpenseDirectionId').change(function () {
            $.getJSON('@Url.Action("ExpenseTypes", "SelectList")/' + $(this).val(),
                function (data) {
                    var res = '';
                    $.each(data, function (i, item) {
                        res += '<option' + (item.Selected ? ' selected="selected" ' : ' ') + 'value=' + item.Value + '>' + item.Text + '</option>';
                    });
                    $('#ExpenseTypeId').html(res);

                    $('#ExpenseTypeId').prop("disabled", $('#ExpenseTypeId')[0].length == 1);
                    var validator = $("form").validate();
                    validator.element('#ExpenseTypeId');
                    $('#ExpenseTypeId').material_select();
                });
        });
    });

    function PopupClosed() {
        AddValidatorsMethods();
    }

    function AddValidatorsMethods() {
        jQuery.validator.addMethod("expenseTypeId", function (value, element) {
            return value != undefined && (value != 0 || element.length == 1);
        }, "@ValidateViewModel.NotZeroValueText");
    }
</script>