﻿@using bgTeam.IsRui.WebApp.Helpers
@model bgTeam.IsRui.WebApp.ViewModels.Activities.ActivitiesCardBase
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    /*.comment_list {
        border: 1px solid rgb(181, 181, 181);
        margin: 20px 10px 10px;
        padding: 0 10px;
    }*/

    .comment_item {
        margin: 10px 0;
    }

        .comment_item .user,
        .comment_item .role {
            display: inline-block;
        }

        .comment_item .role,
        .comment_item .date {
            color: #9B9B9B;
        }

        .comment_item .text {
            font-size: 1.2em;
            line-height: 1.2em;
        }
</style>
<div class="l_ouview-wrapper">
    <div class="ouview-container z-depth-1">
        <div class="ouview-content-wrap clearfix">
            <div class="ouview-content">
<h1>@Model.Title</h1>
<div style="margin: 10px 0; color: rgb(197, 60, 60); font-size: 1.4em;">@Model.Status</div>
<div class="header" style="display:inline-block">
    <div class="tab-block">
        <ul class="clearfix">
            @foreach (var tab in Model.Tabs)
            {
                <li  style="float:left; padding-right:20px">@Html.Raw(tab)</li>
            }
        </ul>
    </div>
</div>
                <div style="clear:both"></div>



                @RenderBody()

            </div>
        </div>
    </div>
</div>


<div id="comment_list_container" style="display: none">
    <div class="comment_list">
        <div data-bind="foreach: items">
            <div class="comment_item">
                <div class="user" data-bind="text: User"></div>
                <div class="role" data-bind="text: UserRole"></div>
                @*<div data-bind="text: UserOrganization"></div>*@
                <div class="text" data-bind="text: Text"></div>
                <div class="date" data-bind="text: Date"></div>
            </div>
        </div>

        @Html.TextArea("NewComment", new Dictionary<string, object> { { "style", "width:100%" } })
        @Html.Button("Добавить", string.Concat("AddActivityComment()"))
    </div>
</div>
<div class="b_bottom-panel">
    <div class="row">
        <div class="col s6 right-align">
            @foreach (var item in Model.GetNextStatusLinks())
            {
                <div class="panel-button">
                    <i class="@item.Css"></i>
                    <span onclick="@item.Callback">@item.Text</span>
                </div>
            }
            @*<div class="panel-button" onclick="CommentListOpen();">
                <i class="icon icon-forum"></i>
            </div>*@
        </div>
    </div>
</div>


@section scripts
    {

    <script>
        //knockout test http://knockoutjs.com/
        var commentList_ViewModel = {
            items: ko.observableArray([])
        };

        function CommentListUpdate(fun) {
            $.ajax({
                url: '@Url.Action("CommentList")',
                type: "post",
                data: {
                    activityId: @Model.Id,
                },
                dataType: 'json',
                success: function(result) {
                    commentList_ViewModel.items.removeAll();
                    $.each(result.Comments, function(i, e) {
                        commentList_ViewModel.items.push(e);
                    });
                },
                complete: fun,
                error: function(jqXHR, textStatus, errorThrown) {
                    console.log(textStatus);
                    console.log(errorThrown);
                },
            });
        }

        function CommentListGet() {
            return $('#comment_list_container');
        }

        function CommentListOpen() {
            CommentListUpdate(function() {
                var list = CommentListGet();

                popup.popover({
                    html: list.html()
                });
            });
        }

    function ChangeStatus(id, type, status) {
            $.ajax({
            url: '@Url.Action("Change", "Status")',
                type: 'post',
                data: {
                    Id: id,
                    Type: type,
                    Status: status,
                },
                success: function(res) {
                    if (res.success) {
                        //notify.showSuccess(res.message);
                        window.location = '@Url.Action("Index")';
                    } else
                        notify.showWarning(res.message);
                }
            });
        }

        function AddActivityComment() {
            $.ajax({
                url: '@Url.Action("AddComment")',
                type: 'post',
                data: {
                    activityId: @Model.Id,
                    text: $('#NewComment').val(),
                },
                success: function(res) {
                    notify.showResult(res);
                },
                complete: function() {
                debugger;

                    CommentListUpdate(function() {
                        $('.popup_panel .comment_list').parent().html(CommentListGet().html());
                    });
                },
            });
        }

        $(function() {
            ko.applyBindings(commentList_ViewModel, $('#comment_list_container').get(0));
        });


    </script>

@RenderSection("scripts", required: false)


}
