﻿@model bgTeam.IsRui.WebApp.ViewModels.Activities.ListBaseViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="l_page-wrapper">
    <div class="header">
        <h1>  Мероприятия</h1>
        <div class="tab-block">
            <ul class="clearfix">
                @foreach (var tab in Model.Tabs)
                {
                    <li>@Html.Raw(tab)</li>
                }
            </ul>
        </div>
        @Html.Raw(Model.AddNew)
    </div>
    <div class="content">
@*        <div class="filters">
            <div class="categories">
                <ul>
                    <li class="active" onclick="SortList(0)">Все</li>
                </ul>
            </div>
        </div>*@
        <div class="content-container">
            <ul class="flex-ul">
                @RenderBody()
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript">

    function CreateNew() {
        popup.popover({
            url: '@Url.Action("Create")'
        });
    }

    function SortList(favorit)
    {
        alert(favorit);
    }
</script>


