﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.ViewModels.Activities.Goods
@model CharacteristicEditViewModel
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<h1>Характеристика товара</h1>

@using (Html.FormBegin())
{
    
        @Html.TextBoxMD(m => m.Name, true, Model.ReadOnly)

        @Html.DropDownMD(m => m.UnitId, Model.UnitList, true, Model.ReadOnly)

        @Html.TextBoxMD(m => m.Value, readOnly: Model.ReadOnly)
    

    @Html.SaveButton("SaveCharacteristic(this)", Model.ReadOnly);
}

<script>
    function SaveCharacteristic(s) {
        var form = $(s).closest('form');

        if (!form.valid())
            return false;

        $.ajax({
            url: '@Url.Action(CharacteristicEditViewModel.EditActionLink)',
            type: 'post',
            data: {
                GoodsId: @Model.GoodsId,
                Id:  @Model.CharId,
                Name: $("#Name").val(),
                Unit: $("#UnitId").val(),
                Value: $("#Value").val(),
            },
            success:function (res) {
                notify.showResult(res);
                if (res.success)
                    GridGoodsCharacteristics_afterEdit(res);
                _characteristicPopup.close();
            },
        });

        form.submit(function () {
            return false;
        });

        return false;
    }

    $(function () {
        $("#Value").numberInt();
    });
</script>