﻿@using bgTeam.IsRui.WebApp.Helpers
@model bgTeam.IsRui.WebApp.ViewModels.Activities.CharacteristicsEditViewModel
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<h1>Характеристика</h1>

@using (Html.FormBegin())
{
    @Html.HiddenFor(m => m.CharacteristicsId)
    @Html.HiddenFor(m => m.IsRegister)
    @Html.HiddenFor(m => m.AccountingObjectId)


        @Html.TextBoxMD(m => m.Name, readOnly: Model.IsRegister)
        @Html.DropDownMD(m => m.Type, Model.TypesList, readOnly: Model.IsRegister)
        @Html.DropDownMD(m => m.Unit, Model.UnitsList, readOnly: Model.IsRegister)

        if (Model.IsRegister)
        {
            @Html.TextBoxMD(m => m.Fact, readOnly: Model.IsRegister)
        }

        @Html.TextBoxMD(m => m.Norm, readOnly: Model.ReadOnly)
        @Html.TextBoxMD(m => m.Max, readOnly: Model.ReadOnly)

    @Html.SaveButton("SaveForm(this)", Model.ReadOnly);
}

<script>
    function SaveForm(s) {
        var form = $(s).closest('form');
        if (!form.valid())
            return false;

        var args = {
            ActivityId: @Model.Id,
            CharacteristicsId: $("#CharacteristicsId").val(),
            AccountingObjectId: $("#AccountingObjectId").val(),
            Name: $("#Name").val(),
            Type: $("#Type").val(),
            Unit: $("#Unit").val(),
            Norm: $("#Norm").val(),
            Max: $("#Max").val(),
            IsRegister: $("#IsRegister").val(),
        };
        $.ajax({
            url: '@Url.Action("CharacteristicsSingleEdit")',
            type: 'post',
            data: args,
            success:function (res) {
                notify.showResult(res);
                if (res.success)
                    Grid_afterEdit(res);
                popup.close();
            },
        });

        form.submit(function () {
            return false;
        });

        return false;
    }

    $(function () {
        $("#Norm").numberInt();
        $("#Max").numberInt();
    });
</script>