﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.Helpers.Control
@using bgTeam.IsRui.WebApp.ViewModels.AccountingObjects
@model bgTeam.IsRui.WebApp.ViewModels.Activities.CharacteristicsViewModel
@{
    ViewBag.Title = "Характеристики ОУ";
    Layout = "~/Views/Activities/_LayoutActivities.cshtml";
}

@*@Html.AddButton("OpenEditCharacteristicsPopup()", !Model.AddNew)*@

@Html.Table("Grid", Model.Characteristics,
            new DataTableSettings<TableCharacteristic>()
            .AddColumn(x => x.Name)
            .AddColumn(x => x.TypeName)
            .AddColumn(x => x.UnitName)
            .AddColumn(x => x.Norm)
            .AddColumn(x => x.Max)
            .AddColumn(x => x.Fact)
            .AddColumn(x => x.Period),
    //.AddColumn(new DataTablesDeleteColumn(!Model.ReadOnly)),
new DataTablesConfig())
    @*.OnRowClick("OpenEditCharacteristicsPopup(nRow)"))*@

@*<script type="text/javascript">

    function OpenEditCharacteristicsPopup(nRow) {
        var tr = $(nRow);
        var id = tr.data('id');

        popup.popover({
            url: '@Url.Action("CharacteristicsSingleEdit")',
            data: {
                activityId: @Model.CurrentActivity.Id,
                id: id
            }
        });
    }
</script>*@