﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.ViewModels.Shared
@model bgTeam.IsRui.WebApp.ViewModels.Activities.CommonDataModel
@{
    ViewBag.Title = "CommonData";
    Layout = "~/Views/Activities/_LayoutActivities.cshtml";
}
<style>
    .activity_logo {
        height: 100px;
    }
</style>
@using (Html.FormBegin())
{
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.AO)
    @Html.HiddenFor(m => m.IsEditAO)
    @Html.ValidationSummary(true)

    <h1>Основные сведения</h1>

    @Html.TextAreaMD(m => m.Name, readOnly: Model.ReadOnly)
    @Html.TextAreaMD(m => m.Description, readOnly: Model.ReadOnly)
    @Html.TextAreaMD(m => m.ResponsibleDepartment, readOnly: Model.ReadOnly)
    @Html.SelectEntityMD(m => m.ResponsibleInformation, Url.Action("UsersMyDepartment", "SelectList"), readOnly: Model.ReadOnly)
    @Html.SelectEntityMD(m => m.Signing, Url.Action("UsersMyDepartment", "SelectList"), readOnly: Model.ReadOnly)

    @*if (!Model.IsEditAO)
    {
        @Html.SelectEntityMD(m => m.AccountingObject, Url.Action("AccountingObjects", "SelectList"), readOnly: Model.ReadOnly)
    }
    else
    {
        <h1>Объект учета</h1>

        @Html.TextAreaMD(m => m.AOName, readOnly: Model.ReadOnly)
        @Html.TextBoxMD(m => m.AOShortName, true, readOnly: Model.ReadOnly)
        @Html.Partial("~/Views/AccountingObjects/_AOTypeAndKindPartial.cshtml", Model.AOTypeAndKindViewModel)

    }*@
    <h1>Концепция мероприятия</h1>
    @Html.TextBoxMD(m => m.Order, true, Model.ReadOnly)
    @Html.DateBoxMD(m => m.OrderDate, true, Model.ReadOnly)
    @Html.TextBoxMD(m => m.Prerequisites, true, Model.ReadOnly)
    @Html.TextAreaMD(m => m.Goal, true, Model.ReadOnly)
    @Html.TextAreaMD(m => m.Task, true, Model.ReadOnly)
    @Html.FileUploadMD(m => m.Conception, new FileUploadViewModel(Model.ReadOnly, "pdf, tiff, tif, jpg, rar, zip, doc, xls, docx, xlsx"), readOnly: Model.ReadOnly)

    @Html.FileUploadMD(m => m.Logo, new FileUploadViewModel(Model.ReadOnly, "png, gif, jpg, jpeg")
        {
            DisplayFormat = "<img class=\"activity_logo\" src=\"{0}\" alt=\"{1}\">"
        }, readOnly: Model.ReadOnly)
    @Html.FileUploadMD(m => m.FilesData, new FileUploadViewModel(Model.ReadOnly, "pdf, tiff, tif, jpg, rar, zip, doc, xls, docx, xlsx", true), readOnly: Model.ReadOnly)

    @Html.SaveButton("SaveForm(this)", Model.ReadOnly);
}


@section scripts
    {

    <script>


        $(function () {
            $("#Order").numberInt();
        });

        function SaveForm(s) {
            var form = $(s).closest('form');
            if (!form.valid()) {
                return false;
            }

            $.ajax({
                url: '@Url.Action("CommonDataSingleEdit")',
                type: 'post',
                data: {
                    Id: $("#Id").val(),
                    Name: $("#Name").val(),
                    Description: $("#Description").val(),
                    ResponsibleDepartment: $("#ResponsibleDepartment").val(),
                    ResponsibleInformation: $("#hf_ResponsibleInformation").val(),
                    Signing: $("#hf_Signing").val(),
                    //AccountingObject: $("#hf_AccountingObject").val(),

                    //AO: $("#AO").val(),
                    //AOName: $("#AOName").val(),
                    //AOShortName: $("#AOShortName").val(),
                    //AOType: $("#TypeId").val(),
                    //AOKind: $("#KindId").val(),
                    IsEditAO: $("#IsEditAO").val(),

                    Order: $("#Order").val(),
                    OrderDate: $("#OrderDate").val(),
                    Prerequisites: $("#Prerequisites").val(),
                    Goal: $("#Goal").val(),
                    Task: $("#Task").val(),

                    Logo: Logo.GetValue(),
                    Files: FilesData.GetValue(),
                    Conception: Conception.GetValue()
                },
                success: function (res) {
                    if (res.success) {
                        notify.showSuccess(res.message);
                        window.location = window.location.href;
                    } else
                        notify.showWarning(res.message);
                }
            });

            form.submit(function () {
                return false;
            });

            return false;
        }

    </script>
}
