﻿@using bgTeam.IsRui.WebApp.Helpers
@model bgTeam.IsRui.WebApp.ViewModels.Activities.CreateVeiwModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<h1>Создать мероприятие</h1>

@using (Html.FormBegin())
{
    @Html.TextBoxMD(m => m.NameSmall, true)
    @Html.DropDownMD(m => m.Type, Model.TypeList, true)

    @*<dl>
        <dt>@Html.LabelFor(m => m.NameSmall)</dt>
        <dd></dd>

        <dt>@Html.LabelFor(m => m.Type)</dt>
        <dd></dd>
    </dl>*@

    @Html.SaveButton("SaveForm(this)", false);
}

<script>
    function SaveForm(s) {
        var form = $(s).closest('form');
        if (!form.valid()) {
            return false;
        }

        var error;

        debugger;

        $.ajax({
            url: '@Url.Action("Create")',
            type: 'post',
            data: {
                NameSmall: $("#NameSmall").val(),
                Type: $("#Type").val(),
            },
            success: function (response) {
                if (!response.success)
                    notify.showWarning(response.message);
                else
                    window.location = '@Url.Action("List")';
            }
        });

    form.submit(function () {
        return false;
    });

    return false;
}
</script>