﻿@using bgTeam.IsRui.WebApp.Helpers
@model bgTeam.IsRui.WebApp.ViewModels.Activities.ExpensesViewModel
@{
    ViewBag.Title = "ExpensesSingle";
    Layout = "~/Views/Activities/_LayoutActivities.cshtml";
}

@using (Html.FormBegin())
{
    @Html.HiddenFor(m => m.Id)
    //@Html.ValidationSummary(true)

    <h1>Расходы</h1>


        @Html.SelectEntityMD(m => m.GRBS, Url.Action("DictionaryDateTime", "SelectList", new RouteValueDictionary() { { "type", "GRBS" } }), false, Model.ReadOnly)
        @Html.SelectEntityMD(m => m.SectionKBK, Url.Action("DictionaryDateTime", "SelectList", new RouteValueDictionary() { { "type", "SectionKBK" } }), false, Model.ReadOnly)
        @Html.SelectEntityMD(m => m.CSR, Url.Action("DictionaryDateTime", "SelectList", new RouteValueDictionary() { { "type", "CSR" } }), false, Model.ReadOnly)
        @Html.SelectEntityMD(m => m.WorkForm, Url.Action("DictionaryDateTime", "SelectList", new RouteValueDictionary() { { "type", "WorkForm" } }), false, Model.ReadOnly)
        @Html.SelectEntityMD(m => m.KOSGU, Url.Action("DictionaryDateTime", "SelectList", new RouteValueDictionary() { { "type", "KOSGU" } }), false, Model.ReadOnly)

        @Html.TextBoxMD(m => m.VolY0, readOnly: Model.ReadOnly)
        @Html.TextBoxMD(m => m.VolY1, readOnly: Model.ReadOnly)
        @Html.TextBoxMD(m => m.VolY2, readOnly: Model.ReadOnly)


    @Html.SaveButton("SaveForm(this)", Model.ReadOnly);
}

<script>
    function SaveForm(s) {
        var form = $(s).closest('form');
        if (!form.valid()) {
            return false;
        }

        $.ajax({
            url: '@Url.Action("ExpensesSingleEdit")',
            type: 'post',
            data: {
                Id: $("#Id").val(),
                GRBS: $("#hf_GRBS").val(),
                SectionKBK: $("#hf_SectionKBK").val(),
                CSR: $("#hf_CSR").val(),
                WorkForm: $("#hf_WorkForm").val(),
                KOSGU: $("#hf_KOSGU").val(),

                tVolY0: $("#VolY0").val(),
                tVolY1: $("#VolY1").val(),
                tVolY2: $("#VolY2").val(),
            },
            success: function (res) {
                if (res.success) {
                    notify.showSuccess(res.message);
                    window.location = window.location.href;
                }
                else
                    notify.showWarning(res.message);
            },
        });

        form.submit(function () {
            return false;
        });
        return false;
    }

    $(function () {
        $("#VolY0").numberMoney(2);
        $("#VolY1").numberMoney(2);
        $("#VolY2").numberMoney(2);
    });
</script>