﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.Domain.Entities.Common
@model bgTeam.IsRui.WebApp.ViewModels.Activities.ExpertiseEditViewModel
@{
    ViewBag.Title = "ExpertiseEdit";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<h1>Эксперт по мероприятию</h1>

@using (Html.FormBegin())
{
    @Html.HiddenFor(m => m.ConclusionId)
    
    @Html.DropDownMD(m => m.Role, Model.RoleList)
    @Html.SelectEntity(m => m.User, Url.Action("UsersRole", "SelectList"))
    
    @*<dl>
        <dt>@Html.LabelReq(m => m.Role)</dt>
        <dd></dd>

        <dt>@Html.LabelReq(m => m.User)</dt>
        <dd></dd>
    </dl>*@

    @Html.SaveButton("SaveForm(this)", Model.ReadOnly);
}

<script>
    function SaveForm(s) {
        var form = $(s).closest('form');
        if (!form.valid())
            return false;

        $.ajax({
            url: '@Url.Action("ExpertiseEdit")',
            type: 'post',
            data: {
                Conclusion: $("#ConclusionId").val(),
                Role: $("#Role").val(),
                User: $("#hf_User").val()
            },
            success: function (res) {
                notify.showResult(res);
                if (res.success)
                    GridExpertise_afterEdit(res);

                popup.closeContainer(s);
                window.location = window.location.href;
            }
        });

        form.submit(function () {
            return false;
        });

        return false;
    }

    $('#Role').change(function (s, e) {
        //TODO : Это костыль
        $('#se_User div.button_delete').click();

        var url = '@Url.Action("UsersRole", "SelectList")' + '?ignore=@Model.ExpertList';

        if (this.value == 0)
            User_URL = url;
        if (this.value == 1)
            User_URL = url + '&roles=' + '@((int)RoleEnum.Economist)';
        if (this.value == 2)
            User_URL = url + '&roles=' + '@((int)RoleEnum.Technician)';

        //console.log(User_URL);
    });
</script>