﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.Helpers.Control
@model bgTeam.IsRui.WebApp.ViewModels.Activities.ExpertiseViewModel
@{
    ViewBag.Title = "expertise";
    Layout = "~/Views/Activities/_LayoutActivities.cshtml";
}

<h1>Список экспертов</h1>

@Html.AddButton("OpenEditRowPopup()", Model.ReadOnly)
@Html.Table("GridExpertise", Model.ExpertList,
new DataTableSettings<bgTeam.IsRui.WebApp.ViewModels.Activities.ExpertTableModel>()
    .AddColumn(x => x.Name)
    .AddColumn(x => x.Role)
    .AddDeleteColumn(!Model.ReadOnly),
new DataTablesConfig())

<script>
    function OpenEditRowPopup(nRow) {
        var tr = $(nRow);
        var id = tr.data('id');

        popup.popover({
            url: '@Url.Action("ExpertiseEdit")',
            data: {
                conclusionId: '@Model.ConclusionId',
                id: id
            }
        });
    }
</script>