﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.Helpers.Control
@using bgTeam.IsRui.WebApp.ViewModels.Activities.Goods
@model GoodsEditViewModel
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<h1>Товар</h1>
@using (Html.FormBegin())
{
        @Html.TextBoxMD(m => m.Name, true, Model.ReadOnly)
        @Html.DropDownMD(m => m.OKPDId, Model.OKPDList, readOnly: Model.ReadOnly)
        @Html.DropDownMD(m => m.ProductGroupId, Model.CategoryList, readOnly: Model.ReadOnly)
        @Html.Partial("_GoodsExpenseDirectionAndTypePartial")
        @Html.DropDownMD(m => m.KOSGUId, Model.KOSGUList, readOnly: Model.ReadOnly)
        @Html.DropDownMD(m => m.Year, Model.YearList, readOnly: Model.ReadOnly)
        @Html.TextBoxMD(m => m.Quantity, true, Model.ReadOnly)
        @Html.TextBoxMD(m => m.Duration, readOnly: Model.ReadOnly)
        @Html.TextBoxMD(m => m.Cost, true, Model.ReadOnly)
        @Html.TextBoxMD(m => m.Summ, false, true)

<div class="popup_title">Характеристики товара</div>

    @Html.AddButton("OpenGoodsCharacteristicEditPopup()", Model.ReadOnly)
    @Html.Table("GridGoodsCharacteristics", Model.Characteristics,
new DataTableSettings<TableCharacteristic>()
    .AddColumn(x => x.Id, visible: false)
    .AddColumn(x => x.Name, searchable: true, sortable: true)
    .AddColumn(x => x.UnitText)
    .AddColumn(x => x.Value)
    .AddDeleteColumn(!Model.ReadOnly),
new DataTablesConfig()
        .OnRowClick("OpenGoodsCharacteristicEditPopup(nRow)"))

    @Html.SaveButton("SaveGoodsForm(this)", Model.ReadOnly)
}

<script type="text/javascript">

    var _characteristicPopup = new Popup(5000);

    $(function () {
        $("#Quantity, #Duration").numberInt();
        $("#Cost, #Summ").numberMoney(2);

        $('#Quantity, #Cost').keyup(function () {
            var sum = $("#Quantity").val() * $("#Cost").val().toDecimal();
            $("#Summ").val(sum);
        });
    });

    function SaveGoodsForm(s) {
        var form = $(s).closest('form');

        if (!form.valid())
            return false;

        var goodsCharacteristicIds = [];

        $.each(GridGoodsCharacteristics.fnGetData(), function(index, element) {
            var characteristicId = element[0];
            goodsCharacteristicIds.push(characteristicId);
        });

        var data = JSON.stringify({
            'args': {
                Id: @Model.GoodsId,
                ActivityId: @Model.Id,
                Name: $("#Name").val(),
                OKPD: $("#OKPDId").val(),
                ProductGroup: $("#ProductGroupId").val(),
                ExpenseDirection: $("#ExpenseDirectionId").val(),
                ExpenseType: $("#ExpenseTypeId").val(),
                ExpenditureItem: $("#KOSGUId").val(),
                Year: $("#Year").val(),
                Quantity: $("#Quantity").val(),
                Duration: $("#Duration").val(),
                Cost: $("#Cost").val(),
                GoodsCharacteristicIds: goodsCharacteristicIds
            }});


        $.ajax({
            url: '@Url.Action(GoodsViewModel.EditActionLink)',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'post',
            data: data,
            success:function (res) {
                notify.showResult(res);
                if (res.success)
                    GridGoods_afterEdit(res);
                popup.close();
            },
        });

        form.submit(function () {
            return false;
        });

        return false;
    }

    function OpenGoodsCharacteristicEditPopup(nRow) {
        var tr = $(nRow);
        var id = tr.data('id');
        var data =
        {
            activityId: '@Model.Id',
            ownerId: '@Model.GoodsId',
            id: id
        };
        _characteristicPopup .popover({
            url: '@Url.Action(CharacteristicEditViewModel.EditActionLink)',
            data: data,
            onclose: PopupClosed,
        });
    }
</script>