﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.Helpers.Control
@using bgTeam.IsRui.WebApp.ViewModels.Activities.Goods
@model GoodsViewModel
@{
    ViewBag.Title = "Товары";
    Layout = "~/Views/Activities/_LayoutActivities.cshtml";
}

@Html.AddButton("OpenGoodsEditPopup()", Model.ReadOnly)

@Html.Table("GridGoods", Model.Items,
new DataTableSettings<TableGoods>()
    .AddColumn(x => x.Name, searchable: true, sortable: true)
    .AddColumn(x => x.OKPDName)
    .AddColumn(x => x.ProductGroupName)
    .AddColumn(x => x.ExpenseDirectionName)
    .AddColumn(x => x.ExpenseTypeName)
    .AddColumn(x => x.KOSGUCodeName)
    .AddColumn(x => x.YearDescription)
    .AddColumn(x => x.Quantity)
    .AddColumn(x => x.Duration)
    .AddColumn(x => x.Cost, format: "n2")
    .AddColumn(x => x.Summ, format: "n2")
    .AddDeleteColumn(!Model.ReadOnly)
    .AddFooter(),
new DataTablesConfig()
    .FooterCallback("FooterCallback(tfoot, data, start, end, display)")
    .OnRowClick("OpenGoodsEditPopup(nRow)"))

<script type="text/javascript">

    function OpenGoodsEditPopup(nRow) {
        var tr = $(nRow);
        var id = tr.data('id');

        popup.popover({
            url: '@Url.Action(GoodsViewModel.EditActionLink)',
            data: {
                ownerId: '@Model.Id',
                id: id,
            }
        });

    }

    function FooterCallback(row, data, start, end, display) {
        function intVal(s) {
            // Remove the formatting to get number data for summation
            var v = 0;
            if (typeof s === 'string') {
                v = s.replace(new RegExp('&nbsp;', 'g'), '').replace(',', '.') * 1;
            }
            else if (typeof s === 'number') {
                v = s;
            }
            return v;
        }
        var api = $('#GridGoods').DataTable();
        var dataColumn = api.column(10);
        var total = 0;

        //Total over all pages
        if (dataColumn.data().length > 0) {
            total = dataColumn
                .data()
                .reduce(function (a, b) { return intVal(a) + intVal(b); });
        }

        // Update footer
        $(api.column(9).footer()).html('Итого:');
        $(dataColumn.footer()).html($.number(total, 2, ',', '&nbsp;', true));
    }
</script>