﻿@using bgTeam.IsRui.WebApp.Helpers
@model bgTeam.IsRui.WebApp.ViewModels.Activities.IndicatorEditViewModel
@{
    ViewBag.Title = "Индикатор";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<h1>@ViewBag.Title</h1>

@using (Html.FormBegin())
{
    @Html.TextBoxMD(m => m.ExplanationRelationshipWithProjectMark, readOnly: Model.ReadOnly)
    @Html.TextBoxMD(m => m.Name, true, readOnly: Model.ReadOnly)
    @Html.TextBoxMD(m => m.AlgorithmOfCalculating, readOnly: Model.ReadOnly)
    @Html.TextBoxMD(m => m.BaseValue, readOnly: Model.ReadOnly) 
    @Html.TextBoxMD(m => m.TargetedValue, readOnly: Model.ReadOnly)
    @Html.DropDownMD(m => m.UnitId, Model.UnitsList, readOnly: Model.ReadOnly)
    @Html.DateBoxMD(m => m.DateToAchieveGoalValue, readOnly: Model.ReadOnly)
    
    @Html.SaveButton("SaveForm(this)", Model.ReadOnly);
}
<script>

    $(function() {
        $("#BaseValue").numberInt();
        $("#TargetedValue").numberInt();
    });

    function SaveForm(s) {
        var form = $(s).closest('form');

        if (!form.valid()) {
            return false;
        }

        $.ajax({
            url: '@Url.Action("IndicatorEdit")',
            type: 'post',
            data: {
                Id: @Model.IndicatorId,
                PlansActivityId: @Model.Id,
                ExplanationRelationshipWithProjectMark: $("#ExplanationRelationshipWithProjectMark").val(),
                Name: $("#Name").val(),
                AlgorithmOfCalculating: $("#AlgorithmOfCalculating").val(),
                BaseValue: $("#BaseValue").val(),
                TargetedValue: $("#TargetedValue").val(),
                UnitId: $("#UnitId").val(),
                DateToAchieveGoalValue: $("#DateToAchieveGoalValue").val(),
            },
            success: function (res) {
                notify.showResult(res);
                if (res.success)
                    GridIndicators_afterEdit(res);
                popup.close();
            },
        });

        form.submit(function () {
            return false;
        });

        return false;
    }
</script>
