﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.Helpers.Control
@using bgTeam.IsRui.WebApp.ViewModels.Activities
@model IndicatorsAndMarksViewModel
@{
    ViewBag.Title = "Показатели и индикаторы";
    Layout = "~/Views/Activities/_LayoutActivities.cshtml";
}

<h1>@ViewBag.Title</h1>

<h1>Показатели</h1>
@Html.AddButton("OpenEditMarkPopup()", Model.ReadOnly)
@Html.Table("GridMarks", Model.Marks,
new DataTableSettings<TableMark>()
    .AddColumn(m => m.Source)
    .AddColumn(m => m.SourceName)
    .AddColumn(m => m.StateProgramMarkName)
    .AddColumn(m => m.ExplanationRelationshipWithStateProgramMark)
    .AddColumn(m => m.Name)
    .AddColumn(m => m.Justification)
    .AddColumn(m => m.BaseValue)
    .AddColumn(m => m.TargetedValue)
    .AddColumn(m => m.UnitName)
    .AddColumn(m => m.DateToAchieveGoalValueStr)
    .AddColumn(new DataTablesDeleteColumn(!Model.ReadOnly)),
new DataTablesConfig()
    .OnRowClick("OpenEditMarkPopup(nRow)"))

<h1>Индикаторы</h1>
@Html.AddButton("OpenEditIndicatorPopup()", Model.ReadOnly)
@Html.Table("GridIndicators", Model.Indicators,
    new DataTableSettings<TableIndicator>()
    .AddColumn(m => m.ExplanationRelationshipWithProjectMark)
    .AddColumn(m => m.Name)
    .AddColumn(m => m.AlgorithmOfCalculating)
    .AddColumn(m => m.BaseValue)
    .AddColumn(m => m.TargetedValue)
    .AddColumn(m => m.UnitName)
    .AddColumn(m => m.DateToAchieveGoalValueStr)
    .AddColumn(new DataTablesDeleteColumn(!Model.ReadOnly)),
new DataTablesConfig()
    .OnRowClick("OpenEditIndicatorPopup(nRow)"))

<script type="text/javascript">

    function OpenEditMarkPopup(nRow) {
        var tr = $(nRow);
        var id = tr.data('id');
        popup.popover({
            url: '@Url.Action("MarkEdit")',
            data: {
                activityId: @Model.Id,
                id: id
            }
        });
    }

    function OpenEditIndicatorPopup(nRow) {
        var tr = $(nRow);
        var id = tr.data('id');
        popup.popover({
            url: '@Url.Action("IndicatorEdit")',
            data: {
                activityId: @Model.Id,
                id: id
            }
        });
    }
</script>