﻿@using bgTeam.IsRui.WebApp.ViewModels.Activities
@model ListApproveModel
@{
    ViewBag.Title = "ListApprove";
    Layout = "~/Views/Activities/_LayoutActivitiesList.cshtml";
}

@foreach (var item in Model.Items)
{
    <li>
        <div class="b_card-ou">
            <a class="name" href="@Url.Action("IndexCard", new { id = item.Id })">@item.Name</a>
            @*<div>@item.Mode</div>*@
            <div class="status">@item.Type</div>
            <div class="date"><span>@item.StatusCA</span> </div>
        </div>
    </li>
}

@*@Html.Table("Grid", Model.Items,
new DataTableSettings<TableActivities>()
    .EditPage(Url.Action("IndexCard"))
    .AddColumn(x => x.Type, "Тип", searchable: true, selectable: true)
    .AddColumn(x => x.Name, "Наименование", searchable: true, sortable: true)
    .AddColumn(x => x.AO, "Наименование ОУ", searchable: true)
    .AddColumn(x => x.Y0, "очередной финансовый год", "N2")
    .AddColumn(x => x.Y1, "первый год планового периода", "N2")
    .AddColumn(x => x.Y2, "второй год планового периода", "N2"),
new DataTablesConfig()
    .ShowFilter(true))*@