﻿@model bgTeam.IsRui.WebApp.ViewModels.Activities.ListModel

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Activities/_LayoutActivitiesList.cshtml";
}

@foreach (var item in Model.Items)
{
    <li>
        <div class="b_card-ou">
            <a class="name" href="@Url.Action("IndexCard", new { id = item.Id })">@item.Name</a>
            @*<div>@item.Mode</div>*@
            <div class="status">@item.Type</div>
            <div class="date"><span>@item.Status</span> </div>
            <div class="controls">
                @*<i class="icon icon-pencil tooltipped" data-position="top" data-delay="50" data-tooltip="Редактировать"></i>
                    <i class="icon icon-content-copy tooltipped" data-position="top" data-delay="50" data-tooltip="Копировать"></i>*@
                @*@item.Favorite
                <i class="icon icon-star-outline tooltipped" data-id="@item.Id" onclick="AddInFavorites(this);" data-position="top" data-delay="50" data-tooltip="В избранное"></i>*@
                @if (item.CanDelete)
                {
                    <i class="icon icon-delete tooltipped" data-id="@item.Id" onclick="DeleteActivity(this);" data-position="top" data-delay="50" data-tooltip="Удалить"></i>
                }
            </div>
        </div>
    </li>
}




@*@Html.Table("Grid", Model.Items,
new DataTableSettings<TableActivities>()
    .EditPage(Url.Action("IndexCard"))
    .AddColumn(x => x.Type, "Тип", searchable: true, selectable: true)
    .AddColumn(x => x.Name, "Наименование", searchable: true, sortable: true)
    .AddColumn(x => x.AO, "Наименование ОУ", searchable: true)
    .AddColumn(x => x.Status, "Статус")
    .AddColumn(x => x.Y0, "очередной финансовый год", "N2")
    .AddColumn(x => x.Y1, "первый год планового периода", "N2")
    .AddColumn(x => x.Y2, "второй год планового периода", "N2")
    .AddDeleteColumn(true),
new DataTablesConfig()
    .ShowFilter(true))*@

<script type="text/javascript">

    function DeleteActivity(_this) {

        if (confirm('Вы действительно хотите удалить запись?')) {
            var card_ou = $(_this).closest('div .b_card-ou');


            $.post('@Url.Action("Delete")', { id: $(_this).data('id') }, function (res) {
                if (res.success) {
                    //удалить карточку с формы
                    card_ou.remove();

                    notify.showSuccess(res.message);
                }
                else
                    notify.showWarning(res.message);
            });
        }
    }
</script>