﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.ViewModels.Activities
@model MarkEditViewModel
@{
    ViewBag.Title = "Показатель";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<h1>@ViewBag.Title</h1>

@using (Html.FormBegin())
{

    @Html.LabelFor(m => m.SourceIsStateProgram)

    <p>
        @Html.RadioButtonMD(model => model.SourceIsStateProgram, MarkEditViewModel.SourceTypeStateProgram, true)
        @Html.RadioButtonMD(model => model.SourceIsStateProgram, MarkEditViewModel.SourceTypeOther, false)
    </p>
    
    @Html.TextBoxMD(m => m.SourceName, readOnly: Model.ReadOnly)
    @Html.DropDownMD(m => m.StateProgramId, Model.StateProgramList, readOnly: Model.ReadOnly)
    @Html.DropDownMD(m => m.StateProgramMarkId, Model.StateProgramMarkList, readOnly: Model.ReadOnly)
    @Html.TextBoxMD(m => m.Name, true, readOnly: Model.ReadOnly)
    @Html.TextBoxMD(m => m.ExplanationRelationshipWithStateProgramMark, readOnly: Model.ReadOnly)
    @Html.TextBoxMD(m => m.Justification, readOnly: Model.ReadOnly)
    @Html.TextBoxMD(m => m.BaseValue, readOnly: Model.ReadOnly)
    @Html.TextBoxMD(m => m.TargetedValue, readOnly: Model.ReadOnly)
    @Html.DropDownMD(m => m.UnitId, Model.UnitsList, readOnly: Model.ReadOnly)
    @Html.DateBoxMD(m => m.DateToAchieveGoalValue, readOnly: Model.ReadOnly)
    
    
    
        @*<dt>@Html.LabelFor(m => m.SourceName)</dt>
        <dd></dd>
        <dt>@Html.LabelFor(m => m.StateProgramId)</dt>
        <dd></dd>
        <dt>@Html.LabelFor(m => m.StateProgramMarkId)</dt>
        <dd></dd>
        <dt>@Html.LabelReq(m => m.Name)</dt>
        <dd></dd>
        <dt>@Html.LabelFor(m => m.ExplanationRelationshipWithStateProgramMark)</dt>
        <dd></dd>
        <dt>@Html.LabelFor(m => m.Justification)</dt>
        <dd></dd>
        <dt>@Html.LabelFor(m => m.BaseValue)</dt>
        <dd></dd>
        <dt>@Html.LabelFor(m => m.TargetedValue)</dt>
        <dd></dd>
        <dt>@Html.LabelFor(m => m.UnitId)</dt>
        <dd></dd>
        <dt>@Html.LabelFor(m => m.DateToAchieveGoalValue)</dt>
        <dd></dd>
    </dl>*@

    @Html.SaveButton("SaveForm(this)", Model.ReadOnly);
}
<script>

    $(function() {
        $("#BaseValue").numberInt();
        $("#TargetedValue").numberInt();

        $("input[type=radio][name=SourceIsStateProgram]").change(SetVisible);

        SetVisible();

        if ('@Model.ReadOnly' == 'True') {
            $("input").prop("disabled", true);
        }
    });

    function SetVisible() {

        var checkedSource = $("input[type=radio][name=SourceIsStateProgram]:checked");

        if (checkedSource.val() == "True") {
            $("#SourceName").closest("div").hide();
            $("#ExplanationRelationshipWithStateProgramMark").closest("div").show();
            $("#StateProgramId").closest("div.row").show();
            $("#StateProgramMarkId").closest("div.row").show();
        } else {
            $("#SourceName").closest("div").show();
            $("#ExplanationRelationshipWithStateProgramMark").closest("div").hide();
            $("#StateProgramId").closest("div.row").hide();
            $("#StateProgramMarkId").closest("div.row").hide();
        }

    }

    function SaveForm(s) {
        var form = $(s).closest('form');

        if (!form.valid()) {
            return false;
        }

        $.ajax({
            url: '@Url.Action("MarkEdit")',
            type: 'post',
            data: {
                Id:  @Model.MarkId,
                PlansActivityId: @Model.Id,
                SourceIsStateProgram: $("input[type=radio][name=SourceIsStateProgram]:checked").val(),
                SourceName: $("#SourceName").val(),
                ExplanationRelationshipWithStateProgramMark: $("#ExplanationRelationshipWithStateProgramMark").val(),
                Name: $("#Name").val(),
                Justification: $("#Justification").val(),
                BaseValue: $("#BaseValue").val(),
                TargetedValue: $("#TargetedValue").val(),
                UnitId: $("#UnitId").val(),
                DateToAchieveGoalValue: $("#DateToAchieveGoalValue").val(),
                StateProgramMarkId: $("#StateProgramMarkId").val(),
            },
            success: function (res) {
                notify.showResult(res);
                if (res.success)
                    GridMarks_afterEdit(res);
                popup.close();
            },
        });

        form.submit(function () {
            return false;
        });

        return false;
    }

    $('#StateProgramId').change(function () {
        $.getJSON('@Url.Action("StateProgramMarkByStateProgram", "SelectList")/' + $(this).val(),
            function (data) {
                var res = '';
                $.each(data, function (i, item) {
                    if (item.Selected)
                        res += '<option selected="selected" value=' + item.Value + '>' + item.Text + '</option>';
                    else
                        res += '<option value=' + item.Value + '>' + item.Text + '</option>';
                });
                $('#StateProgramMarkId').html(res);
            });
    });
</script>