﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.ViewModels.Shared
@using bgTeam.IsRui.WebApp.ViewModels.Activities
@model OtherReasonEditViewModel
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<h1>Основание реализации меропряития</h1>
@using (Html.FormBegin())
{
    @Html.HiddenFor(m => m.ReasonId)
    
    @Html.TextBoxMD(m => m.Name, true, readOnly: Model.ReadOnly)
    @Html.TextBoxMD(m => m.Num, true, readOnly: Model.ReadOnly)
    @Html.TextBoxMD(m => m.SignerName, readOnly: Model.ReadOnly)
    @Html.TextBoxMD(m => m.SignerPosition, readOnly: Model.ReadOnly)
    @Html.TextBoxMD(m => m.URL, readOnly: Model.ReadOnly)
    @Html.FileUploadMD(m => m.Documents, new FileUploadViewModel(Model.ReadOnly, "pdf, tiff, tif, jpg, rar, zip, doc, xls, docx, xlsx"), readOnly: Model.ReadOnly)


    @*<dl>
        <dt>@Html.LabelFor(m => m.Name)</dt>
        <dd></dd>

        <dt>@Html.LabelFor(m => m.Num)</dt>
        <dd></dd>

        <dt>@Html.LabelFor(m => m.SignerName)</dt>
        <dd></dd>

        <dt>@Html.LabelFor(m => m.SignerPosition)</dt>
        <dd></dd>

        <dt>@Html.LabelFor(m => m.URL)</dt>
        <dd></dd>

        <dt>@Html.LabelFor(m => m.Documents)</dt>
        <dd></dd>
    </dl>*@

    @Html.SaveButton("SaveForm(this)", Model.ReadOnly);
}
<script>
    function SaveForm(s) {
        var form = $(s).closest('form');
        if (!form.valid())
            return false;

        var data = {
            Id: $("#ReasonId").val(),
            OwnerId: @Model.Id,
            Name: $("#Name").val(),
            Num: $("#Num").val(),
            SignerName: $("#SignerName").val(),
            SignerPosition: $("#SignerPosition").val(),
            URL: $("#URL").val(),
            Files: Documents.GetValue()
        };
        $.ajax({
            url: '@Url.Action(OtherReasonEditViewModel.EditActionLink)',
            type: 'post',
            data: data,
            success:function (res) {
                notify.showResult(res);
                if (res.success) {
                    Grid_afterEdit(res);
                    //TODO status update
                }
                popup.close();
            }
        });

        form.submit(function () {
            return false;
        });

        return false;
    }

</script>