﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.Helpers.Control
@using bgTeam.IsRui.WebApp.ViewModels.Activities;
@model ReasonsViewModel
@{
    ViewBag.Title = "Основания";
    Layout = "~/Views/Activities/_LayoutActivities.cshtml";
}

<h1>Основания</h1>
@using (Html.FormBegin())
{
    @*@Html.ValidationSummary(true)*@

    @Html.DropDownMD(m => m.StateProgramId, Model.StateProgramList, readOnly: Model.ReadOnly)
    @Html.DropDownMD(m => m.StateSubProgramId, Model.StateSubProgramList, readOnly: Model.ReadOnly)
    @Html.DropDownMD(m => m.StateMainEventId, Model.StateMainEventList, readOnly: Model.ReadOnly)



    @*<dl>
        <dt>@Html.LabelFor(m => m.StateProgramId)</dt>
        <dd></dd>

        <dt>@Html.LabelFor(m => m.StateSubProgramId)</dt>
        <dd></dd>

        <dt>@Html.LabelFor(m => m.StateMainEventId)</dt>
        <dd></dd>
    </dl>*@

    @Html.SaveButton("SaveReasons(this)", Model.ReadOnly);
}

<h1>Другие основания реализации</h1>

@Html.AddButton("OpenRowPopup()", Model.ReadOnly)
@Html.Table("Grid", Model.OtherReasons,
new DataTableSettings<TableOtherReason>()
    .AddColumn(x => x.Name, searchable: true, sortable: true)
    .AddColumn(x => x.Num)
    .AddColumn(x => x.SignerName)
    .AddColumn(x => x.SignerPosition)
    .AddColumn(x => x.UrlLink)
    .AddColumn(x => x.DocumentsLink)
    .AddDeleteColumn(!Model.ReadOnly),
new DataTablesConfig()
    .OnRowClick("OpenRowPopup(nRow)"))

<script type="text/javascript">
    function OpenRowPopup(nRow) {
        var tr = $(nRow);
        var id = tr.data('id');
        popup.popover({
            url: '@Url.Action(OtherReasonEditViewModel.EditActionLink)',
            data: {
                ownerId: '@Model.Id',
                id: id
            }
        });
    }

    function SaveReasons(s) {
        var form = $(s).closest('form');
        if (!form.valid())
            return false;

        var data = {
            Id: @Model.Id,
            StateProgram: $("#StateProgramId").val(),
            StateSubProgram: $("#StateSubProgramId").val(),
            StateMainEvent: $("#StateMainEventId").val()
        };
        $.ajax({
            url: '@Url.Action(ReasonsViewModel.EditActionLink)',
            type: 'post',
            data: data,
            success: function (res) {
                if (res.success) {
                    notify.showSuccess(res.message);
                    window.location = window.location.href;
                }
                else
                    notify.showWarning(res.message);
            }
        });

        form.submit(function () {
            return false;
        });
        return false;
    }

    function LoadStatePrograms(id, selector) {
        $.getJSON('@Url.Action("StatePrograms", "SelectList")/' + id,
            function (data) {
                var res = '';
                $.each(data, function (i, item) {
                    res += '<option' + (item.Selected ? ' selected="selected" ' : ' ') + 'value=' + item.Value + '>' + item.Text + '</option>';
                });
                $(selector).html(res);
                $(selector).material_select();
            });
    }

    $('#StateProgramId').change(function () { LoadStatePrograms($(this).val(), '#StateSubProgramId'); });
    $('#StateSubProgramId').change(function () { LoadStatePrograms($(this).val(), '#StateMainEventId'); });
</script>