﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.ViewModels.Activities
@model ServiceEditViewModel
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<h1>Услуга</h1>

@using (Html.FormBegin())
{
    @Html.HiddenFor(m => m.ServiceId)
    
    @Html.TextBoxMD(m => m.Name, true, Model.ReadOnly)
    @Html.DropDownMD(m => m.Year, Model.YearList, readOnly: Model.ReadOnly)
    @Html.TextBoxMD(m => m.Count, readOnly: Model.ReadOnly)
    @Html.TextBoxMD(m => m.Cost, readOnly: Model.ReadOnly)
    @Html.DropDownMD(m => m.KOSGUId, Model.KOSGUList, readOnly: Model.ReadOnly)
    
    @*<dl>
        <dt>@Html.LabelReq(m => m.Name)</dt>
        <dd></dd>

        <dt>@Html.LabelFor(m => m.Year)</dt>
        <dd></dd>

        <dt>@Html.LabelFor(m => m.Count)</dt>
        <dd></dd>

        <dt>@Html.LabelFor(m => m.Cost)</dt>
        <dd></dd>

        <dt>@Html.LabelFor(m => m.KOSGUId)</dt>
        <dd></dd>
    </dl>*@

    @Html.SaveButton("SaveForm(this)", Model.ReadOnly);
}
<script>
    function SaveForm(s) {
        var form = $(s).closest('form');
        if (!form.valid())
            return false;

        $.ajax({
            url: '@Url.Action(ServiceEditViewModel.EditActionLink)',
            type: 'post',
            data: {
                Id: $("#ServiceId").val(),
                ActivityId: @Model.Id,
                Name: $("#Name").val(),
                Year: $("#Year").val(),
                Count: $("#Count").val(),
                Cost: $("#Cost").val(),
                KOSGU: $("#KOSGUId").val(),
            },
            success:function (res) {
                notify.showResult(res);
                if (res.success)
                    Grid_afterEdit(res);
                popup.close();
            },
        });

        form.submit(function () {
            return false;
        });

        return false;
    }

    $(function () {
        $("#Count").numberInt();
        $("#Cost").numberMoney(2);
    });
</script>