﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.Helpers.Control
@using bgTeam.IsRui.WebApp.ViewModels.Activities
@model ServicesViewModel
@{
    ViewBag.Title = "Услуги";
    Layout = "~/Views/Activities/_LayoutActivities.cshtml";
}

@Html.AddButton("OpenRowPopup()", Model.ReadOnly)

@Html.Table("Grid", Model.Items,
new DataTableSettings<TableService>()
    .AddColumn(x => x.Name, searchable: true, sortable: true)
    .AddColumn(x => x.YearText)
    .AddColumn(x => x.Count)
    .AddColumn(x => x.Cost, format: "n2")
    .AddColumn(x => x.KOSGUText)
    .AddDeleteColumn(!Model.ReadOnly),
new DataTablesConfig()
    .OnRowClick("OpenRowPopup(nRow)"))

<script type="text/javascript">
    function OpenRowPopup(nRow) {
        var tr = $(nRow);
        var id = tr.data('id');
        popup.popover({
            url: '@Url.Action(ServiceEditViewModel.EditActionLink)',
            data: {
                ownerId: '@Model.Id',
                id: id
            }
        });
    }
</script>