﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.Helpers.Control
@using bgTeam.IsRui.WebApp.ViewModels.Activities
@model WorksViewModel
@{
    ViewBag.Title = "Работы";
    Layout = "~/Views/Activities/_LayoutActivities.cshtml";
}

@Html.AddButton("OpenRowPopup()", Model.ReadOnly)

@Html.Table("Grid", Model.Items,
new DataTableSettings<TableWork>()
    .AddFooter()
    .AddColumn(x => x.Name, searchable: true, sortable: true)
    .AddColumn(x => x.OKPDName)
    .AddColumn(x => x.ExpenseDirectionName)
    .AddColumn(x => x.ExpenseTypeName)
    .AddColumn(x => x.KOSGUCodeName)
    .AddColumn(x => x.OKVEDCodeName)
    .AddColumn(x => x.YearDescription)
    .AddColumn(x => x.SpecialistsCount)
    .AddColumn(x => x.Salary, format: "n2")
    .AddColumn(x => x.Duration)
    .AddColumn(x => x.Summ, format: "n2")
    .AddDeleteColumn(!Model.ReadOnly),
new DataTablesConfig()
    .FooterCallback("FooterCallback(tfoot, data, start, end, display)")
    .OnRowClick("OpenRowPopup(nRow)"))

<script type="text/javascript">
    function OpenRowPopup(nRow) {
        var tr = $(nRow);
        var id = tr.data('id');
        popup.popover({
            url: '@Url.Action(WorkEditViewModel.EditActionLink)',
            data: {
                ownerId: '@Model.Id',
                id: id
            }
        });
    }

    function FooterCallback(row, data, start, end, display) {
        function intVal(s) {
            // Remove the formatting to get number data for summation
            var v = 0;
            if (typeof s === 'string') {
                v = s.replace(new RegExp('&nbsp;', 'g'), '').replace(',', '.') * 1;
            }
            else if (typeof s === 'number') {
                v = s;
            }
            return v;
        }
        var api = $('#Grid').DataTable();
        var dataColumn = api.column(10);
        var total = 0;
        //Total over all pages
        if (dataColumn.data().length > 0) {
            total = dataColumn
                .data()
                .reduce(function (a, b) { return intVal(a) + intVal(b); });
        }
        //Total over this page
        //pageTotal = api
        //    .column(10, { page: 'current' })
        //    .data()
        //    .reduce(function (a, b) {
        //        return intVal(a) + intVal(b);
        //    }, 0);

        // Update footer
        $(api.column(9).footer()).html('Итого:');
        $(dataColumn.footer()).html($.number(total, 2, ',', '&nbsp;', true));
    }
</script>