﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.ViewModels
@using bgTeam.IsRui.WebApp.ViewModels.Activities
@model WorkEditViewModel
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<h1>Работа</h1>
@using (Html.FormBegin())
{
    @Html.HiddenFor(m => m.WorkId)

    @Html.TextBoxMD(m => m.Name, true, readOnly: Model.ReadOnly)
    @Html.DropDownMD(m => m.OKPDId, Model.OKPDList, readOnly: Model.ReadOnly)
    @Html.DropDownMD(m => m.ExpenseDirectionId, Model.ExpenseDirectionList, true, readOnly: Model.ReadOnly)
    @Html.DropDownMD(m => m.ExpenseTypeId, Model.ExpenseTypeList, true, readOnly: Model.ReadOnly)
    @Html.DropDownMD(m => m.KOSGUId, Model.KOSGUList, readOnly: Model.ReadOnly)
    @Html.DropDownMD(m => m.OKVEDId, Model.OKVEDList, true, readOnly: Model.ReadOnly)
    @Html.DropDownMD(m => m.Year, Model.YearList, readOnly: Model.ReadOnly)
    @Html.TextBoxMD(m => m.SpecialistsCount, readOnly: Model.ReadOnly)
    @Html.TextBoxMD(m => m.Salary, readOnly: Model.ReadOnly)
    @Html.TextBoxMD(m => m.Duration, readOnly: Model.ReadOnly)
    @Html.TextBoxMD(m => m.Summ, readOnly: Model.ReadOnly)
    
    @Html.SaveButton("SaveForm(this)", Model.ReadOnly);
}
<script>
    function SaveForm(s) {
        var form = $(s).closest('form');
        if (!form.valid())
            return false;

        var args = {
            Id: $("#WorkId").val(),
            ActivityId: @Model.Id,
            Name: $("#Name").val(),

            OKPD: $("#OKPDId").val(),
            ExpenseDirection: $("#ExpenseDirectionId").val(),
            ExpenseType: $("#ExpenseTypeId").val(),
            ExpenditureItem: $("#KOSGUId").val(),
            OKVED: $("#OKVEDId").val(),

            Year: $("#Year").val(),
            SpecialistsCount: $("#SpecialistsCount").val(),
            Duration: $("#Duration").val(),
            Salary: $("#Salary").val()
        };
        $.ajax({
            url: '@Url.Action(WorkEditViewModel.EditActionLink)',
            type: 'post',
            data: args,
            success: function (res) {
                notify.showResult(res);
                if (res.success)
                    Grid_afterEdit(res);
                popup.close();
            }
        });

        form.submit(function () {
            return false;
        });

        return false;
    }

    $(function () {
        $("#SpecialistsCount, #Duration").numberInt();
        $("#Salary, #Summ").numberMoney(2);

        $('#SpecialistsCount, #Duration, #Salary').keyup(function () {
            var sum = $("#SpecialistsCount").val() * $("#Duration").val() * $("#Salary").val().toDecimal();
            $("#Summ").val(sum);
        });

        $('#OKVEDId').change(function () {
            $.getJSON('@Url.Action("GetSalaryFromOKVED", "SelectValue")/' + $(this).val(),
                function (data) {
                    $("#Salary").val(data);
                });
        });

        $("#ExpenseTypeId").rules("add", { expenseTypeId: true });

        jQuery.validator.addMethod("expenseTypeId", function (value, element) {
            return value != undefined && (value != 0 || element.length == 1);
        }, "@ValidateViewModel.NotZeroValueText");

        $('#ExpenseTypeId').prop("disabled", $('#ExpenseTypeId')[0].length == 1);

        $('#ExpenseDirectionId').change(function () {
            $.getJSON('@Url.Action("ExpenseTypes", "SelectList")/' + $(this).val(),
                function (data) {
                    var res = '';
                    $.each(data, function (i, item) {
                        res += '<option' + (item.Selected ? ' selected="selected" ': ' ') + 'value=' + item.Value + '>' + item.Text + '</option>';
                    });

                    $('#ExpenseTypeId').html(res);

                    $('#ExpenseTypeId').prop("disabled", $('#ExpenseTypeId')[0].length == 1);
                    var validator = $("form").validate();
                    validator.element('#ExpenseTypeId');
                    $('#ExpenseTypeId').material_select();
                });
        });
    });
</script>