﻿.edit_form .buttons {
    margin-top: 25px;
    text-align: center;
}

.edit_form .arrow_back {
    display: inline-block;
    margin-right: 10px;
   
}

.edit_form .arrow_back span {
    color: #3F66A0;
    font-family: Times New Roman;
    font-size: 1.4em;
    padding-right: 4px;
}

.edit_form .arrow_back a {
    font-size: 1.2em;
}

button,
a.button {
    border: 1px solid #999;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #464951;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(white), to(#D0D0D0));
    background: -moz-linear-gradient(white, #D0D0D0);
    background: linear-gradient(white, #D0D0D0);
    -pie-background: linear-gradient(#FFF, #D0D0D0);
    padding: 7px 12px;
    font-size: 1.2em;

    color:#333333;	
    text-shadow: 0 1px 0px #FFF;
    display: inline-block;
}
/*.edit_form button:hover {
    background:#CBCBCB;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#CBCBCB), to(#9D9D9D));
    background: -moz-linear-gradient(#CBCBCB, #9D9D9D);
    background: linear-gradient(#CBCBCB, #9D9D9D);
    -pie-background: linear-gradient(#CBCBCB, #9D9D9D);
    cursor: pointer;
}*/

button:active,
button:hover,
a.button:active,
a.button:hover {
    border-color:#317C31;
    background:#307B30;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#307B30), to(#256725));
    background: -moz-linear-gradient(#307B30, #256725);
    background: linear-gradient(#307B30, #256725);
    -pie-background: linear-gradient(#307B30, #256725);
    cursor: pointer;
    color:#FFF;	
    text-shadow: none;
}

h2.section
{
    font: 6em bebas_neue;
    margin: 10px 0;
}


/*Фильтр грида*/
.filter_panel {
    background-color: #EEEECC;
    color: #555555;
    /*padding: 10px;*/
}

.filter_panel input {
    width: 31%;
    margin: 6px 0.5%;
}

.filter_panel .search_init{
    color: #BBBBBB;
}


.filter_panel .search_init option {
    color: #000000;
}

.filterToggler {
    float: right;
    padding: 5px;
}
