﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="l_page-wrapper">
    <div class="header">
        <h1>Согласованные мероприятия</h1>
    </div>
    <div class="content">
        <div class="content-container">
            <ul class="flex-ul">
                @RenderBody()
            </ul>
        </div>
    </div>
</div>
