﻿@model bgTeam.IsRui.WebApp.ViewModels.Plans.ListViewModel
@{
    Layout = "~/Views/Plans/_LayoutList.cshtml";
}

@foreach (var item in Model.Items)
{
    <li>
        <div class="b_card-ou">
            <a class="name" href="@Url.Action("IndexCard", "Activities", new { id = item.Id })">@item.Name</a>
            <div>@item.Department</div>
            <div class="status">@item.Type</div>
            <div class="date"><span>@item.Status</span> </div>
            
        </div>
    </li>
}
