﻿
/* Главное меню */
.main_sections
{
	margin-top:15px;
	margin-left:20px;
	display:inline-block;
    float: left;
}

.main_sections li
{
	float:left;
	display:block;
	text-align:center;
	padding:0 12px;
	position:relative;
}

.main_sections li a
{
	text-decoration:none;
	display:block;
	/*color:#808080;*/
	font-size:1.5em;
	cursor:pointer;
}

/*.main_sections li a.twoline
{
	top:-9px;
	position:relative;
}*/

.main_sections li a:hover
{
	border-bottom:2px solid;
}

.main_sections li a.current
{
    color:#b6ff00;
}

/*.main_sections ul.submenu
{
	background:#3c5b7a;
	position:absolute;
	z-index:100;
	top:24px;
	left:0;
	display:none;
}

.main_sections ul.submenu li
{
	padding:0!important;
	width:100%;
}

.main_sections ul.submenu li a
{
	min-width:100px!important;
	padding:10px;
}

.main_sections ul.submenu li a.current,
.main_sections ul.submenu li a:hover
{
	background:#778CA2;*/
	border:0;
}



/* Дополнительное меню */
#add_menu
{
	position:relative;
}

#add_menu li
{
	display:inline-block;
	font-size:14px;
	line-height:18px;
}

#add_menu li a
{
	display:block;
	padding:14px 15px 15px;
	color:#393A3A;
	text-decoration:none;
	cursor:pointer;
}

#add_menu li a:hover
{
	background:#F8F4E4;
}

#add_menu ul.submenu
{
	background:#CFCFCF;
	position:absolute;
	left:0;
	z-index:95;
	width:100%;
	display:none;
}
