﻿ol,ul,html,body
{
    border: 0;
    margin: 0;
    padding: 0;
}


/* Выделение */

::selection,
body::selection,
input::selection,
textarea::selection { background: #DBEAFF }


/* Body */

html,
body { 
    height: 100%;
    
}


body {
    background-color: white;
    color: #1D3037;
    
}
body, textarea
{
    font: .8em/1.5em Arial,sans-serif;
}


a,
a.visited { color: #1D3037; }
/*a:hover { color: #F12938 }*/

div { position: relative; }

ol,ul { list-style: none; }

/* .Page */
body.coord .page,
body.apf .page {
    margin: 0 auto;
    max-width: 1200px;
    min-width: 1008px;
}

/*body.prt .page {
    margin: 0 auto;
    max-width: 1008px;
    min-width: 1008px;
}*/


body.errorpage .page {
    margin: 0 auto;
    max-width: 900px;
    min-width: 800px;
    padding-top:10px;
}

/*.page_wrapper {
    height: auto!important;
    margin: 0 auto -50px;
    min-height: 100%;
}*/

/*.page_footer_empty {
    height: 50px;
}*/

.header {
      height: 80px;
  padding-top: 20px;
}

.logo {
    background: url(img/logo.gif) 13px 8px no-repeat;
    background-color: white;
    /*color: #5d7594;*/
    float: left;
    font-family: Cuprum;
    font-size: 1.3em;
    font-weight: bold;
    left: 0;
    line-height: 0.85;
    position: relative;
    top: 0;

    height: 38px;
    padding-left: 57px;
    padding-top: 12px;
    width: 190px;
}

.user_panel {
    position: absolute;
    display: inline-block;
    background-color: #DBE1E8;
    right:0;
}

    .user_panel .block_1 {
        display: inline-block;
        padding: 10px 20px;
        background-color: #EAEDF1;
    }

        .user_panel .block_1 .fio {
            font-size: 1.1em;
            font-weight: bold;
            text-decoration: none !important;
        }

        .user_panel .block_1 .department {
            font-size: 0.9em;
            /* font-weight: bold; */
            /* text-decoration: none; */
            color: #7E7E7E;
            /*position: relative;*/
            top: 4px;
        }

    .user_panel .block_2 {
        display: inline-block;
        padding: 10px 20px;
    }

    .user_panel .block_2 .exit {
        /*position: relative;*/
            top: -10px;
    }