﻿
/* BackLinkControl */
.backlink_back {
    /*color: #3F66A0;*/
    text-align: right;
    font-family: Times New Roman;
    font-size: 18px;
    padding-right: 4px;
}

.backlink_text
{
    border-bottom-width: 1px;
    border-bottom-style: dotted;
}

/* FileUploadControl */
.fileupload_sep
{
    margin-left: 7px;
}

.fileupload_item
{
    padding: 2px 0;
}

.fileupload_none
{
    display: none !important;
}

.fileupload_item_delete
{
    height: 16px;
    width: 16px;
    cursor: pointer;
    background-image: url("img/grid_delete.png") !important;     
}