﻿.qq-uploader
{
    position: relative;
    width: 100%;
}

.qq-upload-button
{
    /*display:block; 
    width: 105px; padding: 7px 0; text-align:center;    
    background:#880000; border-bottom:1px solid #ddd;color:#fff;*/
    /*color: #333333;
    text-shadow: 0 1px 0px #FFF;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #999;
    background: #EBEBEB;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(white), to(#D0D0D0));
    background: -moz-linear-gradient(white, #D0D0D0);
    background: linear-gradient(white, #D0D0D0);
    -pie-background: linear-gradient(#FFF, #D0D0D0);
    padding: 5px 8px;
    font-size: 1.1em;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;*/
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    cursor: pointer;
    text-decoration: none !important;
    color: #2367A8;
}

.qq-upload-button:hover
{
        /*border-color: #0D5716;
        background: #081;
        cursor: pointer;
        color: #FFF;
        text-shadow: none;*/
        color: #E84542;
}

.qq-upload-button-focus
{
    outline: 1px dotted black;
}

.qq-upload-drop-area
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 24px;
    z-index: 2;
    background: #FF9797;
    background: #354D73;
    text-align: center;
}

    .qq-upload-drop-area span
    {
        display: block;
        position: absolute;
        /*top: 50%;*/
        width: 100%;
        /*margin-top: -8px;*/
        font-size: 0.9em;
        color: white;
    }

.qq-upload-drop-area-active
{
    background: #FF7171;
    background: #3F6CB4;
}

.qq-upload-list
{
    margin: 0px 0px 10px 15px;
    padding: 0;
    list-style: disc;
}

    .qq-upload-list li
    {
        margin: 0;
        padding: 0;
        line-height: 15px;
        font-size: 12px;
    }

.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text
{
    margin-right: 7px;
}

.qq-upload-file
{
}

.qq-upload-spinner
{
    display: inline-block;
    background: url("img/loading.gif");
    width: 15px;
    height: 15px;
    vertical-align: text-bottom;
}

.qq-upload-size, .qq-upload-cancel
{
    font-size: 11px;
}

.qq-upload-failed-text
{
    display: none;
}

.qq-upload-fail .qq-upload-failed-text
{
    display: inline;
}
