﻿/* Форма редактирования */

.edit_form {
    margin: 0px auto;
}

.edit_form_readonly {
    margin: 0px auto;
}

.edit_form h2 {
    margin-left: 15%;
}

.edit_form dl {
    margin-top: 0px;
    margin-bottom: 10px;
}

.edit_form_readonly dl {
    margin-top: 0px;
    margin-bottom: 15px;
}

.edit_form dl dt {
    width: 30%;
    margin-right: 10px;
    text-align: right;
    vertical-align: top;
    display: inline-block;
    padding-top: 6px;
}

.edit_form_readonly  dl dt {
    font-family: Cuprum;
    font-size: 1.15em;
    margin-right: 10px;
    margin-top: 5px;
    vertical-align: top;
    color: gray;
}

/*.edit_form_readonly dl dt:after {
    content: ':';
}*/

.edit_form dl dd {
    width: 67%;
    margin: 0px;
    padding: 3px 0px;
    display: inline-block;
}

select,
select[multiple] {
    border: 1px solid #b0b0b0;
    background-color: #FFF;
    padding: 4px 6px;
}

.edit_form dl dd select {
    width: 52%;
}

/*select[multiple]
{
    border: 1px solid #C1C1C1;
    background-color: #F8F8F8;
    padding: 4px 6px;
    overflow: auto;
}*/

textarea,
input[type="text"],
input[type="password"],
input.datetime,
div.selectentity span,
span.treeview_input_text {
    border: none;
    border: 1px solid #b0b0b0;
    background-color: #FFF;
    padding: 4px 6px;
}

input[disabled="disabled"] {
    background-color: #DADADA;
    opacity: 0.5;
}

/*textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input.datetime:focus {
    background-color: #FFF;
}*/

.edit_form dl dd textarea,
.edit_form dl dd input,
.edit_form dl dd .selectentity span,
.edit_form dl dd span.treeview_input_text,
.edit_form dl dd select
{
    font: 0.95em Arial,Helvetica,sans-serif;
}

.edit_form_readonly dl dd {
    font: 1.2em Arial,Helvetica,sans-serif;
    padding-bottom: 5px;
}

.edit_form dl dd textarea,
.edit_form dl dd input[type="text"],
.edit_form dl dd input[type="password"],
.edit_form dl dd .selectentity span,
.edit_form dl dd span.treeview_input_text
{
    width: 80%;
}

.edit_form dl dd input.datetime {
    width: 50%;
}

.edit_form dl dd .selectentity span,
.edit_form dl dd span.treeview_input_text {
    display: inline-block;
}

.edit_form dl dd textarea {
    max-width: 80%;
    min-width: 80%;
    height: 100px;
}

.edit_form dl dd input[type="checkbox"]
{
    margin: 5px 0px;
    vertical-align: middle;
}

.edit_form fieldset
{
    border: none;
    border-top: 1px dotted #C1C1C1;
    margin: 0px;
    padding: 20px 0;
}

.edit_form fieldset legend
{
    padding: 0 10px;
    margin-left: 10%;
}

.edit_form dl dd input.input-validation-error,
.edit_form dl dd textarea.input-validation-error,
.edit_form dl dd select.input-validation-error {
    background-color: #fee;
}

.edit_form dl dd span.field-validation-error {
    position: absolute;
    max-width: 150px;
    font-size: 0.8em;
    color: red;
    margin: 8px 0 0 10px;
}



.edit_form .buttons,
.edit_form_readonly .buttons {
    margin-top: 25px;
    text-align: center;
}

.edit_form .buttons_popup{
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 20px;
    background: #DDB;
    text-align: center;
    border-top: 1px solid #DADADA;

    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -khtml-border-bottom-right-radius: 4px;
    -khtml-border-bottom-left-radius: 4px;
}

.arrow_back {
    display: inline-block;
    margin-right: 10px;
   
}

.arrow_back span {
    color: #3F66A0;
    font-family: Times New Roman;
    font-size: 1.4em;
    padding-right: 4px;
}

.arrow_back a {
    font-size: 1.2em;
}

span.required {
    color: red;
    font-size: 1.1em;
    margin-left: 3px;
    margin-right: 3px;
}