﻿/* Форма авторизации */

.form_auth
{
    /*border: 1px solid #C0C0C0;     margin: 100px auto 0px;     width: 380px;*/
}

.form_auth_img
{
    height: 80px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #C0C0C0;
}

.form_auth_table
{
    padding: 20px;
    width: 100%;
}

.form_auth_text
{
    color: #777;
    padding-left: 5px;
    text-align: left;
}

.form_auth_input input[type="text"], .form_auth_input input[type="password"]
{
    font-size: 18px;
    height: 39px;
    line-height: 39px;
    width: 100%;
    border: solid 1px #93afc9;
    border-radius: 3px;
    padding: 0 17px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.form_auth_desc
{
    padding-left: 5px;
    padding-bottom: 5px;
    font-size: 8pt;
    color: #CCC;
    text-align: left;
}

#login_logo
{
    height: 120px;
    background: url('img/login_logo.png') 50% 50% no-repeat;
}

#login_button
{
    width: 154px;
    height: 35px;
    display: block;
    background: url('img/login_button.png') left top no-repeat;
    position: absolute;
    top: 38px;
    right: 34px;
}

#logout_text
{
    height: 35px;
    width: 225px;
    display: block;
    background: url('img/logout_text.png') left top no-repeat;
    position: absolute;
    top: 38px;
    right: 34px;
}

#logout_text div.back
{
    height: 35px;
    width: 6px;
    display: block;
    background: url('img/logout_text.png') right top no-repeat;
    position: absolute;
    top: 0px;
    right: -6px;
} 

#logout_text span
{
    margin-top: 8px;
    display: block;
    text-shadow: 0 1px 0 white;
    color: black;
    margin-left: 14px;
    cursor: default;
}

.logout_button
{
    height: 35px;
    width: 34px;
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    
    /*background: url('img/logout_text.png') right -30px no-repeat;*/
    /*
    top: 38px;
    right: 34px;*/
}

#project_name {
    text-align: center;
    color: #305B94;
    font-size: 1.7em;
    font-weight: bold;
    margin-bottom: 35px;
}

.round_panel
{
    border: 1px solid #a8d5e0;
    background-color: #ffffff;
            
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.none
{
    display: none;
}

.curved
{
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.button_blue_big
{
    background: url('img/button_blue_big_sprite.png') no-repeat 0 0;
    border: 0;
    color: #fff;
    display: block;
    width: 160px;
    height: 45px;
    line-height: 44px;
    margin: 0 0 5px;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #222;
}

.button_blue_big:hover
{
    background-position: left -45px;
}

/* Панель - сообщение об ошибке */
#div_error_panel
{
    padding: 10px;
    margin: 10px 10px 10px 10px;
    font: 0.8em Verdana; /*border: 1px solid #FFC800;     background-color: #FFFBBA;     color: #FF3333;*/
    border: 1px solid #C00;
    background-color: #FCC;
    color: #606060;
}

/* Ссылки */
a, a.visited
{
    color: #305B94; /*#004990;*/
    text-decoration: none;  
}

a:hover
{
    color: #F12938;
    text-decoration: underline;  
}