﻿/******************/
/*  Главное меню  */
/******************/

#main_menu
{
    margin-top: 15px;
    margin-left: 20px;
    display: inline-block;
    
}

#main_menu ul
{
    margin: 0px;
    padding: 0px;
}

#main_menu li
{
    float: left;
    display: block;
    text-align: center;
    padding: 0px 12px;
    position: relative;
}

#main_menu  li a
{
    font-weight: bold;
    text-decoration: none;
    display: block;
    color: white;

    font-size: 1.5em;
    font-family: 'Cuprum';
    text-transform: uppercase;

    /*border-bottom: 2px solid white;*/
}

#main_menu  a.current,
#main_menu  a:hover 
{
    border-bottom: 2px solid;
}

#main_menu a.current{
    background: linear-gradient(top,  #3c5b7a,  #5d7594);
    background: -ms-linear-gradient(top,  #3c5b7a,  #5d7594);
    background: -webkit-gradient(linear, left top, left bottom, from(#3c5b7a), to(#5d7594));
    background: -moz-linear-gradient(top,  #3c5b7a,  #5d7594);
}

#main_menu ul li ul.submenu{
    background: #DDDDDD;
    background: linear-gradient(top,  #3c5b7a,  #5d7594);
    background: -ms-linear-gradient(top,  #3c5b7a,  #5d7594);
    background: -webkit-gradient(linear, left top, left bottom, from(#3c5b7a), to(#5d7594));
    background: -moz-linear-gradient(top,  #3c5b7a,  #5d7594);
    display: none;
    margin: 0;
    padding: 0;
    /*width: 250px;*/
    position: absolute;
    z-index: 99;
    top: 22px;
    left: 0;
    border: solid 0px #426282;
    /*border-radius: 10px;*/
    /*-webkit-border-radius: 10px;*/
    /*-moz-border-radius: 10px;*/
    /*-webkit-box-shadow: 2px 2px 25px #222222;*/
    /*-moz-box-shadow: 2px 2px 25px #222222;*/
    border-bottom-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    box-shadow: 2px 2px 25px #222222;
}

#main_menu ul li ul.submenu li{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-box-shadow: 2px 2px 25px #222222;
    -moz-box-shadow: 2px 2px 25px #222222;
    /*padding-top: 5px;*/
    /*padding-bottom: 5px;*/
    padding: 0px !important;
    width: 100%;
}

#main_menu ul li ul.submenu li a{
    min-width: 100px !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

#main_menu ul li ul.submenu li a.current,
#main_menu ul li ul.submenu li a:hover{
    background: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border: 0px;
    background: linear-gradient(top,  #192E48,  #346096);
    background: -ms-linear-gradient(top,  #192E48,  #346096);
    background: -webkit-gradient(linear, left top, left bottom, from(#192E48), to(#346096));
    background: -moz-linear-gradient(top,  #192E48,  #346096);
    color: #fff !important;
}

/*#main_menu ul li ul.submenu li:first-child > a {*/
    /*border-top-left-radius: 10px;*/
    /*-webkit-border-top-left-radius: 10px;*/
    /*-moz-border-radius-topleft: 10px;*/
    /*border-top-right-radius: 10px;*/
    /*-webkit-border-top-right-radius: 10px;*/
    /*-moz-border-radius-topright: 10px;*/
/*}*/

#main_menu ul li ul.submenu li:last-child > a {
    border-bottom-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
}

/* ---------------------------- */
/* ------- Боковое меню ------- */
/* ---------------------------- */

.menuleft ul {
    margin: 0;
    padding: 0 10px;
    background: #ededed;
    
}

.menuleft li {
    display: block;
}

.menuleft li.sep {
    border-top: solid thin #A0A0A0;
}

.menuleft a
{
    display: inline-block;
    padding: 5px 0px;
    margin-bottom: 6px;
    text-decoration: none;
    color: black;
    
}

.menuleft.sb a {
    font-weight: bold;
}

.menuleft .current
{
    color: red;
    text-decoration: none;
    cursor: default;
}

.menuleft .submenu {
    padding-left:40px;
}

.menuleft .submenu a {
    text-decoration: underline;
    font-weight: normal;
}

/*Горизонтальное меню*/


.menutop a {
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 0.9em;
}
.menutop ul {
    list-style:none;
    padding:0;
    position:relative;
    z-index:1;
    margin: 0;
}
.menutop ul li{
    float:left;
    /*padding-left:10px;*/
    margin:0;
    /*border-left:1px solid #2d94c7;*/
    position:relative;
    z-index:1;
    display: block;
}
.menutop ul li:first-child
{
    border-left: none;
}
.menutop ul li.sep {
}
.menutop ul li.sep :before{
    content:'\2022';
    padding-right:10px;
}
.menutop ul.submenu {
    display: none;
    position:absolute;
    background: #fff;
    padding: 0;
    border-bottom: none;
    box-shadow: 0 0 9px 1px #aaa;
    z-index: 2;
    left: 0px;
}
.menutop ul.submenu li {
    border: none;
    float: none;
    position: relative;
    width: 250px;
    padding: 0 20px;
    z-index: 2;
}
.menutop ul.submenu li a {
    text-align: left;
    z-index: 2;
}
.menutop ul li .current {
    color: #BD972B;
}

/*Горизонтальное меню для табов*/
    #tabs {
        display: block;
    }
    #tabs li
    {
        display: block;
        float: left;
        padding: 5px 10px;
        position: relative;
        text-align: center;
    }


        #tabs li a
        {
            /*display: block;
            font: 1.3em fregatregular,arial;
            text-decoration: none;
            text-transform: uppercase;*/

            display: block;
            font: 1.5em cuprum, fregatregular, arial;
            text-decoration: none;
            text-transform: none;
        }

        #tabs li a.current
        {
            color: red;
        }
