﻿/* Общие (Главные) */
body
{
    font: 0.7em Verdana, Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Выделение */
::selection,
body::selection, 
input::selection,
textarea::selection
{
    background: #DAF4F5;
    color: #006699;
}

.table_full
{
    width: 100%;
    border: 0px;
    border-collapse: collapse;

}

.table_not_border
{
    border: 0px;
    border-collapse: collapse;
}

.table_not_border td
{
    /*padding: 0px;*/
}


.page
{
    min-width: 1020px;
    max-width: 1020px;
    margin: 0px auto;
}

.separator
{
    padding-bottom: 20px;
}


/*********************/
/*  Загаловок сайта  */
/*********************/

#header,
#footer {
    background: #5d7594;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#3c5b7a), to(#5d7594));
    background: -moz-linear-gradient(#3c5b7a, #5d7594);
    background: linear-gradient(#3c5b7a, #5d7594);
    -pie-background: linear-gradient(#3c5b7a, #5d7594);
    
    height: 50px;
}

#header_bottom {
    height: 4px;
    background: url('img/header_bottom.png') repeat-x;
}

#body {
    padding: 30px 0;

    /*border: solid 1px #bbbbbb;

    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;*/
}

#body_bottom {
    height: 120px;
    background: #dfe3e7;
}

#footer_top {
    height: 4px;
    background: url('img/footer_top.png') repeat-x;
}

#footer span.text {
    color: white;
    position: relative;
    line-height: 50px;
}

#logo
{
   width:180px;
    height: 45px;
    background: url('img/logo.gif') 13px 8px no-repeat;
    background-color: white;
    float: left;
    position: relative;
    top: 0px;
    left: 0px;
    padding-left: 57px;
    padding-top: 12px;
    font-family: 'Cuprum';
    font-size: 1.3em;
    font-weight: bold;
    color: #5d7594;
    line-height: 0.85;
}

.none
{
    display: none;
}

/* Загаловки */

h1, h2, h3, h4 {
    font-weight: normal;
}

h1.top,
h2.top,
h3.top,
h4.top
{
    margin-top: 0px;
}

.table_title {
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 1.1em;
}


/* Ссылки */

a,
a.visited {
    color: #2367A8;
}

a:hover {
    color: #E84542;
}

a.command,
a.gridToolbarLink
{
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    text-decoration: none !important;
    cursor: pointer;
}

a.command2
{
    color: #DB1313;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-decoration: none !important;
    cursor: pointer;
    font-weight: bold;
}

a.command2:hover
{
    border-bottom-style: none;
}

a.disabled
{
    color: #A6A6A6 !important;
    cursor: default;
}

a.gridToolbarLink {
    margin: 2px 5px;
    padding: 0px 3px;
}
a.gridToolbarLink.active {
    text-decoration: none !important;
    cursor: auto;
    background-color: #ededed;
    border-bottom-width: 0px;
    color: black;
    padding: 5px 10px;
}
a.gridToolbarLink.active:hover {
    color: black;
}

/*.round_panel
{
    border: 1px solid #a8d5e0;
    background-color: #ffffff;
            
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.curved
{
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}*/



button,
a.button {
    color: white;	
    font-weight: bold;
    font-size: 1.2em;
    /*text-shadow: 0 1px 0px #FFF;*/
    display: inline-block;
    text-decoration: none;
    border: 1px solid #354155;

    background: #354d73;
    /*background: -webkit-gradient(linear, 0 0, 0 bottom, from(white), to(#D0D0D0));
    background: -moz-linear-gradient(white, #D0D0D0);
    background: linear-gradient(white, #D0D0D0);
    -pie-background: linear-gradient(#FFF, #D0D0D0);*/

    padding: 7px 12px;
    

    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
}

button.green,
a.button.green{
    border: 1px solid #354155;
    background: #339933;
}

button.green:hover,
a.button.green:hover{
    cursor: pointer;
    background: #1DCE1D;
}

button.red,
a.button.red{
    border: 1px solid #354155;
    background: #AA2222;
}

button.red:hover,
a.button.red:hover{
    cursor: pointer;
    background: red;
}

/*.edit_form button:hover {
    background:#CBCBCB;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#CBCBCB), to(#9D9D9D));
    background: -moz-linear-gradient(#CBCBCB, #9D9D9D);
    background: linear-gradient(#CBCBCB, #9D9D9D);
    -pie-background: linear-gradient(#CBCBCB, #9D9D9D);
    cursor: pointer;
}*/

button:active,
button:hover,
a.button:active,
a.button:hover,
a.button.active {
    
    /*border-color: #0D5716;*/
    background: #3F6CB4;
    
    cursor: pointer;
    /*color:#FFF;	
    text-shadow: none;*/
}

button:disabled,
a.button:disabled,
button:active:disabled,
button:hover:disabled,
a.button:active:disabled,
a.button:hover:disabled {
    opacity: 0.4;
    color:#333333;	
    text-shadow: 0 1px 0px #FFF;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #999;
    background: #EBEBEB;
    cursor: auto;
}

a.button.small {
    padding: 5px 8px;
    font-size: 1.1em;

     border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
}


.button_add_text {
    font-size: 1.2em;
    font-weight: bold;
}


/*Фильтр грида*/
.filter_panel {
    background-color: #EEEECC;
    color: #555555;
    /*padding: 10px;*/
}

.filter_panel input {
    width: 31%;
    margin: 6px;
}

.filter_panel .search_init{
    color: #BBBBBB;
}


.filter_panel .search_init option {
    color: #000000;
}

.filterToggler {
    float: right;
    padding: 5px;
}


/*Выделенные строки грида*/
table.dataTable tr.row_selected td {
    background-color: #B0BED9 !important;
}

table.dataTable tr.row_selected:hover td {
    background-color: #B0BED9 !important;
}

table.dataTable td.center_cell {
    text-align: center;
}


div.button_delete {
    height: 16px;
    width: 16px;
    float: left;
    cursor: pointer;
    background: url('img/popup_close.png') center center no-repeat;
    padding: 2px;
}

div.clear {
    clear: both;
}


/*********************/
/*********************/
/*********************/
/* ГЛАВНАЯ СТРАНИЦА  */
/*********************/
/*********************/
/*********************/
    #main_search_container
    {
        padding-bottom: 20px;
        margin: 0 auto;
        position: relative;
        width: 100%;
    }

        #main_search_container input[type="text"]
        {
            width: 96%;
            border: 1px solid #C1C1C1;
            background-color: #fff;
            height: 16px;
        }

        #main_search_container .searchbutton
        {
            position: absolute;
            top: 0px;
            right: 0px;
            height: 26px;
            width: 29px;
            background: url('/content/style/all/img/searchbtn.png') 0px 0px;
            cursor: pointer;
        }

        #main_search_container span.deleteicon
        {
            background: url("/content/style/all/img/sprites.png?v=4") repeat scroll 0 -690px transparent;
            cursor: pointer;
            height: 13px;
            position: absolute;
            right: 35px;
            top: 6px;
            width: 13px;
        }

    .fund_list_item_container:nth-child(2n+1)
    {
        background-color: #ededed;
    }

    .fund_list_item_container:hover
    {
        background-color: #fbfcd5;
    }

    .fund_list_item_container > div
    {
        margin-bottom: 10px;
    }

        .fund_list_item_container > div:last-of-type
        {
            margin-bottom: 0px;
        }

    .fund_list_item_container
    {
        padding: 10px 20px 10px;
    }

    .fund_list_item_name a
    {
        font-family: "Cuprum";
        font-size: 1.4em;
        /*text-decoration: none;*/
        color: black;
    }

        .fund_list_item_name a:hover
        {
            /*font-weight: bold;*/
        }

    .fund_list_item_first_line,
    .fund_list_item_second_line
    {
        display: inline-block;
        margin: 0 auto;
    }

    .fund_list_item_first_line,
    .fund_list_item_first_line a
    {
        color: black;
    }

    .fund_list_item_second_line,
    .fund_list_item_second_line a
    {
        color: gray;
        font-size: 0.9em;
    }

    .fund_list_item_first_col
    {
        width: 20%;
    }

    .fund_list_item_second_col
    {
        width: 40%;
    }

    .fund_list_item_third_col
    {
        width: 25%;
    }

    .fund_list_item_fourth_col
    {
        width: 10%;
        float: right;
        text-align: right;
    }

    .fund_list_actions
    {
        position: relative;
        margin-bottom: 4px;
    }

        .fund_list_actions .filterlink,
        .fund_list_actions .sortlink
        {
            font-weight: bold;
            cursor: pointer;
            text-decoration: none;
        }

            .fund_list_actions .filterlink:after
            {
                content: ' ▼';
            }

            .fund_list_actions .filterlink.active:after
            {
                content: ' ▲';
            }

            .fund_list_actions .sortlink.desc,
            .fund_list_actions .sortlink.asc
            {
                background-color: #EDEDED;
                padding: 5px 10px;
            }

                .fund_list_actions .sortlink.desc:before
                {
                    content: '▼ ';
                }

                .fund_list_actions .sortlink.asc:before
                {
                    content: '▲ ';
                }

    .fund_list_filter_panel
    {
        position: absolute;
        right: 0px;
        top: 18px;
        width: 25%;
        display: none;
        z-index: 9;
        background-color: #fff;
    }

        .fund_list_filter_panel .common
        {
            display: inline-block;
            vertical-align: top;
        }

        .fund_list_filter_panel .extra
        {
            display: none;
            width: 37%;
            vertical-align: top;
        }

        .fund_list_filter_panel .filter,
        .fund_list_filter_panel .extrafilter
        {
            margin: 2px 10px 3px;
        }

            .fund_list_filter_panel .filter input[type='text']
            {
                width: 85%;
            }

            .fund_list_filter_panel .filter span.treeview_input_text
            {
                width: 85%;
            }

        .fund_list_filter_panel label.filter
        {
            font-size: 0.9em;
        }

            .fund_list_filter_panel label.filter.expanded,
            .fund_list_filter_panel label.filter.collapsed
            {
                cursor: pointer;
                font-weight: bold;
            }

                .fund_list_filter_panel label.filter.expanded:before
                {
                    content: '▼ ';
                }

                .fund_list_filter_panel label.filter.collapsed:before
                {
                    content: '► ';
                }

        .fund_list_filter_panel .extrafilter input.datetime,
        .fund_list_filter_panel .extrafilter input.forslider
        {
            width: 70px;
        }

        .fund_list_filter_panel .extrafilter .ui-slider
        {
            margin-left: 19px;
            margin-top: 5px;
            width: 210px;
        }

        .fund_list_filter_panel .extrafilter .steps
        {
            border: 1px solid transparent;
            width: 205px;
            margin-left: 19px;
            position: relative;
            font-size: 0.8em;
            height: 30px;
        }

        .fund_list_filter_panel .extrafilter .tick
        {
            border: 1px solid transparent;
            position: absolute;
            width: 1.2em;
            margin-left: -.3em;
            text-align: center;
            left: 0;
        }

        .fund_list_filter_panel .extrafilter .ui-widget-header
        {
            background-color: #354155;
        }

        .fund_list_filter_panel .extrafilter .ui-slider-handle
        {
            background-color: #EDEDED;
            border: 1px solid #354155;
            cursor: pointer;
        }

    .fund_list_paginate
    {
        margin: 20px 0 0 40px;
        text-align: left;
    }

        .fund_list_paginate .arrow_back
        {
            display: inline-block;
            font-family: Times New Roman;
            font-size: 1.4em;
            padding: 0 4px;
        }

    .fund_list_paginate a.paginate_button
    {
        cursor: pointer;
        margin: 0 5px;
    }

    .fund_list_paginate a.paginate_button_disabled
    {
        background: none repeat scroll 0 0 #DEDEDE;
        color: black;
        cursor: default;
        padding: 4px 8px;
        text-decoration: none;
    }

    .fund_list_paginate a.previous.paginate_button_disabled, .fund_list_paginate a.next.paginate_button_disabled
    {
        background: none repeat scroll 0 0 transparent;
        color: #BBBBBB;
    }

    .fund_list_paginate a.previous, .fund_list_paginate a.next
    {
        margin: 0;
        padding: 0;
    }
