﻿.searchColumnSide
{
    width: 300px;
    display: inline-block;
    padding: 10px;
    float: left;
}

.searchColumnSide > div
{
    margin-bottom: 10px;
    height: 23px;
}

.searchButtonsSide
{
    display: inline-block;
    padding: 13px;
    float: right;
    margin-right: 25px;
    text-align: center;
}

.searchButtonsSide > div
{
    margin-bottom: 10px;
}

#filter_panel
{
    color: #555;
    background-color: #eec;
    padding: 10px;
}
