﻿#logo
{
    width: 360px;
    height: 60px;
    display: block;
    background: url('img/logo.png') left top no-repeat;
    position: absolute;
    top: 22px;
    left: 20px;
}

#logo_text
{
    width: 294px;
    height: 34px;
    display: block;
    background: url('img/logo_text.png') left top no-repeat;
    position: absolute;
    top: 40px;
    left: 42%;
}

/******************/
/*  Главное меню  */
/******************/

#main_menu  .a1{
    width: 100px;
}

#main_menu  .a2{
    width: 140px;
}

#main_menu  .a3{
    width: 216px;
}

#main_menu  .a4{
    width: 240px;
}

#main_menu  .a5{
    width: 230px;
}

#main_menu  .a6{
    width: 84px;
}