﻿/* Боковое меню */

.menuleft ul
{
	margin:0;
	padding:0 10px;
	background:#ededed;
}

.menuleft li
{
	display:block;
}

.menuleft li.sep
{
	border-top:solid thin #A0A0A0;
}

.menuleft a
{
	display:inline-block;
	padding:5px 0;
	margin-bottom:6px;
	text-decoration:none;
	color:black;
}

.menuleft.sb a
{
	font-weight:bold;
}

.menuleft .current
{
	color:red;
	text-decoration:none;
	cursor:default;
}

.menuleft .submenu
{
	padding-left:40px;
}

.menuleft .submenu a
{
	text-decoration:underline;
	font-weight:normal;
}


/* Горизонтальное меню */

.menutop a
{
	display:inline-block;
	padding:5px 10px;
	text-align:center;
	text-decoration:none;
	font-size:.9em;
}

.menutop ul
{
	list-style:none;
	padding:0;
	position:relative;
	z-index:1;
	margin:0;
}

.menutop ul li
{
	float:left;
	margin:0;
	position:relative;
	z-index:1;
	display:block;
}

.menutop ul li:first-child
{
	border-left:none;
}

.menutop ul li.sep :before
{
	content:'\2022';
	padding-right:10px;
}

.menutop ul.submenu {
    display: none;
    position: absolute;
    background: #fff;
    padding: 0;
    border-bottom: none;
    -webkit-box-shadow: 0 0 9px 1px #aaa;
    box-shadow: 0 0 9px 1px #aaa;
    z-index: 2;
    left: 0;
}

.menutop ul.submenu li
{
	border:none;
	float:none;
	position:relative;
	width:250px;
	padding:0 20px;
	z-index:2;
}

.menutop ul.submenu li a
{
	text-align:left;
	z-index:2;
}

.menutop ul li .current
{
	color:#BD972B;
}


/* Горизонтальное меню для табов */
    
#tabs
{
	display:block;
}

#tabs li
{
	display:block;
	float:left;
	padding:5px 10px;
	position:relative;
	text-align:center;
}

#tabs li a
{
	display:block;
	font:1.5em cuprum, fregatregular, arial;
	text-decoration:none;
	text-transform:none;
}

#tabs li a.current
{
	color:red;
}
