﻿<!DOCTYPE html>

<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MainEmpty.master.cs" Inherits="GB.MKRF.Web.MainEmpty" %>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title><%= PageTitle %></title>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link href="/Content/GB/Styles/Imgs/icon.png" rel="shortcut icon" />
    <link href="/Content/GB/Styles/Fonts/cuprum.css" rel="stylesheet" type="text/css" />
    <link href="/Content/GB/Styles/style.css" rel="stylesheet" type="text/css" />
    <link href="/Content/GB/Styles/popup.css" rel="stylesheet" type="text/css" />
    <link href="/Content/GB/Styles/menu.css" rel="stylesheet" type="text/css" />
    <link href="/Content/GB/Styles/form_edit.css" rel="stylesheet" type="text/css" />

    <link href="/Content/GB/Styles/portal.css" rel="stylesheet" type="text/css" />
    <link href="/Content/GB/Styles/style_new.css" rel="stylesheet" type="text/css" />
    <link href="/Content/GB/Styles/controls.css" rel="stylesheet" type="text/css" />
    <%--    <link href="/Content/Style/all/menu.mvc.css" rel="stylesheet" type="text/css" />--%>

    <script type="text/javascript" src="/Content/GB/Scripts/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/Content/GB/Scripts/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="/Content/GB/Scripts/Scripts.js"></script>
    <script type="text/javascript" src="/Content/GB/Scripts/popup.js"></script>
    <script type="text/javascript" src="/Content/GB/Scripts/FileUploader2.js"></script>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body class="coord">
    <asp:ContentPlaceHolder ID="center" runat="server">
    </asp:ContentPlaceHolder>
</body>
</html>
