﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Plans/EditCard.master" AutoEventWireup="true" CodeBehind="CommonData.aspx.cs" Inherits="GB.MKRF.Web.Plans.CommonData" %>

<asp:Content ID="Content1" ContentPlaceHolderID="center" runat="server">
</asp:Content>
