﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Plans/PlanCard.master" AutoEventWireup="true" CodeBehind="Documents.aspx.cs" Inherits="GB.MKRF.Web.Plans.Documents" %>

<%@ Register src="../Common/DocumentControl.ascx" tagname="DocumentControl" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="center" runat="server">
    <uc1:DocumentControl ID="dc" runat="server"/>
</asp:Content>
