﻿<%@ Master Language="C#" MasterPageFile="~/Main.master" AutoEventWireup="true" CodeBehind="EditCard.master.cs" Inherits="GB.MKRF.Web.Plans.EditCard" %>

<asp:Content ID="Content1" ContentPlaceHolderID="center" runat="server">
    <script type="text/javascript">
        ActiveMenuItem = 1;
    </script>

    <div class="page">
        <%--<p>
            <dxe:ASPxLabel runat="server" CssClass="head_activity" ID="ActivityLabel" OnDataBinding="ActivityLabel_DataBinding" />
        </p>--%>

        <div style="padding-top: 10px">
            <asp:ContentPlaceHolder ID="center" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </div>
</asp:Content>
