﻿<%@ Master Language="C#" MasterPageFile="~/Main.Master" AutoEventWireup="true" CodeBehind="Monitoring.master.cs"
    Inherits="GB.MKRF.Web.Monitoring.Monitoring" %>

<%@ Import Namespace="GB.MKRF.Web.Monitoring" %>

<asp:Content ID="Content1" ContentPlaceHolderID="center" runat="server">
    <script>
        ActiveMenuItem = 3;
    </script>
    <div class="page">
        <asp:ContentPlaceHolder ID="buttons" runat="server">
        </asp:ContentPlaceHolder>
        <div style="height:20px"></div>
        <asp:ContentPlaceHolder ID="center" runat="server">
        </asp:ContentPlaceHolder>
    </div>
</asp:Content>

