﻿@using System.Data
@model bgTeam.IsRui.WebApp.ViewModels.Admin.Dictionary.DictionaryChooseViewModel

@{
    Layout = null;
}
<h1>Выберите значение</h1>
<div>
    <table id="chooseGrid">
        <thead>
            <tr>
                @foreach (var column in Model.Columns)
                {
                    <th>@column.Name</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow row in Model.Data.Rows)
            {
                var key = row[Model.PrimaryKey.ColumnName];
                <tr data-id="@key" data-name="@Model.InputName">
                    @foreach (var column in Model.Columns)
                    {
                        <td data-name="@column.ColumnName">@row[column.ColumnName]</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(function () {
        BuildDataTable($('#chooseGrid'), {
            "bAutoWidth": false,
            "iDisplayLength": 10,
            "OnRowClick": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                var tr = $(nRow);
                var id = tr.data('id');
                var inputName = tr.data("name");
                $('input[name=hf_' + inputName + ']').val(id);
                var tds = tr.find('td');
                $.each(tds, function (i, e) {
                    var name = $(e).data("name");
                    if (i == 0)
                        $('input[name=' + inputName + ']').val(aData[i]);
                    else
                        $('input[name=' + name + ']').val(aData[i]);
                });
                popup.close();
            },
            "OnMouseOver": function (nRow) {
                $(nRow).css('cursor', 'pointer');
            },
            "OnMouseOut": function (nRow) {
                $(nRow).css('cursor', '');
            }
        });
    });
</script>