﻿@using bgTeam.IsRui.WebApp.Helpers
@model bgTeam.IsRui.WebApp.ViewModels.Admin.Dictionary.DictionaryViewModel

@{
    ViewBag.Title = "Справочники";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
                    //Layout = UserRepository.GetCurrent().Role.IsEq(RoleEnum.Operator) ? "~/Views/Shared/_Layout.cshtml" : "~/Views/Admin/_Layout.cshtml";
}

<h1>Справочники</h1>

<div>
    <table class="table_full">
        <tr>
            <td>
                @Html.Partial("Dictionary/DictionariesList", Model.Dictionaries)
            </td>
        </tr>
        <tr>
            <td>
                <div id="dictContainer">
                    @Html.Partial("Dictionary/Dictionary", Model.Dictionary)
                </div>
            </td>
        </tr>
    </table>
</div>

@if (TempData["SuccessMessage"] != null)
{
    <script type="text/javascript">
        notify.showSuccess(@Html.Json(TempData["SuccessMessage"]));
    </script>
}