﻿@using System.Data
@using bgTeam.IsRui.MKRF.DictyonaryEdit
@model bgTeam.IsRui.MKRF.DictyonaryEdit.MetaDictionary

@*<h3 style="display: inline-block; margin: 0 20px">@Model.Name</h3>*@
<div style="height: 25px; clear: both;"></div>
@if (Model.AddEnable)
{
    <div id="dictGridToolbar">
        @Html.ActionLink("Добавить", "DictionaryEdit", new { dictId = Model.ID }, new { @class = "command button" })
    </div>
}
<table class="grid" id="dictGrid" style="margin-top: 5px;">
    <thead>
        <tr>
            @foreach (var item in Model.Columns.Where(item => item.Value.Visible))
            {
                <th>@item.Value.Name</th>
            }
            @if (Model.DeleteEnable)
            {
                <th class="not-sortable not-searchable">&nbsp;</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow row in Model.Data.Rows)
        {
            var itemId = (int)row[Model.PrimaryKey.ColumnName];
            <tr data-id="@itemId" data-clicklink="@(Model.EditEnable ? Url.Action("DictionaryEdit", new { dictId = Model.ID, itemId }) : string.Empty)">
                @foreach (var col in Model.Columns.Where(col => col.Value.Visible))
                {
                    var refColumnName = DictionaryRepository.RefPrefix + col.Value.ColumnName;
                    var columnName = Model.Data.Columns.Contains(refColumnName) ? refColumnName : col.Value.ColumnName;
                    <td>@row[columnName]</td>
                }
                @if (Model.DeleteEnable)
                {
                    <td style="width: 55px;">
                        @Ajax.ActionLink("Удалить", "DictionaryDelete", new { dictId = Model.ID, itemId }, new AjaxOptions { HttpMethod = "Post", Confirm = "Вы действительно хотите удалить запись?", OnSuccess = "onDelete" }, new { @class = "command" })
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    function onDelete(response, status, data) {
        var _tr = $('tr[data-id="' + response.id + '"]');
        //_tr.remove();
        dictGrid.fnDeleteRow(_tr.get(0));
        notify.showSuccess(response.message);
    }

    $(function () {
        dictGrid = BuildDataTable($('#dictGrid'), {
            "toolbar": '#dictGridToolbar',
            "pagingPanel": true,
            "showDefaultFilter": true
        });
    });
</script>