﻿@using System.Data
@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.MKRF.DictyonaryEdit
@model bgTeam.IsRui.WebApp.ViewModels.Admin.Dictionary.DictionaryEditViewModel

@{
    //Layout = UserRepository.GetCurrent().Role.IsEq(RoleEnum.Operator) ? "~/Views/Shared/_Layout.cshtml" : "~/Views/Admin/_Layout.cshtml";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}

@if (TempData["SuccessMessage"] != null)
{
    <script type="text/javascript">
        notify.showWarning(@Html.Json(TempData["SuccessMessage"]));
    </script>
}
<div class="edit_form">
    <h2>@Model.Title</h2>
    @using (Html.BeginForm())
    {
        foreach (var col in Model.Columns.Values.Where(x => x.Visible))
        {
        <dl>
            <dt>
                <label for="@col.ColumnName">@col.Name</label>
            </dt>
            <dd>
                @switch (col.Type)
                {
                    case ColumnType.TBool:
                    <input name="@col.ColumnName" type="checkbox" @(Model.Data != null && Convert.ToBoolean(Model.Data[col.ColumnName]) ? "checked" : string.Empty) />
                        break;
                    case ColumnType.TString:
                    case ColumnType.TInt:
                    case ColumnType.TDecimal:
                    case ColumnType.TDateTime:
                    <input name="@col.ColumnName" type="text" value="@(Model.Data != null ? Model.Data[col.ColumnName] : string.Empty)" />
                        break;
                    case ColumnType.TBigString:
                    <textarea name="@col.ColumnName" rows="4" >@(Model.Data != null ? Model.Data[col.ColumnName] : string.Empty)</textarea>
                        break;
                    case ColumnType.TRef:
                        var refColumnName = DictionaryRepository.RefPrefix + col.ColumnName;
                    <input type="hidden" name="hf_@col.ColumnName" value="@(Model.Data != null ? Model.Data[col.ColumnName] : string.Empty)" />
                    <input type="text" name="@col.ColumnName" readonly="readonly" value="@(Model.Data != null ? Model.Data[refColumnName] : string.Empty)" />
                    <a id="bthChoise_@col.ColumnName" class="command">Выбрать</a>
                    <script type="text/javascript">
                        $(function () {
                            $('#bthChoise_@col.ColumnName').click(function () {
                                popup.popover({
                                    url: '@Url.Action("DictionaryChoose")?dictId=@col.Dictionary_ID&refDict=@col.RefId&refCol=@col.RefColumn&inputName=@col.ColumnName'
                                        });
                            });
                        });
                    </script>
                        break;
                    case ColumnType.TChild:
                    <input type="text" name="@col.ColumnName" readonly="readonly" value="@(Model.Data != null ? Model.Data[col.ColumnName] : string.Empty)" />
                        break;
                    default:
                        throw new NotSupportedException("Тип не поддерживается: " + col.Type);
                }
            </dd>
        </dl>
        }

        <div class="buttons">
            <div class="arrow_back">
                <span>←</span><a class="command" href="@Url.Action("Dictionaries", new { id = Model.DictId })" >Назад</a>
            </div>
            <button>Сохранить</button>
        </div>
    }
</div>