﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Activities/EditCard.master" AutoEventWireup="true" CodeBehind="Workflow.aspx.cs" Inherits="GB.MKRF.Web.Activities.Workflow" %>

<asp:Content ID="Content1" ContentPlaceHolderID="center" runat="server">
    <mod:StatusChangeControl2 ID="scc" runat="server" />
</asp:Content>
