﻿@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment hostingEnv
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Администрирование</title>

    @if (hostingEnv.EnvironmentName == "Debug")
    {
        <link rel="stylesheet" href="~/css/semantic.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <script src="~/lib/jquery/dist/jquery.js"></script>
    }
    @if (hostingEnv.EnvironmentName == "Release")
    {
        <link rel="stylesheet" href="~/wwwroot/css/semantic.min.css" />
        <link rel="stylesheet" href="~/wwwroot/css/site.css" />
        <script src="~/wwwroot/lib/jquery/dist/jquery.js"></script>
    }

</head>
<body>
    <header>
        <div class="page">
            <div class="headerTitle">
                @*<a class="item" href="@Url.Action("Index")">
                        <div id="logo"></div>
                    </a>*@
                <h1>Администрирование</h1>
            </div>

            <nav class="navMain">
                <ul class="navMainList">
                    <li><a class="item" href="@Url.Action("Editor", "AdminDic")">Справочники</a></li>
                    <li><a class="item" href="@Url.Action("GetAllUsers", "Admin")">Пользователи</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        <div class="page ">
            @RenderBody()
        </div>
    </div>

    @if (hostingEnv.EnvironmentName == "Debug")
    {
        <script src="~/lib/dataTables/jquery.dataTables.min.js"></script>
        <script src="~/lib/semantic/semantic.min.js"></script>
        <script src="~/js/site.js"></script>
    }

    @if (hostingEnv.EnvironmentName == "Release")
    {
        <script src="~/wwwroot/lib/dataTables/jquery.dataTables.min.js"></script>
        <script src="~/wwwroot/lib/semantic/semantic.min.js"></script>
        <script src="~/wwwroot/js/site.js"></script>
    }

    <script type="text/javascript">
        $(document).ready(function () {
            $(document).ajaxStart(function () {
                preloader.show();
            });

            $(document).ajaxStop(function () {
                preloader.hide();
            });
        });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
