﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    var exp = @Model.Exception.GetBaseException();
}

<h1 class="text-danger" style="color:#ff4747;">Error - @exp.HResult</h1>
<h2 class="text-danger errorText"><i>@exp.Message</i></h2>
<h2 class="text-danger">Stack Trace</h2>
<textarea rows="20">@exp.StackTrace</textarea>


