/* user login */
html {
  height: 100%;
}
.page-user-logins {
  background: #0372a9;
  background: -webkit-gradient(linear, to bottom, to top, color-stop(0%, #0372a9), color-stop(33%, #2789b9), color-stop(69%, #4099c5));
  background: -webkit-linear-gradient(to bottom, #0372a9 0%, #2789b9 33%, #4099c5 69%);
  background: -moz-linear-gradient(to bottom, #0372a9 0%, #2789b9 33%, #4099c5 69%);
  background: -o-linear-gradient(to bottom, #0372a9 0%, #2789b9 33%, #4099c5 69%);
  background: linear-gradient(to bottom, #0372a9 0%, #2789b9 33%, #4099c5 69%);
  /* restore password */
}
.page-user-logins .panel-display {
  width: 85%;
  max-width: 840px;
  margin: 60px auto 0;
  padding: 2% 6% 3% 6%;
  box-sizing: border-box;
  font-family: Arial,sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.31);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.31);
  background: #fff;
}
.page-user-logins .panel-display .form-item {
  margin-bottom: 1em;
}
.page-user-logins .panel-display .form-item label {
  display: none;
}
.page-user-logins .panel-display h2 {
  font-family: Verdana;
  font-size: 24px;
  font-weight: normal;
  color: #0372a9;
}
.page-user-logins .panel-display p {
  font-size: 14px;
}
.page-user-logins .panel-display .form-text {
  width: 100%;
  height: 35px;
  max-width: 560px;
  margin: 0;
  padding-left: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px #e8eff6 solid;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  resize: none;
  font-size: 13px;
  background-color: #f9fafb;
  -webkit-box-shadow: 0 0 1px #555555 inset;
  -moz-box-shadow: 0 0 1px #555555 inset;
  box-shadow: 0 0 1px #555555 inset;
  outline: none;
}
.page-user-logins .panel-display .description {
  padding-left: 15px;
  margin-top: 4px;
  font-size: 12px;
  color: #9b9b9b;
}
.page-user-logins .panel-display .form-actions {
  display: inline-block;
  width: 100%;
  max-width: 560px;
  margin-bottom: 1em;
  box-sizing: border-box;
  
}
.page-user-logins .panel-display .form-submit {
  display: inline-block;
  float: left;
  padding: 7px 15px;
  background: #40a3cb;
  font-size: 14px;
  line-height: 14px;
  border: none;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.page-user-logins .panel-display .form-submit:hover {
  opacity: 0.8;
  cursor: pointer;
}
.page-user-logins .panel-display .form-item-name .form-text {
  background: url("images/icon-person.png") no-repeat 10px 50%;
}
.page-user-logins .panel-display .form-item-pass .form-text {
  background: url("images/icon-lock.png") no-repeat 10px 50%;
}
.page-user-logins #edit-authorize {
  float: left;
  margin: 0 20px 9px 0;
}
.page-user-logins #edit-esia-link {
  float: right;
  font-size: 14px;
  padding-top: 3px;
}
.page-user-logins #edit-esia-link a {
  color: #0574aa;
}
.page-user-logins #edit-esia-link a:hover {
  opacity: 0.8;
}
.page-user-logins.page-user-password .panel-display .form-item-name .form-text {
  padding-left: 58px;
  background: url("images/icon-person-email.png") no-repeat 10px 50%;
}
.curved
{
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.esiabutton {
    background:none!important;
     border:none; 
     padding:0!important;
    
    /*optional*/
    font-family:arial,sans-serif; /*input has OS specific font-family*/
     color:#069;
     text-decoration:underline;
     cursor:pointer;
}