﻿/* Форма редактирования */

.form_edit
{
    margin: auto; 
    width: 100%;
    border-spacing: 0px 2px;
}

.form_edit_desc
{
    width: 270px;
    text-align: right;
    vertical-align:  middle;
}

.form_edit_desc_small
{
    width: 150px;
    text-align: right;
    vertical-align:  middle;
}

.form_edit_p3
{
    text-align: right;
    font-weight: bold;
    padding-right: 50px;
}

.form_edit_input
{
    vertical-align: top;
    padding-left: 10px;
}

.form_edit_head_block
{
    font-weight: bold;
    padding: 10px 5px 4px 20px;
    vertical-align: top;
    border-bottom: 1px solid #83bbf3;
}

.form_edit_section
{
    vertical-align: top;
    padding-bottom: 3px;
}

.form_edit_section div.text
{
    font-weight: bold;
    padding: 10px 3px 5px 20px;
}


/* Размер полей */
.selectcontrol,
td.form_edit_input table.dxeButtonEdit,
td.form_edit_input table.dxeTextBox,
td.form_edit_input table.dxeMemo,
td.form_edit_input table.dxucControl,
td.form_edit_input table.dxeButtonEdit_Aqua,
td.form_edit_input table.dxeTextBox_Aqua,
td.form_edit_input table.dxeMemo_Aqua,
td.form_edit_input table.dxucControl_Aqua,
td.form_edit_input td.selectentity
{
    width: 420px;
}

td.form_edit_input textarea
{
    height: 150px;
}

td.form_edit_input input
{
    
}

.ErorField td.selectcontrol,
.ErorField table.dxeTextBox,
.ErorField table.dxeButtonEdit,
.ErorField input[type="text"],
.ErorField textarea
{
    background-color: #FEE;
}

.dxeErrorCell,
.dxeErrorCell_Aqua
{
    color: #F00;
    font-size: 0.8em;
    font-style: italic;
    font-family: Arial,sans-serif;
    white-space: normal !important;
}

.form_edit_input .dxeTextBox td.dxic,
.form_edit_input .dxeButtonEdit td.dxic,
.form_edit_input .dxeTextBox_Aqua td.dxic,
.form_edit_input .dxeButtonEdit_Aqua td.dxic 
{
    padding: 5px 7px 5px 5px !important;
}
