/******* jCloud *******/
div#jcloud
{
    margin: 20px auto;
    background-color: #ffffff;
    border: 0px solid #000000;
    border-radius: 20px;
}
.jtag a:link, .jtag a:visited
{
    text-decoration: none;
    padding: 2px 4px;
    display: block;
}
.jtag a:hover
{
    border: 1px solid #999999;
    background-color: #ffffff;
}
