﻿/* Общие (Главные) */
body
{
    font: 0.84em Arial,Helvetica,sans-serif;
    background-color: #EFF6FE;
    color: #606060;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Выделение */
::selection,
body::selection, 
input::selection,
textarea::selection
{
    background: #DAF4F5;
    color: #006699;
}

.table_full
{
    width: 100%;
    border: 0px;
    border-collapse: collapse;

}

.table_not_border
{
    border: 0px;
    border-collapse: collapse;
}

.table_not_border td
{
    /*padding: 0px;*/
}


.page
{
    width: 1020px;
    margin: 0px auto;
}

.separator
{
    padding-bottom: 20px;
}


/*********************/
/*  Загаловок сайта  */
/*********************/

#header_flag 
{
    height: 154px;
    width: 471px;
    background: url('img/bg_header_flag.png') left top no-repeat;
    position: relative;
    top: -42px;
    float: right;
    left: 104px;
}

#header_left
{
    height: 110px;
    margin-left: 160px;
    background: url('img/bg_header.png') right top no-repeat;
}

#header_right
{
    width: 160px;
    height: 110px;
    margin-left: -160px;
    background: url('img/bg_header.png') left top no-repeat;
}

#header_content
{
    top: -110px;
    position: relative;
}



#login_logo
{
    height: 150px;
    background: url('img/login_logo.png') 50% 50% no-repeat;
}

#login_button
{
    width: 154px;
    height: 35px;
    display: block;
    background: url('img/login_button.png') left top no-repeat;
    position: absolute;
    top: 38px;
    right: 34px;
}


/***********/
/*  Футер  */
/***********/

#footer_img_1
{
    position: fixed;
    background: url('img/bg_footer.png') repeat-x;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 623px;
    z-index: -999;
}

#footer_img_2
{
    padding-top: 20px;
    background: url('img/bg_footer_img.png') no-repeat;
    width: 940px;
    height: 180px;
    z-index: -990;
    margin: 0 auto;
}

.none
{
    display: none;
}

#main_bloc
{
    /*width: 539px;*/
    height: 307px;
    background-image: url('img/main_pic.png');
    background-repeat: no-repeat;
    /*float: left;*/
}

#main_bloc_text
{
    margin-left: 570px;
    margin-right: 25px;
}

#main_bloc_text li
{
    padding: 2px 0;
}

/* Загаловки */

/*h1, h2 {
    margin: 0px;
}*/

h1, h2, h3 {
    font-weight: normal;
}

h2.top
{
    margin-top: 0px;
}

h2.next
{
    margin-top: 50px;
}

/* Ссылки */

a,
a.visited
{	
    color: #4782BA; /*#004990;*/
}

a:hover
{
    color: #F12938;
}

a.command
{
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    text-decoration: none !important;
    cursor: pointer;
}

a.disabled
{
    color: #A6A6A6 !important;
    cursor: default;
}

.round_panel
{
    border: 1px solid #a8d5e0;
    background-color: #ffffff;
            
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}







.curved
{
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.button_blue_big
{
    background: url('img/button_blue_big_sprite.png') no-repeat 0 0;
    border: 0;
    color: #fff;
    display: block;
    width: 160px;
    height: 45px;
    line-height: 44px;
    margin: 0 0 5px;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #222;
}

.button_blue_big:hover
{
    background-position: left -45px;
}

/* Панель - сообщение об ошибке */
#div_error_panel
{
    padding: 10px;
    margin: 10px 10px 10px 10px;
    font: 0.8em Verdana; /*border: 1px solid #FFC800;     background-color: #FFFBBA;     color: #FF3333;*/
    border: 1px solid #C00;
    background-color: #FCC;
    color: #606060;
}