﻿/* Главное меню */
/*#main_menu
{
    font-size: 1.2em;
    padding-top: 8px;
}

#main_menu ul {
    padding: 0;
    margin: 0;
}

#main_menu li {
    display:block;
    float:left;
    text-align: center;
}

#main_menu a {
    padding: 10px 10px;
}

#main_menu .current,
#main_menu a:hover {
    background-color: #DCDCDC;
}

#main_menu li span.comment
{
    display: block;
    font-size: 0.6em;
    padding-top: 10px;
    color: #F00;
    height: 14px;
}*/



.mainmenu_left
{
    background-image: url('img/mainmenu_left.png');
    width: 7px;
}

.mainmenu_centre
{
    background-image: url('img/mainmenu_centre.png');
    height: 44px;
}

.mainmenu_right
{
    background-image: url('img/mainmenu_right.png');
    width: 7px;
}

.mainmenu_centre ul
{
    margin: 0 0 0 0;
    padding: 0px;
    height: 38px;
}

.mainmenu_centre li
{
    float: left;
    display: block;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    
}

.mainmenu_centre li a
{
    font-weight: bold;
    text-decoration: none;
    color: #FFF;
    padding: 0 25px;
    border-right: solid 1px #2d94c7;
    height: 31px;
    padding-top: 4px;
    display: block;
}

.mainmenu_centre li a.row
{
    padding-top: 11px;
    height: 25px;
}

.mainmenu_centre a.current,
.mainmenu_centre a:hover 
{
    background:url("img/mainmenu-hover.gif") left top #15396c repeat-x;
}









#mainmenu2 {
    background:url("img/mainmenu-bg.png") left top #0d569c no-repeat;
    width:940px;
    height:46px;
    position:relative;
}
#mainmenu2 * {
    position:relative;
}
#mainmenu2 ul {
    display:block;
    overflow:hidden;
    height:36px;
    padding:4px 8px 0;
    margin:0;
}

#mainmenu2 li {
    display:block;
    border-right:solid 1px #2d94c7;
    float:left;
    height:36px;
    /*line-height:36px;*/
    text-transform:uppercase;
    font-weight:bold;
    text-align:center;
    font-size: 11px;
}
#mainmenu2 .m1 {width:140px}
#mainmenu2 .m2 {width:160px}
#mainmenu2 .m3 {width:180px}
#mainmenu2 .m4 {width:140px; border:none}
#mainmenu2 .m5 {width:150px}
#mainmenu2 .m7 {width:149px}


#mainmenu2 a {
    color:#fff;
    text-decoration:none;
    display:block;
    height:36px;
    width:100%;
    padding-top: 11px;
}

#mainmenu2 .m3 a,
#mainmenu2 .m4 a,
#mainmenu2 .m7 a,
#mainmenu2 .m5 a,
#mainmenu2 .m7 a,
#mainmenu2 .m2 a {
    padding-top: 4px;
}


#mainmenu2 a.current,
#mainmenu2 a:hover 
{
    background:url("img/mainmenu-hover.gif") left top #15396c repeat-x;
}

#analitics_menu a,
#analitics_menu span
{
    color: #4782ba;
    display: inline-block;
    padding: 4px 8px;
}

#analitics_menu .current
{
    color: #555;
    text-decoration: none;
    cursor: default;
    background-color: #eec;
}


/* ---------------------------- */
/* ------- Боковое меню ------- */
/* ---------------------------- */

.menuleft a
{
    display: inline-block;
    /*padding: 4px;
    padding-top: 8px; 
    margin-bottom: 7px;*/
    text-decoration: none;
    text-align: center;
    padding: 5px 20px;
}

.menuleft .current
{
    color: #555;
    text-decoration: none;
    cursor: default;
}



#filter_menu a
{
    margin-left: 10px;
}



#filter_menu .current
{
    color: #555;
    text-decoration: none;
    cursor: default;
    background-color: #eec;
    border: none;
    padding: 3px;
}


/*Новое меню для показа*/
.menuleft.passcardmenu {
    font-size: 12px;
    width: 210px;
}
.menuleft.passcardmenu ul {
    list-style:none;
    padding:0;
    position:relative;
    z-index:1;
    margin: 0;
}
.menuleft.passcardmenu ul li{
    /*padding-left:10px;*/
    margin:0;
    position:relative;
    z-index:1;
}
.menuleft.passcardmenu ul li:first-child
{
    border-left: none;
}
.menuleft.passcardmenu ul li a{
    text-align: left;
    margin-bottom: 0;
    padding: 4px;
}
.menuleft.passcardmenu ul.submenu {
    /*background: #fff;*/
    padding: 0;
    border-bottom: none;
    z-index: 2;
    left: 0px;
}
.menuleft.passcardmenu ul.submenu li {
    border: none;
    float: none;
    position: relative;
    z-index: 2;
}
.menuleft.passcardmenu ul.submenu li:before {
    content: "— ";
    float: left;
    margin-right: 5px;
}
.menuleft.passcardmenu ul.submenu li a {
    text-align: left;
    z-index: 2;
    padding: 2px;
}
.menuleft.passcardmenu ul li .current {
    color: #D11;
    font-weight: bold;
}

.menuleft.analyticsmenu ul {
    list-style:none;
    padding:0;
    position:relative;
    z-index:1;
    margin: 0;
}
.menuleft.analyticsmenu ul li{
    float:left;
    /*padding-left:10px;*/
    margin:0;
    border-left:1px solid #2d94c7;
    position:relative;
    z-index:1;
}
.menuleft.analyticsmenu ul li:first-child
{
    border-left: none;
}
.menuleft.analyticsmenu ul.submenu {
    display: none;
    position:absolute;
    background: #fff;
    padding: 0;
    border-bottom: none;
    box-shadow: 0 0 9px 1px #aaa;
    z-index: 2;
    left: 0px;
}
.menuleft.analyticsmenu ul.submenu li {
    border: none;
    float: none;
    position: relative;
    width: 250px;
    padding: 0 20px;
    z-index: 2;
}
.menuleft.analyticsmenu ul.submenu li a {
    text-align: left;
    z-index: 2;
}
.menuleft.analyticsmenu ul li .current {
    color: red;
}
