﻿
.panel
{
    /*width: 100%;*/
    border:0px; 
    border-collapse:collapse;
}

.panel td.paneltopl,
.panel td.paneltopm,
.panel td.paneltopr,
.panel td.panell,
.panel td.panelm,
.panel td.panelr,
.panel td.panelfotl,
.panel td.panelfotm,
.panel td.panelfotr
{
    padding:0px;
}

.panelsep
{
    height: 15px;
}

.panelhead
{
    margin-top: 7px;
}



.paneltopl
{
    background: url('img/paneltopl.png') no-repeat right;
    height: 50px;
    width: 25px;
}

.paneltopm
{
    background: url('img/paneltopm.png') repeat-x center;
    height: 2px;
    vertical-align: top;
    color: #004990;
}

.paneltopr
{
    background: url('img/paneltopr.png') no-repeat left;
    height: 50px;
    width: 25px;
}

.panell
{
    background: url('img/panell.png') repeat-y right;
    height: 2px;
    width: 25px;
}

.panelm
{
    background-color: #FFF;
}

.panelr
{
    background: url('img/panelr.png') repeat-y left;
    height: 2px;
    width: 25px;
}

.panelfotl
{
    background: url('img/panelfotl.png') no-repeat right;
    height: 25px;
    width: 25px;
}

.panelfotm
{
    background: url('img/panelfotm.png') repeat-x center;
    height: 2px;
}

.panelfotr
{
    background: url('img/panelfotr.png') no-repeat left;
    height: 25px;
    width: 25px;
}