﻿
/* Статусы */

span.status_1
{
}

span.status_2
{
    white-space: nowrap;
}

span.status_3
{
    color:Green;
}

span.status_4
{
    color:Red;
}

span.status_5
{
}


/* Главные кнопки в меню */

div#pers a {
    background-image: url("./App_Themes/link/linkpers.png");
}
div#gov a {
    background-image: url("./App_Themes/link/linkgov.png");
}
div#mks a {
    background-image: url("./App_Themes/link/linkmks.png");
}
div#service a {
    background-image: url("./App_Themes/link/linkservice.png");
}
div#pis a {
    background-image: url("img/button/PassportIS_button.png");
}
div#pikt a {
    background-image: url("img/button/PassportIKT_button.png");
}
div#gk a {
    background-image: url("img/button/GK_button.png");
}

div#analytic a {
    background-image: url("img/button/Analytic_button.png");
}


/* Кнопка удалить */

.button_delete_link
{
    background-image: url("img/grid_delete.png");     
    height: 10px;
    width: 10px;
}

.selectentity_sep
{
    /*margin-left: 7px;*/
    padding-left: 7px
}

.fileupload_sep
{
    margin-left: 7px;
}

.fileupload_item
{
    padding: 2px 0;
}

.fileupload_item_delete
{
    height: 16px;
    width: 16px;
    cursor: pointer;
    background-image: url("img/grid_delete.png");     
}

/* Отчёты */
.report_title
{
    margin: 0 auto;
    font-size: 16px;
    color: #3E576F; 
    margin-bottom: 10px; 
    font-family: Lucida Grande, Lucida Sans Unicode, Verdana, Arial, Helvetica, sans-serif;
}