﻿
/* Основное 
body
{
    font: 0.84em Arial,Helvetica,sans-serif;
    color: #606060;
    margin: 0;
    padding: 0;
}


.body_header
{
    padding-top: 40px;
}
*/
/*.page_content
{
    width: 960px;
    margin: 0px auto;
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2d2d2d;
   
    height: 30px;

    border-bottom: 1px solid #ddd;
    z-index: 999;
}

header .page_content
{
    padding-top: 5px;
}

#logo
{
    float: left; 
}
*/


/*footer
{
    height: 80px;
    margin-top: 20px;
    border-top: 1px solid #DDDDDD;
    background: #fff url('img/footer.png') repeat-x top left;
}

footer .page_content
{
    padding-top: 20px;
}

.copyright
{
    color: #6d6d6d;
    font-size: .85em;
}*/

/*---------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------*/

/*table 
{ 
    border-collapse: collapse; 
    border-spacing: 0px;
}*/

button
{
    margin: 0;
    padding: 7px 10px;
    line-height: 100%;
    cursor: pointer;
    color: #000;
    border: 1px solid #ACCEF0;
    background-color: #D7E8F8;
}


.button_panel
{
    padding-top: 20px;
    text-align: center;
}


/*#user_menu
{
    width: 100%;
    text-align: right;
}*/




/* Select entity control */
.selectcontrol
{
    float: left;
    /*background-color: #FEE;*/
    padding: 7px 0px;
}

.selectcontrol_text
{
    /*padding-left: 7px;*/
    padding-right: 10px;
}





.cancelselectlist
{
    padding-top: 10px;
}





/* Форма авторизации */
.form_auth
{
    /*border: 1px solid #C0C0C0;
    margin: 100px auto 0px;
    width: 380px;*/
}

.form_auth_img
{
    height: 80px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #C0C0C0;
}

.form_auth_table
{
    /*padding: 20px;*/
    width: 100%;
}

.form_auth_text
{
    color: #777;
    padding-left: 5px;
    text-align: left;
}

.form_auth_input
{
}

.form_auth_desc
{
    padding-left: 5px;
    padding-bottom: 5px;
    font-size: 8pt;
    color: #CCC;
    text-align: left;
}

.input_big
{
    font-size: 18px;
    height: 39px;
    line-height: 39px;
}

.form_auth_input_border input[type="text"],
.form_auth_input_border input[type="password"] {
    color: #7b8288;
    display: block;
    background: #fff;
    border: none;
    width: 100%;
}

.form_auth_input_border
{
    border: solid 1px #93afc9;
    border-radius: 3px;
    padding: 0 17px;
    background: #fff;
    position: relative;
    z-index: 100;
}

input::-webkit-input-placeholder {
    color:    #ccc;
}
input:-moz-placeholder {
    color:    #ccc;
} 









/* Панель - сообщение об ошибке */
#div_error_panel 
{
    padding: 10px;
    margin: 0px 10px 10px 10px;
    font: 0.8em Verdana;
    /*border: 1px solid #FFC800;
    background-color: #FFFBBA;
    color: #FF3333;*/
    border: 1px solid #C00;
    background-color: #FCC;
    color: #606060;
}

#form_edit #div_error_panel
{
    margin: 10px 0px;
}


/* Панель - информационное сообщение */
#div_info_panel 
{
    padding: 10px;
    margin: 0px 10px 10px 10px;
    font-family: Verdana;    
    /*border: 1px solid #C4C4FF;
    background-color: #FCFDFF;
    color: #5C5C5C;*/
    border: 1px solid #E5C200;
    background-color: #FFFFCC;
    color: #606060;
}

#div_main_panel 
{
    /*padding: 10px;*/
    margin: 0px;
    /*font-family: Verdana;    
    border: 1px solid #C4C4FF;
    background-color: #FCFDFF;
    color: #5C5C5C;*/
    border: 1px solid #a8d5e0;
    background-color: #ffffff;
    /*color: #004990;*/
    padding: 0 25px;
}

#form_edit #div_info_panel
{
    margin: 10px 0px;
}

.curved 
{
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    behavior: url(/App_Themes/Aqua/PIE.htc);
}


/* Панель над таблицой */
.grid_panel
{
    border-spacing: 0px;
    /*padding-top: 20px;*/
}

.grid_title
{
    padding-right: 10px;
    /*color: #606060;*/
}

h3.grid_title
{
    margin: 0px;
}

h3.popup_title
{
    margin: 0px;
}

.grid_button_add
{
    height: 45px;
    padding-left: 10px;
}

.grid_button_panel
{
    padding: 10px 0px;
    background-color: #d7e8f8;
    border: 1px solid #accef0;
    border-bottom-width: 0px;
}

.grid_button_panel ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

.grid_button_panel li
{
    display: inline-block;
    margin-left: 10px;
}


/* Ссылка возарата */
.dialog_back_arrow {
    color: #3F66A0;
    text-align: right;
    font-family: Times New Roman;
    font-size: 18px;
    padding-right: 4px;
}

.dialog_back_link
{
    padding-bottom: 1px;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    text-decoration: none !important;
}

.analytics_dialog_back_link
{
    display: initial !important;
    padding: 0 !important;
}

.popup_control_header
{
    height: 55px;
    padding-left: 20px;
}

.popup_control_header h3#header
{
    padding-left: 20px;
    font-weight: normal;
    margin: 0px;
}

.popup_control_footer
{
    height: 55px;
    padding-left: 20px;
}

/* Иконки */
.icon16 {
    font-size: 0;
    vertical-align: bottom;
    display: inline-block;
    height: 16px;
    width: 16px;
    background: transparent url('img/icons_16.png') no-repeat;
}

.icon_24
{
    display: inline-block;
    height: 24px;
    width: 24px;
    background: transparent url('img/icons_24.png') no-repeat;
}

.execute_task_icon
{
    background-position: 0 -24px;
}

.select_all_icon {
    background-position: 0 -864px;
    cursor: pointer;
}



/* Разное */
.display_none
{
    display: none !important;
}

.not_valid
{
    background-color: #FCC;
}

.dialog-backArrow {
    color: #3F66A0;
    text-align: right;
    font-family: Times New Roman;
    font-size: 18px;
    padding-right: 4px;
}

.delete
{
    color: #C00 !important;
}

.grid_mouseover
{
    background-color: #FBFCE7 !important;
    cursor: pointer;
}

/* DevExpress */
.dxgvTable,
.dxgvTable_Aqua {
    font: 0.9em Tahoma !important;
}

.form_auth table.dxeTextBox,
.form_auth table.dxeTextBox_Aqua {
    width: 100%;
}

.form_auth input.dxeEditArea,
.form_auth input.dxeEditArea_Aqua {
    font-size: 11pt;
    font-weight: bold;
    font-family: Verdana;
    height: 20px !important;
    padding: 3px 0px;
}

/* upload */
div.img_list_item
{
    width: 150px;
    padding: 10px 10px;
    text-align: center;
    float: left;
}

div.img_list_item img
{
    width: 150px;
    margin-bottom: 10px;
}

div.video_list_item
{
    width: 330px;
    padding: 10px 10px;
    text-align: center;
    float: left;
}

div.text_list_item
{
    /*padding-left: 7px;*/
    padding-right: 10px;
    float: left;
}

.dxeDisabled_Aqua,
.dxeReadOnly_Aqua
{
    border-color: #E0E0E0;
}

.dxeReadOnly_Aqua textarea
{
    overflow:auto !important;
}

.HiddenListBoxContainer
{
    display: none !important;
}


/* Размер полей */
/*.selectcontrol,
td.form_edit_input table.dxeButtonEdit,
td.form_edit_input table.dxeTextBox,
td.form_edit_input table.dxeMemo,
td.form_edit_input table.dxucControl,
td.form_edit_input table.dxeButtonEdit_Aqua,
td.form_edit_input table.dxeTextBox_Aqua,
td.form_edit_input table.dxeMemo_Aqua,
td.form_edit_input table.dxucControl_Aqua,
td.form_edit_input table.dxeListBox_Aqua
{
    width: 420px;
}

td.form_edit_input textarea
{
    height: 100px;
}*/

/*td.form_edit_input input[type="text"],
td.form_edit_input textarea,
td.form_edit_input select
{
    border: 1px solid;
    border-color: #6a6a6a #939393 #adadad;
    padding: 4px;
    margin: 0px;
    width: 420px; 
    max-width: 420px;   
}

td.form_edit_input input[readonly="readonly"]
{
    border-color: #ededed;
}*/


.ErorField td.selectcontrol,
.ErorField table.dxeTextBox,
.ErorField table.dxeButtonEdit,
.ErorField input[type="text"],
.ErorField textarea
{
    background-color: #FEE;
}

.dxeErrorCell,
.dxeErrorCell_Aqua
{
    color: #F00;
    font-size: 0.8em;
    font-style: italic;
    font-family: Arial,sans-serif;
    white-space: normal !important;
}


.form_edit_input .dxeTextBox td.dxic,
.form_edit_input .dxeButtonEdit td.dxic,
.form_edit_input .dxeTextBox_Aqua td.dxic,
.form_edit_input .dxeButtonEdit_Aqua td.dxic,
.form_edit_input .dxucTextBox_Aqua
{
    padding: 5px 7px 5px 5px !important;
}


/* Список задач */
.task_head
{
    display: block;
    font-size: 1.2em;
color: #999;
}

.task_body
{
    display: block;
    padding: 10px 0px;
    font-size: 1.2em;
}

.task_date
{
color: #999;
}

.task_red
{
    /*background-color: #f33;
    color: #fff;
    padding: 4px 7px;*/
    white-space: nowrap;
    color: #f33;
    padding-left: 10px;
    font-weight: bold;
    font-size: 1.1em;
}

.task_yellow
{
    /*background-color: Yellow;
    color: #888;
    padding: 4px 7px;*/
    white-space: nowrap;
    color: #165c9c;
    padding-left: 10px;
    font-weight: bold;
    font-size: 1.1em;
}

.task_execute
{
    float: left;
}


div.link a {
    background-position: left top;
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 26px;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 121px;
}
div.link a.not_active
{
    cursor: default;
    background-position: left -26px;
}

div.linkstart a {
    margin-left: 80px;
}
div.linkend a {
    margin-right: 0;
}
div.link a:hover
{
    /*border-bottom-style: dotted;
    border-width: 1px;*/
}
div.link a.not_active:hover 
{
    /*background-position: left -26px;
    border: none;*/
}




#filter_panel
{
    color: #555;
    background-color: #eec;
    padding: 10px;
}



