﻿@model bgTeam.AdminDB.Web.Models.EditorViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Справочники</h1>

<div style="display: flex; justify-content: space-between;">
    @Html.DropDownListFor(x => x.Dictionary, Model.DictionaryList, new { @class="search" })
    <a class="command button" onclick="addNewItem();">Добавить</a>
</div>

<div>
    <input id="gridSearch" type="text" style="width: 100%; margin: 10px 0;" placeholder="Поиск" />
</div>

<div id="dictTableContainer">
</div>

@section scripts {
    <script type="text/javascript">
        var dictTable = null;

        function tableTrClickInit() {
            $('#dictGrid tr').click(function (event) {
                if (event.target.localName == 'td') {
                    var link = $(this).attr('data-clicklink');
                    window.location = link;
                }
            });
        }

        function tableGetData(dictId) {
            $.ajax({
                url: '@Url.Action("EditorTable")',
                type: 'get',
                cache: false,
                data:
                {
                    DictId: dictId
                },
                success: function (res) {
                    $('#dictTableContainer').html(res);
                    tableTrClickInit();
                    dictTable = $('#dictGrid').DataTable(defaultTableConfig);
                },
                error: errorBaseHandler
            });
        }

        function tableDeleteItem(dictId, itemId) {

            if (!confirm("Вы действительно хотите удалить запись?"))
                return;

            $.ajax({
                url: '@Url.Action("EditorItemDelete")',
                type: 'post',
                data:
                {
                    DictId: dictId,
                    ItemId: itemId
                },
                success: function (res) {
                    if (res.result) {
                        var _tr = $('tr[data-id="' + res.id + '"]');
                        _tr.remove();
                        notify.showSuccess('Запись удалена');
                    }
                },
                error: errorBaseHandler
            });
        }

        function addNewItem()
        {
            var dictId = $("#Dictionary option:selected").val();

            window.location = '@Url.Action("EditorCardEdit")' + '?dictId=' + dictId;
        }
                

        $("#Dictionary").change(function () {
            var dictId = $("#Dictionary option:selected").val();

            tableGetData(dictId);
        });

        $(document).ready(function () {
            //tableGetData(@Model.Dictionary);

            $('#Dictionary').dropdown();

            $('#gridSearch').keyup(function (e) {
                if (dictTable)
                    dictTable.search(this.value).draw();
            });
        });
    </script>
}
