﻿@using bgTeam.AdminDB.Web
@using bgTeam.AdminDB.Web.Domain
@model bgTeam.AdminDB.Web.Models.EditorCardEditViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="edit_form">
    @using (Html.BeginForm())
    {
        foreach (var col in Model.Columns)
        {
            <dl>
                <dt>
                    <label for="@col.ColumnName">@col.Name</label>
                </dt>
                <dd>
                    @if (col.Name == AppSettings.PRIMARY_KEY)
                    {
                        <input name="@col.ColumnName" type="text" value="@Model.Data[col.ColumnName]" readonly />
                    }
                    else
                    {
                        switch (col.Type)
                        {
                            case MetaColumnTypeEnum.TBool:
                            <input name="@col.ColumnName" type="checkbox" @(Model.Data[col.ColumnName] != DBNull.Value && Convert.ToBoolean(Model.Data[col.ColumnName]) ? "checked" : string.Empty) />
                                break;
                            case MetaColumnTypeEnum.TString:
                            case MetaColumnTypeEnum.TInt:
                            case MetaColumnTypeEnum.TDecimal:
                            case MetaColumnTypeEnum.TDateTime:
                            <input name="@col.ColumnName" type="text" value="@Model.Data[col.ColumnName]" />
                                break;
                            case MetaColumnTypeEnum.TBigString:
                            <textarea name="@col.ColumnName" rows="4">@Model.Data[col.ColumnName]</textarea>
                                break;
                            case MetaColumnTypeEnum.TRef:
                                var refColumnName = "RF" + col.ColumnName;
                            <div id="wrap_@col.ColumnName"></div>
                            <script type="text/javascript">
                                $(document).ready(function () {
                                    loadRefField('@col.ColumnName', @col.RefId , @col.RefColumn, '@Model.Data[col.ColumnName]');
                                });
                            </script>
                                break;
                            case MetaColumnTypeEnum.TChild:
                            <input type="text" name="@col.ColumnName" readonly="readonly" value="@(Model.Data != null ? Model.Data[col.ColumnName] : string.Empty)" />
                                break;
                            default:
                                throw new NotSupportedException("Тип не поддерживается: " + col.Type);
                        }
                    }
                </dd>
            </dl>
        }

        <div class="buttons">
            <a class="command button gray" onclick="backPage()">Назад</a>
            @if (!Model.ReadOnly)
            {
                <div></div>
                <button>Сохранить</button>
            }
        </div>
    }
</div>

@section scripts
{
    <script type="text/javascript">
        function backPage()
        {
            window.location = '@Url.Action("Editor", new { dictId = Model.DictId })'
        }

        function loadRefField(column, dictId, fieldNameId, value) {

            if(!value)
                value = "-2147483648";
                
            $.ajax({
                url: '@Url.Action("EditorCardEditRefField")',
                type: 'get',
                cache: false,
                data:
                {
                    DictId: dictId,
                    FieldNameId: fieldNameId,
                    Column: column
                },
                success: function (res) {
                    $('#wrap_' + column).html(res);
                    $('#select_' + column).val(value);
                    $('#select_' + column).dropdown();
                },
                error: errorBaseHandler
            });
        }
    </script>
}

