﻿@model LogStream.Megafon.Oco.EditorDirectories.Home.ViewModel.SignatureGroupListViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>    
    <a class="button" onclick="addSignatory()">Добавить</a>          
</div>

<div class="filterBox">
    @Html.DropDownListFor(x => x.DocTypeId, Model.DocTypeList, new { @class = "form" })
    <span></span>
    @Html.DropDownListFor(x => x.DivisionId, Model.DivisionList, new { @class = "form" })
</div>

<div id="dictTableContainer">
    <table id="dictGrid" class="dataTable" style="display:none; width:100%">
        <thead>
            <tr>
                <th></th>                
                <th></th>
                <th>Пользователь/роль/группа</th>                
                <th>Группа в CS</th>                
                <th>Позиция</th>
                <th>Срок рассмотрения, ч.</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model.List)
            {
                <tr data-id="@row.SYSTEM_ID" data-clicklink="@(Url.Action("SignatureGroupEdit", new { id = row.SYSTEM_ID }))">
                    <td>@row.DOCTYPE_ID</td>                    
                    <td>@row.DIVISION_ID</td>  
                    <td>@Model.GetSignatoryName(row)</td>                  
                    <td>@row.DIVISIONGROUP</td>                    
                    <td>@row.POSITION</td>
                    <td>@row.TIME_FOR_CONSIDERATION</td>
                    <td style="width: 55px;">
                        <a class="deletebutton" onclick="tableDeleteItem(@row.SYSTEM_ID)">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts {
    <script type="text/javascript">
        var dictTable = null;

        function tableTrClickInit() {
            $('#dictGrid tr').click(function (event) {
                if (event.target.localName == 'td') {
                    var link = $(this).attr('data-clicklink');
                    window.location = link;
                }
            });
        }

        function tableDeleteItem(itemId) {

            if (!confirm("Вы действительно хотите удалить запись?"))
                return;

            $.ajax({
                url: '@Url.Action("SignatureGroupItemDelete")',
                type: 'post',
                data: { id: itemId },
                success: function (res) {
                    if (res.result) {
                        var _tr = $('tr[data-id="' + res.id + '"]');
                        _tr.remove();
                    }
                },
                error: errorBaseHandler
            });
        }

        function addSignatory() {

            var docTypeId = $('#DocTypeId').val();
            var divisionId = $('#DivisionId').val();
            
            window.location.href = "@Url.Action("SignatureGroupEdit")" + "?docTypeId=" + docTypeId + "&divisionId=" + divisionId;
        }

        $(document).ready(function () {
            tableTrClickInit();

            defaultTableConfig.columnDefs = [
                { targets: '_all', orderable: false },
                { targets: 0, visible: false },
                { targets: 1, visible: false },
            ]

            dictTable = $('#dictGrid').DataTable(defaultTableConfig);

            $('#DocTypeId').dropdown();
            $('#DivisionId').dropdown();

            dictTable.column(0).search($('#DocTypeId').val()).draw();
            dictTable.column(1).search($('#DivisionId').val()).draw();

            $('#dictGrid').show();

            $('#DocTypeId').change(function (e) {
                if (dictTable)
                    dictTable.column(0).search(this.value).draw();
            });

            $('#DivisionId').change(function (e) {
                if (dictTable)
                    dictTable.column(1).search(this.value).draw();
            });
        });
    </script>
}


