﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/highcharts.js"></script>
@*<script src="http://code.highcharts.com/modules/exporting.js"></script>*@

<div class="l_ouview-wrapper l_analytics">
    <div class="ouview-content-wrap clearfix">
        @*<div class="ouview-content">*@
            <div class="ouview-container z-depth-1">
                @RenderBody()
            </div>
        @*</div>*@
    </div>
</div>




@section scripts
{
    @RenderSection("scripts", required: false)
}


