﻿@using bgTeam.IsRui.WebApp.Helpers
@model bgTeam.IsRui.WebApp.ViewModels.Analytics.AnalyticsViewModel
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Analytics/_LayoutAnalytics.cshtml";
}

<div class="analytics-header">
    <h1>Подразделение</h1> 
    <div class="analytics-select">
        @Html.DropDownList(m => m.DepartmentId, Model.DepartmentList, null)
    </div>
</div>

<div id="chart" style="width:100%;height:600px"></div>

@section scripts
{
    <script type="text/javascript">
    
        function BuildChart(res) {                        
            var colors = Highcharts.getOptions().colors,
            categories = res.IKTNames,
            rootData = [],
            childsData = [],
            aoData = [],
            i,
            j,
            k,
            dataLen = res.Data.length,
            drillDataLen,
            childDataLen,
            brightness;


            // Build the data arrays
            for (i = 0; i < dataLen; i += 1) {

                // add root IS_OR_IKT data
                rootData.push({
                    name: categories[i],
                    y: res.Data[i].BalanceCost,
                    color: colors[i+3]
                });

                // add accounting objects data in root IS_OR_IKT and child IS_OR_IKT data
                drillDataLen = res.Data[i].Childs.length;
                for (j = 0; j < drillDataLen; j += 1) {
                    brightness = 0.2 - (j / drillDataLen) / 5;
                    childsData.push({
                        name: res.Data[i].Childs[j].Name,
                        y: res.Data[i].Childs[j].Cost,
                        color: Highcharts.Color(colors[i+3]).brighten(brightness).get()
                    });

                    // add accounting objects data in child IS_OR_IKT
                    childDataLen = res.Data[i].Childs[j].ObjectsNames.length;
                    for (k = 0; k < childDataLen; k += 1)
                    {
                        brightness = 0.2 - (k / childDataLen) / 5;
                        aoData.push({
                            name: res.Data[i].Childs[j].ObjectsNames[k],
                            y: res.Data[i].Childs[j].BalanceValues[k],
                            color: Highcharts.Color(colors[i + 3]).brighten(brightness).get()
                        });
                    }
                }
            }

            // Create the chart
            $('#chart').highcharts({
                chart: {
                    type: 'pie'
                },
                title: {
                    text: '<b>Распределение расходов</b>'
                },
                subtitle: {
                    text: ''
                },
                yAxis: {
                    title: {
                        text: ''
                    }
                },
                plotOptions: {
                    pie: {
                        shadow: false,
                        center: ['50%', '50%'],
                    }
                },
                tooltip: {
                    valueSuffix: ''//'%'
                },
                series: [{
                    name: 'Справочником классификационных категорий',                    
                    data: rootData,
                    showInLegend: true,
                    size: '40%',
                    dataLabels: {
                        formatter: function () {
                            //return this.y > 5 ? this.point.name : null;
                        },
                        color: 'white',
                        distance: -30
                    }
                }, {
                    name: 'Подкатегории, объекты учета',
                    data: childsData,
                    size: '70%',
                    innerSize: '40%',
                    dataLabels: {
                        formatter: function () {                            
                            //return this.y > 1 ? '<b>' + this.point.name + ':</b> ' + this.y /*+ '%'*/ : null;
                        }
                    }
                }, {
                    name: 'Объекты учета',
                    data: aoData,
                    size: '80%',
                    innerSize: '70%',
                    dataLabels: {
                        formatter: function () {                            
                            return this.y > 0 ? '<b>' + this.point.name + ':</b> ' + this.y : null;
                        }
                    }
                }]
            });
        }

        function AjaxRequestForChartData() {
            $.ajax({
                url: '@Url.Action("DataForChart")',
                type: "post",
                data: {
                    id: $('#DepartmentId').val(),
                },
                success: function (result) {
                    BuildChart(result);                    
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus);
                    console.log(errorThrown);
                },
            });
        }

        $(window).on('load', function () {            
            AjaxRequestForChartData();

            $('#DepartmentId').change(function () {
                AjaxRequestForChartData();
            });
    });

    </script>
}