﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .testmenu li {
        float: left;
        padding-right: 20px;
    }
</style>

<div class="l_ouview-wrapper">
    <div class="ouview-container z-depth-1">
        <div class="ouview-content-wrap clearfix">
            <div class="ouview-content">

                <div class="testmenu">
                    <ul>
                        <li><a href="@Url.Action("Roles")">Роли</a></li>
                        <li><a href="@Url.Action("Users")">Пользователи</a></li>
                        <li><a href="@Url.Action("AccessRights")">Права доступа</a></li>
                        <li><a href="@Url.Action("StatusChange")">Изменение статуса</a></li>
                        <li><a href="@Url.Action("SiteMap")">Карта сайта</a></li>
                        <li><a href="@Url.Action("Dictionaries")">Справочники</a></li>
                    </ul>
                </div>

                @RenderBody()

                </div>
            </div>
        </div>
    </div>
