﻿@using bgTeam.IsRui.WebApp.Helpers
@model bgTeam.IsRui.WebApp.ViewModels.Admin.AccessToEntityViewModel
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.FormBegin())
{
    @Html.HiddenFor(m => m.Id)
    @Html.ValidationSummary(true)

    <dl>
        <dt>@Html.LabelFor(m => m.Role)</dt>
        <dd>@Html.DropDownList(m => m.Role, Model.RoleList, Model.ReadOnly)</dd>

        <dt>@Html.LabelFor(m => m.Status)</dt>
        <dd>@Html.DropDownList(m => m.Status, Model.StatusList, Model.ReadOnly)</dd>

        <dt>Доступ:</dt>
        <dd>
            <p>
                @Html.LabelFor(m => m.AccessRead)
                @Html.CheckBoxFor(m => m.AccessRead, Model.ReadOnly)
            </p>
            <p>
                @Html.LabelFor(m => m.AccessEdit)
                @Html.CheckBoxFor(m => m.AccessEdit, Model.ReadOnly)
            </p>
            <p>
                @Html.LabelFor(m => m.AccessDelete)
                @Html.CheckBoxFor(m => m.AccessDelete, Model.ReadOnly)
            </p>
            <p>
                @Html.LabelFor(m => m.AccessCreate)
                @Html.CheckBoxFor(m => m.AccessCreate, Model.ReadOnly)
            </p>
        </dd>

        <dt>@Html.LabelFor(m => m.Note)</dt>
        <dd>@Html.TextArea(m => m.Note, Model.ReadOnly)</dd>
    </dl>

    @Html.SaveButton("SaveForm(this)", Model.ReadOnly);
}
<style>
    .edit_form dl dd label {
        display: inline;
    }
</style>
<script>
    $("#Status").change(function (e) {
        var status = $(this).val();
        var flag = status != null && status != "";
        UpdateAccess(flag);
        $(flag ? '#AccessCreate' : '#AccessRead, #AccessEdit, #AccessDelete').prop('checked', false);
    });

    $("#AccessCreate").change(function (e) {
        var flag = e.target.checked;
        if (flag) {
            $('#AccessRead:enabled, #AccessEdit:enabled, #AccessDelete:enabled').prop('checked', flag);
        }
    });
    $("#AccessDelete").change(function (e) {
        var flag = e.target.checked;
        if (flag) {
            $('#AccessRead, #AccessEdit').prop('checked', flag);
        }
    });
    $("#AccessEdit").change(function (e) {
        var flag = e.target.checked;
        if (flag) {
            $('#AccessRead').prop('checked', flag);
        }
    });

    function UpdateAccess(flag) {
        $('#AccessCreate').prop('disabled', flag);
        $('#AccessRead, #AccessEdit, #AccessDelete').prop('disabled', !flag);
    }

    function SaveForm(s) {
        var form = $(s).closest('form');

        if (!form.valid())
            return false;

        var args = {
            Id: $("#Id").val(),
            EntityType: $("#Type").val(),
            AccessRead: $("#AccessRead:checked").val(),
            AccessEdit: $("#AccessEdit:checked").val(),
            AccessDelete: $("#AccessDelete:checked").val(),
            AccessCreate: $("#AccessCreate:checked").val(),
            RoleId: $("#Role").val(),
            StatusId: $("#Status").val(),
            Note: $("#Note").val(),
        }
        $.ajax({
            url: '@Url.Action("AccessRightEdit")',
            type: 'post',
            data: args,
            success: function (res) {
                notify.showResult(res);
                if (res.success)
                    Grid_afterEdit(res);
                popup.close();
            },
        });

        form.submit(function () {
            return false;
        });

        return false;
    }

    $(function () {
        var status = $("#Status").val();
        UpdateAccess(status != null && status != "");
    });
</script>