﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.ViewModels.Admin
@model AccessRightsViewModel
@{
    ViewBag.Title = "Права доступа";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}

<h1>@ViewBag.Title</h1>
<div style="margin: 10px">
    @Html.LabelFor(m => m.Type, "Тип объекта:")
    @Html.DropDownList(m => m.Type, Model.TypesList, null)
</div>

<div id="RightsContainer">
    @Html.Partial("AccessRightsTable", Model.AccessTable)
</div>

<script type="text/javascript">
    $("#Type").change(function () {
        var entityType = $(this).val();
        $.post('@Url.Action("GetAccessRights")', { entity: entityType }, function (data, success, response) {
            if (response.responseText == '') {
                $('#RightsContainer').html('');
            }
            else { $('#RightsContainer').html(data); }
        });
    });
</script>