﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.Helpers.Control
@using bgTeam.IsRui.WebApp.ViewModels.Admin
@model IList<TableAccessToEntity>

@Html.AddButton("OpenAccessEditPopup()")
@Html.Button("Обновить права доступа", "RefreshAccessRights()")

@Html.Table("Grid", Model,
new DataTableSettings<TableAccessToEntity>()
    .AddColumn(x => x.Role, searchable: true, sortable: true, selectable: true)
    .AddColumn(x => x.Status, searchable: true, sortable: true, selectable: true)
    .AddColumn(x => x.AccessText)
    .AddColumn(x => x.Note)
    .AddDeleteColumn(true),
new DataTablesConfig()
    .ShowFilter(true)
    .RowCount(20)
    .OnRowClick("OpenAccessEditPopup(nRow)"))

<script type="text/javascript">
    function OpenAccessEditPopup(nRow) {
        var tr = $(nRow);
        var id = tr.data('id');
        popup.popover({
            url: '@Url.Action("AccessRightEdit")',
            data: {
                entityType: $("#Type").val(),
                id: id
            }
        });
    }

    function RefreshAccessRights() {
        $.post('@Url.Action("RefreshAccessRights")', function (data, success, response) {
            notify.showResult(data);
        });
    };
</script>