﻿@using bgTeam.IsRui.WebApp.Helpers
@model bgTeam.IsRui.WebApp.ViewModels.Admin.RoleEditViewModel
@{
    ViewBag.Title = "Роль";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.FormBegin())
{
    @Html.HiddenFor(m => m.Id)

    <dl>
        <dt>@Html.LabelReq(m => m.Name)</dt>
        <dd>@Html.TextBox(m => m.Name, Model.ReadOnly)</dd>
        <dt>@Html.LabelFor(m => m.WebPage)</dt>
        <dd>@Html.TextBox(m => m.WebPage, Model.ReadOnly)</dd>
    </dl>

    @Html.SaveButton("SaveForm(this)", Model.ReadOnly);
}
<script>

    function SaveForm(s) {
        var form = $(s).closest('form');

        if (!form.valid()) {
            return false;
        }

        $.ajax({
            url: '@Url.Action("RoleEdit")',
            type: 'post',
            data: {
                Id: $("#Id").val(),
                Name: $("#Name").val(),
                WebPage: $("#WebPage").val(),
            },
            success: function (res) {
                notify.showResult(res);
                if (res.success)
                    Grid_afterEdit(res);
                popup.close();
            },
        });

        form.submit(function () {
            return false;
        });

        return false;
    }
</script>