﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.Helpers.Control
@using bgTeam.IsRui.WebApp.ViewModels.Admin
@model RoleViewModel
@{
    ViewBag.Title = "Роли";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}

<h1>@ViewBag.Title</h1>
@*@Html.AddButton("OpenRoleEditPopup()", Model.ReadOnly)*@

@Html.Table("Grid", Model.Items,
new DataTableSettings<TableRoles>()
    .AddColumn(x => x.Name, searchable: true, sortable: true)
    .AddColumn(x => x.WebPage)
    .AddColumn(new DataTablesDeleteColumn(!Model.ReadOnly)),
new DataTablesConfig()
    .OnRowClick("OpenRoleEditPopup(nRow)"))

<script type="text/javascript">

    function OpenRoleEditPopup(nRow) {
        var tr = $(nRow);
        var id = tr.data('id');

        popup.popover({
            url: '@Url.Action("RoleEdit")',
            data: {
                id: id
            }
        });
    }
</script>