﻿@model bgTeam.IsRui.WebApp.ViewModels.Admin.SiteMap.SiteMapToRoleEditViewModel
@using bgTeam.IsRui.WebApp.Helpers
@{
    ViewBag.Title = "Роль";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.FormBegin())
{
    @Html.HiddenFor(m => m.Id)

    <dl>

        <dt>@Html.LabelReq(m => m.RoleId)</dt>
        <dd>@Html.DropDownList(m => m.RoleId, Model.Roles, Model.ReadOnly)</dd>
    </dl>

    @Html.SaveButton("SaveForm(this)", Model.ReadOnly);
}
<script>

    function SaveForm(s) {
        var form = $(s).closest('form');

        if (!form.valid()) {
            return false;
        }

        $.ajax({
            url: '@Url.Action("SiteMapToRoleEdit")',
            traditional:true,
            type: 'post',
            data: {
                SiteMapId: @Model.SiteMapId,
                RoleId: $("#RoleId").val(),
            },
            success: function (res) {
                notify.showResult(res);
                if (res.success)
                    GridSiteMapToRole_afterEdit(res);
                popup.close();
            },
        });

        form.submit(function () {
            return false;
        });

        return false;
    }
</script>