﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.Helpers.Control
@using bgTeam.IsRui.WebApp.ViewModels.Admin.SiteMap
@model SiteMapViewModel
@{
    ViewBag.Title = "Карта сайта";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>

<table>
    <tr>
        <td>
            @Html.AddButton("OpenSiteMapEditPopup()", Model.ReadOnly)
            @Html.Button("Обновить меню", "RefreshSiteMap()")

            @Html.Table("Grid", Model.Items,
                new DataTableSettings<TableSiteMap>()
                    .IsTreeTable()
                    .AddColumn(x => x.Url)
                    .AddColumn(x => x.Controller)
                    .AddColumn(x => x.Action)
                    .AddColumn(x => x.Title)
                    .AddColumn(x => x.EditLink)
                    .AddColumn(new DataTablesDeleteColumn(!Model.ReadOnly)),
                new DataTablesConfig()
                    .PagingPanel(false)
                    .OnRowClick("LoadRoles(nRow)"))
        </td>

        @*//TODO: перенести стили в классы*@
        <td style="vertical-align: top;">
            <div id="SiteMapToRoleContainer">
                @Html.Partial("SiteMapToRoleTablePartial", Model.SiteMapToRole)
            </div>
        </td>
    </tr>
</table>
Если у страницы нет заданы права доступа то она доступна всем

<script type="text/javascript">

    function OpenSiteMapEditPopup() {
        popup.popover({
            url: '@Url.Action("SiteMapEdit")',
        });
    }

    function LoadRoles(nRow) {
        var tr = $(nRow);
        var id = tr.data('id');

        $.post('@Url.Action("GetSiteMapToRoles")', { siteMapId: id }, function (data, success, response) {
            if (response.responseText == '') {
                $('#SiteMapToRoleContainer').html('');
            }
            else { $('#SiteMapToRoleContainer').html(data); }
        });
    };

    function RefreshSiteMap() {
        $.post('@Url.Action("RefreshSiteMap")', function (data, success, response) {
            notify.showResult(data);
        });
    };

    // Highlight selected row
    $("#Grid tbody").on("mousedown", "tr", function () {
        $(".selected").not(this).removeClass("selected");
        if ($(this).hasClass("selected") == false)
            $(this).toggleClass("selected");
    });
</script>