﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.Helpers.Control
@using bgTeam.IsRui.WebApp.ViewModels.Admin.SiteMap
@model SiteMapToRoleViewModel

@Html.AddButton("OpenSiteMapToRoleEditPopup()")
@Html.Button("Скопировать дочерним", "CopyToChildren()")

@Html.Table("GridSiteMapToRole", Model.SiteMapToRoles,
    new DataTableSettings<TableSiteMapToRole>()
    .AddColumn(x => x.Name)
    .AddDeleteColumn(true),
new DataTablesConfig())

<script type="text/javascript">

    function OpenSiteMapToRoleEditPopup() {
        popup.popover({
            url: '@Url.Action("SiteMapToRoleEdit", new { siteMapId = Model.SiteMapId })',
        });
    }

    function CopyToChildren() {
        $.post('@Url.Action("CopyRolesToChildrenSiteMap", new { siteMapId = Model.SiteMapId })', function (data, success, response) {
            notify.showResult(data);
        });
    };
</script>