﻿@using bgTeam.IsRui.WebApp.Helpers
@model bgTeam.IsRui.WebApp.ViewModels.Admin.SiteMap.SiteMapEditViewModel
@{
    ViewBag.Title = "Страница сайта";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.FormBegin())
{
    @Html.HiddenFor(m => m.Id)

    <dl>
        <dt>@Html.LabelReq(m => m.Title)</dt>
        <dd>@Html.TextBox(m => m.Title, Model.ReadOnly)</dd>
        <dt>@Html.LabelReq(m => m.Url)</dt>
        <dd>@Html.TextBox(m => m.Url, Model.ReadOnly)</dd>
        <dt>@Html.LabelFor(m => m.Parent)</dt>
        <dd>@Html.SelectEntity(m => m.Parent, Url.Action("SiteMapList", "SelectList", new RouteValueDictionary() { { "exludeId", Model.Id } }), false, Model.ReadOnly, false)</dd>
    </dl>

    @Html.SaveButton("SaveForm(this)", Model.ReadOnly);
}
<script>

    function SaveForm(s) {
        var form = $(s).closest('form');

        if (!form.valid()) {
            return false;
        }

        $.ajax({
            url: '@Url.Action("SiteMapEdit")',
            type: 'post',
            data: {
                Id: $("#Id").val(),
                Title: $("#Title").val(),
                Url: $("#Url").val(),
                ParentId: $("#hf_Parent").val(),
            },
            success: function (res) {
                notify.showResult(res);

                //TODO: сделать нормально
                //if (res.success)
                //    Grid_afterEdit(res);
                //popup.close();

                location.reload();
            },
        });

        form.submit(function () {
            return false;
        });

        return false;
    }
</script>