﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.Helpers.Control
@using bgTeam.IsRui.WebApp.ViewModels.Admin
@model StatusChangeViewModel
@{
    ViewBag.Title = "Изменение статуса";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}

<h1>@ViewBag.Title</h1>
@Html.AddButton("OpenGridPopup()", Model.ReadOnly)

@Html.Table("Grid", Model.Items,
new DataTableSettings<TableStatusChange>()
    .AddColumn(x => x.Role, searchable: true, sortable: true, selectable: true)
    .AddColumn(x => x.From, searchable: true, sortable: true, selectable: true)
    .AddColumn(x => x.To, searchable: true, sortable: true, selectable: true)
    .AddColumn(new DataTablesDeleteColumn(!Model.ReadOnly)),
new DataTablesConfig()
    .ShowFilter(true)
    .RowCount(20)
    .OnRowClick("OpenGridPopup(nRow)"))

<script type="text/javascript">

    function OpenGridPopup(nRow) {
        var tr = $(nRow);
        var id = tr.data('id');
        popup.popover({
            url: '@Url.Action("StatusChangeEdit")',
            data: {
                id: id
            }
        });
    }
</script>