﻿@using bgTeam.IsRui.WebApp.Helpers
@model bgTeam.IsRui.WebApp.ViewModels.Admin.StatusChangeEditViewModel
@{
    ViewBag.Title = "Изменение статуса";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.FormBegin())
{
    <dl>
        <dt>@Html.LabelFor(m => m.Role)</dt>
        <dd>@Html.DropDownList(m => m.Role, Model.RoleList, null)</dd>

        <dt>@Html.LabelFor(m => m.From)</dt>
        <dd>@Html.DropDownList(m => m.From, Model.StatusList, null)</dd>

        <dt>@Html.LabelFor(m => m.To)</dt>
        <dd>@Html.DropDownList(m => m.To, Model.StatusList, null)</dd>
    </dl>

    @Html.SaveButton("SaveForm(this)", Model.ReadOnly);
}
<script>

    function SaveForm(s) {
        var form = $(s).closest('form');
        if (!form.valid())
            return false;

        $.ajax({
            url: '@Url.Action("StatusChangeEdit")',
            type: 'post',
            data: {
                Id: @Model.Id,
                FromId: $("#From").val(),
                ToId: $("#To").val(),
                RoleId: $("#Role").val(),
            },
            success: function (res) {
                notify.showResult(res);
                if (res.success)
                    Grid_afterEdit(res);
                popup.close();
            },
        });

        form.submit(function () {
            return false;
        });

        return false;
    }
</script>