﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.Helpers.Control
@using bgTeam.IsRui.WebApp.ViewModels.Admin
@model UserViewModel
@{
    ViewBag.Title = "Пользователи";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}

<h1>@ViewBag.Title</h1>
@Html.AddButton("OpenUserEditPopup()", Model.ReadOnly)

@Html.Table("Grid", Model.Items,
new DataTableSettings<TableUser>()
    .AddColumn(x => x.Login, searchable: true, sortable: true)
    .AddColumn(x => x.Roles)
    .AddColumn(x => x.FullName)
    .AddColumn(x => x.DepartmentName)
    .AddColumn(x => x.WorkPhone)
    .AddColumn(x => x.MobPhone)
    .AddColumn(x => x.IsEsia)
    .AddColumn(x => x.IsActive)
    .AddColumn(new DataTablesDeleteColumn(!Model.ReadOnly)),
new DataTablesConfig()
    .RowCount(100)
    .OnRowClick("OpenUserEditPopup(nRow)"))

<script type="text/javascript">

    function OpenUserEditPopup(nRow) {
        var tr = $(nRow);
        var id = tr.data('id');

        popup.popover({
            url: '@Url.Action("UserEdit")',
            data: {
                id: id
            }
        });
    }
</script>