﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.ViewModels
@model bgTeam.IsRui.WebApp.ViewModels.Admin.UserEditViewModel
@{
    ViewBag.Title = "Пользователь";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
<h2>@ViewBag.Title</h2>

@using (Html.FormBegin())
{
    @Html.HiddenFor(m => m.Id)

    <dl>
        <dt>@Html.LabelFor(m => m.IsActive)</dt>
        <dd>@Html.CheckBox(m => m.IsActive, Model.ReadOnly)</dd>

        <dt>@Html.LabelReq(m => m.Login)</dt>
        <dd>@Html.TextBox(m => m.Login, Model.ReadOnly)</dd>

        <dt>@Html.LabelFor(m => m.NewPassword)</dt>
        <dd>@Html.PasswordBox(m => m.NewPassword, Model.ReadOnly)</dd>

        <dt>@Html.LabelFor(m => m.ConfirmNewPassword)</dt>
        <dd>@Html.PasswordBox(m => m.ConfirmNewPassword, Model.ReadOnly)</dd>

        <dt>@Html.LabelReq(m => m.RoleIds)</dt>
        <dd>@Html.DropDownListMulti(m => m.RoleIds, Model.Roles, Model.ReadOnly)</dd>

        <dt>@Html.LabelReq(m => m.Surname)</dt>
        <dd>@Html.TextBox(m => m.Surname, Model.ReadOnly)</dd>

        <dt>@Html.LabelReq(m => m.Name)</dt>
        <dd>@Html.TextBox(m => m.Name, Model.ReadOnly)</dd>

        <dt>@Html.LabelFor(m => m.Middlename)</dt>
        <dd>@Html.TextBox(m => m.Middlename, Model.ReadOnly)</dd>

        <dt>@Html.LabelReq(m => m.DepartmentId)</dt>
        <dd>@Html.DropDownList(m => m.DepartmentId, Model.Departments, Model.ReadOnly)</dd>

        <dt>@Html.LabelFor(m => m.Email)</dt>
        <dd>@Html.TextBox(m => m.Email, Model.ReadOnly)</dd>

        <dt>@Html.LabelFor(m => m.WorkPhone)</dt>
        <dd>@Html.TextBox(m => m.WorkPhone, Model.ReadOnly)</dd>

        <dt>@Html.LabelFor(m => m.MobPhone)</dt>
        <dd>@Html.TextBox(m => m.MobPhone, Model.ReadOnly)</dd>
    </dl>

    @Html.SaveButton("SaveForm(this)", Model.ReadOnly);
}
<script>

    $(function () {
        @if (Model.Id == 0)
        {
            <text>

        $("#NewPassword").rules("add", {
            required: true,
            messages: {
                required: "@ValidateViewModel.RequiredText"
            }
        });

        $("#ConfirmNewPassword").rules("add", {
            required: true,
            messages: {
                required: "@ValidateViewModel.RequiredText"
            }
        });
            </text>
        }
    });

    function SaveForm(s) {
        var form = $(s).closest('form');

        if (!form.valid()) {
            return false;
        }

        $.ajax({
            url: '@Url.Action("UserEdit")',
            traditional: true,
            type: 'post',
            data: {
                Id: $("#Id").val(),
                IsActive: $("#IsActive").val(),
                Login: $("#Login").val(),
                NewPassword: $("#NewPassword").val(),
                RoleIds: $("#RoleIds").val(),
                Surname: $("#Surname").val(),
                Name: $("#Name").val(),
                Middlename: $("#Middlename").val(),
                DepartmentId: $("#DepartmentId").val(),
                Email: $("#Email").val(),
                WorkPhone: $("#WorkPhone").val(),
                MobPhone: $("#MobPhone").val(),
            },
            success: function (res) {
                notify.showResult(res);
                if (res.success)
                    Grid_afterEdit(res);
                popup.close();
            },
        });

        form.submit(function () {
            return false;
        });

        return false;
    }
</script>