﻿<%@ Master Language="C#" MasterPageFile="~/Main.Master" AutoEventWireup="true" CodeBehind="EditCard.Master.cs" Inherits="GB.MKRF.Web.Projects.EditCard" %>

<asp:Content ID="Content1" ContentPlaceHolderID="center" runat="server">
    <style>
        .panel_button {
            height: 4em;
            border: 1px solid #C0C0C0;
            border-top: 1px solid #EDEDED;
            background: #EDEDED;
            position: relative;
            top: -10px;
        }

        .save_button:hover {
            background-color: #399330 !important;
            border-color: #399330 !important;
        }

        .head_activity {
            font-size: 1.4em;
            font-weight: bold;
        }
    </style>

    <script type="text/javascript">
        ActiveMenuItem = 4;
    </script>

    <div class="page">
        <p>
            <dxe:ASPxLabel runat="server" CssClass="head_activity" ID="ProjectLabel" OnDataBinding="ProjectLabel_DataBinding" />
        </p>
        <dxtc:ASPxTabControl runat="server" ID="tc" ActiveTabIndex="0" TabAlign="Justify" Width="100%">
            <Tabs>
                <dxtc:Tab Text="Общие сведения" NavigateUrl="CommonData.aspx" />
                <dxtc:Tab Text="Основания" NavigateUrl="Reasons.aspx" />
                <%--<dxtc:Tab Text="Концепция проекта" NavigateUrl="#" />
                <dxtc:Tab Text="Показатели и индикаторы проекта" NavigateUrl="#" />
                <dxtc:Tab Text="Мероприятия по информатизации" NavigateUrl="#" />--%>
            </Tabs>
        </dxtc:ASPxTabControl>
        <div style="padding-top: 10px">
            <asp:ContentPlaceHolder ID="center" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </div>
</asp:Content>
