﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.Helpers.Control
@using bgTeam.IsRui.WebApp.ViewModels
@using bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.Master
@model bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.Master.AOGovServiceEditViewModel

<div class="popup_title">Перечень нормативных правовых актов</div>

@*@Html.AddButton("OpenGovServiceNPAEditPopup()", Model.ReadOnly)*@


@Html.Table("GridGovServicesNPA", Model.GovServicesNPA,
        new DataTableSettings<TableAOGovServicesNPA>()
            .AddColumn(x => x.Id, visible: false)
            .AddColumn(x => x.Name),
            //.AddColumn(new DataTablesDeleteColumn(!Model.ReadOnly)),
        new DataTablesConfig())

@*@Html.Hidden("GovServicesNPA-validate")
@Html.ValidationMessage("GovServicesNPA-validate")*@


@*<script>

    var _govServiceNPAEditPopup = new Popup(1000);
    var _gridGovServicesNPADisabled = false;

    $(function() {
        $("#GovServicesNPA-validate").rules("add", { OneOrMoreRows: true });
        AddValidatorsMethods();
    });


    function AddValidatorsMethods() {
        jQuery.validator.addMethod("OneOrMoreRows", function(value, element) {
            return _gridGovServicesNPADisabled || GridGovServicesNPA.fnGetData().length > 0;
        }, "@ValidateViewModel.OneOrMoreRows");
    }

    function OpenGovServiceNPAEditPopup(nRow) {

        if (_gridGovServicesNPADisabled)
            return;

        var tr = $(nRow);
        var id = tr.data('id');

        _govServiceNPAEditPopup.popover({
            url: '@Url.Action("AOGovServiceNPAEdit")',
            data: {
                aoGovServiceId: @Model.Id,
                id: id
            },
            onclose: AddValidatorsMethods, //popup переинициализирует валидатор, нужно инициализировать свои методы заново.
        });
    }

</script>*@
