﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.ViewModels
@model bgTeam.IsRui.WebApp.ViewModels.Shared.AOTypeAndKindViewModel


@*@Html.DropDownMD(m => m.TypeId, Model.TypeList, true, Model.ReadOnly)*@
@Html.DropDownMD(m => m.KindId, Model.KindList)

<script type="text/javascript">

    //$(function() {
        //$("#KindId").rules("add", { kind: true });
        //$('#KindId').prop("disabled", $('#KindId')[0].length == 1);
        //AddValidatorsMethods();
    //});


    @*function PopupClosed() {
        AddValidatorsMethods();
    }

    function AddValidatorsMethods() {
        jQuery.validator.addMethod("kind", function(value, element) {
            return value != undefined && (value != 0 || element.length == 1);
        }, "@ValidateViewModel.NotZeroValueText");
    }*@

    @*$('#TypeId').change(function () {
        $.getJSON('@Url.Action("IKTComponentGhild", "SelectList")/' + $(this).val(),
            function (data) {
                var res = '';
                $.each(data, function (i, item) {
                    if (item.Selected)
                        res += '<option selected="selected" value=' + item.Value + '>' + item.Text + '</option>';
                    else
                        res += '<option value=' + item.Value + '>' + item.Text + '</option>';
                });
                $('#KindId').html(res);

                $('#KindId').prop("disabled", $('#KindId')[0].length == 1);
                var validator = $("form").validate();
                validator.element('#KindId');
            });
    });*@

</script>