﻿@using bgTeam.IsRui.WebApp.Helpers
@model bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.AccountingObjectBase
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@Model.Title</h1>

@Html.Button("Мастер", "window.location ='" + @Model.UrlEdit + "';")

@RenderBody()
<div class="button_panel_block"></div>
<div class="button_panel">
    <div class="page" style="display: block;">
        <div class="change_status_panel">
            @foreach (var item in Model.GetNextStatusLinks())
            {
                @: @Html.AjaxLink(item)
            }
        </div>
        <div>
            @Html.Button("Комментировать", string.Concat("CommentListOpen()"))
        </div>
    </div>
</div>


@section scripts
{
    <script type="text/javascript">
        function ChangeStatus(id, type, status) {
            $.ajax({
                url: '@Url.Action("Change", "Status")',
                type: 'post',
                data: {
                    Id: id,
                    Type: type,
                    Status: status,
                },
                success: function(res) {
                    if (res.success) {
                        notify.showSuccess(res.message);
                        window.location = window.location.href;
                    } else
                        notify.showWarning(res.message);
                }
            });
        }
    </script>

    @RenderSection("scripts", required: false)
}