﻿@using bgTeam.IsRui.WebApp.Helpers
@model bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.ListBaseViewModel
@{
    ViewBag.Title = "Объекты учета";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="l_page-wrapper" al-app="itemsCtrl">
    <div class=" header">
    <h1><i class="icon-view-dashboard"></i>   Объекты учета</h1>
    <div class="search">
            <input al-value="search" type="text">
            <i class="material-icons">search</i>     
        </div>
    <div class="tab-block">
        <ul class="clearfix">
            @foreach (var tab in Model.Tabs)
            {
                @Html.Raw(tab)
            }
        </ul>
    </div>
    @Html.Raw(Model.AddNew)
    @*<a class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">add</i></a>*@
</div>

    <div class="content">
        <div class="filters">
            <div class="sorts">
                <span class="sort-label">Сортировка: </span>
                <ul class="sort-ul">
                    @*<li class="active"><i class="material-icons">keyboard_arrow_down</i> номер</li>
                    <li>наименование</li>
                    <li>стадия</li>*@
                    <li>
                        <div class="input-field col s12">
                            <select id="sortAscDesc">
                                <option value="0">-</option>
                                <option value="1">по возрастанию</option>
                                <option value="2">по убыванию</option>
                            </select>
                            <label>Цена</label>
                        </div>
                     </li>
                    <li>
                        <div class="input-field col s12">
                           @Html.DropDownList(m => m.StatusId, Model.StatusList, "Статус")
                        </div>
                    </li>
                </ul>
            </div>
            <div class="categories">
    <ul>
        <li al-css="active:currentFilter==='all'" al-click="sort('all')">Все</li>
        <li al-css="active:currentFilter==='favs'" al-click="sort('favs')">Избранные</li>
        @*<li al-css="active:currentFilter==='status'" al-click="sort('status')">@Html.DropDownMD(m => m.StatusId, Model.StatusList)</li>*@
        <!--<li>Последние редактированные</li>-->
                </ul>
            </div>
        </div>
        <div class="content-container">
            <ul class="flex-ul">
                @RenderBody()
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript">

    function CreateNew() {
        popup.popover({
            url: '@Url.Action("CommonDataCreate")'
        });
    }

</script>

@section scripts
{
    @RenderSection("scripts", required: false)
}


