﻿@model bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.StepBaseViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="b_sidebar">
    <div class="wizard-task-list">
        <ol>
            @foreach (var item in Model.MasterItems)
            {
                @Html.Raw(item)
            }

            @*<li class="completed"><i class="material-icons">check</i> Заполните общие сведения об объекте учета</li>
                <li class="completed"><i class="material-icons">check</i> Укажите основания для создания</li>
                <li class="completed"><i class="material-icons">check</i> Цели, назначение и область применения указаны</li>
                <li class="error"><i class="material-icons">clear</i> Выберите ответственных за ведение объекта учета</li>
                <li class="completed"><i class="material-icons">check</i> Заполните сведения о запланированном мероприятие</li>
                <li class="current">Заполните список необходимого технического оборудования</li>
                <li>Заполните список необходимого программного обеспечения</li>
                <li>Заполните список работ по созданию объекта учета</li>
                <li>Укажите функциональные характеристики объекта учета</li>
                <li>Добавьте сведения об информационном взаимодействии</li>*@
        </ol>
    </div>
</div>
<div class="l_wizard-wrapper">
    <div class="wizard-container z-depth-1">
        <div class="wizard-header">
            <div class="name left"><i class="icon icon-grid-icon"></i>@Model.BaseName (@Model.BaseStage)</div>
            <div class="status right">@Model.BaseStatus</div>
        </div>
        <div class="wizard-content-wrap clearfix">
            <div class="wizard-content">
                @RenderBody()
            </div>
            <div class="wizard-sidebar">
            </div>
            <br class="clearfix">
        </div>
    </div>
</div>

@section scripts
{
    @RenderSection("scripts", required: false)
}