﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.ViewModels.Shared
@model bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.AODecisionToCreateEditViewModel
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<h1>Решение о создании (закупке) ОУ</h1>

@using (Html.FormBegin())
{
    @Html.TextBoxMD(m => m.Name, true)
    @Html.TextBoxMD(m => m.Number)
    @Html.DateBoxMD(m => m.DateAdoption)
    @Html.TextBoxMD(m => m.ParticleOfDocument)
    @Html.FileUploadMD(m => m.FilesData, new FileUploadViewModel(Model.ReadOnly, "pdf, tiff, tif, jpg, rar, zip, doc, xls, docx, xlsx"), true)



    @*<dl>
        <dt>@Html.LabelReq(m => m.Name)</dt>
        <dd>@Html.TextBox(m => m.Name, Model.ReadOnly)</dd>

        <dt>@Html.LabelFor(m => m.Number)</dt>
        <dd>@Html.TextBox(m => m.Number, Model.ReadOnly)</dd>

        <dt>@Html.LabelFor(m => m.DateAdoption)</dt>
        <dd>@Html.DateBox(m => m.DateAdoption, Model.ReadOnly)</dd>

        <dt>@Html.LabelFor(m => m.FioSigner)</dt>
        <dd>@Html.TextBox(m => m.FioSigner, Model.ReadOnly)</dd>

        <dt>@Html.LabelFor(m => m.PostSigner)</dt>
        <dd>@Html.TextBox(m => m.PostSigner, Model.ReadOnly)</dd>

        <dt>@Html.LabelFor(m => m.FilesData)</dt>
        <dd>
            @Html.FileUpload(m => m.FilesData,
                new FileUploadViewModel(Model.ReadOnly, "pdf, tiff, tif, jpg, rar, zip, doc, xls, docx, xlsx"), Model.ReadOnly)
            @Html.ValidationMessage("FilesData-validate")
        </dd>
    </dl>*@

    @Html.SaveButton("SaveForm(this)")
}
    <script>

        $(function() {
            $("#FilesData-validate").rules("add",
            {
                required: true,
                messages: {
                    required: "Загрузите Файл",
                }
            });
        });

        function SaveForm(s) {
            var form = $(s).closest('form');

            if (!form.valid()) {
                return false;
            }

            $.ajax({
                url: '@Url.Action("AccountingDocEdit")',
                type: 'post',
                data: {
                    xId: @Model.Id,
                    AccountingObjectId: @Model.AccountingObjectId,
                    Name: $("#Name").val(),
                    Number: $("#Number").val(),
                    DateAdoption: $("#DateAdoption").val(),
                    ParticleOfDocument: $("#ParticleOfDocument").val(),
                    Url: null, //$("#Url").val(),
                    Files: FilesData.GetValue(),
                },
                success: function(res) {
                    notify.showResult(res);
                    if (res.success)
                        GridDocuments_afterEdit(res);
                    popup.close();
                },
            });

            form.submit(function() {
                return false;
            });

            return false;
        }
    </script>
