﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.Helpers.Control
@using bgTeam.IsRui.WebApp.ViewModels.AccountingObjects
@model ActivityListViewModel
@{
    Layout = "~/Views/AccountingObjects/_LayoutMaster.cshtml";
}

<h1>Добавьте сведения о запланированных мероприятиях по информатизации</h1>

@Html.AddButton("OpenActivityEditPopup()", Model.ReadOnly)
@Html.Table("GridActivityList", Model.Activities,
        new DataTableSettings<TableActivity>()
            .AddColumn(x => x.Name)
            .AddColumn(m => m.Year)
            .AddColumn(m => m.Type)
            .AddColumn(m => m.CostY0)
            .AddColumn(m => m.CostY1)
            .AddColumn(m => m.CostY2)
            .AddColumn(new DataTablesDeleteColumn(!Model.ReadOnly)),
        new DataTablesConfig()
        .OnRowClick("OpenActivityEditPopup(nRow)"))


@Html.Partial("_NextPrevStepsPartial")

@section scripts
{
    <script type="text/javascript">
        function OpenActivityEditPopup(nRow) {
            var tr = $(nRow);
            var id = tr.data('id');

            popup.popover({
                url: '@Url.Action("ActivityEdit")',
                data: {
                    AOId: @Model.Id,
                    id: id
                }
            });
        }

        function NextStep() {
            window.location = '@Url.Action(Model.Master.Next, RouteHelper.Merge(new {id = Model.Id}, Model.Master.NextParams))';
        }
    </script>
}