﻿@using bgTeam.IsRui.WebApp.Helpers
@model bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.Master.ActivityCreateViewModel
@{
    Layout = "~/Views/AccountingObjects/_LayoutMaster.cshtml";
}

@*<h1>Шаг @Model.Master.Position</h1>*@
<h1>@Model.Master.Title</h1>

@using (Html.FormBegin())
{
    @Html.HiddenFor(m => m.xId)
    
    @Html.TextBoxMD(m => m.Name)
    @Html.DropDownMD(m => m.Year, Model.YearList)
    @Html.TextBoxMD(m => m.Type, readOnly: true)
    @Html.TextBoxMD(m => m.VolY0)
    @Html.TextBoxMD(m => m.VolY1)
    @Html.TextBoxMD(m => m.VolY2)

    @Html.Partial("_NextPrevStepsPartial")
}

@section scripts
{

    <script>
        function NextStep(s) {
            var form = $(s).closest('form');
            if (!form.valid()) {
                return false;
            }

            $.ajax({
                url: '@Url.Action("ActivityCreate")',
                type: 'post',
                data: {
                    xId: $("#xId").val(),
                    AccountingObjectId: @Model.Id,

                    Name: $("#Name").val(),
                    Year: $("#Year").val(),

                    CostY0: $("#VolY0").val(),
                    CostY1: $("#VolY1").val(),
                    CostY2: $("#VolY2").val(),
                },
                success: function(response) {
                    if (response.success) {
                        window.location = '@Url.Action(Model.Master.Next, RouteHelper.Merge(new {id = Model.Id}, Model.Master.NextParams))';
                    } else
                        notify.showWarning(response.message);
                }
            });

            form.submit(function() {
                return false;
            });

            return false;
        }

        $(function() {
            $("#VolY0").numberMoney(2);
            $("#VolY1").numberMoney(2);
            $("#VolY2").numberMoney(2);
        });
    </script>

}