﻿@using bgTeam.IsRui.WebApp.Helpers
@model bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.Master.ActivityEditViewModel
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<h1>Мероприятие</h1>

@using (Html.FormBegin())
{
    @Html.HiddenFor(m => m.xId)
    
    @Html.TextBoxMD(m => m.Name, true)
    @Html.DropDownMD(m => m.Year, Model.YearList)
    @Html.DropDownMD(m => m.Type, Model.TypeList)
    @Html.TextBoxMD(m => m.VolY0)
    @Html.TextBoxMD(m => m.VolY1)
    @Html.TextBoxMD(m => m.VolY2)

    @Html.SaveButton("SaveActivity(this)")
}


    <script>
        function SaveActivity(s) {
            var form = $(s).closest('form');
            if (!form.valid()) {
                return false;
            }

            $.ajax({
                url: '@Url.Action("ActivityCreate")',
                type: 'post',
                data: {
                    xId: $("#xId").val(),
                    AccountingObjectId: @Model.AOId,

                    Name: $("#Name").val(),
                    Type: $("#Type").val(),
                    Year: $("#Year").val(),

                    CostY0: $("#VolY0").val(),
                    CostY1: $("#VolY1").val(),
                    CostY2: $("#VolY2").val(),
                },
                success: function(res) {
                    notify.showResult(res);
                    if (res.success) {
                        GridActivityList_afterEdit(res);
                        popup.close();
                    }
                }
            });

            form.submit(function() {
                return false;
            });

            return false;
        }

        $(function() {
            $("#VolY0").numberMoney(2);
            $("#VolY1").numberMoney(2);
            $("#VolY2").numberMoney(2);
        });
    </script>

