﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.Helpers.Control
@using bgTeam.IsRui.WebApp.ViewModels
@using bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.Master
@using bgTeam.IsRui.WebApp.ViewModels.Shared
@model  ActsOfAcceptanceEditViewModel

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<h1>Акт сдачи-приемки</h1>

@using (Html.FormBegin())
{
    @Html.TextBoxMD(m => m.DocName)
    @Html.TextBoxMD(m => m.DocNumber)
    @Html.DateBoxMD(m => m.DocDateAdoption)
    @Html.FileUploadMD(m => m.FilesData,
                new FileUploadViewModel(false, "pdf, tiff, tif, jpg, rar, zip, doc, xls, docx, xlsx"))
    @Html.TextBoxMD(m => m.Cost)
    @Html.DropDownMD(m => m.GovContractId, Model.GovContracts)


    <div class="popup_title">Связанные мероприятия</div>


    @Html.DropDownMD(m => m.ActivityType, Model.ActivityTypesList)

    @Html.AddButton("OpenActToActivityListsEditPopup()")
    @Html.Table("GridActToActivityList", Model.Activities,
    new DataTableSettings<TableActToAoActivity>()
        .AddColumn(x => x.Id, visible: false)
        .AddColumn(x => x.Name)
        .AddColumn(m => m.Year)
        .AddColumn(m => m.Type)
        .AddColumn(m => m.CostY0)
        .AddColumn(m => m.CostY1)
        .AddColumn(m => m.CostY2)
        .AddColumn(new DataTablesDeleteColumn(true)),
    new DataTablesConfig())
    
    @Html.Hidden("GridActToActivityList-validate")
    @Html.ValidationMessage("GridActToActivityList-validate")

    @Html.TextBoxMD(m => m.ReasonsWaitingResultsDeviation)

    @Html.SaveButton("SaveActOfAcceptanceForm(this)", Model.ReadOnly);
}
<script>
    $(function() {
        $("#Cost").moneyRur();
        $("#GridActToActivityList-validate").rules("add", { OneOrMoreRows: true });
        AddValidatorsMethods();
        SetEnabled();
    });

    function SaveActOfAcceptanceForm(s) {

        var form = $(s).closest('form');

        if (!form.valid()) {
            return false;
        }


        var data = JSON.stringify({ //'args':  
            //{
            xId: @Model.Id,
            AccountingObjectId: @Model.AccountingObjectId,
            DocName: $("#DocName").val(),
            DocNumber: $("#DocNumber").val(),
            DocDateAdoption: $("#DocDateAdoption").val(),
            Files: FilesData.GetValue(),
            Cost: $("#Cost").autoNumericGetLocal(),
            GovContractId: $("#GovContractId").val(),
            ReasonsWaitingResultsDeviation: $("#ReasonsWaitingResultsDeviation").val(),
            ActToActivityIds: GetActToActivityIdsInGrid(),
            ActivityType: $('#ActivityType').val()
            //}
        });

        $.ajax({
            url: '@Url.Action("ActsOfAcceptanceEdit")',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'post',
            data: data,
            success: function(res) {
                notify.showResult(res);
                if (res.success)
                    GridActs_afterEdit(res);
                _actsOfAcceptanceEditPopup.close();
            },
        });

        form.submit(function() {
            return false;
        });

        return false;
    }

    function GetActToActivityIdsInGrid(){
        var actToActivityIds = [];

        $.each(GridActToActivityList.fnGetData(), function(index, element) {
            var id = element[0];
            actToActivityIds.push(id);
        });

        return actToActivityIds;
    }

    function OpenActToActivityListsEditPopup() {
        popup.popover({
            url: '@Url.Action("AoActivities")',
            data: {
                actId: @Model.Id,
                aoId: @Model.AccountingObjectId,
                type: $('#ActivityType').val(),
                selectListCallback: "SaveActivities",
                }
        });
    }

    function SaveActivities(id) {
        $.ajax({
            url: '@Url.Action("AddActToAOActivity")',
            type: 'post',
            data: {
                ActId: @Model.Id,
                AoActivityId: id,
            },
            success: function(res) {
                notify.showResult(res);
                if (res.success) {
                    GridActToActivityList_afterEdit(res);
                }
            }
        });
    }


    function PopupClosed()
    {
        AddValidatorsMethods();
    }

    function AddValidatorsMethods() {
        jQuery.validator.addMethod("OneOrMoreRows", function(value, element) {
            return GridActToActivityList.fnGetData().length > 0;
        }, "@ValidateViewModel.OneOrMoreRows");
    }

    function GridActToActivityList_DeleteRow() {
        SetEnabled();
    }

    function GridActToActivityList_AddRow() {
        SetEnabled();        
    }

    function SetEnabled() {
        if ($('#ActivityType option').length < 2 || GridActToActivityList.fnGetData().length > 0) {
            $('#ActivityType').prop('disabled', 'disabled');
        } else {
            $('#ActivityType').prop('disabled', false);            
        }

        $('#ActivityType').material_select();
    }

</script>