﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.Helpers.Control
@using bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.Master
@model ActsOfAcceptanceViewModel
@{
    Layout = "~/Views/AccountingObjects/_LayoutMaster.cshtml";
}


@*<h2>Шаг @Model.Master.Position</h2>*@
<h1>@Model.Master.Title</h1>


@if (Model.ReadOnly)
{
    <div class="red-text">Добавьте государственные контракты    </div>
}

@Html.AddButton("OpenActEditPopup()", Model.ReadOnly)
@Html.Table("GridActs", Model.Acts,
            new DataTableSettings<TableActOfAcceptance>()
            .AddColumn(x => x.DocName)
            .AddColumn(x => x.DocNumber)
            .AddColumn(x => x.DocDateAdoption)
            .AddColumn(x => x.Cost)
            .AddColumn(x => x.FileLink)
            .AddColumn(new DataTablesDeleteColumn(true)),
    new DataTablesConfig()
        .OnRowClick("OpenActEditPopup(nRow)"))

@Html.Partial("_NextPrevStepsPartial")

@section scripts
{

    <script type="text/javascript">

        var _actsOfAcceptanceEditPopup = new Popup(40);

        function OpenActEditPopup(nRow) {
            var tr = $(nRow);
            var id = tr.data('id');

            _actsOfAcceptanceEditPopup.popover({
                url: '@Url.Action("ActsOfAcceptanceEdit")',
                data: {
                    accountingObjectId: @Model.Id,
                    id: id
                }
            });
        }

        function NextStep() {
            $.post('@Url.Action("FormingBalanceCost")',
                {
                    id: @Model.Id,
                },
                function(res) {
                    if (res.success) {
                        window.location = '@Url.Action(Model.Master.Next, new {id = Model.Id})';
                    } else {
                        notify.showResult(res);
                    }
                });
        }

    </script>
}