﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.ViewModels.Shared
@model bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.Master.AdoptionBudgetViewModel
@{
    Layout = "~/Views/AccountingObjects/_LayoutMaster.cshtml";
}

@*<h2>Шаг @Model.Master.Position</h2>*@
<h1>Заполните сведения о принятии к бюджетному учету</h1>


@using (Html.FormBegin())
{
    @Html.DateBoxMD(m => m.AdoptionBudgetDate)
    @Html.SelectEntityMD(m => m.BK_GRBS, Url.Action("DictionaryDateTime", "SelectList", new RouteValueDictionary() { { "type", "GRBS" } }))
    @Html.SelectEntityMD(m => m.BK_PZRZ, Url.Action("DictionaryDateTime", "SelectList", new RouteValueDictionary() { { "type", "SectionKBK" } }))    
    @Html.SelectEntityMD(m => m.BK_CSR, Url.Action("DictionaryDateTime", "SelectList", new RouteValueDictionary() { { "type", "CSR" } }))
    @Html.SelectEntityMD(m => m.BK_WR, Url.Action("DictionaryDateTime", "SelectList", new RouteValueDictionary() { { "type", "WorkForm" } }))

    @Html.TextBoxMD(m => m.BalanceCost)   

    <h1>Документ основание</h1>
    
    @Html.TextBoxMD(m => m.DocName)
    @Html.TextBoxMD(m => m.DocNumber)
    @Html.DateBoxMD(m => m.DocDateAdoption)
    @Html.TextBoxMD(m => m.DocParagraph)
    @Html.FileUploadMD(m => m.FilesData, new FileUploadViewModel(Model.ReadOnly, "pdf, tiff, tif, jpg, rar, zip, doc, xls, docx, xlsx"))

    @Html.Partial("_NextPrevStepsPartial")
}

<script type="text/javascript">
    $(function() {
        $("#BalanceCost").numberMoney(2);
    });


    function NextStep(s) {

        var form = $(s).closest('form');

        if (!form.valid()) {
            return false;
        }

        $.ajax({
            url: '@Url.Action("AdoptionBudget")',
            type: 'post',
            data: {
                xId: 0,
                AccountingObjectId: @Model.Id,
                AdoptionBudgetDate:  $("#AdoptionBudgetDate").val(),
                BK_GRBS: $("#hf_BK_GRBS").val(),
                BK_PZRZ: $("#hf_BK_PZRZ").val(),
                BK_CSR: $("#hf_BK_CSR").val(),
                BK_WR: $("#hf_BK_WR").val(),
                BalanceCost:  $("#BalanceCost").val(),
                Name:  $("#DocName").val(),
                Number:  $("#DocNumber").val(),
                DateAdoption:  $("#DocDateAdoption").val(),
                Paragraph: $("#DocParagraph").val(),
                Files: FilesData.GetValue(),
            },
            success: function (res) {
                if (res.success) {
                    window.location = '@Url.Action(Model.Master.Next, new {id = Model.Id})';
        }
        else
            notify.showWarning(res.message);
    },
    });

    form.submit(function () {
        return false;
    });

    return false;
    }
</script>
