﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.Helpers.Control
@using bgTeam.IsRui.WebApp.ViewModels.AccountingObjects
@model bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.Master.AoActivitiesViewModel
@{
    Layout = "~/Views/SelectList/_LayoutSelect.cshtml";
}

<h2>Мероприятия</h2>

@Html.Table("GridActivitySelect", Model.Data,
    new DataTableSettings<TableActivity>()
        .AddColumn(x => x.Name)
        .AddColumn(m => m.Year)
        .AddColumn(m => m.Type)
        .AddColumn(m => m.CostY0)
        .AddColumn(m => m.CostY1)
        .AddColumn(m => m.CostY2),
new DataTablesConfig()
    .OnRowClick("OnClickSelectRow(nRow)"))

<script>
    function OnClickSelectRow(nRow) {
        var tr = $(nRow);
        var id = tr.data('id');
        (@Model.SelectListCallback)(id);
        popup.closeContainer(nRow);

        //Вызываем функцию (если такая определена) по закрытию Popupa
        if(typeof(PopupClosed) === "function") {
            PopupClosed();
        }
    }
</script>
