﻿@using bgTeam.IsRui.WebApp.Helpers
@model bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.Master.AOGovServiceNPAEditViewModel
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<h1>Нормативный правовой акт</h1>

@using (Html.FormBegin())
{
        @Html.TextBoxMD(m => m.Name)
        @Html.TextBoxMD(m => m.DocumentNumber)
        @Html.DateBoxMD(m => m.Date)
        @Html.TextBoxMD(m => m.ParticleOfDocument)

    @Html.SaveButton("SaveGovServiceNPAForm(this)");
}

<script>

    function SaveGovServiceNPAForm(s) {
        var form = $(s).closest('form');

        if (!form.valid()) {
            return false;
        }

        $.ajax({
            url: '@Url.Action("AOGovServiceNPAEdit")',
            type: 'post',
            data: {
                xId: @Model.Id,
                AOGovServiceId: @Model.AOGovServiceId,
                Name: $("#Name").val(),
                DocumentNumber: $("#DocumentNumber").val(),
                Date: $("#Date").val(),
                ParticleOfDocument: $("#ParticleOfDocument").val(),
            },
            success: function (res) {
                if (res.success)
                    GridGovServicesNPA_afterEdit(res);
                _govServiceNPAEditPopup.close();
            },
        });


        form.submit(function () {
            return false;
        });

        return false;
    }
</script>


