﻿@using bgTeam.IsRui.WebApp.Helpers
@model bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.Master.AOGovServiceEditViewModel
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<h1>Реализуемая государственная услуга или функция</h1>

@using (Html.FormBegin())
{
    @*@Html.DropDownMD(m => m.GovServiceId, Model.GovServicesList)*@
    @Html.SelectEntityMD(m => m.GovServiceId, Url.Action("GovService", "SelectList"), true)


    @Html.Partial("_AOGovServicesNPAPartial")
    @Html.TextBoxMD(m => m.PercentOfUseResource)

    @Html.SaveButton("SaveGovServiceForm(this)");

    @*<dl>
            <dt>@Html.LabelFor(m => m.Name)</dt>
            <dd>
                @Html.AutocompleteTextBox(m => m.Name, Model.ReadOnly,
            urlSource: @Url.Action("AutocomplateAOGovServiceName"), functionSelect: "SelectAutocomplete")
            </dd>
        </dl>


        <dl>
            <dt>@Html.LabelFor(m => m.PercentOfUseResource)</dt>
            <dd>@Html.TextBox(m => m.PercentOfUseResource, Model.ReadOnly)</dd>
        </dl>*@

}

<script>

    $(function() {
        $("#PercentOfUseResource").percent();

        //if ($("#hf_GovServiceId").val())
        //    _gridGovServicesNPADisabled = true;

        LoadNPA($('#hf_GovServiceId').val());
        $('#hf_GovServiceId').change(LoadNPA);
    });


    function LoadNPA() {

        var govServId = $('#hf_GovServiceId').val();

        if(govServId)
        {
            $.ajax({
                url: "@Url.Action("GetInfoAboutGovService")",
                data: {
                    id: govServId
                },
                success: function( data ) {
                    GridGovServicesNPA.fnClearTable();

                    var gridData = [];

                    $.each(data, function(index, element) {
                        var item = [];
                        item[0] = 0;
                        item[1] = element.Name;
                        item[2] = null;
                        item[3] = null;
                        item[4] = null;
                        item[5] = "";

                        gridData.push(item);
                    });

                    GridGovServicesNPA.fnAddData(gridData);
                    //_gridGovServicesNPADisabled = true;
                }
            });
        }
    }

    function SaveGovServiceForm(s) {
        var form = $(s).closest('form');

        if (!form.valid()) {
            return false;
        }

        var aoGovServicesNpaIds = [];

        $.each(GridGovServicesNPA.fnGetData(), function(index, element) {
            var aoGovServicesNPAId = element[0];

            aoGovServicesNpaIds.push(aoGovServicesNPAId);
        });

        var data = JSON.stringify({ 'context':  {
            xId: @Model.Id,
            AccountingObjectId: @Model.AccountingObjectId,
            GovServiceId: $("#hf_GovServiceId").val(),
            PercentOfUseResource: $("#PercentOfUseResource").autoNumericGetLocal(),
            AOGovServicesNPAIds: aoGovServicesNpaIds,
        } });

        $.ajax({
            url: '@Url.Action("AOGovServiceEdit")',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'post',
            data: data,
            success:function (res) {
                notify.showResult(res);
                if (res.success)
                    GridGovServices_afterEdit(res);

                popup.closeContainer(s);
            },
        });

        form.submit(function () {
            return false;
        });

        return false;
    }
</script>
