﻿@using bgTeam.IsRui.WebApp.ViewModels.AccountingObjects
@using bgTeam.IsRui.WebApp.ViewModels.Shared
@using bgTeam.Extensions
@using bgTeam.IsRui.Common.Extentions
@using bgTeam.IsRui.WebApp.Helpers
@model CardForReadViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.HiddenFor(m => m.CommentId)

<div class="b_sidebar">
    <div class="ouview-nav-list">
        <ul>
            <li><a href="#Common"><i class="icon icon-desktop-mac" data-position="left" data-tooltip="Общие сведения"></i><span>Общие сведения</span></a></li>

            <li><a href="#Responsible"><i class="icon icon-account-star-variant" data-position="left" data-tooltip="Ответственные"></i><span>Ответственные</span></a></li>
            <li><a href="#GovServices"><i class="icon icon icon-hexagon" data-position="left" data-tooltip="Специальная деятельность"></i><span>Специальная деятельность</span></a></li>
            <li><a href="#Characteristics"><i class="icon icon-file-document-box" data-position="left" data-tooltip="Функциональные характеристики"></i><span>Функциональные характеристики</span></a></li>
            <li><a href="#Activities"><i class="icon icon-calendar-text" data-position="left" data-tooltip="Мероприятия"></i><span>Мероприятия</span></a></li>
            <li><a href="#Softwares"><i class="icon icon-codepen" data-position="left" data-tooltip="ПО"></i><span>ПО</span></a></li>
            <li><a href="#TechnicalSupports"><i class="icon icon-responsive" data-position="left" data-tooltip="ТО"></i><span>ТО</span></a></li>
            <li><a href="#WorksAndServices"><i class="icon icon-briefcase" data-position="left" data-tooltip="Работы"></i><span>Работы</span></a></li>
            <li><a href="#InformationInteraction"><i class="icon icon-satellite-variant" data-position="left" data-tooltip="Информационное взаимодействие"></i><span>Информационное взаимодействие</span></a></li>
            <li><a href="#Purchases"><i class="icon icon-verified" data-position="left" data-tooltip="Закупки"></i><span>Закупки</span></a></li>
            <li><a href="#Contracts"><i class="icon icon-verified" data-position="left" data-tooltip="Госконтракты"></i><span>Госконтракты</span></a></li>

        </ul>
    </div>
</div>
<div class="b_left-panel">
    <div class="left-panel_wrapper">
        <h3>Заключение</h3>
        <div style="padding: 10px">
            <textarea style="height: 200px;" class="materialize-textarea" id="commentTextArea" placeholder="текст сохраняется автоматически" onchange="SaveUserComment()">@Model.CommentText</textarea>
            <ul id="addedfiles">
                @foreach (var doc in Model.CommentDocs)
                {

                    <li>
                        @Html.Raw(LinkBuilder.Link(doc))
                        <img id="@doc.Id" class="removeDoc" src="@Url.Content("~/Content/img/delete1.png")" />
                    </li>
                }
            </ul>
            @Html.FileUploadMD(m => m.FilesData, new FileUploadViewModel(Model.ReadOnly, "pdf, tiff, tif, jpg, rar, zip, doc, xls, docx, xlsx, png, txt"))
        </div>
    </div>
</div>
<div class="l_ouview-wrapper">
    <div class="ouview-container z-depth-1">
        <div class="ouview-content-wrap clearfix">
            <div class="ouview-content">
                @if (Model.ReadOnly == false)
                {
                    <a class="btn dropdown-button" href="#!" data-activates="dropdown-actions">Действия<i class="mdi-navigation-arrow-drop-down right"></i></a>
                    <ul id='dropdown-actions' class='dropdown-content custom-dropdown'>
                        @foreach (var item in Model.ActionsList)
                        {
                            <li>@Html.Raw(item)</li>
                        }
                    </ul>
                }
                <div id="Common" class="section header-section ">
                    <i class="material-icons">desktop_mac</i>
                    <h1>@Model.ShortName</h1>
                    <div class="label-name">Полное наименование: </div>
                    <div class="name">@Model.FullName</div>
                    <div class="data-block">
                        <div class="stage-label">Стадия: <span class="stage">@Model.Stage</span></div>
                        <div class="status-label">Статус: <span class="status">@Model.Status</span></div>
                        <div class="uid-label">Классификационная категория: <span class="uid">@Model.Kind</span></div>
                    </div>
                </div>
                <div class="section summary-section ">
                    <div class="summary-block">
                        <div class="price-label">
                            <i class="icon icon-rub"></i><span>Планируемая стоимость ОУ: </span>
                        </div>
                        <div class="summary-price">
                            @Model.TotalCost <i class="icon icon-rub"></i>
                        </div>
                    </div>
                    <div class="summand-block">
                        <div class="summand">
                            <span class="summand-label">Cтоимость создания ОУ:</span> <span class="summand-value create">@Model.CreateCost<i class="icon icon-rub"></i></span>
                        </div>
                        <div class="summand">
                            <span class="summand-label">Cтоимость развития ОУ:</span> <span class="summand-value develop">@Model.DevelopCost<i class="icon icon-rub"></i></span>
                        </div>
                        <div class="summand">
                            <span class="summand-label">Стоимость эксплуатации ОУ:</span> <span class="summand-value exploitation">@Model.ExploitationCost<i class="icon icon-rub"></i></span>
                        </div>
                    </div>
                </div>
                <div class="section summary-section ">
                    <div class="summary-block">
                        <div class="price-label">
                            <i class="icon icon-rub"></i><span>Фактическа стоимость ОУ: </span>
                        </div>
                        <div class="summary-price">
                            @Model.TotalCostFact <i class="icon icon-rub"></i>
                        </div>
                    </div>
                    <div class="summand-block">
                        <div class="summand">
                            <span class="summand-label">Cтоимость создания ОУ:</span> <span class="summand-value create">@Model.CreateCostFact<i class="icon icon-rub"></i></span>
                        </div>
                        <div class="summand">
                            <span class="summand-label">Cтоимость развития ОУ:</span> <span class="summand-value develop">@Model.DevelopCostFact<i class="icon icon-rub"></i></span>
                        </div>
                        <div class="summand">
                            <span class="summand-label">Стоимость эксплуатации ОУ:</span> <span class="summand-value exploitation">@Model.ExploitationCostFact<i class="icon icon-rub"></i></span>
                        </div>
                    </div>
                </div>

                <div class="section common-section">
                    <div class="row">
                        <div class="col s12 m12 l6">
                            <div class="common-label">Цели создания ОУ: </div>
                            <div class="common-body">
                                <p>@Model.Targets</p>
                            </div>
                        </div>
                        <div class="col s12 m12 l6">
                            <div class="common-label">Назначение и область применения объекта учета: </div>
                            <div class="common-body">
                                <p>@Model.PurposeAndScope</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @*<div class="col s12 m12 l6">
                                <div class="common-label">Классификационная категория: </div>
                                <div class="common-body">
                                    <p>@Model.KindName</p>
                                </div>
                            </div>*@
                        <div class="col s12 m12 l6">
                            <div class="common-label">Информационная система, направлена на информирование о деятельности государственного органа: </div>
                            <div class="common-body">
                                <p>@Model.InformAboutActivityGovOrgan</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l6">
                            <div class="common-label">Дата ввода в эксплуатацию: </div>
                            <div class="common-body">
                                <p>@Model.CommissioningDate</p>
                            </div>
                        </div>
                        <div class="col s12 m12 l6">
                            <div class="common-label">Дата вывода из эксплуатации: </div>
                            <div class="common-body">
                                <p>@Model.DecommissioningDate</p>
                            </div>
                        </div>
                        <div class="col offset-s12 offset-m12 offset-l16">
                        </div>
                        <div class="col s12 m12 l6">
                            <div class="common-label">Причина вывода из эксплуатации: </div>
                            <div class="common-body">
                                <p>@Model.DecommissioningReasons</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col l6">
                            <div class="common-label">Фактическое месторасположение объекта учета: </div>
                            <div class="common-body">
                                <p><span>Наименование организации:</span> @Model.LocationOrgName</p>
                                <p><span>ФИО ответственного:</span> @Model.LocationFioResponsible</p>
                                <p><span>Адрес:</span> @Model.LocationOrgAddress</p>
                                <p><span>Телефон:</span> @Model.LocationOrgPhone</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section data-columns">
                    <p class="label">Документы</p>
                    <div class="row">
                        @foreach (var item in Model.DecisionsToCreate)
                        {
                            <div class="col s4">
                                <div class="label-col">Решение о создании (закупки) ОУ:</div>
                                <div class="document">
                                    @*//TODO Вычислять расширение файла и размер*@
                                    <div class="icon @item.FilenameExtension-icon"></div>
                                    <div class="doc-title">@Html.Raw(item.NameByFileLink.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA))<span class="file-data"> @item.FilenameExtension </span></div>
                                    <div class="document-number">
                                        <span>Номер документа</span>
                                        <div class="number">@item.Number.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                    </div>
                                    <div class="document-date">
                                        <i class="icon icon-calendar-view"></i><span>Дата принятия документа</span>
                                        <div class="date">@item.DateAdoption.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA) </div>
                                    </div>
                                    <div class="document-author">
                                        <i class="icon icon-account-star-variant"></i><span>Пункт, статья документа</span><div class="author">
                                            <div class="name">@item.ParticleOfDocument.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        @if (Model.DocumentCommissioning != null)
                        {
                            <div class="col s4">
                                <div class="label-col">Акт о вводе в эксплуатацию:</div>
                                <div class="document">
                                    @*//TODO Вычислять расширение файла и размер*@
                                    <div class="icon @Model.CommissioningFilenameExtension-icon"></div>
                                    <div class="doc-title">@Html.Raw(Model.CommissioningDocName)<span class="file-data"> @Model.CommissioningFilenameExtension</span></div>
                                    <div class="document-number">
                                        <span>Номер документа</span>
                                        <div class="number">@Model.CommissioningDocNumber</div>
                                    </div>
                                    <div class="document-date">
                                        <i class="icon icon-calendar-view"></i><span>Дата подписания</span>
                                        <div class="date">@Model.CommissioningDocDateAdoption </div>
                                    </div>
                                    <div class="document-author">
                                        <i class="icon icon-account-star-variant"></i><span>Пункт, статья документа</span><div class="author">
                                            <div class="name">@Model.CommissioningDocParagraph</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        @if (Model.DocumentGroundsForCreation != null)
                        {
                            <div class="col s4">
                                <div class="label-col">Основания принятия объекта учета к бюджетному учету:</div>
                                <div class="document">
                                    @*//TODO Вычислять расширение файла и размер*@
                                    <div class="icon @Model.GroundsForCreationFilenameExtension-icon"></div>
                                    <div class="doc-title">@Html.Raw(Model.GroundsForCreationDocName)<span class="file-data"> @Model.GroundsForCreationFilenameExtension</span></div>
                                    <div class="document-number">
                                        <span>Номер документа</span>
                                        <div class="number">@Model.GroundsForCreationDocNumber</div>
                                    </div>
                                    <div class="document-date">
                                        <i class="icon icon-calendar-view"></i><span>Дата подписания</span>
                                        <div class="date">@Model.GroundsForCreationDocDateAdoption </div>
                                    </div>
                                    <div class="document-author">
                                        <i class="icon icon-account-star-variant"></i><span>Пункт, статья документа</span><div class="author">
                                            <div class="name">@Model.GroundsForCreationDocParagraph</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        @if (Model.DocumentDecommissioning != null)
                        {
                            <div class="col s4">
                                <div class="label-col">Акт о выводе из эксплуатации объекта учета:</div>
                                <div class="document">
                                    @*//TODO Вычислять расширение файла и размер*@
                                    <div class="icon @Model.DecommissioningFilenameExtension-icon"></div>
                                    <div class="doc-title">@Html.Raw(Model.DecommissioningDocName)<span class="file-data"> @Model.DecommissioningFilenameExtension</span></div>
                                    <div class="document-number">
                                        <span>Номер документа</span>
                                        <div class="number">@Model.DecommissioningDocNumber</div>
                                    </div>
                                    <div class="document-date">
                                        <i class="icon icon-calendar-view"></i><span>Дата подписания</span>
                                        <div class="date">@Model.DecommissioningDocDateAdoption </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <div class="section data-budget">
                    <p class="label">Сведения о принятии к бюджетному учету</p>
                    <div class="row">
                        <div class="col s4">
                            <div class="document">
                                <div class="document-date">
                                    <i class="icon icon-calendar-view"></i><span>Дата принятия документа</span>
                                    <div class="date">@Model.GroundsForCreationDateAdoption</div>
                                </div>
                            </div>
                        </div>
                        <div class="col s4">
                            <div class="document">
                                <div class="document-number">
                                    <span>Код БК </span>
                                    <div class="number">@Model.CodeBK</div>
                                </div>
                            </div>
                        </div>
                        <div class="col s4">
                            <div class="document">
                                <div class="document-number">
                                    <span>Балансовая стоимость </span>
                                    <div class="number">
                                        @Model.BalanceCost <i class="icon icon-rub"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="col s8">
                                    <span class="label-col">Основания</span>
                                    <div class="number">@Model.AdoptionBudgetBasis</p></div>
                            </div>*@
                    </div>
                </div>

                <div id="Responsible" class="section cards-grid">
                    <p class="label">Сведения об ответственных организациях и должностных лицах</p>
                    <div class="cards-wrapper">
                        @if (Model.ResponsibleDepartment != null)
                        {
                            <div class="card card-panel for-org">
                                <div class="card-one-wrapper">
                                    <div class="card-image-icon">
                                        <img src="~/Static/img/general/herb.png">
                                    </div>
                                    <div class="card-title">@Model.ResponsibleDepartment.Name</div>
                                    <div class="card-text">Учреждение, уполномоченное на создание, развитие ОУ</div>
                                    @*<div class="card-sub">“Структурное подразделение”</div>*@
                                    <div class="card-contact">
                                        <div class="phone">
                                            Тел: <strong>@Model.ResponsibleDepartment.Phone.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</strong>
                                        </div>
                                        @*<a href="mailto:zigmund@gov.info" class="email">E-mail: <span>@Model.ResponsibleDepartment.Web</span></a>*@
                                    </div>
                                </div>
                            </div>
                        }

                        @if (Model.ExploitationDepartment != null)
                        {
                            <div class="card card-panel for-org">
                                <div class="card-one-wrapper">
                                    <div class="card-image-icon">
                                        <img src="~/Static/img/general/herb.png">
                                    </div>
                                    <div class="card-title">@Model.ExploitationDepartment.Name</div>
                                    <div class="card-text">Учреждение или иное юридическое лицо, уполномоченное на эксплуатацию ОУ</div>
                                    @*<div class="card-sub">“Структурное подразделение”</div>*@
                                    <div class="card-contact">
                                        <div class="phone">
                                            Тел: <strong>@Model.ExploitationDepartment.Phone.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</strong>
                                        </div>
                                        @*<a href="mailto:zigmund@gov.info" class="email">E-mail: <span>@Model.ExploitationDepartment.Web</span></a>*@
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                    <div class="cards-wrapper">

                        @foreach (var item in Model.Responsibles)
                        {
                            <div class="card card-panel for-person">
                                <div class="card-one-wrapper">
                                    <div class="card-icon">
                                        <i class="material-icons">person</i>
                                    </div>
                                    <div class="card-title">@item.Name</div>
                                    @*<div class="card-text">@item.Job</div>*@
                                    <div class="card-text">@item.Description</div>
                                    <div class="card-sub">@item.Department</div>
                                    <div class="card-contact">
                                        <div class="phone">
                                            Тел: <strong>@item.Phone.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</strong>
                                        </div>
                                        <a href="mailto:@item.Email" class="email">E-mail: <span>@item.Email.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</span></a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <!-- /cards-wrapper -->
                </div>

                <div id="GovServices" class="section params-cards">
                    <p class="label">Реализуемые государственные услуги и функции</p>
                    @if (Model.GovServices.Count() == 0)
                    {
                        <div class="common-body">
                            @Html.Raw(CardForReadViewModel.NOT_DATA)
                        </div>
                    }
                    @foreach (var item in Model.GovServices)
                    {
                        <div class="params-card">
                            <div class="body-wrap">
                                <div class="header-params cf">
                                    <div class="title">@item.Name.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                    <a class="show-params"><span>Показать</span> характеристики</a>
                                </div>
                                <div class="params-wrap row" style="display: none">
                                    @foreach (var npa in item.GovServicesNPA)
                                    {
                                        <div class="row">
                                            <div class="col s4">
                                                <div class="param-block">
                                                    <div class="param-label">Наименование документа —</div>
                                                    <div class="param-value">@npa.Name.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                                </div>
                                            </div>
                                            <div class="col s4">
                                                <div class="param-block">
                                                    <div class="param-label">Номер документа —</div>
                                                    <div class="param-value">@npa.DocumentNumber.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                                </div>
                                            </div>
                                            <div class="col s4">
                                                <div class="param-block">
                                                    <div class="param-label">Дата документа —</div>
                                                    <div class="param-value">@npa.DateStr.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                                </div>
                                            </div>
                                            <div class="col s4">
                                                <div class="param-block">
                                                    <div class="param-label">Пункт, статья документа —</div>
                                                    <div class="param-value">@npa.ParticleOfDocument.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="pad-25">
                                    <div class="row">
                                        <div class="col s4">
                                            <div class="param-block">
                                                <div class="param-label">Процент использования ресурсов ИС при автоматизации исполнения государственной услуги (функции) </div>
                                                <div class="param-value">@item.PercentOfUseResource.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <div id="Characteristics" class="section params-cards">
                    <p class="label">Характеристики</p>
                    @if (Model.Characteristics.Count() == 0)
                    {
                        <div class="common-body">
                            @Html.Raw(CardForReadViewModel.NOT_DATA)
                        </div>
                    }

                    @foreach (var item in Model.Characteristics)
                    {
                        <div class="params-card">
                            <div class="body-wrap">
                                <div class="header-params cf">
                                    <div class="title">@item.Name.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                </div>
                                <div class="pad-25">
                                    <div class="row">
                                        <div class="col s4">
                                            <div class="param-block">
                                                <div class="param-label">Тип </div>
                                                <div class="param-value">@item.TypeName.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                            </div>
                                        </div>
                                        <div class="col s4">
                                            <div class="param-block">
                                                <div class="param-label">Единица измерения </div>
                                                <div class="param-value">@item.UnitName.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                            </div>
                                        </div>
                                        <div class="col s4">
                                            <div class="param-block">
                                                <div class="param-label">Номинальное значение </div>
                                                <div class="param-value">@item.Norm</div>
                                            </div>
                                        </div>
                                        <div class="col s4">
                                            <div class="param-block">
                                                <div class="param-label">Максимальное значение </div>
                                                <div class="param-value">@item.Max.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA) </div>
                                            </div>
                                        </div>
                                        <div class="col s4">
                                            <div class="param-block">
                                                <div class="param-label">Фактическое значение </div>
                                                <div class="param-value">@item.Fact.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA) </div>
                                            </div>
                                        </div>
                                        <div class="col s4">
                                            <div class="param-block">
                                                <div class="param-label">Период измерения </div>
                                                <div class="param-value">@item.Period.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA) </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <div id="Activities" class="section params-cards">
                    <p class="label">Мероприятия по информатизации</p>
                    @if (Model.Activities.Count() == 0)
                    {
                        <div class="common-body">
                            @Html.Raw(CardForReadViewModel.NOT_DATA)
                        </div>
                    }

                    @foreach (var item in Model.Activities)
                    {
                        <div class="params-card">
                            <div class="body-wrap">
                                <div class="header-params cf">
                                    <div class="title">@item.Name.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                </div>
                                <div class="pad-25">
                                    <div class="row">
                                        <div class="col s4">
                                            <div class="param-block">
                                                <div class="param-label">Год реализации </div>
                                                <div class="param-value">@item.Year</div>
                                            </div>
                                        </div>
                                        <div class="col s4">
                                            <div class="param-block">
                                                <div class="param-label">Тип мероприятия </div>
                                                <div class="param-value">@item.ActivityType.GetDescription()</div>
                                            </div>
                                        </div>
                                        <div class="col offset-s4">
                                        </div>
                                        <div class="col s4">
                                            <div class="param-block">
                                                <div class="param-label">Очередной финансовый год, руб. </div>
                                                <div class="param-value">@item.CostY0.ToString("N2")</div>
                                            </div>
                                        </div>
                                        <div class="col s4">
                                            <div class="param-block">
                                                <div class="param-label">Первый год планового периода, руб. </div>
                                                <div class="param-value">@item.CostY1.ToString("N2")</div>
                                            </div>
                                        </div>
                                        <div class="col s4">
                                            <div class="param-block">
                                                <div class="param-label">Второй год планового периода, руб. </div>
                                                <div class="param-value">@item.CostY2.ToString("N2")</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <div id="Softwares" class="section params-cards">
                    <p class="label">Программное обеспечение</p>
                    @if (Model.Softwares.Count() == 0)
                    {
                        <div class="common-body">
                            @Html.Raw(CardForReadViewModel.NOT_DATA)
                        </div>
                    }

                    @foreach (var item in Model.Softwares)
                    {
                        <div class="params-card">
                            <div class="body-wrap">
                                <div class="header-params cf">
                                    <div class="title">@item.Name.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                    <a class="show-params"><span>Показать</span> характеристики</a>
                                </div>
                                <div class="params-wrap row" style="display: none">
                                    <div class="col s4">
                                        <div class="param-block">
                                            <div class="param-label">Модель лицензирования —</div>
                                            <div class="param-value">@item.ModelOfLicense.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                        </div>
                                    </div>
                                    <div class="col s4">
                                        <div class="param-block">
                                            <div class="param-label">Тип соединения с сервером —</div>
                                            <div class="param-value">@item.TypeOfConnectionToServer.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                        </div>
                                    </div>
                                    <div class="col s4">
                                        <div class="param-block">
                                            <div class="param-label">Количество одновременных подключений —</div>
                                            <div class="param-value">@item.NumberOnlineSameTime.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                        </div>
                                    </div>
                                    <div class="col s4">
                                        <div class="param-block">
                                            <div class="param-label">Продуктовый номер лицензии —</div>
                                            <div class="param-value">@item.ProductNumberOfLicense.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                        </div>
                                    </div>
                                    <div class="col s4">
                                        <div class="param-block">
                                            <div class="param-label">Количество единовременно распределяемых лицензий —</div>
                                            <div class="param-value">@item.NumberAllocatedSameTime.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                        </div>
                                    </div>
                                    <div class="col s4">
                                        <div class="param-block">
                                            <div class="param-label">Лицензиар —</div>
                                            <div class="param-value">@item.Licensor.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pad-25">
                                    <div class="row">
                                        <div class="col s4">
                                            <div class="param-block">
                                                <div class="param-label">Вид ПО </div>
                                                <div class="param-value">@item.CategoryKindOfSupportName.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                            </div>
                                        </div>
                                        <div class="col s4">
                                            <div class="param-block">
                                                <div class="param-label">Производитель </div>
                                                <div class="param-value">@item.ManufacturerName.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                            </div>
                                        </div>
                                        <div class="col s4">
                                            <div class="param-block">
                                                <div class="param-label">Количество </div>
                                                <div class="param-value">@item.Amount.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                            </div>
                                        </div>
                                        <div class="col s4">
                                            <div class="param-block">
                                                <div class="param-label">Стоимость </div>
                                                <div class="param-value">@item.Summa.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                            </div>
                                        </div>
                                        <div class="col s4">
                                            <div class="param-block">
                                                <div class="param-label">Права на ПО </div>
                                                <div class="param-value">@item.Right.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <div id="TechnicalSupports" class="section params-cards">
                    <p class="label">Техническое обеспечение</p>
                    @if (Model.TechnicalSupports.Count() == 0)
                    {
                        <div class="common-body">
                            @Html.Raw(CardForReadViewModel.NOT_DATA)
                        </div>
                    }

                    @foreach (var item in Model.TechnicalSupports)
                    {
                        <div class="params-card">
                            <div class="body-wrap">
                                <div class="header-params cf">
                                    <div class="title">@item.Name.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                    <a class="show-params"><span>Показать</span> характеристики</a>
                                </div>
                                <div class="params-wrap row" style="display: none">
                                    @foreach (var ch in item.Characteristics)
                                    {
                                        <div class="row">
                                            <div class="col s4">
                                                <div class="param-block">
                                                    <div class="param-label">Наименование —</div>
                                                    <div class="param-value">@ch.Name.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                                </div>
                                            </div>
                                            <div class="col s4">
                                                <div class="param-block">
                                                    <div class="param-label">Единица измерения —</div>
                                                    <div class="param-value">@ch.UnitName.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                                </div>
                                            </div>
                                            <div class="col s4">
                                                <div class="param-block">
                                                    <div class="param-label">Значение —</div>
                                                    <div class="param-value">@ch.Value.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="pad-25">
                                    <div class="row">
                                        <div class="col s4">
                                            <div class="param-block">
                                                <div class="param-label">Вид оборудования </div>
                                                <div class="param-value">@item.CategoryKindOfSupportName.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                            </div>
                                        </div>
                                        <div class="col s4">
                                            <div class="param-block">
                                                <div class="param-label">Производитель </div>
                                                <div class="param-value">@item.ManufacturerName.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                            </div>
                                        </div>
                                        <div class="col s4">
                                            <div class="param-block">
                                                <div class="param-label">Количество </div>
                                                <div class="param-value">@item.Amount.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                            </div>
                                        </div>
                                        <div class="col s4">
                                            <div class="param-block">
                                                <div class="param-label">Стоимость </div>
                                                <div class="param-value">@item.Summa.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <div id="WorksAndServices" class="section params-cards">
                    <p class="label">Работы</p>
                    @if (Model.WorksAndServices.Count() == 0)
                    {
                        <div class="common-body">
                            @Html.Raw(CardForReadViewModel.NOT_DATA)
                        </div>
                    }

                    @foreach (var item in Model.WorksAndServices)
                    {
                        <div class="params-card">
                            <div class="body-wrap">
                                <div class="header-params cf">
                                    <div class="title">@item.Name.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                </div>
                                <div class="pad-25">
                                    <div class="row">
                                        <div class="col s4">
                                            <div class="param-block">
                                                <div class="param-label">Вид работы </div>
                                                <div class="param-value">@item.CategoryKindOfSupportName.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                            </div>
                                        </div>
                                        <div class="col s4">
                                            <div class="param-block">
                                                <div class="param-label">Сведения по арендуемой инфраструктуре и условиям ее использования </div>
                                                <div class="param-value">@item.InformationLeasedInfrastructure.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                            </div>
                                        </div>
                                        <div class="col s4">
                                            <div class="param-block">
                                                <div class="param-label">ОКВЭД </div>
                                                <div class="param-value">@item.OkvedName.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                            </div>
                                        </div>
                                        <div class="col s4">
                                            <div class="param-block">
                                                <div class="param-label">Стоимость </div>
                                                <div class="param-value">@item.Summa.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <div id="InformationInteraction" class="section params-cards">
                    <p class="label">Внутренние ИС и компоненты ИТКИ</p>
                    @if (Model.InternalIsAndComponentsItki.Count() == 0)
                    {
                        <div class="common-body">
                            @Html.Raw(CardForReadViewModel.NOT_DATA)
                        </div>
                    }

                    @foreach (var item in Model.InternalIsAndComponentsItki)
                    {
                        <div class="params-card">
                            <div class="body-wrap">
                                <div class="header-params cf">
                                    <div class="title">@item.ShortName.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                </div>
                                <div class="pad-25">
                                    <div class="row">
                                        <div class="col s4">
                                            <div class="param-block">
                                                <div class="param-label">Классификационная категория ОУ </div>
                                                <div class="param-value">@item.KindName.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                            </div>
                                        </div>
                                        <div class="col s4">
                                            <div class="param-block">
                                                <div class="param-label">Учреждение </div>
                                                <div class="param-value">@item.DepartmentName.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                            </div>
                                        </div>
                                        <div class="col s4">
                                            <div class="param-block">
                                                <div class="param-label">Назначение </div>
                                                <div class="param-value">@item.Purpose.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <div class="section params-cards">
                    <p class="label">Внешние ИС и компоненты ИТКИ</p>
                    @if (Model.ExternalIsAndComponentsItki.Count() == 0)
                    {
                        <div class="common-body">
                            @Html.Raw(CardForReadViewModel.NOT_DATA)
                        </div>
                    }

                    @foreach (var item in Model.ExternalIsAndComponentsItki)
                    {
                        <div class="params-card">
                            <div class="body-wrap">
                                <div class="header-params cf">
                                    <div class="title">@item.Name.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                </div>
                                <div class="pad-25">
                                    <div class="row">
                                        <div class="col s4">
                                            <div class="param-block">
                                                <div class="param-label">Назначение </div>
                                                <div class="param-value">@item.Purpose.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                            </div>
                                        </div>
                                        <div class="col s4">
                                            <div class="param-block">
                                                <div class="param-label">СМЭВ </div>
                                                <div class="param-value">@item.Smev.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                            </div>
                                        </div>
                                        <div class="col s4">
                                            <div class="param-block">
                                                <div class="param-label">URL адрес </div>
                                                <div class="param-value">@Html.Raw(item.Url.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA))</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <div class="section params-cards">
                    <p class="label">Внешние пользовательские интерфейсы ИС</p>
                    @if (Model.ExternalUserInterfacesOfIs.Count() == 0)
                    {
                        <div class="common-body">
                            @Html.Raw(CardForReadViewModel.NOT_DATA)
                        </div>
                    }

                    @foreach (var item in Model.ExternalUserInterfacesOfIs)
                    {
                        <div class="params-card">
                            <div class="body-wrap">
                                <div class="header-params cf">
                                    <div class="title">@item.Name.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                </div>
                                <div class="pad-25">
                                    <div class="row">
                                        <div class="col s4">
                                            <div class="param-block">
                                                <div class="param-label">Назначение </div>
                                                <div class="param-value">@item.Purpose.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                            </div>
                                        </div>
                                        <div class="col s4">
                                            <div class="param-block">
                                                <div class="param-label">Тип </div>
                                                <div class="param-value">@item.Type.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                            </div>
                                        </div>
                                        <div class="col s4">
                                            <div class="param-block">
                                                <div class="param-label">Начальный URL </div>
                                                <div class="param-value">@Html.Raw(item.Url.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA))</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br class="clearfix">
                        </div>
                    }
                </div>

                <div id="Purchases" class="section params-cards">
                    <p class="label">Закупки</p>
                    @if (Model.Purchases.Count() == 0)
                    {
                        <div class="common-body">
                            @Html.Raw(CardForReadViewModel.NOT_DATA)
                        </div>
                    }

                    @foreach (var item in Model.Purchases)
                    {
                        <div class="params-card">
                            <div class="body-wrap">
                                <div class="header-params cf">
                                    <div class="title">@item.Number.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                </div>
                                <div class="pad-25">
                                    <div class="row">
                                        <div class="col s4">
                                            <div class="param-block">
                                                <div class="param-label">Наименование </div>
                                                <div class="param-value">@item.Name.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                            </div>
                                        </div>
                                        <div class="col s4">
                                            <div class="param-block">
                                                <div class="param-label">Дата публикации </div>
                                                <div class="param-value">@item.Date.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                            </div>
                                        </div>
                                        <div class="col s4">
                                            <div class="param-block">
                                                <div class="param-label">Тип </div>
                                                <div class="param-value">@item.Type.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                            </div>
                                        </div>
                                        <div class="col s4">
                                            <div class="param-block">
                                                <div class="param-label">Стоимость </div>
                                                <div class="param-value">@item.Price.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <div id="Contracts" class="section params-cards">
                    <p class="label">Госконтракты</p>
                    @if (Model.Contracts.Count() == 0)
                    {
                        <div class="common-body">
                            @Html.Raw(CardForReadViewModel.NOT_DATA)
                        </div>
                    }
                    @foreach (var item in Model.Contracts)
                    {
                        <div class="params-card">
                            <div class="body-wrap">
                                <div class="header-params cf">
                                    <div class="title">@item.NumberStr.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                </div>
                                <div class="pad-25">
                                    <div class="row">
                                        <div class="col s4">
                                            <div class="param-block">
                                                <div class="param-label">Стадия </div>
                                                <div class="param-value">@item.Stage.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                            </div>
                                        </div>
                                        <div class="col s4">
                                            <div class="param-block">
                                                <div class="param-label">Дата заключения </div>
                                                <div class="param-value">@item.Date.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                            </div>
                                        </div>
                                        <div class="col s4">
                                            <div class="param-block">
                                                <div class="param-label">Статус госконтракта </div>
                                                <div class="param-value">@item.Status.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                            </div>
                                        </div>
                                        <div class="col s4">
                                            <div class="param-block">
                                                <div class="param-label">Исполнитель </div>
                                                <div class="param-value">@item.Executer.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                            </div>
                                        </div>
                                        <div class="col s4">
                                            <div class="param-block">
                                                <div class="param-label">Стоимость </div>
                                                <div class="param-value">@item.Price.ToString("N2")</div>
                                            </div>
                                        </div>
                                        <div class="col s4">
                                            <div class="param-block">
                                                <div class="param-label">Закупка </div>
                                                <div class="param-value">@item.Order.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                            </div>
                                        </div>
                                        <div class="col s4">
                                            <div class="param-block">
                                                <div class="param-label">Причины отклонения от ожидаемых результатов </div>
                                                <div class="param-value">@item.RcDeviation.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <div id="Acts" class="section params-cards">
                    <p class="label">Акты</p>
                    @if (Model.Acts.Count() == 0)
                    {
                        <div class="common-body">
                            @Html.Raw(CardForReadViewModel.NOT_DATA)
                        </div>
                    }

                    @foreach (var item in Model.Acts)
                    {
                        <div class="params-card">
                            <div class="body-wrap">
                                <div class="header-params cf">
                                    <div class="title">@item.DocName.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                </div>
                                <div class="pad-25">
                                    <div class="row">
                                        <div class="col s4">
                                            <div class="param-block">
                                                <div class="param-label">Номер документа </div>
                                                <div class="param-value">@item.DocNumber.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                            </div>
                                        </div>
                                        <div class="col s4">
                                            <div class="param-block">
                                                <div class="param-label">Дата подписания </div>
                                                <div class="param-value">@item.DocDateAdoption.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                            </div>
                                        </div>
                                        <div class="col s4">
                                            <div class="param-block">
                                                <div class="param-label">Стоимость </div>
                                                <div class="param-value">@item.Cost.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                            </div>
                                        </div>
                                        <div class="col s4">
                                            <div class="param-block">
                                                <div class="param-label">Документ </div>
                                                <div class="param-value">@Html.Raw(item.FileLink.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA))</div>
                                            </div>
                                        </div>
                                        <div class="col s4">
                                            <div class="param-block">
                                                <div class="param-label">Госконтракт </div>
                                                <div class="param-value">@item.GovContract.ReturnThisOrDefault(CardForReadViewModel.NOT_DATA)</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>
<div class="b_bottom-panel">
    <div class="row">
        <div class="col s2">
            <div class="panel-button concluding" onclick="LeftPanel()">
                <i class="icon icon-message-text-outline"></i>
                <span>Заключение</span>
            </div>
        </div>
        <div class="col s6 right-align">
            @foreach (var item in Model.GetNextStatusLinks())
            {
                <div class="panel-button">
                    <i class="@item.Css"></i>
                    <span onclick="@item.Callback">@item.Text</span>
                </div>
            }
            <div class="panel-button" onclick="CommentListOpen();">
                <i class="icon icon-forum"></i>
            </div>
        </div>
    </div>
    @if (Model.ReadOnly == false)
    {
        <a href="@Model.UrlEdit" class="b_bottom-panel__flow-button btn-floating btn-large waves-effect waves-light red"><i class="material-icons">mode_edit</i></a>
    }
</div>

@section scripts
{
    <script>
    $(function() {
        $("#FilesData-nameguid").change(function () { AddFile(); });
        $(".removeDoc").bind('click', function () { RemoveDocument($(this).attr('id'))});
    });

    function RemoveDocument (id) {
        $.ajax({
            url: '@Url.Action("DeleteCommentFile")',
            type: 'post',
            data: {
                xId: id,
            },
            success: function (res) {
                if (res.success) {
                    $("#" + id).parent().remove();
                } else
                    notify.showWarning(res.message);
            }
        });

        return false;
    }

    function AddFile() {
        var path = $("#FilesData-nameguid").val();
        $.ajax({
            url: '@Url.Action("AddCommentFile")',
            type: 'post',
            data: {
                xId: $("#CommentId").val(),
                CommentFiles: path,
                AccountingObjectId: @Model.Current.Id,
            },
            success: function (res) {
                var text = '<li><a href="/Files/Download/' + res.fileid + '" target="_self" onclick class>' + res.filename
                                                                                 + '</a><img id="' + res.fileid
                                                                                 + '" class="removeDoc" src="' + '@Url.Content("~/Content/img/delete1.png")' + '" onclick="RemoveDocument('
                                                                                 + res.fileid +')"/></li>';

                $("#addedfiles").append(text);

                $(".FilesData-uploader-button_delete").trigger("click");

                $("#CommentId").val(res.commentid);
            },
            error: function (a,b,c)
            {
                alert(a.status, c);
            }
        });

        return false;
    }

    function SaveUserComment() {
        $.ajax({
            url: '@Url.Action("AddOrUpdateComment")',
            type: 'post',
            data: {
                xId: $("#CommentId").val(),
                Comment: $("#commentTextArea").val(),
                AccountingObjectId: @Model.Current.Id,
            },
            success: function (res) {
                $("#CommentId").val(res.id);
            }
        });

        return false;
    }

    function ChangeStatus(id, type, status) {
        $.ajax({
            url: '@Url.Action("Change", "Status")',
            type: 'post',
            data: {
                Id: id,
                Type: type,
                Status: status,
            },
            success: function (res) {
                if (res.success) {
                    window.location = '@Url.Action("Index")';
                } else
                    notify.showWarning(res.message);
            }
        });
    }

    function StageChangeOpen() {
        popup.popover({
            url: '@Url.Action("StageEdit")',
            data:
            {
                id: @Model.Id,
            }
        });
    }

    function CommentListOpen() {
        popup.popover({
            url: '@Url.Action("CommentList")',
            data:
            {
                id: @Model.Id,
            }
        });
    }

    // Layout js
    $("body").addClass("page-ouview");
    </script>
}
