﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.Helpers.Control
@using bgTeam.IsRui.WebApp.ViewModels.AccountingObjects
@model bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.Master.CharacteristicsCreateViewModel
@{
    Layout = "~/Views/AccountingObjects/_LayoutMaster.cshtml";
}

@*<h1>Шаг @Model.Master.Position</h1>*@
<h1>@Model.Master.Title</h1>

@Html.AddButton("OpenEditCharacteristicPopup()", Model.ReadOnly)
@Html.Table("Grid", Model.Characteristics,
            new DataTableSettings<TableCharacteristic>()
            .AddColumn(x => x.Name)
            .AddColumn(x => x.TypeName)
            .AddColumn(x => x.UnitName)
            .AddColumn(x => x.Norm)
            .AddColumn(x => x.Max)
            .AddColumn(x => x.Fact)
            .AddColumn(x => x.Period)
            .AddColumn(new DataTablesDeleteColumn(!Model.ReadOnly)),
        new DataTablesConfig()
            .OnRowClick("OpenEditCharacteristicPopup(nRow)"))

@Html.Partial("_NextPrevStepsPartial")

@section scripts
{

    <script type="text/javascript">

        function OpenEditCharacteristicPopup(nRow) {
            var tr = $(nRow);
            var id = tr.data('id');

            popup.popover({
                url: '@Url.Action("CharacteristicEdit")',
                data: {
                    accountingObjectId: @Model.Id,
                    id: id
                }
            });
        }

        function NextStep() {
            window.location = '@Url.Action(Model.Master.Next, RouteHelper.Merge(new {id = Model.Id}, Model.Master.NextParams))';
        }

    </script>
}