﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.KindsOfSupport
@model CharacteristicOfTechnicalEditViewModel
@{
    ViewBag.Title = "Характеристика технического обеспечения";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<h1>@ViewBag.Title</h1>

@using (Html.FormBegin())
{
    @Html.TextBoxMD(m => m.Name, true)
    @*@Html.AutocompleteTextBox(m => m.Name, Model.ReadOnly, source: Model.NamesJson)*@
    @Html.DropDownMD(m => m.UnitId, Model.UnitsList, true)
    @Html.TextBoxMD(m => m.Value)

    @*<dl>
        <dt>@Html.LabelReq(m => m.Name)</dt>
        <dd></dd>
        <dt>@Html.LabelReq(m => m.UnitId)</dt>
        <dd></dd>
        <dt>@Html.LabelFor(m => m.Value)</dt>
        <dd></dd>
    </dl>*@

    @Html.SaveButton("SaveCharacteristicOfTechnicalSupport(this)", Model.ReadOnly);
}

<script>

    $(function() {
        $("#Value").floatValue();
    });

    function SaveCharacteristicOfTechnicalSupport(s) {
        var form = $(s).closest('form');

        if (!form.valid()) {
            return false;
        }
        $.ajax({
            url: '@Url.Action("CharacteristicOfTechnicalSupportEdit")',
            type: 'post',
            data: {
                xId: @Model.Id,
                TechnicalSupportId: @Model.TechnicalSupportId,
                Name: $("#Name").val(),
                UnitId: $("#UnitId").val(),
                Value: $("#Value").autoNumericGetLocal()
            },
            success: function (res) {
                notify.showResult(res);
                if (res.success)
                    GridCharacteristicOfTechnicalSupport_afterEdit(res);
                _characteristicOfTechnicalSupportPopup.close();
            },
        });

        form.submit(function () {
            return false;
        });

        return false;
    }
</script>