﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.ViewModels
@model bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.CharacteristicEditViewModel
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<h1>Характеристика</h1>

@using (Html.FormBegin())
{
    @Html.TextBoxMD(m => m.Name, true)
    @Html.DropDownMD(m => m.TypeId, Model.TypesList, true)
    @Html.DropDownMD(m => m.UnitId, Model.UnitsList, true)
    @Html.TextBoxMD(m => m.Norm)
    @Html.TextBoxMD(m => m.Max)
    @Html.TextBoxMD(m => m.Fact)

    <div class="popup_title">Период измерения</div>

    @Html.DateBoxMD(m => m.DateBeginning, true)
    @Html.DateBoxMD(m => m.DateEnd)
    
    @*<dl>
        <dt>@Html.LabelReq(m => m.Name)</dt>
        <dd></dd>
        <dt>@Html.LabelReq(m => m.TypeId)</dt>
        <dd></dd>
        <dt>@Html.LabelReq(m => m.UnitId)</dt>
        <dd></dd>
        <dt>@Html.LabelReq(m => m.Norm)</dt>
        <dd></dd>
        <dt>@Html.LabelFor(m => m.Max)</dt>
        <dd></dd>
        <dt>@Html.LabelFor(m => m.Fact)</dt>
        <dd></dd>
    </dl>

    

    <dl>
        <dt>@Html.LabelReq(m => m.DateBeginning)</dt>
        <dd></dd>
        <dt>@Html.LabelFor(m => m.DateEnd)</dt>
        <dd></dd>
    </dl>*@

    @Html.SaveButton("SaveForm(this)");
}
<script>

    $(function() {
        $("#Norm").numberInt();
        $("#Max").numberInt();
        $("#Fact").numberInt();

        $("#DateBeginning").rules("add", {
            required: true,
            messages: {
                required: '@ValidateViewModel.RequiredText',
            }
        });
    });

    function SaveForm(s) {
        var form = $(s).closest('form');

        if (!form.valid()) {
            return false;
        }

        $.ajax({
            url: '@Url.Action("CharacteristicEdit")',
            type: 'post',
            data: {
                xId: @Model.Id,
                AccountingObjectId: @Model.AccountingObjectId,
                Name: $("#Name").val(),
                TypeId: $("#TypeId").val(),
                UnitId: $("#UnitId").val(),
                Norm: $("#Norm").val(),
                Max: $("#Max").val(),
                Fact: $("#Fact").val(),
                DateBeginning: $("#DateBeginning").val(),
                DateEnd: $("#DateEnd").val(),
                Period: $("#Period").val(),
                IsRegister: true,
            },
            success:function (res) {
                notify.showResult(res);
                if (res.success)
                    Grid_afterEdit(res);
                popup.close();
            },
        });

        form.submit(function () {
            return false;
        });

        return false;
    }
</script>