﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.Helpers.Control
@using bgTeam.IsRui.WebApp.ViewModels.AccountingObjects
@model CharacteristicsViewModel
@{
    ViewBag.Title = "Характеристики";
    Layout = "~/Views/AccountingObjects/_LayoutAccountingObjects.cshtml";
}

<h1>@ViewBag.Title</h1>

@Html.AddButton("OpenEditCharacteristicPopup()", Model.ReadOnly)

@Html.Table("Grid", Model.Characteristics,
            new DataTableSettings<TableCharacteristic>()
            .AddColumn(x => x.Name)
            .AddColumn(x => x.TypeName)
            .AddColumn(x => x.UnitName)
            .AddColumn(x => x.Norm)
            .AddColumn(x => x.Max)
            .AddColumn(x => x.Fact)
            .AddColumn(x => x.Period)
            .AddColumn(new DataTablesDeleteColumn(!Model.ReadOnly)),
        new DataTablesConfig()
            .OnRowClick("OpenEditCharacteristicPopup(nRow)"))


<h3>Сведения о защите информации</h3>

@using (Html.FormBegin())
{
    <dl>
        <dt>@Html.LabelReq(m => m.LevelOfSecurity)</dt>
        <dd>@Html.DropDownList(m => m.LevelOfSecurity, Model.LevelsOfSecurity, Model.ReadOnly)</dd>
    </dl>

    @Html.SaveButton("SaveForm(this)", Model.ReadOnly);
}

<h4>Сведения о прохождении специальных проверок</h4>

@Html.AddButton("OpenEditSpecCheckPopup()", Model.ReadOnly)

@Html.Table("GridSpecChecks", Model.SpecChecks,
            new DataTableSettings<TableSpecCheck>()
            .AddColumn(x => x.Name)
            .AddColumn(x => x.FileLink)
            .AddColumn(new DataTablesDeleteColumn(!Model.ReadOnly)),
        new DataTablesConfig()
                .OnRowClick("OpenEditSpecCheckPopup(nRow)"))

@section scripts
{
    <script type="text/javascript">

        function OpenEditCharacteristicPopup(nRow) {
            var tr = $(nRow);
            var id = tr.data('id');

            popup.popover({
                url: '@Url.Action("CharacteristicEdit")',
                data: {
                    accountingObjectId: @Model.Id,
                    id: id
                }
            });
        }

        function SaveForm(s) {
            var form = $(s).closest('form');

            if (!form.valid()) {
                return false;
            }

            $.ajax({
                url: '@Url.Action("Characteristics")',
                type: 'post',
                data: {
                    Id: @Model.Id,
                    LevelOfSecurity: $("#LevelOfSecurity").val(),
                },
                success: function(res) {
                    if (res.success) {
                        notify.showSuccess(res.message);
                    } else
                        notify.showWarning(res.message);
                },
            });

            form.submit(function() {
                return false;
            });

            return false;
        }


        function OpenEditSpecCheckPopup(nRow) {
            var tr = $(nRow);
            var id = tr.data('id');

            popup.popover({
                url: '@Url.Action("SpecCheckEdit")',
                data: {
                    accountingObjectId: @Model.Id,
                    id: id
                }
            });
        }

    </script>
}