﻿@using bgTeam.IsRui.Common.Extentions
@using bgTeam.IsRui.WebApp.Helpers 
@model bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.CommentListViewModel
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<div class="b_comment-list">

    <div class="b_comment-list__header">
        История согласования
    </div>

@foreach (var com in Model.Comments)
{
    <div class="b_comment-list__comment">
        <div class="user-name">@com.User</div>
        <div class="status">Статус: <span>@com.Status</span></div>

        <div class="msg">@com.Comment</div>


        <div class="attach">
        @foreach (var doc in com.Documents)
        {
            <div class="file"><i class="icon @doc.FileName.GetExtension()-icon"></i>@Html.Raw(LinkBuilder.Link(doc))</div>
        }
        </div>
    </div>
}

</div>