﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.ViewModels.Shared
@model bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.Master.CommissioningViewModel
@{
    Layout = "~/Views/AccountingObjects/_LayoutMaster.cshtml";
}

@*<h2>Шаг @Model.Master.Position</h2>*@
<h1>Укажите реквизиты акта о вводе в эксплуатацию объекта учета</h1>

@using (Html.FormBegin())
{        
    @Html.DateBoxMD(m => m.CommissioningDate)

        <h1>Акт о вводе в эксплуатацию</h1>

    @Html.TextBoxMD(m => m.CommissioningDocName)
    @Html.TextBoxMD(m => m.CommissioningDocNumber)
    @Html.DateBoxMD(m => m.CommissioningDocDateAdoption)
    @Html.TextBoxMD(m => m.CommissioningDocParagraph)
    @Html.FileUploadMD(m => m.CommissioningFilesData, new FileUploadViewModel(Model.ReadOnly, "pdf, tiff, tif, jpg, rar, zip, doc, xls, docx, xlsx"))    

    @Html.Partial("_NextPrevStepsPartial")

}

@section scripts
{
    <script type="text/javascript">

    function NextStep(s) {

        var form = $(s).closest('form');

        if (!form.valid()) {
            return false;
        }

        $.ajax({
            url: '@Url.Action("Commissioning")',
                type: 'post',
                data: {
                    xId: 0,
                    AccountingObjectId: @Model.Id,
                    Name: $("#CommissioningDocName").val(),
                    Number: $("#CommissioningDocNumber").val(),
                    DateAdoption: $("#CommissioningDocDateAdoption").val(),
                    Paragraph: $("#CommissioningDocParagraph").val(),
                    Date: $("#CommissioningDate").val(),
                    Files: CommissioningFilesData.GetValue(),
                },
                success: function(res) {
                    if (res.success) {
                        window.location = '@Url.Action(Model.Master.Next, new {id = Model.Id})';
        } else
            notify.showWarning(res.message);
    },
    });

    form.submit(function() {
        return false;
    });

    return false;
    }

    </script>
}