﻿@using bgTeam.IsRui.WebApp.Helpers
@model bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.Master.CommonDataCreateViewModel
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<h1>Создание объекта учета</h1>

<p>Полное и краткое наименование объекта учета указывается в соответствии с правовыми актами, устанавливающими необходимость создания объекта учета.</p>
@*<p>Пожалуйста, заполните общие сведения об объекте учета</p>*@

@using (Html.FormBegin())
{
    @Html.TextBoxMD(m => m.ShortName, true)
    @Html.TextBoxMD(m => m.FullName, true)
    @*@Html.DropDownMD(m => m.KindId, Model.KindList, true)

    <dl>
        <dt>@Html.LabelReq(m => m.ShortName)</dt>
        <dd></dd>

        <dt>@Html.LabelReq(m => m.FullName)</dt>
        <dd>@Html.TextBox(m => m.FullName)</dd>

        <dt>@Html.LabelReq(m => m.KindId)</dt>
        <dd>@Html.DropDownList(m => m.KindId, )</dd>
    </dl>*@

    @Html.SaveButton("SaveForm(this)")
}

<script>

    function SaveForm(s) {
        var form = $(s).closest('form');
        if (!form.valid()) {
            return false;
        }

        $.ajax({
            url: '@Url.Action("CommonDataCreate")',
            type: 'post',
            data: {
                Id : @Model.Id,
                ShortName: $("#ShortName").val(),
                FullName: $("#FullName").val(),
                //KindId: $("#KindId").val(),
            },
            success: function (res) {
                notify.showResult(res);
                if (res.success) {
                    window.location = '@Url.Action("DocumentBase")'+ '/' + res.Id;
                }
                popup.close();
            }
        });

        form.submit(function () {
            return false;
        });

        return false;
    }
</script>