﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.Helpers.Control
@using bgTeam.IsRui.WebApp.ViewModels.AccountingObjects
@using bgTeam.IsRui.WebApp.ViewModels.Shared
@model CommonDataViewModel
@{
    ViewBag.Title = "Общие сведения";
    Layout = "~/Views/AccountingObjects/_LayoutAccountingObjects.cshtml";
}
<h2>Общие сведения</h2>
@using (Html.FormBegin())
{

    <dl>
        <dt>@Html.LabelFor(m => m.Stage)</dt>
        <dd>@Html.DropDownList(m => m.Stage, Model.StageList, Model.ReadOnly)</dd>
        <dt>@Html.LabelReq(m => m.StatusId)</dt>
        <dd>@Html.DropDownList(m => m.StatusId, Model.StausList, Model.ReadOnly)</dd>
        <dt>@Html.LabelFor(m => m.Number)</dt>
        <dd>@Html.TextBox(m => m.Number, Model.ReadOnly)</dd>
            @Html.Partial("_AOTypeAndKindPartial", Model.AOTypeAndKindViewModel)
        <dt>@Html.LabelFor(m => m.Name)</dt>
        <dd>@Html.TextBox(m => m.Name, Model.ReadOnly)</dd>
        <dt>@Html.LabelFor(m => m.Targets)</dt>
        <dd>@Html.TextArea(m => m.Targets, Model.ReadOnly)</dd>
        <dt>@Html.LabelFor(m => m.PurposeAndScope)</dt>
        <dd>@Html.TextArea(m => m.PurposeAndScope, Model.ReadOnly)</dd>
        <dt>@Html.LabelFor(m => m.TotalCost)</dt>
        <dd>@Html.TextBox(m => m.TotalCost, true)</dd>
        <dt>@Html.LabelFor(m => m.TotalCostCreate)</dt>
        <dd>@Html.TextBox(m => m.TotalCostCreate, true)</dd>
        <dt>@Html.LabelFor(m => m.TotalCostGrowth)</dt>
        <dd>@Html.TextBox(m => m.TotalCostGrowth, true)</dd>
        <dt>@Html.LabelFor(m => m.TotalCostExploitation)</dt>
        <dd>@Html.TextBox(m => m.TotalCostExploitation, true)</dd>
    </dl>

    <h3>Сведения о принятие к бюджетному учету</h3>

    <dl>
        <dt>@Html.LabelFor(m => m.AdoptionBudgetDate)</dt>
        <dd>@Html.DateBox(m => m.AdoptionBudgetDate, Model.ReadOnly)</dd>
        <dt>@Html.LabelFor(m => m.ExpenditureItemId)</dt>
        <dd>@Html.DropDownList(m => m.ExpenditureItemId, Model.KOSGUList, Model.ReadOnly)</dd>
        <dt>@Html.LabelFor(m => m.BalanceCost)</dt>
        <dd>@Html.TextBox(m => m.BalanceCost, Model.ReadOnly)</dd>
        <dt>@Html.LabelFor(m => m.AdoptionBudgetBasis)</dt>
        <dd>@Html.TextBox(m => m.AdoptionBudgetBasis, Model.ReadOnly)</dd>
    </dl>

    <h3>Сведения о вводе в эксплуатацию</h3>

    <dl>
        <dt>@Html.LabelFor(m => m.CommissioningDocName)</dt>
        <dd>@Html.TextBox(m => m.CommissioningDocName, Model.ReadOnly)</dd>
        <dt>@Html.LabelFor(m => m.CommissioningDocNumber)</dt>
        <dd>@Html.TextBox(m => m.CommissioningDocNumber, Model.ReadOnly)</dd>
        <dt>@Html.LabelFor(m => m.CommissioningDocDateAdoption)</dt>
        <dd>@Html.DateBox(m => m.CommissioningDocDateAdoption, Model.ReadOnly)</dd>
        <dt>@Html.LabelFor(m => m.CommissioningDate)</dt>
        <dd>@Html.DateBox(m => m.CommissioningDate, Model.ReadOnly)</dd>
        <dt>@Html.LabelFor(m => m.CommissioningFilesData)</dt>
        <dd>
            @Html.FileUpload(m => m.CommissioningFilesData,
                        new FileUploadViewModel(Model.ReadOnly, "pdf, tiff, tif, jpg, rar, zip, doc, xls, docx, xlsx"), Model.ReadOnly)
        </dd>
    </dl>

    <h3>Сведения о выводе из эксплуатации</h3>

    <dl>
        <dt>@Html.LabelFor(m => m.DecommissioningDocName)</dt>
        <dd>@Html.TextBox(m => m.DecommissioningDocName, Model.ReadOnly)</dd>
        <dt>@Html.LabelFor(m => m.DecommissioningDocNumber)</dt>
        <dd>@Html.TextBox(m => m.DecommissioningDocNumber, Model.ReadOnly)</dd>
        <dt>@Html.LabelFor(m => m.DecommissioningDocDateAdoption)</dt>
        <dd>@Html.DateBox(m => m.DecommissioningDocDateAdoption, Model.ReadOnly)</dd>
        <dt>@Html.LabelFor(m => m.DecommissioningDate)</dt>
        <dd>@Html.DateBox(m => m.DecommissioningDate, Model.ReadOnly)</dd>
        <dt>@Html.LabelFor(m => m.DecommissioningFilesData)</dt>
        <dd>
            @Html.FileUpload(m => m.DecommissioningFilesData,
                        new FileUploadViewModel(Model.ReadOnly, "pdf, tiff, tif, jpg, rar, zip, doc, xls, docx, xlsx"), Model.ReadOnly)
        </dd>
    </dl>

    @Html.SaveButton("SaveForm(this)", Model.ReadOnly)

}
<h3>Решение о создании (закупке) ОУ</h3>
@Html.AddButton("OpenEditDocPopup()", Model.ReadOnly)
@Html.Table("GridDocuments", Model.Documents,
            new DataTableSettings<TableAODecisionToCreate>()    
            .AddColumn(m => m.Name)
            .AddColumn(m => m.Number)
            .AddColumn(m => m.DateAdoption)
            .AddColumn(m => m.UrlLink)
            .AddColumn(m => m.FileLink)
            .AddColumn(new DataTablesDeleteColumn(!Model.ReadOnly)),
        new DataTablesConfig()
            .OnRowClick("OpenEditDocPopup(nRow)"))

@section scripts
{
    <script type="text/javascript">

        $(function() {

            @if (Model.ReadOnly)
            {
                <text>
        $("#Targets").cleditor().get(0).disable(true);
        $("#PurposeAndScope").cleditor().get(0).disable(true);

        //Скрываем панель с кнопками
        $('.cleditorToolbar').hide()
        </text>
            }
            else
            {
                <text>

        $("#Targets").cleditor();
        $("#PurposeAndScope").cleditor();

        </text>
            }

            $("#BalanceCost").numberMoney(2);

            $('#Number').mask("99.9999999");

        });

        function OpenEditDocPopup(nRow) {

            var tr = $(nRow);
            var id = tr.data('id');

            popup.popover({
                url: '@Url.Action("AccountingDocEdit")',
                data: {
                    accountingObjectId: @Model.Current.Id,
                    id: id
                },
                onclose: PopupClosed,
            });
        }

        function SaveForm(s) {

            var form = $(s).closest('form');

            if (!form.valid()) {
                return false;
            }

            $.ajax({
                url: '@Url.Action("CommonDataEdit")',
                type: 'post',
                data: {
                    Id: @Model.Id,
                    Stage: $("#Stage").val(),
                    TypeId: $("#TypeId").val(),
                    KindId: $("#KindId").val(),
                    StatusId: $("#StatusId").val(),
                    FullName: $("#Name").val(),
                    Number: $("#Number").val(),
                    Targets: $("#Targets").val(),
                    PurposeAndScope: $("#PurposeAndScope").val(),
                    AdoptionBudgetDate: $("#AdoptionBudgetDate").val(),
                    ExpenditureItemId: $("#ExpenditureItemId").val(),
                    BalanceCost: $("#BalanceCost").val(),
                    AdoptionBudgetBasis: $("#AdoptionBudgetBasis").val(),
                    CommissioningDocName: $("#CommissioningDocName").val(),
                    CommissioningDocNumber: $("#CommissioningDocNumber").val(),
                    CommissioningDocDateAdoption: $("#CommissioningDocDateAdoption").val(),
                    CommissioningDate: $("#CommissioningDate").val(),
                    CommissioningFiles: CommissioningFilesData.GetValue(),
                    DecommissioningDocName: $("#DecommissioningDocName").val(),
                    DecommissioningDocNumber: $("#DecommissioningDocNumber").val(),
                    DecommissioningDocDateAdoption: $("#DecommissioningDocDateAdoption").val(),
                    DecommissioningDate: $("#DecommissioningDate").val(),
                    DecommissioningFiles: DecommissioningFilesData.GetValue(),
                },
                success: function(res) {
                    if (res.success) {
                        notify.showSuccess(res.message);

                        //TODO: перезагружаем страницу, чтобы обновились ссылки на файлы, если мы их подгружали, то их уже нет в Temp
                        //TODO: придумать что-то без перезагрузки страницы.
                        location.reload();
                    } else
                        notify.showWarning(res.message);
                },
            });

            form.submit(function() {
                return false;
            });

            return false;
        }

    </script>
}