﻿@using bgTeam.IsRui.WebApp.Helpers
@model bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.CreateViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Создать объект учета</h1>

<div>Полное и краткое наименование объекта учета указывается в соответствии с правовыми актами, устанавливающими необходимость создания объекта учета.</div>

@using (Html.FormBegin())
{
    <dl>
        <dt>@Html.LabelReq(m => m.ShortName)</dt>
        <dd>@Html.TextBox(m => m.ShortName)</dd>
    </dl>

    @Html.SaveButton("SaveForm(this)")
}

@section scripts
{
    <script>
        function SaveForm(s) {
            var form = $(s).closest('form');
            if (!form.valid()) {
                return false;
            }

            $.ajax({
                url: '@Url.Action("Create")',
                type: 'post',
                data: {
                    ShortName: $("#ShortName").val(),
                },
                success: function(response) {
                    if (!response.success)
                        notify.showWarning(response.message);
                    else
                        window.location = '@Url.Action("List")';
                }
            });

            form.submit(function() {
                return false;
            });

            return false;
        }
    </script>
}