﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.ViewModels.Shared
@model bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.Master.DecommissioningViewModel
@{
    Layout = "~/Views/AccountingObjects/_LayoutMaster.cshtml";
}

@*<h2>Шаг @Model.Master.Position</h2>*@
<h1>Заполните сведения о выводе из эксплуатации объекта учета</h1>

@using (Html.FormBegin())
{    
    @Html.DateBoxMD(m => m.DecommissioningDate)

    <h1>Акт о выводе из эксплуатации</h1>

    @Html.TextBoxMD(m => m.DecommissioningDocName)
    @Html.TextBoxMD(m => m.DecommissioningDocNumber)
    @Html.DateBoxMD(m => m.DecommissioningDocDateAdoption)
    @Html.FileUploadMD(m => m.DecommissioningFilesData, new FileUploadViewModel(Model.ReadOnly, "pdf, tiff, tif, jpg, rar, zip, doc, xls, docx, xlsx"))    

    @Html.Partial("_NextPrevStepsPartial")

}

@section scripts
{
    <script type="text/javascript">

        function NextStep(s) {

            var form = $(s).closest('form');

            if (!form.valid()) {
                return false;
            }

            $.ajax({
                url: '@Url.Action("Decommissioning")',
                type: 'post',
                data: {
                    AccountingObjectId: @Model.Id,
                    Name: $("#DecommissioningDocName").val(),
                    Number: $("#DecommissioningDocNumber").val(),
                    DateAdoption: $("#DecommissioningDocDateAdoption").val(),
                    DecommissioningDate: $("#DecommissioningDate").val(),
                    DecommissioningFiles: DecommissioningFilesData.GetValue(),
                },
                success: function(res) {
                    if (res.success) {
                        window.location = '@Url.Action(Model.Master.Next, new {id = Model.Id})';
                    } else
                        notify.showWarning(res.message);
                },
            });

            form.submit(function() {
                return false;
            });

            return false;
        }

    </script>
}