﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.Helpers.Control
@using bgTeam.IsRui.WebApp.ViewModels.AccountingObjects
@model bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.Master.DocumentBaseViewModel
@{
    Layout = "~/Views/AccountingObjects/_LayoutMaster.cshtml";
}

@*<h1>Шаг @Model.Master.Position</h1>*@
<h1>Добавьте документы, выступающие в качестве основания для создания (закупки) объекта учета</h1>

@Html.AddButton("OpenEditDocPopup()", Model.ReadOnly)
@Html.Table("GridDocuments", Model.Documents,
            new DataTableSettings<TableAODecisionToCreate>()
            .AddColumn(m => m.Name)
            .AddColumn(m => m.Number)
            .AddColumn(m => m.DateAdoption)
            .AddColumn(m => m.ParticleOfDocument)
        //.AddColumn(m => m.UrlLink)
            .AddColumn(m => m.FileLink)
            .AddColumn(new DataTablesDeleteColumn(!Model.ReadOnly)),
        new DataTablesConfig()
            .OnRowClick("OpenEditDocPopup(nRow)"))

@Html.Partial("_NextPrevStepsPartial")

@section scripts
{
    <script type="text/javascript">
        function OpenEditDocPopup(nRow) {

            var tr = $(nRow);
            var id = tr.data('id');

            popup.popover({
                url: '@Url.Action("AccountingDocEdit")',
                data: {
                    accountingObjectId: @Model.Id,
                    id: id
                }
            });
        }


        function NextStep() {
            window.location = '@Url.Action(Model.Master.Next, new {id = Model.Id})';
        }

    </script>
}