﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.ViewModels
@model bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.Master.ExternalUserInterfaceOfIsEditViewModel
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<h1>Внешний пользовательский интерфейс ИС</h1>

@using (Html.FormBegin())
{
    @Html.TextBoxMD(m => m.Name, true)
    @Html.TextBoxMD(m => m.Purpose, true)
    @Html.DropDownMD(m => m.TypeId, Model.Types)
    @Html.TextBoxMD(m => m.Url)
    
    @*<dl>
        <dt>@Html.LabelReq(m => m.Name)</dt>
        <dd></dd>
        <dt>@Html.LabelReq(m => m.Purpose)</dt>
        <dd></dd>
        <dt>@Html.LabelReq(m => m.TypeId)</dt>
        <dd></dd>
        <dt>@Html.LabelFor(m => m.Url)</dt>
        <dd></dd>
    </dl>*@

    @Html.SaveButton("SaveForm(this)", Model.ReadOnly);
}
<script>

    $(function() {
        $("#Url").rules("add", {
            url: true,
            messages: {
                url: "@ValidateViewModel.NotUrl"
            }
        });
    });

    function SaveForm(s) {
        var form = $(s).closest('form');

        if (!form.valid()) {
            return false;
        }

        $.ajax({
            url: '@Url.Action("ExternalUserInterfaceOfIsEdit")',
            type: 'post',
            data: {
                xId: @Model.Id,
                AccountingObjectId: @Model.AccountingObjectId,
                Name: $("#Name").val(),
                Purpose: $("#Purpose").val(),
                TypeId: $("#TypeId").val(),
                Url: $("#Url").val(),
            },
            success:function (res) {
                notify.showResult(res);
                if (res.success)
                    GridExternalUserInterfacesOfIs_afterEdit(res);
                popup.close();
            },
        });

        form.submit(function () {
            return false;
        });

        return false;
    }
</script>