﻿@using bgTeam.IsRui.WebApp.Helpers
@model bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.Master.FactualLocationViewModel
@{
    Layout = "~/Views/AccountingObjects/_LayoutMaster.cshtml";
}

@*<h2>Шаг @Model.Master.Position</h2>*@
<h1>Укажите фактическое месторасположение объекта учета</h1>


@using (Html.FormBegin())
{
    @Html.TextBoxMD(m => m.LocationOrgName, Model.ReadOnly)
    @Html.TextBoxMD(m => m.LocationFioResponsible, Model.ReadOnly)
    @Html.TextBoxMD(m => m.LocationOrgAddress, Model.ReadOnly)
    @Html.TextBoxMD(m => m.LocationOrgPhone, Model.ReadOnly)

    @Html.Partial("_NextPrevStepsPartial")
}

@section scripts
{
    <script type="text/javascript">
        $(function() {
        });


        function NextStep(s) {

            var form = $(s).closest('form');

            if (!form.valid()) {
                return false;
            }

            $.ajax({
                url: '@Url.Action("FactualLocation")',
                type: 'post',
                data: {
                    xId: @Model.Id,
                    LocationOrgName: $("#LocationOrgName").val(),
                    LocationFioResponsible: $("#LocationFioResponsible").val(),
                    LocationOrgAddress: $("#LocationOrgAddress").val(),
                    LocationOrgPhone: $("#LocationOrgPhone").val(),
                },
                success: function(res) {
                    if (res.success) {
                        window.location = '@Url.Action(Model.Master.Next, new {id = Model.Id})';
                    } else
                        notify.showWarning(res.message);
                },
            });

            form.submit(function() {
                return false;
            });

            return false;
        }
    </script>
}
