﻿@using bgTeam.IsRui.WebApp.Helpers
@model bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.Master.GoalsAndPurposeViewModel
@{
    Layout = "~/Views/AccountingObjects/_LayoutMaster.cshtml";
}

@*<h1>Шаг @Model.Master.Position</h1>*@
<h1>Опишите цели и назначение объекта учета</h1>

@using (Html.FormBegin())
{
    @Html.TextAreaMD(m => m.Targets)
    @Html.TextAreaMD(m => m.PurposeAndScope)    

    @Html.Partial("_NextPrevStepsPartial")
}

@section scripts
{
    <script>

        $(function() {
            $("#Targets").cleditor();
            $("#PurposeAndScope").cleditor();
        });

        function NextStep(s) {
            var form = $(s).closest('form');
            if (!form.valid()) {
                return false;
            }

            $.ajax({
                url: '@Url.Action("GoalsAndPurpose")',
                type: 'post',
                data: {
                    xId: @Model.Id,
                    Targets: $("#Targets").val(),
                    PurposeAndScope: $("#PurposeAndScope").val(),
                },
                success: function(response) {
                    if (response.success) {
                        window.location = '@Url.Action(Model.Master.Next, new {id = Model.Id})';
                    } else {
                        notify.showWarning(response.message);
                    }
                }
            });

            form.submit(function() {
                return false;
            });

            return false;
        }
    </script>
}




