﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.Helpers.Control
@using bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.Master
@model bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.Master.GovernmentContractViewModel
@{
    Layout = "~/Views/AccountingObjects/_LayoutMaster.cshtml";
}

@*<h2>Шаг @Model.Master.Position</h2>*@
<h1>@Model.Master.Title</h1>

@Html.AddButton("AddGovernmentContract()")

@Html.Table("GridGovernmentContract", Model.Contracts,
        new DataTableSettings<TableGovernmentContract>()
            .AddColumn(x => x.Stage)
            .AddColumn(x => x.Number)
            .AddColumn(x => x.Date)
            .AddColumn(x => x.Status)
            .AddColumn(x => x.Executer)
            .AddColumn(x => x.Price)
            .AddColumn(x => x.Order)
            .AddColumn(x => x.RcDeviation)
            .AddColumn(new DataTablesDeleteColumn(true)),
        new DataTablesConfig()
        .OnRowClick("GovernmentContractOpenEdit(nRow)"))

@Html.Partial("_NextPrevStepsPartial")

@section scripts
{
    <script>

        function AddGovernmentContract() {
            popup.popover({
                width: 960,
                url: '@Url.Action("FindGovernmentContract", "SelectList", new {id = Model.Id})'
            });
        }

        function GovernmentContractOpenEdit(nRow) {

            var tr = $(nRow);
            var id = tr.data('id');

            popup.popover({
                url: '@Url.Action("GovernmentContractEdit")',
                data: {
                    id: id
                },
            });
        }


        function NextStep() {
            window.location = '@Url.Action(Model.Master.Next, RouteHelper.Merge(new {id = Model.Id}, Model.Master.NextParams))';
        }

        @*function NextStep() {
            $.ajax({
                url: '@Url.Action("GetNextStepForAO", "Master")',
                type: 'post',
                data: {
                    Id: @Model.Id,
                    Step: '@Model.MasterCurrentStep',
                },
                success: function(next) {
                    window.location = next;
                },
            });
        }*@

    </script>
}