﻿@using bgTeam.IsRui.WebApp.Helpers
@model bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.Master.GovernmentContractEditViewModel
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<h1>Гос. контракт</h1>

@using (Html.FormBegin())
{
    @Html.TextBoxMD(m => m.Number, false, true)
    @Html.TextBoxMD(m => m.Date, false, true)
    @Html.TextBoxMD(m => m.Status, false, true)
    @Html.TextAreaMD(m => m.Executer, false, true)
    @Html.TextBoxMD(m => m.Price, false, true)
    @Html.TextBoxMD(m => m.Order, false, true)
    @Html.TextAreaMD(m => m.RcDeviation)


    @*<dl>
        <dt>@Html.LabelFor(m => m.Number)</dt>
        <dd></dd>

        <dt>@Html.LabelFor(m => m.Date)</dt>
        <dd></dd>

        <dt>@Html.LabelFor(m => m.Status)</dt>
        <dd></dd>

        <dt>@Html.LabelFor(m => m.Executer)</dt>
        <dd></dd>

        <dt>@Html.LabelFor(m => m.Price)</dt>
        <dd></dd>

        <dt>@Html.LabelFor(m => m.Order)</dt>
        <dd></dd>

        <dt>@Html.LabelFor(m => m.RcDeviation)</dt>
        <dd></dd>
    </dl>*@
        
    @Html.SaveButton("SaveForm(this)");
}

<script>
    function SaveForm(s) {
        var form = $(s).closest('form');

        if (!form.valid()) {
            return false;
        }

        $.ajax({
            url: '@Url.Action("GovernmentContractEdit")',
            type: 'post',
            data: {
                Id: @Model.Id,
                RcDeviation: $("#RcDeviation").val(),
            },
            success:function (res) {
                notify.showResult(res);
                if (res.success)
                    GridGovernmentContract_afterEdit(res);
                popup.close();
            },
        });

        form.submit(function () {
            return false;
        });

        return false;
    }
</script>