﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.Helpers.Control
@using bgTeam.IsRui.WebApp.ViewModels.AccountingObjects
@model bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.Master.InformationAboutSecurityViewModel
@{
    Layout = "~/Views/AccountingObjects/_LayoutMaster.cshtml";
}

@*<h1>Шаг @Model.Master.Position</h1>*@
<h1>Заполните сведения о защите информации</h1>

@using (Html.FormBegin())
{
    @Html.DropDownMD(m => m.LevelOfSecurity, Model.LevelsOfSecurity)    
}

<h1>Сведения о прохождении специальных проверок</h1>

@Html.AddButton("OpenEditSpecCheckPopup()", Model.ReadOnly)

@Html.Table("GridSpecChecks", Model.SpecChecks,
            new DataTableSettings<TableSpecCheck>()
            .AddColumn(x => x.Name)
            .AddColumn(x => x.FileLink)
            .AddColumn(new DataTablesDeleteColumn(!Model.ReadOnly)),
        new DataTablesConfig()
                .OnRowClick("OpenEditSpecCheckPopup(nRow)"))

@Html.Partial("_NextPrevStepsPartial")

@section scripts
{
    <script type="text/javascript">

        function NextStep() {
            $.ajax({
                url: '@Url.Action("Characteristics")',
                type: 'post',
                data: {
                    Id: @Model.Id,
                    LevelOfSecurity: $("#LevelOfSecurity").val(),
                },
                success: function(response) {
                    if (response.success) {
                        window.location = '@Url.Action(Model.Master.Next, new {id = Model.Id})';
                    } else {
                        notify.showWarning(response.message);
                    }
                }
            });
        }

        function OpenEditSpecCheckPopup(nRow) {
            var tr = $(nRow);
            var id = tr.data('id');

            popup.popover({
                url: '@Url.Action("SpecCheckEdit")',
                data: {
                    accountingObjectId: @Model.Id,
                    id: id
                }
            });
        }

    </script>
}