﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.Helpers.Control
@using bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.Master
@model bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.Master.InformationInteractionCreateViewModel
@{
    Layout = "~/Views/AccountingObjects/_LayoutMaster.cshtml";
}

@*<h1>Шаг @Model.Master.Position</h1>*@
<h1>Укажите сведения об информационном взаимодействии с иными ИС и компонентами ИТКИ</h1>

<p>Внутренние ИС и компоненты ИТКИ</p>

@Html.AddButton("OpenEditInternalIsAndComponentItkiPopup()", Model.ReadOnly)
@Html.Table("GridInternalIsAndComponentsItki", Model.InternalIsAndComponentsItki,
                new DataTableSettings<TableInternalIsAndComponentItki>()
            .AddColumn(x => x.ShortName)
            .AddColumn(x => x.KindName)
            .AddColumn(x => x.DepartmentName)
            .AddColumn(x => x.Purpose)
            .AddColumn(new DataTablesDeleteColumn(!Model.ReadOnly)),
        new DataTablesConfig()
                .OnRowClick("OpenEditInternalIsAndComponentItkiPopup(nRow)"))

<p>Внешние ИС и компоненты ИТКИ</p>

@Html.AddButton("OpenEditExternalIsAndComponentItkiPopup()", Model.ReadOnly)
@Html.Table("GridExternalIsAndComponentsItki", Model.ExternalIsAndComponentsItki,
                    new DataTableSettings<TableExternalIsAndComponentItki>()
            .AddColumn(x => x.Name)
            .AddColumn(x => x.Purpose)
            .AddColumn(x => x.Smev)
            .AddColumn(x => x.Url)
            .AddColumn(new DataTablesDeleteColumn(!Model.ReadOnly)),
        new DataTablesConfig()
                    .OnRowClick("OpenEditExternalIsAndComponentItkiPopup(nRow)"))

<p>Внешние пользовательские интерфейсы ИС</p>

@Html.AddButton("OpenEditExternalUserInterfaceOfIsPopup()", Model.ReadOnly)
@Html.Table("GridExternalUserInterfacesOfIs", Model.ExternalUserInterfacesOfIs,
                    new DataTableSettings<TableExternalUserInterfaceOfIs>()
            .AddColumn(x => x.Name)
            .AddColumn(x => x.Purpose)
            .AddColumn(x => x.Type)
            .AddColumn(x => x.Url)
            .AddColumn(new DataTablesDeleteColumn(!Model.ReadOnly)),
        new DataTablesConfig()
                    .OnRowClick("OpenEditExternalUserInterfaceOfIsPopup(nRow)"))


@Html.Partial("_NextPrevStepsPartial")

@section scripts
{
    <script type="text/javascript">

        var _internalIsAndComponentItkiEditPopup = new Popup(10);

        function OpenEditInternalIsAndComponentItkiPopup(nRow) {
            var tr = $(nRow);
            var id = tr.data('id');

            _internalIsAndComponentItkiEditPopup.popover({
                url: '@Url.Action("InternalIsAndComponentItkiEdit")',
                data: {
                    accountingObjectId: @Model.Id,
                    id: id
                }
            });
        }

        function OpenEditExternalIsAndComponentItkiPopup(nRow) {
            var tr = $(nRow);
            var id = tr.data('id');

            popup.popover({
                url: '@Url.Action("ExternalIsAndComponentItkiEdit")',
                data: {
                    accountingObjectId: @Model.Id,
                    id: id
                }
            });
        }

        function OpenEditExternalUserInterfaceOfIsPopup(nRow) {
            var tr = $(nRow);
            var id = tr.data('id');

            popup.popover({
                url: '@Url.Action("ExternalUserInterfaceOfIsEdit")',
                data: {
                    accountingObjectId: @Model.Id,
                    id: id
                }
            });
        }

        function NextStep() {
            window.location = '@Url.Action(Model.Master.Next, new {id = Model.Id})';
        }
    </script>
}