﻿@using bgTeam.IsRui.WebApp.Helpers
@model bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.Master.InternalIsAndComponentItkiEditViewModel

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<h1>Внутренний ИС и компоненты ИТКИ</h1>

@using (Html.FormBegin())
{
    @Html.SelectEntityMD(m => m.Object, Url.Action("AccountingObjects", "SelectList", new RouteValueDictionary() { { "exludeId", Model.AccountingObjectId } }))
    @Html.TextBoxMD(m => m.Purpose, true)
    
    @*<dl>
        <dt>@Html.LabelFor(m => m.Object)</dt>
        <dd></dd>
        <dt>@Html.LabelFor(m => m.Purpose)</dt>
        <dd></dd>
    </dl>*@

    @Html.SaveButton("SaveForm(this)", Model.ReadOnly);
}
<script>

    function SaveForm(s) {
        var form = $(s).closest('form');

        if (!form.valid()) {
            return false;
        }

        $.ajax({
            url: '@Url.Action("InternalIsAndComponentItkiEdit")',
            type: 'post',
            data: {
                xId: @Model.Id,
                AccountingObjectId: @Model.AccountingObjectId,
                ObjectId: $("#hf_Object").val(),
                Purpose: $("#Purpose").val(),
            },
            success:function (res) {
                notify.showResult(res);
                if (res.success)
                    GridInternalIsAndComponentsItki_afterEdit(res);
                _internalIsAndComponentItkiEditPopup.close();
            },
        });

        form.submit(function () {
            return false;
        });

        return false;
    }
</script>