﻿@using bgTeam.IsRui.WebApp.Helpers
@model bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.KindMasterEditViewModel
@{
    Layout = "~/Views/AccountingObjects/_LayoutMaster.cshtml";
}

<h1>Выберите классификационную категорию объекта учета</h1>

@using (Html.FormBegin())
{
    @Html.DropDownMD(m => m.KindId, Model.KindList)

    @Html.Partial("_NextPrevStepsPartial")
}

@section scripts
{
    <script>
        function NextStep(s) {
            var form = $(s).closest('form');
            if (!form.valid()) {
                return false;
            }

            $.ajax({
                url: '@Url.Action("KindMasterEdit")',
                type: 'post',
                data: {
                    xId : @Model.Id,
                    KindId: $("#KindId").val(),
                },
                success: function(response) {
                    if (response.success) {
                        window.location = '@Url.Action(Model.Master.Next, RouteHelper.Merge(new {id = Model.Id}, Model.Master.NextParams))';
                    } else
                        notify.showWarning(response.message);
                }
            });

            form.submit(function() {
                return false;
            });

            return false;
        }
    </script>
}