﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.Helpers.Control
@using bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.KindsOfSupport
@model KindsOfSupportViewModel
@{
    ViewBag.Title = "Виды обеспечения";
    Layout = "~/Views/AccountingObjects/_LayoutAccountingObjects.cshtml";
}

<h2>@ViewBag.Title</h2>

<h3>Техническое обеспечение</h3>

@Html.AddButton("OpenTechnicalSupportEditPopup()", Model.ReadOnly)

@Html.Table("GridTechnicalSupports", Model.TechnicalSupports,
        new DataTableSettings<TableTechnicalSupport>()
            .AddColumn(x => x.Name, searchable: true, sortable: true)
            .AddColumn(m => m.CategoryKindOfSupportName)
            .AddColumn(m => m.ManufacturerName)
            .AddColumn(m => m.Amount)
            .AddColumn(m => m.Summa)
            .AddColumn(new DataTablesDeleteColumn(!Model.ReadOnly)),
        new DataTablesConfig()
        .OnRowClick("OpenTechnicalSupportEditPopup(nRow)"))

<h3>Программное обеспечение</h3>

@Html.AddButton("OpenSoftwareEditPopup()", Model.ReadOnly)

@Html.Table("GridSoftwares", Model.Softwares,
        new DataTableSettings<TableSoftware>()
            .AddColumn(x => x.Name, searchable: true, sortable: true)
            .AddColumn(m => m.CategoryKindOfSupportName)
            .AddColumn(m => m.ManufacturerName)
            .AddColumn(m => m.Amount)
            .AddColumn(m => m.Summa)
            .AddColumn(m => m.Right)
            .AddColumn(new DataTablesDeleteColumn(!Model.ReadOnly)),
        new DataTablesConfig()
        .OnRowClick("OpenSoftwareEditPopup(nRow)"))

<h3>Работы и услуги</h3>

@Html.AddButton("OpenWorkAndServiceEditPopup()", Model.ReadOnly)

@Html.Table("GridWorksAndServices", Model.WorksAndServices,
        new DataTableSettings<TableWorkAndService>()
            .AddColumn(x => x.Name, searchable: true, sortable: true)
            .AddColumn(m => m.CategoryKindOfSupportName)
            .AddColumn(m => m.InformationLeasedInfrastructure)
            .AddColumn(m => m.OkvedName)
            .AddColumn(m => m.Summa)
            .AddColumn(new DataTablesDeleteColumn(!Model.ReadOnly)),
        new DataTablesConfig()
        .OnRowClick("OpenWorkAndServiceEditPopup(nRow)"))

@section scripts
{
    <script type="text/javascript">
        function OpenTechnicalSupportEditPopup(nRow) {
            var tr = $(nRow);
            var id = tr.data('id');

            popup.popover({
                url: '@Url.Action("TechnicalSupportEdit")',
                data: {
                    accountingObjectId: @Model.Id,
                    id: id
                }
            });
        }

        function OpenSoftwareEditPopup(nRow) {
            var tr = $(nRow);
            var id = tr.data('id');

            popup.popover({
                url: '@Url.Action("SoftwareEdit")',
                data: {
                    accountingObjectId: @Model.Id,
                    id: id
                }
            });
        }

        function OpenWorkAndServiceEditPopup(nRow) {
            var tr = $(nRow);
            var id = tr.data('id');

            popup.popover({
                url: '@Url.Action("WorkAndServiceEdit")',
                data: {
                    accountingObjectId: @Model.Id,
                    id: id
                }
            });
        }
    </script>
}