﻿@model bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.ListViewModel
@{
    Layout = "~/Views/AccountingObjects/_LayoutAccountingObjectsList.cshtml";
}

@*@Html.AddButton("CreateAccountingObject()", !Model.AddNew)*@

@*@foreach (var item in Model.Items)
{
    <li>
        <div class="b_card-ou">
            <a class="name" href="@Url.Action("IndexCard", new { id = item.Id })">@item.ShortName</a>
            <p>@item.Description</p>
            <p>@item.Cost</p>
            <div class="status">@item.Stage</div>
            <div class="date"><span>@item.StatusName</span> </div>
            <div class="controls">
                <i class="icon icon-pencil tooltipped" data-position="top" data-delay="50" data-tooltip="Редактировать"></i>
                    <i class="icon icon-content-copy tooltipped" data-position="top" data-delay="50" data-tooltip="Копировать"></i> 
                <i class="icon @if (item.Favorite) { <text>icon-star</text> } else { <text>icon-star-outline</text> } tooltipped" data-id="@item.Id" onclick="AddInFavorites(this);" data-position="top" data-delay="50" data-tooltip="В избранное"></i>
                @if (item.CanDelete) {
                    <i class="icon icon-delete tooltipped" data-id="@item.Id" onclick="DeleteAccountingObject(this);" data-position="top" data-delay="50" data-tooltip="Удалить"></i>
                }
            </div>
        </div>
    </li>
}*@



    <li al-repeat="item in items | filter:search" al-cloak>
        <div class="b_card-ou">
            <a class="name" href="@Url.Action("IndexCard")/{{ item.Id }}">{{ item.ShortName }}</a>
            <div>{{ item.Mode }}</div>
            <div style="padding: 5px 0" value="{{item.CostValue}}">{{ item.Cost }}</div>
            <div class="status">{{ item.Stage }}</div>
            <div class="date"><span>{{ item.StatusName }}</span> </div>
            <div class="controls">
                <i al-css="icon icon-star: item.Favorite,  icon icon-star-outline: !item.Favorite" class="tooltipped" data-id="{{item.Id}}" onclick="AddInFavorites(this);" data-position="top" data-delay="50" data-tooltip="В избранное"></i>
                <i al-if="item.CanDelete" class="icon icon-delete tooltipped" data-id="{{item.Id}}" onclick="DeleteAccountingObject(this);" data-position="top" data-delay="50" data-tooltip="Удалить"></i>
            </div>
        </div>
    </li>





@*@Html.Table("Grid", Model.Items,
    new DataTablesSettings()
        .EditPage()
        .AddColumn("Number", "Уникальный идентификационный номер ОУ")
        .AddColumn("ShortName", "Краткое наименование объекта учета")
        .AddColumn("TypeName", "Тип ОУ")
        .AddColumn("KindName", "Вид ОУ")
        .AddColumn("Stage", "Стадия")
        .AddColumn("StatusName", "Статус")
        .AddColumn(new DataTablesDeleteColumn(true)),
    new DataTablesConfig())*@

@section scripts
{
<script type="text/javascript">
    @*function CreateAccountingObject() {
        window.location = '@Url.Action(Model.URLCreate)';
    }*@

    function AddInFavorites(_this) {
        $.post('@Url.Action("AddInFavorites")', { accountingObjectId: $(_this).data('id') }, function (res) {
            if (res.success) {
                $(_this).toggleClass("icon-star-outline").toggleClass("icon-star");
                notify.showSuccess(res.message);
            } else
                notify.showWarning(res.message);
        });
    }

    function DeleteAccountingObject(_this) {

        if (confirm('Вы действительно хотите удалить запись?')) {
            var card_ou = $(_this).closest('div .b_card-ou');


            $.post('@Url.Action("DeleteAccountingObject")', { id: $(_this).data('id') }, function (res) {
                if (res.success) {
                    //-----signalR send remove message to other users----------//
                    var delProxy1 = $.connection.removeAccountObjectHub;
                    delProxy1.server.removeAccountingObject($(_this).data('id'));
                    //---------------------------------------------------------//

                    //удалить карточку с формы
                    card_ou.remove();

                    notify.showSuccess(res.message);                    
                }
                else
                    notify.showWarning(res.message);
            });
        }
    }

    window.cardItems = [];

    app = {};

    alight.controllers.itemsCtrl = function (scope) {
        app.scope = scope;
        app.scope.items = window.cardItems;
        app.scope.currentFilter = 'all';
        app.scope.sort = function (filterType) {
            var ascDesc = $('#sortAscDesc').val();

            if (filterType === 'all') {
                getCardItems('all', null, ascDesc);
            } else if (filterType === 'favs') {
                getCardItems('favs', null, ascDesc);
            } else if (filterType === 'status') {
                getCardItems('status', $('#StatusId').val(), ascDesc);
            }
            this.currentFilter = filterType;
        }
    }

    function getCardItems(modeStr, statusValue, ascDescMode) {
        $.ajax({
            url: '@Url.Action("ListSort")',
            type: "post",
            data: {
                mode: modeStr,
                status: statusValue,
                asc: ascDescMode
                //favorite: fav
            },
            success: function (result) {
                app.scope.items= result;
                console.log(result);
                app.scope.$scan();

                var sel = $('#StatusId');

                //очищаем ранее выбранный статус, если фильтр уже не по статусам
                if (modeStr !== 'status' && sel.val() !== "")
                {
                    $("#StatusId").val($("#StatusId option:first").val());
                    $("#StatusId").material_select();                    
                }

                // Re-init tooltip
                $('.tooltipped').tooltip();

            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus);
                console.log(errorThrown);
            },
        });
    }


    // Load all cards by default
    //$(document).ready(function () {
    //    getCardItems(false);
    //});


    $(window).on('load', function () {
        getCardItems('all', null, $('#sortAscDesc').val());
        $('#StatusId').change(function () {
            var status = $('#StatusId').val();            
            getCardItems('status', status, $('#sortAscDesc').val());
        });

        $('#sortAscDesc').change(function () {
            var sortM = $('#sortAscDesc').val();
            if (sortM != 0) {
                var people = $('ul.flex-ul'),
                    peopleli = people.children('li');

                peopleli.sort(function (a, b) {
                    var aa = parseFloat($(a).children().children(":nth-child(3)").attr('value'));
                    var bb = parseFloat($(b).children().children(":nth-child(3)").attr('value'));                    

                    if (aa > bb) {
                        if (sortM == 1)
                            return 1;
                        else
                            return -1;
                    }
                    if (aa < bb) {
                        if (sortM == 1)
                            return -1;
                        else
                            return 1;
                    }
                    return 0;
                });

                peopleli.detach().appendTo(people);
           }
        });

        //----------Delete Card real-time message----------//
        var delProxy = $.connection.removeAccountObjectHub;        

        delProxy.client.cardWasRemoved = function (aoId) {
            var card2remove = $('li .b_card-ou').filter(function () {
                return $(this).find('i.icon-delete').data('id') == aoId;
            })[0];

            if (card2remove)
                $(card2remove).remove();
        };        

        $.connection.hub.start();
        //-------------------------------------------------//
        
    });
    

</script>
}
