﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.Helpers.Control
@model bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.ListMyApproveViewModel
@{
    Layout = "~/Views/AccountingObjects/_LayoutAccountingObjectsList.cshtml";
}

@foreach (var item in Model.Items)
{
    <li>
        <div class="b_card-ou">
            <a class="name" href="@Url.Action("IndexCard", new { id = item.Id })">@item.ShortName</a>
            <div style="padding: 5px 0">@item.Cost</div>
            <div class="status">@item.Stage</div>
            <div class="date"><span>@item.StatusName</span> </div>
            <div class="controls">
                @*<i class="icon icon-pencil tooltipped" data-position="top" data-delay="50" data-tooltip="Редактировать"></i>
                    <i class="icon icon-content-copy tooltipped" data-position="top" data-delay="50" data-tooltip="Копировать"></i>*@
                <i class="icon icon-star-outline tooltipped" data-id="@item.Id" onclick="AddInFavorites(this);" data-position="top" data-delay="50" data-tooltip="В избранное"></i>
                @*<i class="icon icon-delete tooltipped" data-id="@item.Id" onclick="DeleteAccountingObject(this);" data-position="top" data-delay="50" data-tooltip="Удалить"></i>*@
            </div>
        </div>
    </li>
}
