﻿@model bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.ListApproveViewModel
@{
    Layout = "~/Views/AccountingObjects/_LayoutAccountingObjectsList.cshtml";
}

@foreach (var item in Model.Items)
{
    <li>
        <div class="b_card-ou">
            <a class="name" href="@Url.Action("IndexCard", new { id = item.Id })">@item.ShortName</a>
            <p>@item.Description</p>
            <p>@item.Cost</p>
            <div class="status">@item.Stage</div>
            <div class="date"><span>@item.StatusName</span> </div>
            <div class="controls">
                @*<i class="icon icon-pencil tooltipped" data-position="top" data-delay="50" data-tooltip="Редактировать"></i>
                    <i class="icon icon-content-copy tooltipped" data-position="top" data-delay="50" data-tooltip="Копировать"></i>*@
                <i class="icon icon-star-outline tooltipped" data-id="@item.Id" onclick="AddInFavorites(this);" data-position="top" data-delay="50" data-tooltip="В избранное"></i>
                @*<i class="icon icon-delete tooltipped" data-id="@item.Id" onclick="DeleteAccountingObject(this);" data-position="top" data-delay="50" data-tooltip="Удалить"></i>*@
            </div>
        </div>
    </li>
}

@*@Html.Table("Grid", Model.Items,
        new DataTablesSettings()
            .EditPage(Url.Action("IndexCard"))
            .AddColumn("Number", "Уникальный идентификационный номер ОУ")
            .AddColumn("ShortName", "Краткое наименование объекта учета")
            .AddColumn("TypeName", "Тип ОУ")
            .AddColumn("KindName", "Вид ОУ")
            .AddColumn("Stage", "Стадия")
            .AddColumn("StatusName", "Статус")
            .AddColumn(new DataTablesDeleteColumn(true)),
        new DataTablesConfig())*@
