﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.Helpers.Control
@using bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.Master
@model bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.Master.PurchaseViewModel
@{
    Layout = "~/Views/AccountingObjects/_LayoutMaster.cshtml";
}

<h1>@Model.Master.Title</h1>

@Html.AddButton("FindPurchaseOpen()")

@Html.Table("GridPurchase", Model.Purchases,
            new DataTableSettings<TablePurchase>()
                .AddColumn(x => x.Number)
                .AddColumn(x => x.Name)
                .AddColumn(x => x.Date)
                .AddColumn(x => x.Type)
                .AddColumn(x => x.Price)
                .AddColumn(x => x.Summ)
                .AddColumn(new DataTablesDeleteColumn(true)),
            new DataTablesConfig())

@Html.Partial("_NextPrevStepsPartial")

@section scripts
{
    <script>

        function FindPurchaseOpen() {

            popup.popover({
                width: 960,
                url: '@Url.Action("FindPurchase", "SelectList", new { id = Model.Id })'
            });
        }

        function NextStep() {

            window.location = '@Url.Action(Model.Master.Next, RouteHelper.Merge(new {id = Model.Id}, Model.Master.NextParams))';
        }
</script>
}
