﻿@using bgTeam.IsRui.WebApp.Helpers
@model bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.Master.ReasonsDecommissioningViewModel
@{
    Layout = "~/Views/AccountingObjects/_LayoutMaster.cshtml";
}

<h1>Опишите причины вывода из эксплуатации объекта учета</h1>

@using (Html.FormBegin())
{
    @Html.TextAreaMD(m => m.Reasons)

    @Html.Partial("_NextPrevStepsPartial")
}

@section scripts
{
    <script>

        function NextStep(s) {
            var form = $(s).closest('form');
            if (!form.valid()) {
                return false;
            }

            $.ajax({
                url: '@Url.Action("ReasonsDecommissioning")',
                type: 'post',
                data: {
                    xId: @Model.Id,
                    Reason: $("#Reasons").val(),
                },
                success: function(response) {
                    if (response.success) {
                        window.location = '@Url.Action(Model.Master.Next, new {id = Model.Id})';
                    } else {
                        notify.showWarning(response.message);
                    }
                }
            });

            form.submit(function() {
                return false;
            });

            return false;
        }
    </script>
}