﻿@using bgTeam.IsRui.WebApp.Helpers
@model bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.Master.ResponsiblePurchaseViewModel
@{
    Layout = "~/Views/AccountingObjects/_LayoutMaster.cshtml";
}

@*<h2>Шаг @Model.Master.Position</h2>*@
<h1>Пожалуйста добавьте должностное лицо, ответственное за организацию закупок</h1>

@using (Html.FormBegin())
{
    @Html.SelectEntityMD(m => m.ResponsiblePurchase, Url.Action("ResponsiblesMyDepartment", "SelectList"))    
    
    @Html.Partial("_NextPrevStepsPartial")
}

@section scripts
{
    <script type="text/javascript">
        function NextStep(s) {

            var form = $(s).closest('form');

            if (!form.valid()) {
                return false;
            }

            $.ajax({
                url: '@Url.Action("ResponsiblePurchase")',
                type: 'post',
                data: {
                    Id: @Model.Id,
                    ResponsiblePurchase: $("#hf_ResponsiblePurchase").val(),
                },
                success: function (res) {
                    if (res.success) {
                        window.location = '@Url.Action(Model.Master.Next, RouteHelper.Merge(new { id = Model.Id }, Model.Master.NextParams))';
                    }
                    else
                        notify.showWarning(res.message);
                },
            });

            form.submit(function () {
                return false;
            });

            return false;
        }
    </script>
}