﻿@using bgTeam.IsRui.WebApp.Helpers
@model bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.ResponsiblesViewModel
@{
    ViewBag.Title = "Ответственные";
    Layout = "~/Views/AccountingObjects/_LayoutAccountingObjects.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.FormBegin())
{

    <h3>Учреждение, уполномоченное на создание, развитие ОУ</h3>

    <dl>
        <dd>@Html.DropDownList(m => m.DepartmentId, Model.DepartmentList, Model.ReadOnly)</dd>
    </dl>

    <h3>Учреждение или иное юридическое лицо, уполномоченное на эксплуатацию</h3>

    <dl>
        <dt>@Html.LabelFor(m => m.ExploitationOrgName)</dt>
        <dd>@Html.TextBox(m => m.ExploitationOrgName, Model.ReadOnly)</dd>
        <dt>@Html.LabelFor(m => m.ExploitationOrgAddress)</dt>
        <dd>@Html.TextBox(m => m.ExploitationOrgAddress, Model.ReadOnly)</dd>
        <dt>@Html.LabelFor(m => m.ExploitationFioResponsible)</dt>
        <dd>@Html.TextBox(m => m.ExploitationFioResponsible, Model.ReadOnly)</dd>
        <dt>@Html.LabelFor(m => m.ExploitationOrgPhone)</dt>
        <dd>@Html.TextBox(m => m.ExploitationOrgPhone, Model.ReadOnly)</dd>
    </dl>

    <h3>Сведения об ответственных должностных лицах</h3>

    <dl>
        <dt>@Html.LabelFor(m => m.ResponsibleCoord)</dt>
        <dd>@Html.SelectEntity(m => m.ResponsibleCoord, Url.Action("ResponsiblesMyDepartment", "SelectList"), false, Model.ReadOnly, false)</dd>

        <dt>@Html.LabelFor(m => m.ResponsibleExploitation)</dt>
        <dd>@Html.SelectEntity(m => m.ResponsibleExploitation, Url.Action("ResponsiblesMyDepartment", "SelectList"), false, Model.ReadOnly, false)</dd>

        <dt>@Html.LabelFor(m => m.ResponsiblePurchase)</dt>
        <dd>@Html.SelectEntity(m => m.ResponsiblePurchase, Url.Action("ResponsiblesMyDepartment", "SelectList"), false, Model.ReadOnly, false)</dd>

        <dt>@Html.LabelFor(m => m.ResponsibleInformation)</dt>
        <dd>@Html.SelectEntity(m => m.ResponsibleInformation, Url.Action("ResponsiblesMyDepartment", "SelectList"), false, Model.ReadOnly, false)</dd>
    </dl>

    <h3>Сведения о фактическом месторасположении объекта учета</h3>

    <dl>
        <dt>@Html.LabelFor(m => m.LocationOrgName)</dt>
        <dd>@Html.TextBox(m => m.LocationOrgName, Model.ReadOnly)</dd>
        <dt>@Html.LabelFor(m => m.LocationFioResponsible)</dt>
        <dd>@Html.TextBox(m => m.LocationFioResponsible, Model.ReadOnly)</dd>
        <dt>@Html.LabelFor(m => m.LocationOrgAddress)</dt>
        <dd>@Html.TextBox(m => m.LocationOrgAddress, Model.ReadOnly)</dd>
        <dt>@Html.LabelFor(m => m.LocationOrgPhone)</dt>
        <dd>@Html.TextBox(m => m.LocationOrgPhone, Model.ReadOnly)</dd>
    </dl>

    @Html.SaveButton("SaveForm(this)", Model.ReadOnly)
}

@section scripts
{
    <script type="text/javascript">
        function SaveForm(s) {

            var form = $(s).closest('form');

            if (!form.valid()) {
                return false;
            }

            $.ajax({
                url: '@Url.Action("ResponsiblesEdit")',
                type: 'post',
                data: {
                    Id: @Model.Id,
                    DepartmentId: $("#DepartmentId").val(),
                    ResponsibleCoordId: $("#hf_ResponsibleCoord").val(),
                    ResponsibleExploitationId: $("#hf_ResponsibleExploitation").val(),
                    ResponsiblePurchaseId: $("#hf_ResponsiblePurchase").val(),
                    ResponsibleInformationId: $("#hf_ResponsibleInformation").val(),
                    LocationOrgName: $("#LocationOrgName").val(),
                    LocationFioResponsible: $("#LocationFioResponsible").val(),
                    LocationOrgAddress: $("#LocationOrgAddress").val(),
                    LocationOrgPhone: $("#LocationOrgPhone").val(),
                },
                success: function(res) {
                    if (res.success) {
                        notify.showSuccess(res.message);
                    } else
                        notify.showWarning(res.message);
                },
            });

            form.submit(function() {
                return false;
            });

            return false;
        }
    </script>
}