﻿@using bgTeam.IsRui.WebApp.Helpers
@model bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.Master.ResponsibleServiceViewModel 
@{
    Layout = "~/Views/AccountingObjects/_LayoutMaster.cshtml";
}

@*<h1>Шаг @Model.Master.Position</h1>*@
<h1>Выберите учреждение и должностных лиц, ответственных за ведение объекта учета</h1>

@using (Html.FormBegin())
{
    @Html.DropDownMD(m => m.DepartmentId, Model.DepartmentList)
    @Html.SelectEntityMD(m => m.ResponsibleCoord, Url.Action("ResponsiblesMyDepartment", "SelectList"))
    @Html.SelectEntityMD(m => m.ResponsibleInformation, Url.Action("ResponsiblesMyDepartment", "SelectList"))    
    
    @Html.Partial("_NextPrevStepsPartial")
}

@section scripts
{
    <script type="text/javascript">
        function NextStep(s) {

            var form = $(s).closest('form');

            if (!form.valid()) {
                return false;
            }

            $.ajax({
                url: '@Url.Action("ResponsibleServiceEdit")',
                type: 'post',
                data: {
                    xId: @Model.Id,
                    DepartmentId: $("#DepartmentId").val(),
                    ResponsibleCoord: $("#hf_ResponsibleCoord").val(),
                    ResponsibleInformation: $("#hf_ResponsibleInformation").val(),
                },
                success: function(res) {
                    if (res.success) {
                        window.location = '@Url.Action(Model.Master.Next, RouteHelper.Merge(new {id = Model.Id}, Model.Master.NextParams))';
                    } else
                        notify.showWarning(res.message);
                },
            });

            form.submit(function() {
                return false;
            });

            return false;
        }
    </script>
}