﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.KindsOfSupport
@model SoftwareEditViewModel
@{
    ViewBag.Title = "Программное обеспечение";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<h1>@ViewBag.Title</h1>

@using (Html.FormBegin())
{
    @Html.TextBoxMD(m => m.Name, true)
    @Html.DropDownMD(m => m.CategoryKindOfSupportId, Model.CategoriesKindOfSupport)
    @Html.Partial("_ManufacturerPartial", Model.ManufacturerViewModel)
    @Html.TextBoxMD(m => m.Amount)
    @Html.TextBoxMD(m => m.Summa)
    @Html.DropDownMD(m => m.Right, Model.Rights)

    @*<dl>
        <dt>@Html.LabelReq(m => m.Name)</dt>
        <dd></dd>
        <dt>@Html.LabelReq(m => m.CategoryKindOfSupportId)</dt>
        <dd></dd>
        <dt>@Html.LabelReq(m => m.ManufacturerId)</dt>
        <dd></dd>
        <dt>@Html.LabelReq(m => m.Amount)</dt>
        <dd></dd>
        <dt>@Html.LabelReq(m => m.Summa)</dt>
        <dd></dd>
        <dt>@Html.LabelReq(m => m.Right)</dt>
        <dd></dd>
    </dl>*@

    <div class="CharacteristicOfLicense">
        <div class="popup_title">Характеристики лицензии</div>
        
        @Html.TextBoxMD(m => m.NameCharacteristicOfLicense)
        @Html.TextBoxMD(m => m.Model)
        @Html.DropDownMD(m => m.TypeOfConnectionToServer, Model.TypesOfConnectionToServerList)
        @Html.TextBoxMD(m => m.NumberOnlineSameTime)
        @Html.TextBoxMD(m => m.ProductNumber)
        @Html.TextBoxMD(m => m.NumberAllocatedSameTime)
        @Html.TextBoxMD(m => m.Licensor)
        @*@Html.AutocompleteTextBox(m => m.Licensor, Model.ReadOnly, source: Model.LicensorNamesJson)*@

        @*<dl>
            <dt>@Html.LabelFor(m => m.NameCharacteristicOfLicense)</dt>
            <dd></dd>
            <dt>@Html.LabelFor(m => m.Model)</dt>
            <dd></dd>
            <dt>@Html.LabelFor(m => m.TypeOfConnectionToServer)</dt>
            <dd></dd>
            <dt>@Html.LabelFor(m => m.NumberOnlineSameTime)</dt>
            <dd></dd>
            <dt>@Html.LabelFor(m => m.ProductNumber)</dt>
            <dd></dd>
            <dt>@Html.LabelFor(m => m.NumberAllocatedSameTime)</dt>
            <dd></dd>
            <dt>@Html.LabelFor(m => m.Licensor)</dt>
            <dd></dd>
        </dl>*@
    </div>
    @Html.SaveButton("SaveSoftwareForm(this)", Model.ReadOnly);
}

<script>
    $(function() {
        $("#Amount").numberInt();
        $("#Summa").numberMoney(2);

        $("#Right").change(SetVisible);

        SetVisible();

        $("#NumberOnlineSameTime").numberInt();
        $("#NumberAllocatedSameTime").numberInt();
    });

    function SetVisible() {

        if ( $("#Right").val() === "NotExclusive") {
            $("div.CharacteristicOfLicense").show();
        } else {
            $("div.CharacteristicOfLicense").hide();
        }
    }


    function SaveSoftwareForm(s) {
        var form = $(s).closest('form');

        if (!form.valid()) {
            return false;
        }

        var manufacturerId = $("#ManufacturerId").val();

        if ( $("#NotListed").is(':checked')) {
            manufacturerId = null;
        }


        $.ajax({
            url: '@Url.Action("SoftwareEdit")',
            type: 'post',
            data: {
                xId: @Model.Id,
                AccountingObjectId: @Model.AccountingObjectId,
                Name: $("#Name").val(),
                CategoryKindOfSupportId: $("#CategoryKindOfSupportId").val(),
                ManufacturerId: manufacturerId,
                ManufacturerName:  $('#ManufacturerName').val(),
                Amount: $("#Amount").val(),
                Summa: $("#Summa").val(),
                Right: $("#Right").val(),
                IdCharacteristicOfLicense: @Model.IdCharacteristicOfLicense,
                SoftwareId: @Model.Id,
                NameCharacteristicOfLicense: $("#NameCharacteristicOfLicense").val(),
                Model: $("#Model").val(),
                TypeOfConnectionToServer: $("#TypeOfConnectionToServer").val(),
                NumberOnlineSameTime: $("#NumberOnlineSameTime").val(),
                ProductNumber: $("#ProductNumber").val(),
                NumberAllocatedSameTime: $("#NumberAllocatedSameTime").val(),
                Licensor: $("#Licensor").val(),
            },
            success: function (res) {
                notify.showResult(res);
                if (res.success)
                    GridSoftwares_afterEdit(res);
                popup.close();
            },
        });

        form.submit(function () {
            return false;
        });

        return false;
    }
</script>