﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.Helpers.Control
@using bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.KindsOfSupport
@model bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.Master.SoftwareViewModel
@{
    Layout = "~/Views/AccountingObjects/_LayoutMaster.cshtml";
}

@*<h1>Шаг @Model.Master.Position</h1>*@
<h1>@Model.Master.Title</h1>

@Html.AddButton("OpenSoftwareEditPopup()", Model.ReadOnly)

@Html.Table("GridSoftwares", Model.Softwares,
    new DataTableSettings<TableSoftware>()
        .AddColumn(x => x.Name, searchable: true, sortable: true)
        .AddColumn(m => m.CategoryKindOfSupportName)
        .AddColumn(m => m.ManufacturerName)
        .AddColumn(m => m.Amount)
        .AddColumn(m => m.Summa, format: "N2")
        .AddColumn(m => m.Right)
        .AddColumn(new DataTablesDeleteColumn(!Model.ReadOnly)),
    new DataTablesConfig()
    .OnRowClick("OpenSoftwareEditPopup(nRow)"))

@Html.Partial("_NextPrevStepsPartial")

@section scripts
{
    <script type="text/javascript">
        function OpenSoftwareEditPopup(nRow) {
            var tr = $(nRow);
            var id = tr.data('id');

            popup.popover({
                url: '@Url.Action("SoftwareEdit")',
                data: {
                    accountingObjectId: @Model.Id,
                    id: id
                }
            });
        }

        function NextStep() {
            window.location = '@Url.Action(Model.Master.Next, new {id = Model.Id})';
        }
    </script>
}