﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.Helpers.Control
@using bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.Master
@model bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.Master.SpecialActivityViewModel
@{
    Layout = "~/Views/AccountingObjects/_LayoutMaster.cshtml";
}

@*<h2>Шаг @Model.Master.Position</h2>*@
<h1>Заполните сведения о специальной деятельности, на автоматизацию которой, направлена ИС</h1>

@using (Html.FormBegin())
{
   @Html.CheckBoxMD(m => m.InformAboutActivityGovOrgan)  
    
    <h1>Реализуемые государственные услуги и функции</h1>

    @Html.AddButton("OpenGovServiceEditPopup()", Model.ReadOnly)
    @Html.Table("GridGovServices", Model.GovServices,
        new DataTableSettings<TableAOGovServices>()
            .AddColumn(x => x.Name)
            .AddColumn(x => x.PercentOfUseResource)
            .AddColumn(new DataTablesDeleteColumn(!Model.ReadOnly)),
        new DataTablesConfig()
            .OnRowClick("OpenGovServiceEditPopup(nRow)"))

    @Html.Partial("_NextPrevStepsPartial")
}

@section scripts
{
    <script type="text/javascript">

        function OpenGovServiceEditPopup(nRow) {

            var tr = $(nRow);
            var id = tr.data('id');

            popup.popover({
                url: '@Url.Action("AOGovServiceEdit")',
                data: {
                    accountingObjectId: @Model.Id,
                    id: id
                }
            });
        }


        function NextStep(s) {
            var form = $(s).closest('form');
            if (!form.valid()) {
                return false;
            }

            $.ajax({
                url: '@Url.Action("SpecialActivity")',
                type: 'post',
                data: {
                    xId: @Model.Id,
                    InformAboutActivityGovOrgan: $("#InformAboutActivityGovOrgan").is(':checked'), //val() - всегда дает true
                },
                success: function(response) {
                    if (response.success) {
                        window.location = '@Url.Action(Model.Master.Next, RouteHelper.Merge(new {id = Model.Id}, Model.Master.NextParams))';
                    } else {
                        notify.showWarning(response.message);
                    }
                }
            });

            form.submit(function() {
                return false;
            });

            return false;
        }

    </script>
}