﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.ViewModels.Shared
@model bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.SpecCheckEditViewModel
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<h1>Сведения о прохождении специальных проверо</h1>

@using (Html.FormBegin())
{
    @Html.TextBoxMD(m => m.Name)
    @Html.FileUploadMD(m => m.FilesData,
                new FileUploadViewModel(Model.ReadOnly, "pdf, tiff, tif, jpg, rar, zip, doc, xls, docx, xlsx"))

    @*<dl>
        <dt>@Html.LabelReq(m => m.Name)</dt>
        <dd></dd>
        <dt>@Html.LabelFor(m => m.FilesData)</dt>
        <dd>
            
            @Html.ValidationMessage("FilesData-validate")
        </dd>
    </dl>*@

    @Html.SaveButton("SaveForm(this)", Model.ReadOnly)
}
<script>

    $(function() {
        $("#FilesData-validate").rules("add",
            {
                required: true,
                messages: {
                    required: "Загрузите Файл",
                }
            });
    });

    function SaveForm(s) {
        var form = $(s).closest('form');

        if (!form.valid()) {
            return false;
        }

        $.ajax({
            url: '@Url.Action("SpecCheckEdit")',
            type: 'post',
            data: {
                xId: @Model.Id,
                AccountingObjectId: @Model.AccountingObjectId,
                Name: $("#Name").val(),
                Files: FilesData.GetValue(),
            },
            success:function (res) {
                notify.showResult(res);
                if (res.success)
                    GridSpecChecks_afterEdit(res);
                popup.close();
            },
        });

        form.submit(function () {
            return false;
        });

        return false;
    }
</script>