﻿@using bgTeam.IsRui.WebApp.Helpers
@model bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.StageEditViewModel
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<h1>Изменить стадию</h1>

@using (Html.FormBegin())
{
    @Html.DropDownMD(m => m.StageId, Model.StageList)
    
    @Html.SaveButton("SaveForm(this)")
}
    
<script type="text/javascript">
    function SaveForm(s) {
        var form = $(s).closest('form');

        if (!form.valid())
            return false;

        $.ajax({
            url: '@Url.Action("StageChange")',
            type: 'post',
            data: {
                Id: @Model.Id,
                Stage: $("#StageId").val(),
            },
            success: function (res) {
                popup.close();
                window.location = window.location.href;
            },
        });

        form.submit(function () {
            return false;
        });

        return false;
    }
</script>
    
