﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.Helpers.Control
@using bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.KindsOfSupport
@model TechnicalSupportEditViewModel
@{
    ViewBag.Title = "Техническое обеспечение";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<h1>@ViewBag.Title</h1>

@using (Html.FormBegin())
{
    @Html.TextBoxMD(m => m.Name, true)
    @Html.DropDownMD(m => m.CategoryKindOfSupportId, Model.CategoriesKindOfSupport)
    @Html.Partial("_ManufacturerPartial", Model.ManufacturerViewModel)
    @Html.TextBoxMD(m => m.Amount)
    @Html.TextBoxMD(m => m.Summa, true)

    @*<dl>
        <dt>@Html.LabelReq(m => m.Name)</dt>
        <dd>@Html.TextBox(m => m.Name, Model.ReadOnly)</dd>

        <dt>@Html.LabelReq(m => m.CategoryKindOfSupportId)</dt>
        <dd>@Html.DropDownList(m => m.CategoryKindOfSupportId, Model.CategoriesKindOfSupport, Model.ReadOnly)</dd>

        <dt>@Html.LabelReq(m => m.ManufacturerId)</dt>
        <dd>@Html.DropDownList(m => m.ManufacturerId, Model.Manufacturers, Model.ReadOnly)</dd>

        <dt>@Html.LabelReq(m => m.Amount)</dt>
        <dd>@Html.TextBox(m => m.Amount, Model.ReadOnly)</dd>

        <dt>@Html.LabelReq(m => m.Summa)</dt>
        <dd>@Html.TextBox(m => m.Summa, Model.ReadOnly)</dd>
    </dl>*@

<div class="popup_title">Характеристики</div>
    
@Html.AddButton("OpenCharacteristicOfTechnicalSupportEditPopup()", Model.ReadOnly)
@Html.Table("GridCharacteristicOfTechnicalSupport", Model.Characteristics,
    new DataTableSettings<TableCharacteristicOfTechnicalSupport>()
        .AddColumn(m => m.Id, visible: false)
        .AddColumn(x => x.Name, searchable: true, sortable: true)
        .AddColumn(m => m.UnitName)
        .AddColumn(m => m.Value)
        .AddColumn(new DataTablesDeleteColumn(!Model.ReadOnly)),
    new DataTablesConfig()
        .OnRowClick("OpenCharacteristicOfTechnicalSupportEditPopup(nRow)"))
    
    @Html.SaveButton("SaveTechnicalSupport(this)", Model.ReadOnly)

}


<script>

    $(function() {
        $("#Amount").numberInt();
        $("#Summa").moneyRur();

    });

    function SaveTechnicalSupport(s) {
        var form = $(s).closest('form');

        if (!form.valid()) {
            return false;
        }

        var characteristicOfTechnicalSupportIds = [];

        $.each(GridCharacteristicOfTechnicalSupport.fnGetData(), function(index, element) {
            var characteristicId = element[0];
            characteristicOfTechnicalSupportIds.push(characteristicId);
        });


        var manufacturerId = $("#ManufacturerId").val();

        if ( $("#NotListed").is(':checked')) {
            manufacturerId = null;
        }


        var data = JSON.stringify({
            //'args': {
                xId: @Model.Id,
                AccountingObjectId: @Model.AccountingObjectId,
                Name: $("#Name").val(),
                CategoryKindOfSupportId: $("#CategoryKindOfSupportId").val(),
                ManufacturerId: manufacturerId,
                ManufacturerName:  $('#ManufacturerName').val(),
                Amount: $("#Amount").val(),
                Summa: $("#Summa").autoNumericGetLocal(),
                CharacteristicsOfTechnicalSupportIds: characteristicOfTechnicalSupportIds,
            //}
        });


        $.ajax({
            url: '@Url.Action("TechnicalSupportEdit")',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'post',
            data: data,
            success: function (res) {
                notify.showResult(res);
                if (res.success)
                    GridTechnicalSupports_afterEdit(res);
                popup.close();
            },
        });

        form.submit(function () {
            return false;
        });

        return false;
    }

    var _characteristicOfTechnicalSupportPopup = new Popup(1000);

    function OpenCharacteristicOfTechnicalSupportEditPopup(nRow) {
        var tr = $(nRow);
        var id = tr.data('id');

        _characteristicOfTechnicalSupportPopup.popover({
            url: '@Url.Action("CharacteristicOfTechnicalSupportEdit")',
            data: {
                technicalSupportId: @Model.Id,
                accountingObjectId: @Model.AccountingObjectId,
                id: id
            },
            onclose: PopupClosed
        });
    }
</script>