﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.Helpers.Control
@using bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.KindsOfSupport
@model bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.Master.WorkAndServiceViewModel
@{
    Layout = "~/Views/AccountingObjects/_LayoutMaster.cshtml";
}

@*<h1>Шаг @Model.Master.Position</h1>*@
<h1>@Model.Master.Title</h1>


@Html.AddButton("OpenWorkAndServiceEditPopup()", Model.ReadOnly)
@Html.Table("GridWorksAndServices", Model.WorksAndServices,
        new DataTableSettings<TableWorkAndService>()
            .AddColumn(x => x.Name, searchable: true, sortable: true)
            .AddColumn(m => m.CategoryKindOfSupportName)
            .AddColumn(m => m.InformationLeasedInfrastructure)
            .AddColumn(m => m.OkvedName)
            .AddColumn(m => m.Summa, format: "N2")
            .AddColumn(new DataTablesDeleteColumn(!Model.ReadOnly)),
        new DataTablesConfig()
        .OnRowClick("OpenWorkAndServiceEditPopup(nRow)"))


@Html.Partial("_NextPrevStepsPartial")


@section scripts
{
    <script type="text/javascript">
        function OpenWorkAndServiceEditPopup(nRow) {
            var tr = $(nRow);
            var id = tr.data('id');

            popup.popover({
                url: '@Url.Action("WorkAndServiceEdit")',
                data: {
                    accountingObjectId: @Model.Id,
                    id: id
                }
            });
        }

        function NextStep() {
            window.location = '@Url.Action(Model.Master.Next, RouteHelper.Merge(new {id = Model.Id}, Model.Master.NextParams))';
        }
    </script>
}