﻿@using bgTeam.IsRui.WebApp.Helpers
@model bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.KindsOfSupport.WorkAndServiceEditViewModel
@{
    ViewBag.Title = "Работа и услуга";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<h1>@ViewBag.Title</h1>

@using (Html.FormBegin())
{
    @Html.TextBoxMD(m => m.Name, true)
    @Html.DropDownMD(m => m.CategoryKindOfSupportId, Model.CategoriesKindOfSupport)
    @Html.TextAreaMD(m => m.InformationLeasedInfrastructure)
    @Html.DropDownMD(m => m.OkvedId, Model.Okveds)
    @Html.TextBoxMD(m => m.Summa, true)


    @*<dl>
        <dt>@Html.LabelReq(m => m.Name)</dt>
        <dd></dd>
        <dt>@Html.LabelReq(m => m.CategoryKindOfSupportId)</dt>
        <dd></dd>
        <dt>@Html.LabelFor(m => m.InformationLeasedInfrastructure)</dt>
        <dd></dd>
        <dt>@Html.LabelFor(m => m.OkvedId)</dt>
        <dd></dd>
        <dt>@Html.LabelReq(m => m.Summa)</dt>
        <dd></dd>
    </dl>*@

    @Html.SaveButton("SaveForm(this)");
}
<script>

    $(function() {
        $("#Summa").numberMoney(2);

        $("#CategoryKindOfSupportId").change(SetVisible);

        SetVisible();
    });

    function SetVisible() {

        var categoryKindOfSupportId = $("#CategoryKindOfSupportId").val();

        if (categoryKindOfSupportId == 17) { // 17 - Работы (услуги) по аренде ТО и ПО, включая аренду ресурсов на основе «облачных вычислений».
            $("#InformationLeasedInfrastructure").closest("div.row").show();
        } else {
            $("#InformationLeasedInfrastructure").closest("div.row").hide();
        }
    }

    function SaveForm(s) {
        var form = $(s).closest('form');

        if (!form.valid()) {
            return false;
        }

        $.ajax({
            url: '@Url.Action("WorkAndServiceEdit")',
            type: 'post',
            data: {
                xId: @Model.Id,
                AccountingObjectId: @Model.AccountingObjectId,
                Name: $("#Name").val(),
                CategoryKindOfSupportId: $("#CategoryKindOfSupportId").val(),
                InformationLeasedInfrastructure: $("#InformationLeasedInfrastructure").val(),
                OkvedId: $("#OkvedId").val(),
                Summa: $("#Summa").val(),
            },
            success: function (res) {
                notify.showResult(res);
                if (res.success)
                    GridWorksAndServices_afterEdit(res);
                popup.close();
            },
        });

        form.submit(function () {
            return false;
        });

        return false;
    }
</script>