﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.ViewModels
@model bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.Master.WorkAndGoodsEditViewModel
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<h2></h2>

@using (Html.FormBegin())
{
    <dl>
        <dt>@Html.LabelFor(m => m.WorksAndGoods)</dt>
        <dd>
            @Html.SelectEntity(m => m.WorksAndGoods, Url.Action("WorksAndGoods", "SelectList",
            new RouteValueDictionary { { "accountingObjectId", Model.AccountingObjectId } }), false, Model.ReadOnly)
        </dd>
    </dl>

    @Html.SaveButton("SaveWorkAndGoodsEditForm(this)", Model.ReadOnly);
}
<script>
    $(function() {
        $("#hf_WorksAndGoods").rules("add", { selectEntity: true });
        AddValidatorsMethods();
    });

    function PopupClosed()
    {
        AddValidatorsMethods();
    }

    function AddValidatorsMethods() {
        jQuery.validator.addMethod("selectEntity", function(value, element) {
            return $("#hf_WorksAndGoods").val();
        }, "@ValidateViewModel.NotZeroValueText");
    }


    function SaveWorkAndGoodsEditForm(s) {
        var form = $(s).closest('form');

        if (!form.valid()) {
            return false;
        }

        $.ajax({
            url: '@Url.Action("WorkAndGoodsEdit")',
            type: 'post',
            data: {
                Id: @Model.Id,
                ActsOfAcceptanceId: @Model.ActsOfAcceptanceId,
                NewId: $("#hf_WorksAndGoods").val(),
            },
            success: function(res) {
                notify.showResult(res);
                if (res.success) {
                    GridWorksAndGoods_afterEdit(res);

                    if (@Model.Id > 0 && res.Id != @Model.Id)
                    {
                        var _tr = $('#GridWorksAndGoods tr[data-id="' + @Model.Id + '"]');
                        GridWorksAndGoods.fnDeleteRow(_tr[0]);
                }
            }
                _workAndGoodsEditPopup.close();
    }
    });

    form.submit(function() {
        return false;
    });

    return false;
    }

</script>

