﻿html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,
strong,sub,tt,var,b,u,i,center,dl,/*dt,dd,*/ ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,
figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
{
    border: 0;
    margin: 0;
    padding: 0;
    /*vertical-align: baseline;*/
}

ol,
ul { list-style: none }


/* Выделение */

::selection,
body::selection,
input::selection,
textarea::selection { background: #DBEAFF }


/* Body */

html,
body { height: 100% }


body {
    background-color: white;
    color: #333;
    font: .8em/1.5em Arial,sans-serif;
}



/* .Page */

body.coord .page,
body.apf .page {
    margin: 0 auto;
    max-width: 1200px;
    min-width: 1008px;
}

body.prt .page {
    margin: 0 auto;
    max-width: 1008px;
    min-width: 1008px;
}

.page_wrapper {
    height: auto!important;
    margin: 0 auto -50px;
    min-height: 100%;
}

.page_footer_empty { height: 50px }

div#user {
    float: right;
    line-height: 50px;
}


/* Header, Footer */

#header,
#footer {
    background: #5E1A1A;
    height: 50px;
}

#footer span.text {
    color: white;
    line-height: 50px;
    position: relative;
}


/* Logo */

#logo {
    background: url(Imgs/logo.gif) 13px 8px no-repeat;
    background-color: white;
    color: #5E1A1A;
    float: left;
    font-family: Cuprum;
    font-size: 1.3em;
    font-weight: bold;
    left: 0;
    line-height: 0.85;
    position: relative;
    top: 0;
}

body.coord #logo {
    height: 35px;
    padding-left: 65px;
    padding-top: 15px;
    width: 150px;
}

body.prt #logo {
    height: 30px;
    padding-left: 65px;
    padding-top: 20px;
    width: 90px;
}

body.apf #logo {
    height: 38px;
    padding-left: 57px;
    padding-top: 12px;
    width: 190px;
}


/* A (Ссылки) */

a,
a.visited { color: #4782BA }

a:hover { color: #F12938 }

a.command {
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    cursor: pointer;
    text-decoration: none!important;
}

a.disabled {
    color: #A6A6A6!important;
    cursor: default;
}

/* Button */

button,
a.button,
input[type=submit] {
    background: #5E1A1A;
    border: none;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 1.2em;
    padding: 8px 18px;
    text-decoration: none;
    margin: 0px
}

button:hover,
a.button:hover,
input[type=submit]:hover { background: #5E1A1A }

button.big,
a.button.big,
input[type=submit].big {
    font-size: 1.6em;
    font-weight: bold;
}

button.small,
a.button.small,
input[type=submit].small {
    font-size: 1em;
    padding: 5px 12px;
}

button.green,
a.button.green,
input[type=submit].green {
    background: #399330;
}

button.green:hover,
a.button.green:hover,
input[type=submit].green:hover {
    background: #4fcb42;
}

button.red,
a.button.red,
input[type=submit].red {
    background: #AA2222;
}

button.red:hover,
a.button.red:hover,
input[type=submit].red:hover {
    background: red;
}


/* Общие стили */

.none { display: none }

.clear { clear: both }

.separator { padding-bottom: 20px }

.table_full {
    border: 0;
    border-collapse: collapse;
    width: 100%;
}

.table_not_border {
    border: 0;
    border-collapse: collapse;
}

.table_title {
    font-size: 1.1em;
    margin-bottom: 10px;
    margin-top: 20px;
}


div#user span,
div#user span a,
span.text a { color: #fff }

div#user span a,
span.text a { text-decoration: none }

div#user span a:hover,
span.text a:hover { text-decoration: underline }