﻿@using bgTeam.IsRui.WebApp.Helpers
@model bgTeam.IsRui.WebApp.ViewModels.Profile.UserCardViewModel
@{
    ViewBag.Title = "UserCard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="l_ouview-wrapper">
    <div class="ouview-container z-depth-1">
        <div class="ouview-content-wrap clearfix">
            <div class="ouview-content">




                @using (Html.FormBegin())
                {
                    @Html.HiddenFor(m => m.Id)

                    @Html.TextBoxMD(m => m.Login, readOnly: true)
                    @Html.TextAreaMD(m => m.Role, readOnly: true)
                    @Html.TextBoxMD(m => m.Name, true)
                    @Html.TextBoxMD(m => m.Surname, true)
                    @Html.TextBoxMD(m => m.Middlename)
                    @Html.TextBoxMD(m => m.Job)
                    @Html.TextBoxMD(m => m.Email)
                    @Html.TextBoxMD(m => m.MobPhone)
                    @Html.TextBoxMD(m => m.WorkPhone)


                    @*<dl>
                            <dt>@Html.LabelFor(m => m.Login)</dt>
                            <dd></dd>

                            <dt>@Html.LabelFor(m => m.Role)</dt>
                            <dd></dd>

                            <dt>@Html.LabelFor(m => m.Name)</dt>
                            <dd></dd>

                            <dt>@Html.LabelFor(m => m.Surname)</dt>
                            <dd></dd>

                            <dt>@Html.LabelFor(m => m.Middlename)</dt>
                            <dd></dd>

                            <dt>@Html.LabelFor(m => m.Job)</dt>
                            <dd></dd>

                            <dt>@Html.LabelFor(m => m.Email)</dt>
                            <dd></dd>

                            <dt>@Html.LabelFor(m => m.MobPhone)</dt>
                            <dd></dd>

                            <dt>@Html.LabelFor(m => m.WorkPhone)</dt>
                            <dd></dd>
                        </dl>*@

                    @Html.SaveButton("SaveForm(this)")
                }
            </div>
        </div>
    </div>
</div>
<script>
    function SaveForm(s) {
        var form = $(s).closest('form');
        if (!form.valid()) {
            return false;
        }

        $.ajax({
            url: '@Url.Action("UserCardEdit")',
            type: 'post',
            data: {
                Id: $("#Id").val(),
                Surname: $("#Surname").val(),
                Name: $("#Name").val(),
                Middlename: $("#Middlename").val(),
                Job: $("#Job").val(),
                Email: $("#Email").val(),
                MobPhone: $("#MobPhone").val(),
                WorkPhone: $("#WorkPhone").val(),
            },
            success: function (res) {
                if (res.success) {
                    notify.showSuccess(res.message);
                    window.location = window.location.href;
                }
                else
                    notify.showWarning(res.message);
            },
        });

        form.submit(function () {
            return false;
        });

        return false;
    }
</script>
