﻿body 
{
    margin: 0;
	padding-bottom: 2em;
	background-color: #ffffff;
	color: #000000;
	/*font-family: Verdana, Arial, Helvetica, sans-serif;*/
	font-family:Tahoma;
    font-size: 9pt;
}



#header
{
	height: 90px;
	background-color: #dcf4fa;
	background-image: url(top.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

#header .title {
	font: 120% Arial, Helvetica, Georgia, "Times New Roman", Times, serif;
	color: black;
	background-color: transparent;
	float: left;
	margin-right: 2em;
	margin-top: 0.3em;
	margin-left: .8em;
}

#header .breadcrumb
{
	font: 80% Arial, Helvetica, Georgia, "Times New Roman" , Times, serif;
	color: Black;
	background-color: Transparent;			
	font-weight: normal;
	font-style:italic;
	height: 10px;
	position:absolute;
	top: 0px;
	left: 110px;
}


/* Ссылки */
a,
a.visited
{	
    color: #3F66A0;
}

a.command
{
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    text-decoration: none !important;
}

a.disabled
{
    color: #A6A6A6 !important;
    cursor: default;
}



#tableTop, #tableTop a:link, #tableTop a:visited
{
    white-space: nowrap;
    color: #3F66A0;
}

.userCapt
{
    text-align:right;
    white-space: nowrap;
    /*width:50%;*/
}

.userCapt13
{
    text-align:right;
    vertical-align: top;
    /*width:50%;*/
}

/*.confBox
{
    width: 100%;
}*/

#content
{
    margin-left:5px;
    margin-right:5px;
}

/* Панель */
.div_panel_sep
{
    height: 9px;
}


/* Панель - сообщение об ошибке */
#div_error_panel 
{
    padding: 10px;
    margin: 0px 10px 10px 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #FFC800;
    background-color: #FFFBBA;
    color: #FF3333;
    text-align: left;
}

#div_error_panel.none
{
    display: none;
}


/* Форма отображения раздела Сообщения в личном кабинете */
.user_message_num
{
    text-align: right;
    padding-right: 5px;
}

.user_message_text
{
    font-weight: bold;
    vertical-align: top;
}

.user_message_date
{
    color: #888888;
    text-align: right;
    font-size: 8pt;
}

.user_message_answer
{
    font-family: Arial;
    padding-left: 35px;
}

.user_message_sep
{
    height: 15px;
}

/* Форма редактирования */
.form_edit
{
    margin: auto; 
    width: 800px;
}

.form_edit_desc
{
    width: 270px;
    text-align: right;
    vertical-align:  middle;
}

.form_edit_input
{
    vertical-align: top;
    padding-left: 10px;
}

.form_edit_input table.dxeTextBox_Aqua
{
    width: 100%;
    padding: 2px;
}

.form_edit_input table.dxeMemo_Aqua,
.form_edit_input table.dxeErrorFrameWithoutError_Aqua,
.form_edit_input td.dxeControlsCell_Aqua,
.form_edit_input table.dxeButtonEdit_Aqua,
.form_edit_input table.dxheControl_Aqua,
.form_edit_input table.dxucControl_Aqua
{
    width: 100%;
    
}


.form_edit_input td.dxeControlsCell_Aqua
{
    padding: 1px;
}

.form_edit_input table.dxeButtonEdit_Aqua
{
    padding: 2px 1px 2px 2px;
}

.form_edit_input table.dxeMemo_Aqua td
{
    padding: 2px 0px 2px 5px;
}

.form_edit_section
{
    vertical-align: top;
    padding-bottom: 3px;
}

.form_edit_section div.text
{
    font-weight: bold;
    padding: 10px 3px 5px 20px;
}

/* Линия */
div.line
{
    background-color: #83bbf3;
    width: 100%; 
    height: 1px;
}

/* Форма авторизации */
.form_auth
{
    border: 1px solid #AECAF0;
    margin: 0px auto 0px;
    width: 380px;
}

.form_auth_img
{
    height: 80px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #C0C0C0;
}

.form_auth_table
{
    padding: 20px;
    width: 100%;
}

.form_auth_text
{
    color: #777;
    padding-left: 5px;
}

.form_auth_input
{
}

.form_auth_desc
{
    padding-left: 5px;
    padding-bottom: 5px;
    font-size: 8pt;
    color: #CCC;
}

.form_auth table.dxeTextBox_Aqua
{
    width: 100%;
}

.form_auth input.dxeEditArea_Aqua
{
    font-size: 11pt;
    font-weight: bold;
    font-family: Verdana;
    height: 20px !important;
    padding: 3px 0px;
}


/* Разное */
td.big_row
{
    padding-bottom: 8px;
}   

#tooltip_container
{
    font-family: Arial;
    font-size: 11pt;
    font-weight: bold;
    padding: 2px 2px 0px 2px;
    color: #81be24; 
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    text-decoration: none !important;
    cursor: help;
}

.qtip{
   z-index: 5;
   text-align: left;
}

/* сравнение версий */
 .gridHeader { padding: 3px 6px; font-weight:bold; color:#283B56; }
 .compareRed { background-color: hotpink; }
 .compareYellow { background-color: gold; }
 .compareGreen { background-color: greenyellow; }
 .compareWhite { }
 .compareGray { background-color: lightgray; }

