﻿/* Иконки */
.icon16
{
    font-size: 0;
    vertical-align: bottom;
    display: inline-block;
    height: 16px;
    width: 16px;
    background: transparent url('img/icons_16.png') no-repeat;
}

.icon_24
{
    display: inline-block;
    height: 24px;
    width: 24px;
    background: transparent url('img/icons_24.png') no-repeat;
}

.execute_task_icon
{
    background-position: 0 -24px;
}

.select_all_icon
{
    background-position: 0 -864px;
    cursor: pointer;
}



/* Разное */
.display_none
{
    display: none;
}

.not_valid
{
    background-color: #FCC;
}

.dialog-backArrow
{
    color: #3F66A0;
    text-align: right;
    font-family: Times New Roman;
    font-size: 18px;
    padding-right: 4px;
}

.delete
{
    color: #C00 !important;
}

.grid_mouseover
{
    background-color: #FBFCE7 !important;
    cursor: pointer;
}

.arrow_back span 
{
    color: #3F66A0;
    font-family: Times New Roman;
    font-size: 1.4em;
    padding-right: 4px;
}

.activity_div
{
    margin-top: 5px; 
    margin-right: 10px;
}

.marg10
{
    margin: 10px;
}
