/* ----------------- Main ----------------- */
/* Loading panel */
.dxheLoadingDiv_MetropolisBlue
{
    background: white;
    opacity: 0.85;
    filter: alpha(opacity=85);
}
.dxheLoadingPanel_MetropolisBlue
{
	border: 1px solid #C3C3C3;
	background-color: white;
	font: 14px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	color: #333333;
}
.dxheLoadingPanel_MetropolisBlue td.dx
{
white-space: nowrap;
    	text-align: center;
	padding: 10px 14px;
}

.dxheControl_MetropolisBlue
{
}

/* Area */
.dxheContentArea_MetropolisBlue
{
    padding: 6px 4px;
}
.dxheContentArea_MetropolisBlue .dxheErrorFrame_MetropolisBlue
{
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	color: #D00707;
	background-color: #FBC7C7;
	margin-bottom: 6px;
}
.dxheContentArea_MetropolisBlue .dxheErrorFrame_MetropolisBlue .dxhe {
    padding: 5px;
}
.dxheContentArea_MetropolisBlue .dxheErrorFrame_MetropolisBlue .dxhe td {
    padding: 0px;
}
.dxheContentArea_MetropolisBlue .dxheErrorFrame_MetropolisBlue .dxheErrorFrameCloseButton_MetropolisBlue {
    cursor: pointer;
}
.dxheViewArea_MetropolisBlue
{
}
.dxheContentArea_MetropolisBlue td.dxheViewArea_MetropolisBlue /*B209529*/
{
	font-size: 0;
}
.dxheHtmlViewArea_MetropolisBlue,
.dxheDesignViewArea_MetropolisBlue,
.dxhePreviewArea_MetropolisBlue 
{
    	margin: 0px;
    	background: none #FFFFFF;
border: 0;
    	font-size: smaller;
    	font: normal 12px Arial, Helvetica, sans-serif;    
}
.dxheContentArea_MetropolisBlue .dxeMemo_MetropolisBlue td,
body.dxheDesignViewArea_MetropolisBlue,
body.dxhePreviewArea_MetropolisBlue
{
    padding: 0 0 0 4px;
}
.dxheContentArea_MetropolisBlue .dxeMemoEditArea_MetropolisBlue
{
    padding-left: 0;
    padding-right: 0;
}
.dxheControl_MetropolisBlue.dxhe-rtl .dxheContentArea_MetropolisBlue .dxeMemo_MetropolisBlue td,
body.dxheDesignViewArea_MetropolisBlue.dxhe-rtl,
body.dxhePreviewArea_MetropolisBlue.dxhe-rtl
{
	padding: 0 4px 0 0;
}
@media screen and (-webkit-min-device-pixel-ratio:0)
{
    .dxheControl_MetropolisBlue.dxhe-rtl .dxheContentArea_MetropolisBlue .dxeMemo_MetropolisBlue td
    {
	    padding: 0 0 0 4px;
    }
}
.dxheControl_MetropolisBlue .dxeMemo_MetropolisBlue textarea 
{
	resize: none;
}
/* Element appearance in DesignView */
body.dxheDesignViewArea_MetropolisBlue table.dxEmptyBorderTable_MetropolisBlue,
body.dxheDesignViewArea_MetropolisBlue table.dxEmptyBorderTable_MetropolisBlue td  {
    border:1px dotted gray;
}
@media print 
{
	body.dxheDesignViewArea_MetropolisBlue table.dxEmptyBorderTable_MetropolisBlue,
	body.dxheDesignViewArea_MetropolisBlue table.dxEmptyBorderTable_MetropolisBlue td  
	{
		border:0px;
	}
}

/* Status Bar */
.dxheStatusBar_MetropolisBlue 
{
}
.dxheStatusBar_MetropolisBlue .dxheStatusBarTab_MetropolisBlue 
{
    padding-left: 11px;
    padding-right: 12px;
    padding-bottom: 5px;
}
.dxheStatusBarActiveTab_MetropolisBlue 
{
}
.dxHtmlEditor_heSizeGrip_MetropolisBlue
{
    cursor: se-resize;
}
.dxHtmlEditor_heSizeGripRtl_MetropolisBlue
{
    cursor: ne-resize;
}
.dxheSizeGripContainer_MetropolisBlue
{
    float: left;
    height: 0;
    width: 100%;
    text-align: right;
    font-size: 0;
    margin-top: -16px;
}
.dxheControl_MetropolisBlue.dxhe-rtl .dxheSizeGripContainer_MetropolisBlue 
{
	text-align: left;
}
/* ----------------- Dialog Forms ----------------- */
#dxInsertTableForm .buttonsCell,
#dxInsertLinkForm .buttonsCell,
#dxInsertImageForm .buttonsCell,
#dxPasteFromWordForm .buttonsCell,
#dxTableColumnPropertiesForm .buttonsCell,
#dxSelectImageForm .buttonsCell,
.dxheCustomDialog_MetropolisBlue .dxhecd-Buttons
{
    background-color: white;
    border-top: Solid 1px #E0E0E0;
    padding: 11px;
}
/* Insert Image Form */
#dxInsertImageForm .imagePreviewCell,
#dxSelectImageForm .imagePreviewCell
{
    color: #878787;
    border: dashed 1px #cac8c8;
}
#dxPasteFromWordForm .pasteContainerCell td
{
	border: Solid 1px #9F9F9F;
}
/*----------------- Toolbars -----------------*/
.dxtbSpacing_MetropolisBlue
{
	height: 1px;
}
.dxtbControl_MetropolisBlue 
{
    font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    color: #333333;
    width: 100%;
    border-bottom: Solid 1px #c0c0c0;
}
.dxtbControl_MetropolisBlue td.dxmMenu_MetropolisBlue
{
	border-width: 0px;
}
.dxtbControl_MetropolisBlue .dxmLite_MetropolisBlue .dxm-main 
{
	background-color: #FFFFFF;
}
.dxtbControl_MetropolisBlue .dxmLite_MetropolisBlue .dxmtb.dxm-horizontal .dxm-separator 
{
}
.dxtbControl_MetropolisBlue .dxmLite_MetropolisBlue .dxmtb.dxm-horizontal .dxm-separator b
{
	margin-top: 3px;
	background-color: #c0c0c0;
}
.dxtbComboBoxMenuItem_MetropolisBlue
{
    padding-top: 2px;
}

/* Toolbars Lightweight Mode */
.dxtbControl_MetropolisBlue .dxmLite_MetropolisBlue .dxm-main {
    border-width: 0px;
}
.dxmLite_MetropolisBlue .dxmtb .dxtb-comboBoxMenuItem {
	border-width: 0px;
	padding-top: 1px;
	padding-bottom: 1px;
}
.dxtbControl_MetropolisBlue .dxmLite_MetropolisBlue .dxm-horizontal.dxmtb .dxm-image-l .dxm-dropDownMode.dxtb-cb .dxm-content, 
.dxtbControl_MetropolisBlue .dxmLite_MetropolisBlue .dxm-horizontal.dxmtb .dxm-image-r .dxm-dropDownMode.dxtb-cb .dxm-content
{
	padding-top: 3px;
	padding-bottom: 4px;
}
.dxtbControl_MetropolisBlue .dxmLite_MetropolisBlue .dxm-horizontal.dxmtb .dxm-image-l .dxm-item.dxtb-cddi .dxm-content, 
.dxtbControl_MetropolisBlue .dxmLite_MetropolisBlue .dxm-horizontal.dxmtb .dxm-image-r .dxm-item.dxtb-cddi .dxm-content
{
	padding-top: 4px;
	padding-bottom: 4px;
}
.dxtbControl_MetropolisBlue .dxmLite_MetropolisBlue .dxm-horizontal.dxmtb .dxm-image-l .dxm-item.dxtb-cddi .dxm-content img, 
.dxtbControl_MetropolisBlue .dxmLite_MetropolisBlue .dxm-horizontal.dxmtb .dxm-image-r .dxm-item.dxtb-cddi .dxm-content img
{
	margin-top: -1px;
}
.dxmLite_MetropolisBlue .dxhetipControl_MetropolisBlue img
{
	vertical-align: top;
}

/* ToolbarColorButton */
.dxtcbControl_MetropolisBlue { }
.dxtcbColorDiv_MetropolisBlue
{
	width: 16px;
	height: 3px;
	font-size:0px;
	background-color: Transparent;
}

/*----------------- RoundPanel -----------------*/
.dxheRP.dxrpControl_MetropolisBlue .dxrpContent_MetropolisBlue,
.dxheRP.dxrpControl_MetropolisBlue .dxrpLE,
.dxheRP.dxrpControl_MetropolisBlue .dxrpRE,
.dxheRP.dxrpControl_MetropolisBlue .dxrpBE,
.dxheRP.dxrpControl_MetropolisBlue .dxrpNHTE
{
}
.dxheRP.dxrpControl_MetropolisBlue .dxrpContent_MetropolisBlue
{
    padding: 9px 8px;
}
.dxheRP.dxrpControl_MetropolisBlue .dxrpTE,
.dxheRP.dxrpControl_MetropolisBlue .dxrpNHTE,
.dxheRP.dxrpControl_MetropolisBlue .dxrpLE,
.dxheRP.dxrpControl_MetropolisBlue .dxrpHLE,
.dxheRP.dxrpControl_MetropolisBlue .dxrpRE,
.dxheRP.dxrpControl_MetropolisBlue .dxrpHRE,
.dxheRP.dxrpControl_MetropolisBlue .dxrpBE,
.dxheRP.dxrpControlGB_MetropolisBlue .dxrpNHTE,
.dxheRP.dxrpControlGB_MetropolisBlue .dxrpLE,
.dxheRP.dxrpControlGB_MetropolisBlue .dxrpHLE,
.dxheRP.dxrpControlGB_MetropolisBlue .dxrpRE,
.dxheRP.dxrpControlGB_MetropolisBlue .dxrpBE
{
}


