﻿body 
{
    margin: 0;
	padding-bottom: 2em;
	background-color: #ffffff;
	color: #000000;
	/*font-family: Verdana, Arial, Helvetica, sans-serif;*/
	font-family:Tahoma;
    font-size: 9pt;
}

.bodyBack
{
    background-image: url('img/main_background.jpg');
    background-repeat: repeat-x;
}

#header
{
	height: 90px;
	background-color: #dcf4fa;
	background-image: url('img/top.jpg');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

#header .title {
	font: 120% Arial, Helvetica, Georgia, "Times New Roman", Times, serif;
	color: black;
	background-color: transparent;
	float: left;
	margin-right: 2em;
	margin-top: 0.3em;
	margin-left: .8em;
}

#header .breadcrumb
{
	font: 80% Arial, Helvetica, Georgia, "Times New Roman" , Times, serif;
	color: Black;
	background-color: Transparent;			
	font-weight: normal;
	font-style:italic;
	height: 10px;
	position:absolute;
	top: 0px;
	left: 110px;
}


a,
a.visited
{	
    color: #3F66A0;
}

#tableTop, #tableTop a:link, #tableTop a:visited
{
    white-space: nowrap;
    color: #3F66A0;
}

.userCapt
{
    text-align:right;
    /*white-space: nowrap;
    width:50%;*/
}

.confBox
{
    width: 100%;
}



#content
{
    margin-left:5px;
    margin-right:5px;
}

.RowRight
{
    vertical-align: top;
    padding: 5px 20px 0px 5px;
}
    
.RowLeft
{
    width: 300px;
    padding: 5px 5px 10px 40px;
    text-align: right;
    vertical-align: top;
}
    
.MainRow
{
    width: 300px;
    font-weight: bold; 
    padding: 10px 5px 10px 20px;
    vertical-align: top; 
}
    
.EndRow
{
    width: 300px;
    padding: 5px 5px 0px 40px;
    text-align: right;
    vertical-align: top;
}

.RowEdit
{
    vertical-align: middle;
    text-align: right;
}