﻿.best_practic_row
{
    margin: 5px;
    width: 99%;
    border-collapse: collapse;
    border-bottom: #99ccff 1px solid;
}

.best_practic_row .title
{
    font-weight: bold;
}

.rating
{
    float: left;
    height: 15px;
    width: 15px;
    background: url('img/rating.png') no-repeat;
}
