﻿html
{
    background-color: #EFF6FE;
}

.page
{
    width: 960px;
    margin: 0px auto;
}

#header div.title
{
    height: 22px;
    color: #4782ba;
    font-size: 11px;
    text-align: right;
    padding-top: 3px;
}

#header div#logo
{
    background: url('img/logo.png') no-repeat;
    width: 270px;
    height: 80px;
    float: left; 
}

#header div.menu
{
    float: right;
    padding-top: 55px;
}

#content
{
    padding-top: 10px;
}

#footer
{
    height: 80px;
    padding-top: 30px;
}

.round_panel
{
    border: 1px solid #a8d5e0;
    background-color: #ffffff;
            
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

/*#footer .contact
{
    display: block;
    padding-left: 15px;
    padding-top: 5px;
}*/

#footer_back
{
    position: fixed;
    background: url('img/backgroundfooter.png') repeat-x;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 623px;
    z-index: -999;
}

/*#footer_back_img
{
    padding-top: 20px;
    background: url('img/backgroundfooterimg.png') no-repeat;
    width: 940px;
    height: 300px;
    z-index: -990;
    margin: 50px auto 0px;
}

.headertitle
{
    height: 22px;
    color: #4782ba;
    font-size: 11px;
    text-align: right;
    padding-right: 10px;
}

div.headertitle
{
    padding-top: 3px;
}

input:-webkit-autofill
{
    background-color: #B2F0AC !important;
}

#headerl
{
    background-image: url('img/headbackl.png');
    height: 107px;
    width: 50px;
    float: left;
}

#headerm
{
    background-image: url('img/headback.png');
    height: 107px;
    width: 840px;
    float: left;
}

#headerr
{
    background-image: url('img/headbackr.png');
    height: 107px;
    width: 50px;
    float: left;
    position: relative;
}

.searchinput
{
    border-style: none;
    background: url('img/searchinputt.png') no-repeat 0 50%;
    height: 33px;
    line-height: 33px;
    width: 199px;
    color: #a9bcd8;
    padding-left: 10px;
}

.searchbutton
{
    display: block;
    height: 33px;
    border: none;
    background-image: url('img/searchinputb.png');
    background-color: #e2eefa;
    color: #1e478e;
    cursor: pointer;
    position: relative;
    z-index: 10;
    background-position: left top;
    background-repeat: no-repeat;
}

.searchbutton:hover
{
    background-position: left -33px;
}*/

/*#mainmenul
{
    background-image: url('img/mainmenul.png');
    height: 47px;
    width: 10px;
    float: left;
}

#mainmenum
{
    background-image: url('img/mainmenu.png');
    height: 47px;
    width: 920px;
    float: left;
}

#mainmenur
{
    background-image: url('img/mainmenur.png');
    height: 47px;
    width: 10px;
    float: left;
}


.tablenoborder
{
    width: 100%;
    border: 0px; 
    border-collapse: collapse;
}

.tablenoborder td
{
    padding: 0px;
}*/


/*.listtext
{
    float: left;
}*/

.small
{
    font-size: 12px;
}

.gray
{
    color: #a4a4a4;
}

.graysmall
{
    color: #a4a4a4;
    font-size: 12px;
}

.button_blue
{
    color: #fff;
    font-weight: 700;
    text-shadow: 0 -1px 0 #1b4477;
    border: none;
    background: url('img/button_blue.png') 0 0 no-repeat transparent;
    height: 33px;
    /*line-height: 33px;*/
    width: 160px;
    cursor: pointer;
}

.button_blue_big
{
    background: url('img/button_blue_big_sprite.png') no-repeat 0 0;
    border: 0;
    color: #fff;
    display: block;
    width: 160px;
    height: 45px;
    line-height: 44px;
    margin: 0 0 5px;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #222;
}

.button_blue_big:hover
{
    background-position: left -45px;
}



.inputtext
{
    border: none;
    background-image: url('img/input.png');
    background-color: #e2eefa;
    color: #1e478e;
    height: 33px;
    line-height: 33px;
}

/*div.service
{
    text-align: center;
}

div.service.content
{
    margin-top: 10px;
}


.footer
{
    background: url('img/backgroundfooter.png') repeat-x 0 50%;
    height: 499px;
    width: 100%;
    margin-top: -450px;
}

.footerimg
{
    background: url('img/backgroundfooterimg.png') no-repeat 0 0;
    height: 273px;
    width: 100%;
    margin-top: -85px;
}


.MRow
{
    font-weight: bold;
    padding: 10px 5px 0px 20px;
    vertical-align: top;
}

.MainRow
{
    width: 300px;
    font-weight: bold; 
    padding: 10px 5px 10px 20px;
    vertical-align: top; 
}

.MainRowLeft
{
    width: 200px;
    font-weight: bold;
    vertical-align: top;
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
}

.RowRight
{
    vertical-align: top;
    padding-top: 5px;
    padding-left: 10px;
}
    
.RowLeft
{
    text-align: right;
    vertical-align: top;
    padding-top: 5px;
}

.EndRow
{
    width: 300px;
    padding: 5px 5px 0px 40px;
    text-align: right;
    vertical-align: top;
}

.tabpanelsep
{
    height: 0px;
    
}

.panelcontetsep
{
    background-color: #83bbf3;
    width: 100%; 
    height: 1px;
}


/* Внутренняю карточка */

.card-text h2 {
	margin: 0;
	padding: 0 0 7px;
}
.card-text h2{
	color: #004990
}
	    
.card-text .date {
	color: #a4a4a4;
	padding: 0 0 10px;
}
.card-text p 
{
	padding: 0 0 15px;	
	margin: 0;
}
.card-text .left-sided 
{
	float: left; 
	margin: 0 15px 15px 0;
}

