.dxEditors_edtError_MetropolisBlue,
.dxEditors_edtCalendarPrevYear_MetropolisBlue,
.dxEditors_edtCalendarPrevYearDisabled_MetropolisBlue,
.dxEditors_edtCalendarPrevMonth_MetropolisBlue,
.dxEditors_edtCalendarPrevMonthDisabled_MetropolisBlue,
.dxEditors_edtCalendarNextMonth_MetropolisBlue,
.dxEditors_edtCalendarNextMonthDisabled_MetropolisBlue,
.dxEditors_edtCalendarNextYear_MetropolisBlue,
.dxEditors_edtCalendarNextYearDisabled_MetropolisBlue,
.dxEditors_edtCalendarFNPrevYear_MetropolisBlue,
.dxEditors_edtCalendarFNNextYear_MetropolisBlue,
.dxEditors_edtRadioButtonChecked_MetropolisBlue,
.dxEditors_edtRadioButtonUnchecked_MetropolisBlue,
.dxEditors_edtRadioButtonCheckedDisabled_MetropolisBlue,
.dxEditors_edtRadioButtonUncheckedDisabled_MetropolisBlue,
.dxEditors_edtEllipsis_MetropolisBlue,
.dxEditors_edtEllipsisDisabled_MetropolisBlue,
.dxEditors_edtDropDown_MetropolisBlue,
.dxEditors_edtDropDownDisabled_MetropolisBlue,
.dxEditors_edtDETSClockFace_MetropolisBlue,
.dxEditors_edtDETSHourHand_MetropolisBlue,
.dxEditors_edtDETSMinuteHand_MetropolisBlue,
.dxEditors_edtDETSSecondHand_MetropolisBlue,
.dxEditors_edtSpinEditIncrementImage_MetropolisBlue,
.dxEditors_edtSpinEditIncrementImageDisabled_MetropolisBlue,
.dxEditors_edtSpinEditDecrementImage_MetropolisBlue,
.dxEditors_edtSpinEditDecrementImageDisabled_MetropolisBlue,
.dxEditors_edtSpinEditLargeIncImage_MetropolisBlue,
.dxEditors_edtSpinEditLargeIncImageDisabled_MetropolisBlue,
.dxEditors_edtSpinEditLargeDecImage_MetropolisBlue,
.dxEditors_edtSpinEditLargeDecImageDisabled_MetropolisBlue,
.dxEditors_fcadd_MetropolisBlue,
.dxEditors_fcaddhot_MetropolisBlue,
.dxEditors_fcremove_MetropolisBlue,
.dxEditors_fcremovehot_MetropolisBlue,
.dxEditors_fcgroupaddcondition_MetropolisBlue,
.dxEditors_fcgroupaddgroup_MetropolisBlue,
.dxEditors_fcgroupremove_MetropolisBlue,
.dxEditors_fcopany_MetropolisBlue,
.dxEditors_fcopbegin_MetropolisBlue,
.dxEditors_fcopbetween_MetropolisBlue,
.dxEditors_fcopcontain_MetropolisBlue,
.dxEditors_fcopnotcontain_MetropolisBlue,
.dxEditors_fcopnotequal_MetropolisBlue,
.dxEditors_fcopend_MetropolisBlue,
.dxEditors_fcopequal_MetropolisBlue,
.dxEditors_fcopgreater_MetropolisBlue,
.dxEditors_fcopgreaterorequal_MetropolisBlue,
.dxEditors_fcopnotblank_MetropolisBlue,
.dxEditors_fcopblank_MetropolisBlue,
.dxEditors_fcopless_MetropolisBlue,
.dxEditors_fcoplessorequal_MetropolisBlue,
.dxEditors_fcoplike_MetropolisBlue,
.dxEditors_fcopnotany_MetropolisBlue,
.dxEditors_fcopnotbetween_MetropolisBlue,
.dxEditors_fcopnotlike_MetropolisBlue,
.dxEditors_fcgroupand_MetropolisBlue,
.dxEditors_fcgroupor_MetropolisBlue,
.dxEditors_fcgroupnotand_MetropolisBlue,
.dxEditors_fcgroupnotor_MetropolisBlue,
.dxEditors_caRefresh_MetropolisBlue,
.dxEditors_edtTBDecBtn_MetropolisBlue,
.dxEditors_edtTBIncBtn_MetropolisBlue,
.dxEditors_edtTBMainDH_MetropolisBlue,
.dxEditors_edtTBSecondaryDH_MetropolisBlue,
.dxEditors_edtTBIncBtnDisabled_MetropolisBlue,
.dxEditors_edtTBDecBtnDisabled_MetropolisBlue,
.dxEditors_edtTBMainDHDisabled_MetropolisBlue,
.dxEditors_edtTBSecondaryDHDisabled_MetropolisBlue
{
	background: transparent url('sprite.png') no-repeat;
}

/* TrackBar */
.dxEditors_edtTBDecBtn_MetropolisBlue, .dxEditors_edtTBIncBtn_MetropolisBlue,
.dxEditors_edtTBDecBtnHover_MetropolisBlue, .dxEditors_edtTBIncBtnHover_MetropolisBlue,
.dxEditors_edtTBDecBtnPressed_MetropolisBlue, .dxEditors_edtTBIncBtnPressed_MetropolisBlue,
.dxEditors_edtTBDecBtnDisabled_MetropolisBlue, .dxEditors_edtTBIncBtnDisabled_MetropolisBlue
{
	width: 20px;
	height: 20px;
}

.dxeTBHSys .dxEditors_edtTBMainDH_MetropolisBlue, .dxeTBHSys .dxEditors_edtTBSecondaryDH_MetropolisBlue,
.dxeTBHSys .dxEditors_edtTBMainDHHover_MetropolisBlue, .dxeTBHSys .dxEditors_edtTBSecondaryDHHover_MetropolisBlue,
.dxeTBHSys .dxEditors_edtTBMainDHPressed_MetropolisBlue, .dxeTBHSys .dxEditors_edtTBSecondaryDHPressed_MetropolisBlue,
.dxeTBHSys .dxEditors_edtTBMainDHDisabled_MetropolisBlue, .dxeTBHSys .dxEditors_edtTBSecondaryDHDisabled_MetropolisBlue
{
	width:7px;
	height:12px;
}
.dxeTBVSys .dxEditors_edtTBMainDH_MetropolisBlue, .dxeTBVSys .dxEditors_edtTBSecondaryDH_MetropolisBlue,
.dxeTBVSys .dxEditors_edtTBMainDHHover_MetropolisBlue, .dxeTBVSys .dxEditors_edtTBSecondaryDHHover_MetropolisBlue,
.dxeTBVSys .dxEditors_edtTBMainDHPressed_MetropolisBlue, .dxeTBVSys .dxEditors_edtTBSecondaryDHPressed_MetropolisBlue,
.dxeTBVSys .dxEditors_edtTBMainDHDisabled_MetropolisBlue, .dxeTBVSys .dxEditors_edtTBSecondaryDHDisabled_MetropolisBlue
{
	width:12px;
	height:7px;
}

.dxEditors_edtTBDecBtn_MetropolisBlue 
{
	background-position: -0px -148px;
}
.dxEditors_edtTBDecBtnHover_MetropolisBlue
{
	background-position: -44px -148px;
}
.dxEditors_edtTBDecBtnPressed_MetropolisBlue
{
	background-position: -87px -148px;
}
.dxEditors_edtTBDecBtnDisabled_MetropolisBlue
{
	background-position: -131px -148px;
}

.dxEditors_edtTBIncBtn_MetropolisBlue
{
	background-position: -22px -148px;
}
.dxEditors_edtTBIncBtnHover_MetropolisBlue
{
	background-position: -66px -148px;
}
.dxEditors_edtTBIncBtnPressed_MetropolisBlue
{ 
	background-position: -109px -148px;
}
.dxEditors_edtTBIncBtnDisabled_MetropolisBlue
{ 
	background-position: -153px -148px;
}

.dxeTBHSys .dxEditors_edtTBMainDH_MetropolisBlue, 
.dxeTBHSys .dxEditors_edtTBSecondaryDH_MetropolisBlue
{
	background-position: -19px -128px;
}
.dxeTBHSys .dxEditors_edtTBMainDHHover_MetropolisBlue,
.dxeTBHSys .dxEditors_edtTBSecondaryDHHover_MetropolisBlue
{
	background-position: -32px -128px;
}

.dxeTBHSys .dxEditors_edtTBMainDHDisabled_MetropolisBlue,
.dxeTBHSys .dxEditors_edtTBSecondaryDHDisabled_MetropolisBlue
{
	background-position: -58px -128px;
}
.dxeTBVSys .dxEditors_edtTBMainDH_MetropolisBlue,
.dxeTBVSys .dxEditors_edtTBSecondaryDH_MetropolisBlue
{
	background-position: -116px -127px;
}

.dxeTBVSys .dxEditors_edtTBMainDHHover_MetropolisBlue,
.dxeTBVSys .dxEditors_edtTBSecondaryDHHover_MetropolisBlue
{
	background-position: -116px -140px;
}

.dxeTBVSys .dxEditors_edtTBMainDHPressed_MetropolisBlue,
.dxeTBVSys .dxEditors_edtTBSecondaryDHPressed_MetropolisBlue
{
	background-position: -136px -127px;
	z-index: 7;
}
.dxeTBHSys .dxEditors_edtTBMainDHPressed_MetropolisBlue,
.dxeTBHSys .dxEditors_edtTBSecondaryDHPressed_MetropolisBlue
{
	background-position: -45px -128px;
	z-index: 7;
}
.dxeTBVSys .dxEditors_edtTBMainDHDisabled_MetropolisBlue, 
.dxeTBVSys .dxEditors_edtTBSecondaryDHDisabled_MetropolisBlue
{
	background-position: -136px -140px;
}

.dxeFocused_MetropolisBlue .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDH_MetropolisBlue, 
.dxeFocused_MetropolisBlue .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDH_MetropolisBlue
{
	background-position: -156px -127px;
}
.dxeFocused_MetropolisBlue .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHHover_MetropolisBlue,
.dxeFocused_MetropolisBlue .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHHover_MetropolisBlue
{
	background-position: -156px -140px;
}
.dxeFocused_MetropolisBlue .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHPressed_MetropolisBlue,
.dxeFocused_MetropolisBlue .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHPressed_MetropolisBlue
{
	background-position: -177px -127px;
}
.dxeFocused_MetropolisBlue .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDH_MetropolisBlue,
.dxeFocused_MetropolisBlue .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDH_MetropolisBlue
{
	background-position: -71px -128px;
}
.dxeFocused_MetropolisBlue .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHHover_MetropolisBlue,
.dxeFocused_MetropolisBlue .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHHover_MetropolisBlue
{
	background-position: -85px -128px;
}
.dxeFocused_MetropolisBlue .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHPressed_MetropolisBlue,
.dxeFocused_MetropolisBlue .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHPressed_MetropolisBlue
{
	background-position: -100px -128px;
}

/* RadioButton */
.dxEditors_edtRadioButtonChecked_MetropolisBlue,
.dxEditors_edtRadioButtonUnchecked_MetropolisBlue,
.dxEditors_edtRadioButtonCheckedDisabled_MetropolisBlue,
.dxEditors_edtRadioButtonUncheckedDisabled_MetropolisBlue {
	width: 16px;
	height: 16px;
}
.dxEditors_edtRadioButtonUnchecked_MetropolisBlue {
    background-position: 0px -40px;
}
.dxEditors_edtRadioButtonChecked_MetropolisBlue {
    background-position: -16px -40px;
}
.dxEditors_edtRadioButtonUncheckedDisabled_MetropolisBlue {
    background-position: -33px -40px;
}
.dxEditors_edtRadioButtonCheckedDisabled_MetropolisBlue {
    background-position: -49px -40px;
}

.dxEditors_edtError_MetropolisBlue,
.dxEditors_edtCalendarPrevYear_MetropolisBlue,
.dxEditors_edtCalendarPrevYearDisabled_MetropolisBlue,
.dxEditors_edtCalendarPrevMonth_MetropolisBlue,
.dxEditors_edtCalendarPrevMonthDisabled_MetropolisBlue,
.dxEditors_edtCalendarNextMonth_MetropolisBlue,
.dxEditors_edtCalendarNextMonthDisabled_MetropolisBlue,
.dxEditors_edtCalendarNextYear_MetropolisBlue,
.dxEditors_edtCalendarNextYearDisabled_MetropolisBlue,
.dxEditors_edtCalendarFNPrevYear_MetropolisBlue,
.dxEditors_edtCalendarFNNextYear_MetropolisBlue,
.dxEditors_edtEllipsis_MetropolisBlue,
.dxEditors_edtEllipsisDisabled_MetropolisBlue,
.dxEditors_edtDropDown_MetropolisBlue,
.dxEditors_edtDropDownDisabled_MetropolisBlue,
.dxEditors_edtSpinEditIncrementImage_MetropolisBlue,
.dxEditors_edtSpinEditIncrementImageDisabled_MetropolisBlue,
.dxEditors_edtSpinEditDecrementImage_MetropolisBlue,
.dxEditors_edtSpinEditDecrementImageDisabled_MetropolisBlue,
.dxEditors_edtSpinEditLargeIncImage_MetropolisBlue,
.dxEditors_edtSpinEditLargeIncImageDisabled_MetropolisBlue,
.dxEditors_edtSpinEditLargeDecImage_MetropolisBlue,
.dxEditors_edtSpinEditLargeDecImageDisabled_MetropolisBlue
{
	display:block;
	margin:auto;
}

.dxEditors_edtError_MetropolisBlue {
    background-position: -170px 0px;
    width: 14px;
    height: 14px;
}

.dxEditors_edtCalendarPrevYear_MetropolisBlue {
    background-position: -2px -170px;
    width: 24px;
    height: 24px;
}

.dxEditors_edtCalendarPrevYearDisabled_MetropolisBlue {
    background-position: -2px -196px;
    width: 24px;
    height: 24px;
}

.dxEditors_edtCalendarPrevMonth_MetropolisBlue {
    background-position: -28px -170px;
    width: 24px;
    height: 24px;
}

.dxEditors_edtCalendarPrevMonthDisabled_MetropolisBlue {
    background-position: -28px -196px;
    width: 24px;
    height: 24px;
}

.dxEditors_edtCalendarNextMonth_MetropolisBlue {
    background-position: -54px -170px;
    width: 24px;
    height: 24px;
}

.dxEditors_edtCalendarNextMonthDisabled_MetropolisBlue {
    background-position: -54px -196px;
    width: 24px;
    height: 24px;
}

.dxEditors_edtCalendarNextYear_MetropolisBlue {
    background-position: -80px -170px;
    width: 24px;
    height: 24px;
}

.dxEditors_edtCalendarNextYearDisabled_MetropolisBlue {
    background-position: -80px -196px;
    width: 24px;
    height: 24px;
}

.dxEditors_edtCalendarFNPrevYear_MetropolisBlue {
    background-position: -28px -170px;
    width: 24px;
    height: 24px;
}

.dxEditors_edtCalendarFNNextYear_MetropolisBlue {
    background-position: -54px -170px;
    width: 24px;
    height: 24px;
}

.dxEditors_edtEllipsis_MetropolisBlue {
    background-position: 0px 0px;
    width: 11px;
    height: 14px;
}

.dxEditors_edtEllipsisDisabled_MetropolisBlue {
    background-position: 0px -22px;
    width: 11px;
    height: 14px;
}

.dxeButtonEditButtonHover_MetropolisBlue .dxEditors_edtEllipsis_MetropolisBlue,
.dxeButtonEditButtonPressed_MetropolisBlue .dxEditors_edtEllipsis_MetropolisBlue {
    background-position: -12px 0px;
    width: 11px;
    height: 14px;
}

.dxEditors_edtDropDown_MetropolisBlue {
    background-position: -25px 0px;
    width: 10px;
    height: 14px;
}

.dxeButtonEditButtonHover_MetropolisBlue .dxEditors_edtDropDown_MetropolisBlue,
.dxeButtonEditButtonPressed_MetropolisBlue .dxEditors_edtDropDown_MetropolisBlue {
    background-position: -13px -22px;
    width: 10px;
    height: 14px;
}

.dxEditors_edtDropDownDisabled_MetropolisBlue {
    background-position: -25px -22px;
    width: 10px;
    height: 14px;
}

.dxEditors_edtSpinEditIncrementImage_MetropolisBlue {
    background-position: -150px 0px;
    width: 10px;
    height: 5px;
}

.dxeSpinIncButtonHover_MetropolisBlue .dxEditors_edtSpinEditIncrementImage_MetropolisBlue,
.dxeSpinIncButtonPressed_MetropolisBlue .dxEditors_edtSpinEditIncrementImage_MetropolisBlue
{
    background-position: -114px -13px;
}

.dxEditors_edtSpinEditIncrementImageDisabled_MetropolisBlue {
    background-position: -150px -13px;
    width: 10px;
    height: 5px;
}


.dxEditors_edtSpinEditDecrementImage_MetropolisBlue {
    background-position: -132px 0px;
    width: 10px;
    height: 5px;
}

.dxeSpinDecButtonHover_MetropolisBlue .dxEditors_edtSpinEditDecrementImage_MetropolisBlue,
.dxeSpinDecButtonPressed_MetropolisBlue .dxEditors_edtSpinEditDecrementImage_MetropolisBlue
{
    background-position: -114px 0px;
}

.dxEditors_edtSpinEditDecrementImageDisabled_MetropolisBlue {
    background-position: -132px -13px;
    width: 10px;
    height: 5px;
}

.dxEditors_edtSpinEditLargeIncImage_MetropolisBlue {
    background-position: -146px -26px;
    width: 4px;
    height: 7px;
}

.dxeSpinLargeIncButtonHover_MetropolisBlue .dxEditors_edtSpinEditLargeIncImage_MetropolisBlue,
.dxeSpinLargeIncButtonPressed_MetropolisBlue .dxEditors_edtSpinEditLargeIncImage_MetropolisBlue
{
    background-position: -118px -26px;
}

.dxEditors_edtSpinEditLargeIncImageDisabled_MetropolisBlue {
    background-position: -171px -26px;
    width: 4px;
    height: 7px;
}

.dxEditors_edtSpinEditLargeDecImage_MetropolisBlue {
    background-position: -132px -26px;
    width: 4px;
    height: 7px;
}

.dxeSpinLargeDecButtonHover_MetropolisBlue .dxEditors_edtSpinEditLargeDecImage_MetropolisBlue,
.dxeSpinLargeDecButtonPressed_MetropolisBlue .dxEditors_edtSpinEditLargeDecImage_MetropolisBlue
{
    background-position: -104px -26px;
}

.dxEditors_edtSpinEditLargeDecImageDisabled_MetropolisBlue {
    background-position: -158px -26px;
    width: 4px;
    height: 7px;
}

.dxEditors_fcadd_MetropolisBlue {
    background-position: 0px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcaddhot_MetropolisBlue {
    background-position: -21px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcremove_MetropolisBlue {
    background-position: -42px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcremovehot_MetropolisBlue {
    background-position: -63px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupaddcondition_MetropolisBlue {
    background-position: -168px -46px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupaddgroup_MetropolisBlue {
    background-position: -147px -46px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupremove_MetropolisBlue {
    background-position: -126px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopany_MetropolisBlue {
    background-position: 0px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopbegin_MetropolisBlue {
    background-position: -42px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopbetween_MetropolisBlue {
    background-position: -84px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopcontain_MetropolisBlue {
    background-position: -105px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopnotcontain_MetropolisBlue {
    background-position: -147px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopnotequal_MetropolisBlue {
    background-position: -168px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopend_MetropolisBlue {
    background-position: -63px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopequal_MetropolisBlue {
    background-position: 0px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopgreater_MetropolisBlue {
    background-position: -21px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopgreaterorequal_MetropolisBlue {
    background-position: -42px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopnotblank_MetropolisBlue {
    background-position: -105px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopblank_MetropolisBlue {
    background-position: -126px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopless_MetropolisBlue {
    background-position: -63px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcoplessorequal_MetropolisBlue {
    background-position: -84px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcoplike_MetropolisBlue {
    background-position: -126px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopnotany_MetropolisBlue {
    background-position: -21px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopnotbetween_MetropolisBlue {
    background-position: -147px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopnotlike_MetropolisBlue {
    background-position: -168px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupand_MetropolisBlue {
    background-position: -84px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupor_MetropolisBlue {
    background-position: -168px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupnotand_MetropolisBlue {
    background-position: -105px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupnotor_MetropolisBlue {
    background-position: -147px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_caRefresh_MetropolisBlue {	
	background-position: -106px -170px;
	width: 24px;
	height: 24px;
}

.dxEditors_edtDETSClockFace_MetropolisBlue
{
    background-position: -2px -224px;
    width: 107px;
    height: 107px;
}

.dxEditors_edtDETSHourHand_MetropolisBlue
{
    background-position: -123px -224px;
    width: 7px;
    height: 64px;
}

.dxEditors_edtDETSMinuteHand_MetropolisBlue
{
    background-position: -116px -224px;
    width: 7px;
    height: 64px;
}

.dxEditors_edtDETSSecondHand_MetropolisBlue
{
    background-position: -111px -224px;
    width: 5px;
    height: 72px;
}
