/* -- ValidationSummary -- */

.dxvsValidationSummary_MetropolisBlue
{
	font: 12px Tahoma, Geneva, sans-serif;
	color: Red;
}
.dxvsValidationSummary_MetropolisBlue td.dxvsRC_MetropolisBlue
{
	vertical-align: top;
	padding: 2px 5px 4px 6px;
}
.dxvsValidationSummary_MetropolisBlue .dxvsE_MetropolisBlue
{
}
.dxvsValidationSummary_MetropolisBlue table.dxvsHT_MetropolisBlue
{
	width: 100%;
}
.dxvsValidationSummary_MetropolisBlue td.dxvsH_MetropolisBlue
{
	padding: 2px 0;
}
.dxvsValidationSummary_MetropolisBlue a.dxvsHL_MetropolisBlue,
.dxvsValidationSummary_MetropolisBlue a.dxvsHL_MetropolisBlue:visited
{
	color: red;
}
.dxvsValidationSummary_MetropolisBlue a.dxvsHL_MetropolisBlue
{
	text-decoration: none;
	border-bottom: 1px dashed #f70;
}
.dxvsValidationSummary_MetropolisBlue a.dxvsHL_MetropolisBlue:hover
{
	color: #f70;
}
.dxvsValidationSummary_MetropolisBlue table.dxvsT_MetropolisBlue
{
}
.dxvsValidationSummary_MetropolisBlue tr.dxvsE_MetropolisBlue
{
}
.dxvsValidationSummary_MetropolisBlue td.dxvsETC_MetropolisBlue
{
	padding: 2px 0;
}
.dxvsValidationSummary_MetropolisBlue ul.dxvsL_MetropolisBlue
{
}
.dxvsValidationSummary_MetropolisBlue ol.dxvsL_MetropolisBlue
{
}
.dxvsValidationSummary_MetropolisBlue li.dxvsE_MetropolisBlue
{
	padding: 2px 0;
}

/* TrackBar */
.dxeTrackBar_MetropolisBlue
{
	user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	visibility: hidden;
}

.dxeDisabled_MetropolisBlue .dxeTBHSys a,
.dxeDisabled_MetropolisBlue .dxeTBVSys a
{
    cursor: default;
}

.dxeTBBarHighlight_MetropolisBlue
{
	font-size: 0;
}

.dxeTBScale_MetropolisBlue, .dxeTBTrack_MetropolisBlue, dxeTBBarHighlight
{
	cursor: pointer;
}

.dxeTBScale_MetropolisBlue 
{
	z-index: 1;
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
}
.dxeTBSecondaryDH_MetropolisBlue, .dxeTBMainDH_MetropolisBlue
{
	z-index: 4;
}

.dxeTBHSys
{
	width: 170px;
	height: 41px;
}
.dxeTBVSys
{
	height: 170px;
	width: 41px;
}
.dxeTrackBar_MetropolisBlue.dxeTBBScaleSys.dxeTBVSys
{
	width: 59px;
}
.dxeTrackBar_MetropolisBlue.dxeTBBScaleSys.dxeTBHSys
{	
	height: 59px;
}

.dxeTBTrack_MetropolisBlue 
{
	z-index: 2;
	position: absolute;
}

.dxeTBHSys .dxeTBTrack_MetropolisBlue
{
	background: url('edtTrackBarTrackH.gif');
}
.dxeTBVSys .dxeTBTrack_MetropolisBlue
{
	background-image:  url('edtTrackBarTrackV.gif');
}

.dxeTBHSys .dxeTBTrack_MetropolisBlue, .dxeTBHSys .dxeTBBarHighlight_MetropolisBlue
{
	height: 10px;
}
.dxeTBVSys .dxeTBTrack_MetropolisBlue, .dxeTBVSys .dxeTBBarHighlight_MetropolisBlue
{
	width: 10px;
}

.dxeTBHSys .dxeTBMainDH_MetropolisBlue, .dxeTBHSys .dxeTBSecondaryDH_MetropolisBlue
{	
	top: -1px;
	width:7px;
	height:12px;
}
.dxeTBVSys .dxeTBMainDH_MetropolisBlue, .dxeTBVSys .dxeTBSecondaryDH_MetropolisBlue
{
	left: -1px;
	width: 12px;
	height: 7px;
}

.dxeTBVSys .dxeTBRBScaleSys .dxeTBTrack_MetropolisBlue, .dxeTBVSys .dxeTBTrack_MetropolisBlue
{
	left: 6px;
}
.dxeTBVSys .dxeTBLTScaleSys .dxeTBTrack_MetropolisBlue
{
	right: 6px;
	left: auto;
}
.dxeTBHSys .dxeTBLTScaleSys .dxeTBTrack_MetropolisBlue
{
	bottom: 6px;
	top: auto;
}
.dxeTBHSys .dxeTBRBScaleSys .dxeTBTrack_MetropolisBlue, .dxeTBHSys .dxeTBTrack_MetropolisBlue
{
	top: 6px;
}

.dxeTBBarHighlight_MetropolisBlue
{
	left: 0px;
	top: 0px;
	position:absolute;
	z-index: 3;
}

.dxeTBHSys .dxeTBBarHighlight_MetropolisBlue
{
	background-image: url('edtTrackBarBarHighlightH.gif');
}
.dxeTBVSys .dxeTBBarHighlight_MetropolisBlue
{
	background-image:  url('edtTrackBarBarHighlightV.gif');
}

.dxeTBRBLabel_MetropolisBlue, .dxeTBLTLabel_MetropolisBlue
{
	text-align: center;
	color: #999999;
	cursor: default;
}
.dxeTBSmallTickSys .dxeTBRBLabel_MetropolisBlue, .dxeTBSmallTickSys .dxeTBLTLabel_MetropolisBlue,
.dxeTBLargeTickSys .dxeTBRBLabel_MetropolisBlue, .dxeTBLargeTickSys .dxeTBLTLabel_MetropolisBlue 
{	
	position: absolute;
}

.dxeTBHSys .dxeTBRBLabel_MetropolisBlue,.dxeTBHSys .dxeTBLTLabel_MetropolisBlue
{
	width: 100%;
}

.dxeTBIncBtn_MetropolisBlue, .dxeTBDecBtn_MetropolisBlue
{
	padding: 2px;
	width: 17px;
	height: 17px;
}

.dxeTBVSys .dxeTBRBLabel_MetropolisBlue, 
.dxeTBVSys .dxeTBLTLabel_MetropolisBlue
{
	padding-top: 2px;
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBRBLabel_MetropolisBlue
{
	margin-left: -4px;
}
.dxeTBVSys .dxeTBRBScaleSys .dxeTBRBLabel_MetropolisBlue, 
.dxeTBVSys .dxeTBBScaleSys .dxeTBLTLabel_MetropolisBlue
{
	right: 0px;
}
.dxeTBVSys .dxeTBLTScaleSys .dxeTBLTLabel_MetropolisBlue, 
.dxeTBVSys .dxeTBBScaleSys .dxeTBRBLabel_MetropolisBlue
{
	left: 0px;
}
.dxeTBHSys .dxeTBRBScaleSys .dxeTBRBLabel_MetropolisBlue, 
.dxeTBHSys .dxeTBBScaleSys .dxeTBLTLabel_MetropolisBlue
{
	bottom: 0px;
}
.dxeTBHSys .dxeTBLTScaleSys .dxeTBLTLabel_MetropolisBlue, 
.dxeTBHSys .dxeTBBScaleSys .dxeTBRBLabel_MetropolisBlue
{
	top: 0px;
}
.dxeTBItem_MetropolisBlue
{
	color: #8c8c8c;
}

.dxeTBHSys .dxeTBItem_MetropolisBlue .dxeTBRBLabel_MetropolisBlue, 
.dxeTBHSys .dxeTBItem_MetropolisBlue .dxeTBLTLabel_MetropolisBlue 
{
	display: inline-block;
	margin-left: 0px!important;
}
.dxeTBHSys .dxeTBRBScaleSys 
.dxeTBItem_MetropolisBlue .dxeTBRBLabel_MetropolisBlue 
{
	padding-top: 12px;
}
.dxeTBHSys .dxeTBLTScaleSys 
.dxeTBItem_MetropolisBlue .dxeTBLTLabel_MetropolisBlue 
{
	margin-top: 8px;
}
.dxeTBVSys .dxeTBRBScaleSys .dxeTBItem_MetropolisBlue .dxeTBRBLabel_MetropolisBlue 
{
	margin-left: 5px;
}

.dxeTBSelectedItem_MetropolisBlue .dxeTBRBLabel_MetropolisBlue,
.dxeTBSelectedItem_MetropolisBlue .dxeTBLTLabel_MetropolisBlue,
.dxeTBSelectedTick_MetropolisBlue .dxeTBRBLabel_MetropolisBlue, 
.dxeTBSelectedTick_MetropolisBlue .dxeTBLTLabel_MetropolisBlue
{
	color: #0072C6;
}

.dxeTBVSys .dxeTBLTScaleSys .dxeTBItem_MetropolisBlue
{
	text-align: left;
}

.dxeTBVSys .dxeTBRBScaleSys .dxeTBItem_MetropolisBlue
{
	text-align: right;
}

.dxeTBVSys .dxeTBBScaleSys .dxeTBItem_MetropolisBlue
{
	text-align: center;
}

.dxeTBHSys .dxeTBItem_MetropolisBlue
{
	background-image:  url('edtTrackBarLargeTickH.gif');
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBItem_MetropolisBlue
{
	background-image:  url('edtTrackBarDoubleSmallTickH.gif');
}
.dxeTBVSys .dxeTBItem_MetropolisBlue 
{
	background-image:  url('edtTrackBarLargeTickV.gif');
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBItem_MetropolisBlue
{
	background-image:  url('edtTrackBarDoubleSmallTickV.gif');
}

.dxeTBHSys .dxeTBLargeTick_MetropolisBlue
{
	background-image: url('edtTrackBarLargeTickH.gif');
}
.dxeTBVSys .dxeTBLargeTick_MetropolisBlue
{
	background-image: url('edtTrackBarLargeTickV.gif');
}
.dxeTBHSys .dxeTBSmallTick_MetropolisBlue
{
	background-image: url('edtTrackBarSmallTickH.gif');
}
.dxeTBVSys .dxeTBSmallTick_MetropolisBlue
{
	background-image: url('edtTrackBarSmallTickV.gif');
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBLargeTick_MetropolisBlue
{
	background-image: url('edtTrackBarDoubleLargeTickH.gif');
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBLargeTick_MetropolisBlue
{
	background-image: url('edtTrackBarDoubleLargeTickV.gif');
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBSmallTick_MetropolisBlue
{
	background-image: url('edtTrackBarDoubleSmallTickH.gif');
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBSmallTick_MetropolisBlue
{
	background-image: url('edtTrackBarDoubleSmallTickV.gif');
}

.dxeTBVSys .dxeTBIncBtn_MetropolisBlue, .dxeTBVSys .dxeReversedDirectionSys .dxeTBDecBtn_MetropolisBlue
{
	bottom: 0px;
	top: auto;
}
.dxeTBVSys .dxeTBDecBtn_MetropolisBlue, .dxeTBVSys .dxeReversedDirectionSys .dxeTBIncBtn_MetropolisBlue
{
	top: 0px;
	bottom: auto;
}
.dxeTBHSys .dxeTBDecBtn_MetropolisBlue, .dxeTBHSys .dxeReversedDirectionSys .dxeTBIncBtn_MetropolisBlue
{
	left: 0px;
	right: auto;
}
.dxeTBHSys .dxeTBIncBtn_MetropolisBlue, .dxeTBHSys .dxeReversedDirectionSys .dxeTBDecBtn_MetropolisBlue
{
	right: 0px;
	left: auto;
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBDecBtn_MetropolisBlue, 
.dxeTBVSys .dxeTBBScaleSys .dxeTBIncBtn_MetropolisBlue
{
	margin-left: -10px;
	left: 50%;
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBDecBtn_MetropolisBlue,
.dxeTBHSys .dxeTBBScaleSys .dxeTBIncBtn_MetropolisBlue
{
	margin-top: -10px;
	top: 50%;
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBTrack_MetropolisBlue
{ 
	margin-left: -4px;
	left: 50%;
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBTrack_MetropolisBlue
{ 
	margin-top: -5px;
	top: 50%;
}

.dxeTBVSys .dxeTBLTScaleSys .dxeTBDecBtn_MetropolisBlue, 
.dxeTBVSys .dxeTBLTScaleSys .dxeTBIncBtn_MetropolisBlue
{
	right: 0px;
}
.dxeTBHSys .dxeTBLTScaleSys .dxeTBDecBtn_MetropolisBlue, 
.dxeTBHSys .dxeTBLTScaleSys .dxeTBIncBtn_MetropolisBlue
{
	bottom: 0px;
}

div.dxeHelpText_MetropolisBlue,
.dxeTBValueToolTip_MetropolisBlue
{
	padding: 3px 8px 4px 8px;
    display: inline;
    position:absolute;
    background: white;
    z-index: 41998;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #c0c0c0;
    font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
}
td.dxeHelpText_MetropolisBlue {
    visibility: visible;
    color: #9F9F9F;
    font: 11px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
}
td.dxeHelpText_MetropolisBlue.dxeHHelpTextSys {
    padding: 0 6px;
}
td.dxeHelpText_MetropolisBlue.dxeVHelpTextSys {
    padding: 2px 0;
}

/* Loading */
.dxeLoadingDiv_MetropolisBlue
{
	background: White none;
	opacity: 0.85;
	filter: alpha(opacity=85);
}
.dxeLoadingDivWithContent_MetropolisBlue
{
	background: White none;
	opacity: 0.01;
	filter: alpha(opacity=1);
}

.dxeLoadingPanel_MetropolisBlue
{
	font: 14px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	color: #333333;
}
.dxeLoadingPanelWithContent_MetropolisBlue
{
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	color: #303030;
	background: #FFFFFF none;
	border: 1px solid #D6D6D6;
}

.dxeLoadingPanel_MetropolisBlue td.dx, 
.dxeLoadingPanelWithContent_MetropolisBlue td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 10px 14px;
}

.dxeButtonEditSys .dxic .dxeLoadingDiv_MetropolisBlue
{
	opacity: 1!important;
	filter: alpha(opacity=100)!important;
}

.dxeButtonEditSys .dxic .dxeLoadingPanel_MetropolisBlue
{
    background-color: transparent!important;
    font: normal 0px arial, verdana!important;
}

.dxeButtonEditSys .dxic .dxeLoadingPanel_MetropolisBlue td.dx
{
	padding: 0px!important;
}

.dxeButtonEditSys .dxic .dxeLoadingPanel_MetropolisBlue td.dx > span
{
	display: none;
}

.dxeButtonEditSys .dxic .dxeLoadingPanel_MetropolisBlue td.dx > img
{
	height: 15px;
    width: auto;
    vertical-align: middle;
}

.dxeReadOnly_MetropolisBlue
{
}
.dxeBase_MetropolisBlue
{
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	color: #333333;
}
td.dxic
{
	font-size: 0;
}
/* InternalCheckBox */
.dxeIRBFocused_MetropolisBlue
{
	border: 1px dotted #ffb100;
	margin: 0px!important;
}
.dxeIRadioButton_MetropolisBlue
{
	margin: 1px;
	display: inline-block;
	vertical-align: middle;
}
/* -- ErrorFrame -- */
.dxeErrorCell_MetropolisBlue,
.dxeErrorCell_MetropolisBlue td
{
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	color: Red;
}
.dxeErrorCell_MetropolisBlue
{
	padding-left: 4px;
	padding-right: 5px;
}
.dxeErrorFrameWithoutError_MetropolisBlue
{
	border: 1px solid Red;
}
.dxeErrorFrameWithoutError_MetropolisBlue .dxeControlsCell_MetropolisBlue,
.dxeErrorFrameWithoutError_MetropolisBlue.dxeControlsCell_MetropolisBlue
{
	padding: 2px;
}

.dxeEditArea_MetropolisBlue
{
	border: 1px solid #A0A0A0;
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	color: #333333;
}
/* -- ValidationSummary -- */

.dxvsValidationSummary_MetropolisBlue
{
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	color: Red;
}
.dxvsValidationSummary_MetropolisBlue td.dxvsRC
{
	vertical-align: top;
	padding: 2px 5px 4px 6px;
}
.dxvsValidationSummary_MetropolisBlue .dxvsE
{
}

/* ValidationSummary - Header */

.dxvsValidationSummary_MetropolisBlue table.dxvsHT
{
	width: 100%;
}
.dxvsValidationSummary_MetropolisBlue td.dxvsH
{
	padding: 2px 0;
}

/* ValidationSummary - Hyperlink */

.dxvsValidationSummary_MetropolisBlue a.dxvsHL,
.dxvsValidationSummary_MetropolisBlue a.dxvsHL:visited
{
	color: red;
}
.dxvsValidationSummary_MetropolisBlue a.dxvsHL
{
	text-decoration: none;
	border-bottom: 1px dashed #f70;
}
.dxvsValidationSummary_MetropolisBlue a.dxvsHL:hover
{
	color: #f70;
}

/* ValidationSummary - Table Layout */

.dxvsValidationSummary_MetropolisBlue table.dxvsT
{
}
.dxvsValidationSummary_MetropolisBlue tr.dxvsE
{
}
.dxvsValidationSummary_MetropolisBlue td.dxvsETC
{
	padding: 2px 0;
}

/* ValidationSummary - List Layout */

.dxvsValidationSummary_MetropolisBlue ul.dxvsL
{
}
.dxvsValidationSummary_MetropolisBlue ol.dxvsL
{
}
.dxvsValidationSummary_MetropolisBlue li.dxvsE
{
	padding: 2px 0;
}

/* -- Buttons -- */
.dxeButtonEditButton_MetropolisBlue,
.dxeCalendarButton_MetropolisBlue,
.dxeSpinIncButton_MetropolisBlue,
.dxeSpinDecButton_MetropolisBlue,
.dxeSpinLargeIncButton_MetropolisBlue,
.dxeSpinLargeDecButton_MetropolisBlue
{
	vertical-align: middle;
	cursor: pointer;
} 
.dxeButtonEditButton_MetropolisBlue,
.dxeCalendarButton_MetropolisBlue,
.dxeButtonEditButton_MetropolisBlue td.dx,
.dxeCalendarButton_MetropolisBlue td.dx,
.dxeSpinIncButton_MetropolisBlue,
.dxeSpinDecButton_MetropolisBlue,
.dxeSpinLargeIncButton_MetropolisBlue,
.dxeSpinLargeDecButton_MetropolisBlue,
.dxeSpinIncButton_MetropolisBlue td.dx,
.dxeSpinDecButton_MetropolisBlue td.dx,
.dxeSpinLargeIncButton_MetropolisBlue td.dx,
.dxeSpinLargeDecButton_MetropolisBlue td.dx
{
	text-align: center;
	white-space: nowrap;
	font: normal 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
} 
.dxeButtonEditButton_MetropolisBlue,
.dxeSpinIncButton_MetropolisBlue,
.dxeSpinDecButton_MetropolisBlue,
.dxeSpinLargeIncButton_MetropolisBlue,
.dxeSpinLargeDecButton_MetropolisBlue
{
	padding: 0px 2px 0px 3px;
	background-color: white;
}
.dxeSpinLargeDecButton_MetropolisBlue
{
	padding: 0px 3px 0px 2px;
}
.dxeSpinIncButton_MetropolisBlue
{
}
.dxeSpinDecButton_MetropolisBlue
{
	padding-top: 1px;
}

.dxeButtonEditButton_MetropolisBlue table.dxbebt,
.dxeSpinIncButton_MetropolisBlue table.dxbebt,
.dxeSpinDecButton_MetropolisBlue table.dxbebt, 
.dxeSpinLargeIncButton_MetropolisBlue table.dxbebt,
.dxeSpinLargeDecButton_MetropolisBlue table.dxbebt
{
	width: 10px;
}
.dxeCalendarButton_MetropolisBlue
{
	border: 1px solid #c0c0c0;
	padding: 3px 11px 4px;
	width: 32px;
}
.dxeCalendarButton_MetropolisBlue td.dx
{
	text-align: center;
	white-space: nowrap;
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
}
.dxeCalendarButton_MetropolisBlue.dxeButtonDisabled_MetropolisBlue td.dx
{
	color: #bdbdbd;
}

.dxeCalendarButton_MetropolisBlue table.dxbebt
{
	width: 100%;
}

/* -- Pressed -- */
.dxeCalendarButtonPressed_MetropolisBlue,
.dxeButtonEditButtonPressed_MetropolisBlue,
.dxeSpinIncButtonPressed_MetropolisBlue,
.dxeSpinDecButtonPressed_MetropolisBlue,
.dxeSpinLargeIncButtonPressed_MetropolisBlue, 
.dxeSpinLargeDecButtonPressed_MetropolisBlue
{
	background-color: #c0c0c0;
	color: white;
}
/* -- Hover -- */
.dxeCalendarButtonHover_MetropolisBlue,
.dxeButtonEditButtonHover_MetropolisBlue,
.dxeSpinIncButtonHover_MetropolisBlue,
.dxeSpinDecButtonHover_MetropolisBlue,
.dxeSpinLargeIncButtonHover_MetropolisBlue,
.dxeSpinLargeDecButtonHover_MetropolisBlue
{
	background-color: #0072C6;
color: white;
}
.dxeCalendarButtonHover_MetropolisBlue
{
	border-color: #0072C6;
}

.dxeButtonEdit_MetropolisBlue
{
	background-color: white;
	border: 1px solid #c0c0c0;
	width: 170px;
}
.dxeButtonEdit_MetropolisBlue .dxeEditArea_MetropolisBlue
{
	background-color: white;
}
.dxeButtonEdit_MetropolisBlue .dxeEditArea_MetropolisBlue,
.dxeButtonEdit_MetropolisBlue td.dxic
{
	width: 100%;
}
.dxeButtonEdit_MetropolisBlue .dxeIIC img
{
	padding-left: 3px;
}
.dxeTextBox_MetropolisBlue,
.dxeMemo_MetropolisBlue
{
	background-color: white;
	border: 1px solid #c0c0c0;
}
.dxeTextBox_MetropolisBlue td.dxic
{
}
.dxeTextBox_MetropolisBlue .dxeEditArea_MetropolisBlue
{
	background-color: white;
}
.dxeRadioButtonList_MetropolisBlue, .dxeCheckBoxList_MetropolisBlue
{
	border: 1px Solid #c0c0c0;
}

.dxeCheckBoxList_MetropolisBlue .dxe > table,
.dxeRadioButtonList_MetropolisBlue .dxe > table 
{
    width: 100%;
}

.dxeRadioButtonList_MetropolisBlue,
.dxeRadioButtonList_MetropolisBlue table,
.dxeCheckBoxList_MetropolisBlue,
.dxeCheckBoxList_MetropolisBlue table
{
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
}
.dxeRadioButtonList_MetropolisBlue td.dxe,
.dxeCheckBoxList_MetropolisBlue td.dxe
{
	padding: 7px 5px 6px 11px;
}
.dxeRadioButtonList_MetropolisBlue label,
.dxeCheckBoxList_MetropolisBlue label
{
	margin-right: 6px;
}

.dxeRadioButtonList_MetropolisBlue img,
.dxeCheckBoxList_MetropolisBlue img
{
	margin-bottom: -4px;
    padding-right: 5px;
}

/* -- Memo -- */
.dxeMemo_MetropolisBlue
{
}
.dxeMemoEditArea_MetropolisBlue
{
	background-color: white;
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	outline: none;
}

/* -- Hyperlink -- */
.dxeHyperlink_MetropolisBlue
{
	font: normal 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	color: #0072C6;
}

/* -- ListBox -- */
.dxeListBox_MetropolisBlue
{
	background-color: white;
	width: 70px;
	height: 109px;
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	color: #333333;
	border: 1px solid #c0c0c0;
}
.dxeListBox_MetropolisBlue div.dxlbd
{
	padding-top: 1px;
	padding-bottom: 1px;
	height: 107px;
}
.dxeListBoxItemRow_MetropolisBlue
{
	cursor: default;
}
.dxeListBoxItem_MetropolisBlue
{
	border-left: 1px solid white;
	border-right: 1px solid white;
	padding: 3px 2px 4px 3px;
	white-space: nowrap;
	text-align: left;
	color: #333333;
	font: normal 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
}
.dxeListBoxItem_MetropolisBlue em
{
	background: #CFCFCF none repeat 0 0;
	color: #333333;
	font-weight: bold;
	font-style: normal;
}
.dxeListBoxItemRow_MetropolisBlue:last-child > .dxeListBoxItem_MetropolisBlue
{
	border-bottom-width: 0;
}

.dxeListBox_MetropolisBlue td.dxeI,
.dxeListBox_MetropolisBlue td.dxeIM,
.dxeListBox_MetropolisBlue .dxeHIC, 
.dxeListBox_MetropolisBlue td.dxeFTM,
.dxeListBox_MetropolisBlue td.dxeTM,
.dxeListBox_MetropolisBlue td.dxeC,
.dxeListBox_MetropolisBlue td.dxeCM,
.dxeListBox_MetropolisBlue td.dxeHCC,
.dxeListBox_MetropolisBlue td.dxeMI,
.dxeListBox_MetropolisBlue td.dxeMIM
{
	border-right-width: 0!important;
}

.dxeListBox_MetropolisBlue td.dxeIR,
.dxeListBox_MetropolisBlue td.dxeIMR,
.dxeListBox_MetropolisBlue .dxeHICR, 
.dxeListBox_MetropolisBlue td.dxeFTMR,
.dxeListBox_MetropolisBlue td.dxeTMR,
.dxeListBox_MetropolisBlue td.dxeCR,
.dxeListBox_MetropolisBlue td.dxeCMR,
.dxeListBox_MetropolisBlue td.dxeHCCR,
.dxeListBox_MetropolisBlue td.dxeMIR,
.dxeListBox_MetropolisBlue td.dxeMIMR
{
	border-left-width: 0!important;
}

.dxeListBox_MetropolisBlue td.dxeCM,
.dxeListBox_MetropolisBlue td.dxeHCC,
.dxeListBox_MetropolisBlue td.dxeCMR,
.dxeListBox_MetropolisBlue td.dxeHCCR
{
	width: 29px;
    *width: 23px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.dxeListBox_MetropolisBlue td.dxeIM,
.dxeListBox_MetropolisBlue td.dxeIMR
{
	width: 0;
}
.dxeListBox_MetropolisBlue td.dxeC > span,
.dxeListBox_MetropolisBlue td.dxeCM > span
{
    margin: 2px 2px 2px 3px;
}
.dxeListBox_MetropolisBlue td.dxeCR > span,
.dxeListBox_MetropolisBlue td.dxeCMR > span
{
    margin: 2px 3px 2px 2px;
}
.dxeListBox_MetropolisBlue td.dxeC
{
	padding-right: 3px!important;
}
.dxeListBox_MetropolisBlue td.dxeCR
{
	padding-left: 3px!important;
}

.dxeListBox_MetropolisBlue td.dxeT
{
	width: 100%;
	padding-left: 0!important;
}

.dxeListBox_MetropolisBlue td.dxeTR
{
	width: 100%;
	padding-right: 0!important;
}


.dxeListBox_MetropolisBlue td.dxeT,
.dxeListBox_MetropolisBlue td.dxeMI
{
	border-left-width: 0!important;
}

.dxeListBox_MetropolisBlue td.dxeTR,
.dxeListBox_MetropolisBlue td.dxeMIR
{
	border-right-width: 0!important;
}


.dxeListBox_MetropolisBlue td.dxeFTM,
.dxeListBox_MetropolisBlue td.dxeTM,
.dxeListBox_MetropolisBlue td.dxeLTM, 
.dxeListBox_MetropolisBlue .dxeHFC,
.dxeListBox_MetropolisBlue .dxeHC,
.dxeListBox_MetropolisBlue .dxeHLC,
.dxeListBox_MetropolisBlue td.dxeFTMR,
.dxeListBox_MetropolisBlue td.dxeTMR,
.dxeListBox_MetropolisBlue td.dxeLTMR, 
.dxeListBox_MetropolisBlue .dxeHFCR,
.dxeListBox_MetropolisBlue .dxeHCR,
.dxeListBox_MetropolisBlue .dxeHLCR
{
	overflow: hidden;
}

.dxeListBox_MetropolisBlue td.dxeFTM,
.dxeListBox_MetropolisBlue td.dxeTM, 
.dxeListBox_MetropolisBlue .dxeHFC,
.dxeListBox_MetropolisBlue .dxeHC
{
	padding-right: 6px!important;
}

.dxeListBox_MetropolisBlue td.dxeFTMR,
.dxeListBox_MetropolisBlue td.dxeTMR, 
.dxeListBox_MetropolisBlue .dxeHFCR,
.dxeListBox_MetropolisBlue .dxeHCR
{
	padding-left: 6px!important;
}


.dxeListBox_MetropolisBlue td.dxeLTM,
.dxeListBox_MetropolisBlue td.dxeTM, 
.dxeListBox_MetropolisBlue .dxeHC,
.dxeListBox_MetropolisBlue .dxeHLC
{
	padding-left: 6px!important;
}

.dxeListBox_MetropolisBlue td.dxeLTMR,
.dxeListBox_MetropolisBlue td.dxeTMR, 
.dxeListBox_MetropolisBlue .dxeHCR,
.dxeListBox_MetropolisBlue .dxeHLCR
{
	padding-right: 6px!important;
}

/*Grid lines*/

.dxeListBox_MetropolisBlue td.dxeLTM,
.dxeListBox_MetropolisBlue td.dxeTM,
.dxeListBox_MetropolisBlue td.dxeMIM
{
	border-left: 1px solid #cfcfcf!important;
}

.dxeListBox_MetropolisBlue td.dxeLTMR,
.dxeListBox_MetropolisBlue td.dxeTMR,
.dxeListBox_MetropolisBlue td.dxeMIMR
{
	border-right: 1px solid #cfcfcf!important;
}

.dxeListBox_MetropolisBlue td.dxeIM,
.dxeListBox_MetropolisBlue td.dxeFTM,
.dxeListBox_MetropolisBlue td.dxeTM,
.dxeListBox_MetropolisBlue td.dxeLTM,
.dxeListBox_MetropolisBlue td.dxeCM,
.dxeListBox_MetropolisBlue td.dxeMIM,
.dxeListBox_MetropolisBlue td.dxeIMR,
.dxeListBox_MetropolisBlue td.dxeFTMR,
.dxeListBox_MetropolisBlue td.dxeTMR,
.dxeListBox_MetropolisBlue td.dxeLTMR,
.dxeListBox_MetropolisBlue td.dxeCMR,
.dxeListBox_MetropolisBlue td.dxeMIMR
{
	border-bottom: 1px solid #cfcfcf;
}

.dxeListBoxItemSelected_MetropolisBlue     /* inherits dxeListBoxItem */
{
	color: White;
	background-color: #0072C6;
}
.dxeDisabled_MetropolisBlue.dxeListBox_MetropolisBlue .dxeListBoxItemSelected_MetropolisBlue 
{
	background-color: #f0f0f0;
}
.dxeListBoxItemHover_MetropolisBlue        /* inherits dxeListBoxItem */
{
	background-color: #e0e0e0;
	color: #333333;
}
.dxeListBoxItemHover_MetropolisBlue em,
.dxeListBoxItemSelected_MetropolisBlue em
{
	background-image: none;
}

/*Header*/

.dxeListBox_MetropolisBlue .dxeHD
{
	border-bottom: 1px solid #c0c0c0;
}

.dxeListBox_MetropolisBlue .dxeHC,
.dxeListBox_MetropolisBlue .dxeHLC,
.dxeListBox_MetropolisBlue td.dxeHMIC
{
	border-left: 1px solid #c0c0c0;
}

.dxeListBox_MetropolisBlue .dxeHCR,
.dxeListBox_MetropolisBlue .dxeHLCR,
.dxeListBox_MetropolisBlue td.dxeHMICR
{
	border-right: 1px solid #A0A0A0;
	text-align: right;
}

.dxeListBox_MetropolisBlue .dxeHCC
{
	border-left: 1px solid #c0c0c0;
}

.dxeListBox_MetropolisBlue .dxeHICR,
.dxeListBox_MetropolisBlue .dxeHFCR,
.dxeListBox_MetropolisBlue .dxeHCCR
{
	border-right: 1px solid #dcdcdc;
	text-align: right;
}

.dxeListBox_MetropolisBlue .dxeHFC,
.dxeListBox_MetropolisBlue .dxeHC,
.dxeListBox_MetropolisBlue .dxeHMIC
{
	border-right-width: 0;
}

.dxeListBox_MetropolisBlue .dxeHFCR,
.dxeListBox_MetropolisBlue .dxeHCR,
.dxeListBox_MetropolisBlue .dxeHMICR
{
	border-left-width: 0;
	text-align: right;
}

.dxeListBox_MetropolisBlue .dxeHLC
{
	border-right: 1px solid #dcdcdc;
}

.dxeListBox_MetropolisBlue .dxeHLCR
{
	border-left: 1px solid #dcdcdc;
	text-align: right;
}

/* -- Calendar -- */
.dxeCalendar_MetropolisBlue
{
	background-color: White;
	color: #333333;
	font-weight: normal;
	cursor: default;
}
.dxeCalendar_MetropolisBlue.dxeFocused_MetropolisBlue
{
	border: none;
}
.dxeCalendar_MetropolisBlue td.dxMonthGrid_MetropolisBlue
{
	padding: 8px 20px;
}
.dxeCalendar_MetropolisBlue td.dxMonthGridWithWeekNumbers,
.dxeCalendar_MetropolisBlue td.dxMonthGridWithWeekNumbersRtl
{
	min-width: 244px;
	padding: 30px 40px 10px;
}
.dxeCalendarDayHeader_MetropolisBlue
{
	padding: 2px 4px 5px;
	font-family: 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	text-transform:uppercase;
}
.dxeCalendarWeekNumber_MetropolisBlue
{
	font: 9px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	text-align: right;
	padding: 6px 8px 6px 4px;
	color: #bfbfbf;
}
.dxeCalendarDay_MetropolisBlue
{
	padding: 4px 6px;
	text-align: center;
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
}
.dxeCalendarWeekend_MetropolisBlue        /* inherits dxeCalendarDay */
{
	color: #FF3300;
}
.dxeCalendarOtherMonth_MetropolisBlue     /* inherits dxeCalendarDay */
{
	opacity: 0.15;
}
.dxeCalendarOutOfRange_MetropolisBlue     /* inherits dxeCalendarDay */
{
	color: #d0d0d0;
}
.dxeCalendarSelected_MetropolisBlue       /* inherits dxeCalendarDay */
{
	color: White;
	background-color: #0072C6;
}
.dxeCalendarSelected_MetropolisBlue.dxeDisabled_MetropolisBlue       /* inherits dxeCalendarDay */
{
	background-color: #ffd5a6;
}

.dxeCalendarToday_MetropolisBlue         /* inherits dxeCalendarDay */
{
	padding: 3px 3px 2px;
	border: 1px solid #0072C6;
}
.dxeCalendarToday_MetropolisBlue.dxeDisabled_MetropolisBlue         /* inherits dxeCalendarDay */
{
	border: 1px solid #0072C6;
}

.dxeCalendarHeader_MetropolisBlue
{
	color: #0072C6;
	padding: 4px 7px;
	font: 18px Segoe UI Light;
	padding: 4px 17px;
}
.dxeCalendarHeader_MetropolisBlue td.dxe
{
	text-align: center;
	cursor: pointer;
}
.dxeCalendarHeader_MetropolisBlue span
{
	padding: 0 16px;
	white-space: nowrap!important;
}
.dxeCalendarFooter_MetropolisBlue
{
	padding: 8px 0px;
	border-bottom: 2px solid #c0c0c0;
}
.dxeCalendar_MetropolisBlue.dxeFocused_MetropolisBlue .dxeCalendarFooter_MetropolisBlue
{
	border-color: #0072C6;
}
.dxeCalendarFastNav_MetropolisBlue
{
	color: Black;
	background: White none;
	border-top: 1px solid #c0c0c0;
	border-right: 1px solid #c0c0c0;
	border-left: 1px solid #c0c0c0;
	padding: 12px 8px;
}
.dxeCalendarFastNav_MetropolisBlue
{
}
.dxeCalendarFastNavMonthArea_MetropolisBlue
{
	padding: 0px 9px;
}
.dxeCalendarFastNavYearArea_MetropolisBlue
{
}
.dxeCalendarFastNavFooter_MetropolisBlue
{
	color: Black;
	padding: 8px 0px;
	border-right: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
	border-left: 1px solid #c0c0c0;
	background-color: white;
}
.dxeCalendarFastNavMonth_MetropolisBlue,
.dxeCalendarFastNavYear_MetropolisBlue
{
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	color: #333333;
	padding: 3px 5px;
	text-align: center;
	cursor: pointer;
}
.dxeCalendarFastNavMonth_MetropolisBlue
{
	padding: 6px;
}
.dxeCalendarFastNavMonthSelected_MetropolisBlue,
.dxeCalendarFastNavYearSelected_MetropolisBlue
{
	color: White;
	background-color: #0072C6;
}
.dxeCalendarFastNavMonthHover_MetropolisBlue,
.dxeCalendarFastNavYearHover_MetropolisBlue
{
	color: Black;
	background: #e5e5e5 none;
	padding: 2px 4px;
	border: 1px solid #d6d6d6;
}
.dxeCalendarFastNavMonthHover_MetropolisBlue
{
	padding: 5px;
}
.dxeDateEditTimeEditCell_MetropolisBlue
{
    padding: 13px 41px 15px ;
}
.dxeDateEditClockCell_MetropolisBlue
{
    padding: 37px 31px 0;
}
.dxeCalendarFooter_MetropolisBlue.dxeDETSF
{
    padding-left: 8px;
    padding-right: 8px;
}
.dxeCalendarHeader_MetropolisBlue.dxeDETSH
{
    display: none;
}
/* Disabled */
.dxeDisabled_MetropolisBlue,
.dxeDisabled_MetropolisBlue td.dxe
{
	color: #777;
	cursor: default;
}
a.dxeDisabled_MetropolisBlue:hover
{
	color: #acacac;
}
.dxeButtonDisabled_MetropolisBlue,
.dxeButtonDisabled_MetropolisBlue td.dxe
{
	border-color: #e9e9e9;
	color: #808080;
	cursor: default;
}
/* -- Button -- */
.dxbButton_MetropolisBlue
{
	color: #333333;
	vertical-align: middle;
	border: 1px solid #c0c0c0;
	background-color: white;
	padding: 1px;
	cursor: pointer;
	font: normal 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
}
.dxbButton_MetropolisBlue.dxbDisabled_MetropolisBlue
{
	border-color: #e9e9e9;
	color: #b8b8b8;
	cursor: default;
}
.dxbButtonHover_MetropolisBlue
{
	color: white;
	background-color: #0072C6;
	border: 1px solid #0072C6;
}
.dxbButtonChecked_MetropolisBlue
{
	color: #333333;
	background-color: #C0C0C0 !important;
}
.dxbButtonPressed_MetropolisBlue
{
	color: white;
	background-color: #C0C0C0;
}
.dxbButton_MetropolisBlue div.dxb
{
	padding: 3px 8px 4px;
	border-width: 0px;
}
.dxbButton_MetropolisBlue div.dxbf
{
	padding: 2px 7px 3px;
	border: 1px dotted #333333;
}
.dxbButton_MetropolisBlue div.dxb td.dxb
{
	background: transparent url('')!important;
	border-width: 0px!important;
	padding: 0px!important;
}
/* Disabled */
.dxbDisabled_MetropolisBlue
{
	border-color: #c3c3c3;
	color: #808080;
	cursor: default;
}
.dxbDisabled_MetropolisBlue td.dxb
{
	color: #808080;
}
/* -- FilterControl -- */
.dxfcTable_MetropolisBlue
{
	border-collapse: separate!important;
}
.dxfcTable_MetropolisBlue td.dxfc
{
	padding: 0px 0px 0px 3px;
	vertical-align: middle;
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	color: Black;
}
a.dxfcPropertyName_MetropolisBlue
{
	white-space: nowrap!important;
	color: #1086d4!important;
}
a.dxfcGroupType_MetropolisBlue
{
	white-space: nowrap!important;
	padding: 0px 3px!important;
	color: #db3412!important;
}
a.dxfcOperation_MetropolisBlue
{
	white-space: nowrap!important;
	color: #6fb111!important;
}
a.dxfcValue_MetropolisBlue
{
	white-space: nowrap!important;
	color: Gray!important;
}

.dxfcLoadingDiv_MetropolisBlue
{
	background: white none;
	opacity: 0.01;
	filter: alpha(opacity=1);
}
.dxfcLoadingPanel_MetropolisBlue
{
	border: 1px solid #C3C3C3;
	background-color: white;
	font: 14px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	color: #333333;
}
.dxfcLoadingPanel_MetropolisBlue td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 10px 14px;
}

.dxeMaskHint_MetropolisBlue
{
	background: #ffffe1 none;
	border: 1px solid black;
	padding: 2px 5px 3px;
	color: Black;
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
}

/* -- ProgressBar -- */
.dxeProgressBar_MetropolisBlue
{
	background-color: #e0e0e0;
}
.dxeProgressBar_MetropolisBlue,
.dxeProgressBar_MetropolisBlue td.dxe
{
	color: #333333;
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
}
.dxeProgressBar_MetropolisBlue .dxePBMainCell_MetropolisBlue,
.dxeProgressBar_MetropolisBlue td.dxe
{
	padding: 0;
}
.dxeProgressBarIndicator_MetropolisBlue
{
	background-color: #0072C6;
}

/* -- DropDownWindow -- */
.dxeDropDownWindow_MetropolisBlue
{
	background-color: white;
	border: 1px solid #c0c0c0;
}

/*----------------- ColorTable -----------------*/
.dxeColorIndicator_MetropolisBlue
{
	width: 13px;
	height: 13px;
	cursor: pointer;
	margin-left: 3px;
}
.dxeColorTable_MetropolisBlue,
.dxeItemPicker_MetropolisBlue
{
	background-color: #ffffff;
	border: 1px solid #c0c0c0;
}
.dxeColorTable_MetropolisBlue td.dx,
.dxeItemPicker_MetropolisBlue td.dx
{
	padding: 4px;
}
.dxeColorTableCell_MetropolisBlue,
.dxeItemPickerCell_MetropolisBlue
{
	padding: 3px;
	cursor: pointer;
}
.dxeColorTableCellDiv_MetropolisBlue
{
	border: 1px solid #c0c0c0;
	width: 12px;
	height: 12px;
	font-size: 0px;
}
.dxeColorTableCellSelected_MetropolisBlue
{
	padding: 0px!important;
	background-color: #CBCBCB;
	border: 3px solid #0072C6;
}
.dxeColorTableCellSelected_MetropolisBlue .dxeColorTableCellDiv_MetropolisBlue
{
	border: 1px solid white;
}
.dxeColorTableCellHover_MetropolisBlue,
.dxeItemPickerCellHover_MetropolisBlue
{
	padding: 0px!important;
	background-color: #F2F2F2;
	border: 3px solid #E0E0E0;
}

/* -- Invalid Style -- */
.dxeInvalid_MetropolisBlue
{
}
.dxeInvalid_MetropolisBlue .dxeEditArea_MetropolisBlue,
.dxeInvalid_MetropolisBlue .dxeMemoEditArea_MetropolisBlue
{
}

/* -- Focused Style -- */
.dxeFocused_MetropolisBlue
{
	border: 1px solid #0072C6;
}
.dxeFocused_MetropolisBlue.dxeTrackBar_MetropolisBlue
{
	border: 0px;
}

/* -- Null Text Style -- */
.dxeNullText_MetropolisBlue .dxeEditArea_MetropolisBlue,
.dxeNullText_MetropolisBlue .dxeMemoEditArea_MetropolisBlue
{
	color: #818181;
}

/* -- Captcha -- */
.dxcaControl_MetropolisBlue 
{
}

.dxcaRefreshButton_MetropolisBlue
{
	font: 13px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	text-decoration: none;
	color: #1e3695;
}

.dxcaDisabledRefreshButton_MetropolisBlue
{
	color: #acacac;
}

.dxcaRefreshButtonCell_MetropolisBlue
{
	padding-left: 4px;
	border-bottom: 2px solid #e0e0e0;
}

.dxcaRefreshButtonText_MetropolisBlue
{
}

.dxcaDisabledRefreshButtonText_MetropolisBlue
{
}

.dxcaTextBoxCell_MetropolisBlue
{
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
}

.dxcaTextBoxCell_MetropolisBlue,
.dxcaTextBoxCellNoIndent_MetropolisBlue
{
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
}

.dxcaTextBoxCell_MetropolisBlue .dxeErrorCell_MetropolisBlue
{
}

.dxcaTextBoxCellNoIndent_MetropolisBlue .dxeErrorCell_MetropolisBlue
{
	padding-left: 0px;
	padding-top: 4px;
	color: Red;
}

.dxcaTextBoxLabel_MetropolisBlue
{
	padding-bottom: 4px;
	display: block;
}

.dxcaLoadingPanel_MetropolisBlue
{
	background-color: white;
	font: 14px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	color: #333333;
}

.dxcaLoadingPanel_MetropolisBlue td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 2px;
}

.dxpcControl_MetropolisBlue .dxHFBPS,
.dxpcLite_MetropolisBlue .dxHFBPS
{
    width: 6px;
}

.dxeTextBox_MetropolisBlue,
.dxeButtonEdit_MetropolisBlue,
.dxeIRadioButton_MetropolisBlue,
.dxeRadioButtonList_MetropolisBlue,
.dxeCheckBoxList_MetropolisBlue
{
    cursor: default;
}

:root .dxeTextBox_MetropolisBlue td.dxic, 
:root .dxeButtonEdit_MetropolisBlue td.dxic {
    padding-top: 1px;
}
.dxeTextBox_MetropolisBlue td.dxic,
.dxeButtonEdit_MetropolisBlue td.dxic {
    padding-top: 2px;
    *padding-top: 1px;
}
.dxeButtonEdit_MetropolisBlue td.dxic {
    *padding-bottom: 1px;
}
:root .dxeTextBox_MetropolisBlue td.dxic .dxeEditArea_MetropolisBlue,
:root .dxeButtonEdit_MetropolisBlue td.dxic .dxeEditArea_MetropolisBlue {
    height: 16px;
}
.dxeTextBox_MetropolisBlue td.dxic .dxeEditArea_MetropolisBlue,
.dxeButtonEdit_MetropolisBlue td.dxic .dxeEditArea_MetropolisBlue {
    height: 15px;
}

.dxeButtonEdit_MetropolisBlue td.dxic 
{
    *padding-left: 2px;
}
*[dir="rtl"].dxeTextBox_MetropolisBlue td.dxic
{
    *padding-right: 2px;
}

/* Removes flicking in iOS Safari*/
.dxeTrackBar_MetropolisBlue, 
.dxeIRadioButton_MetropolisBlue, 
.dxeButtonEdit_MetropolisBlue, 
.dxeTextBox_MetropolisBlue, 
.dxeRadioButtonList_MetropolisBlue, 
.dxeCheckBoxList_MetropolisBlue, 
.dxeMemo_MetropolisBlue, 
.dxeListBox_MetropolisBlue, 
.dxeCalendar_MetropolisBlue, 
.dxeColorTable_MetropolisBlue
{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* Layout Control */
.dxeLayoutConrtol_MetropolisBlue 
{
    display: table;
}
.dxeLyGroupCell_MetropolisBlue 
{
    padding: 5px;
}
.dxeLyItem_MetropolisBlue 
{
}
.dxeLyCaptionCell_MetropolisBlue
{
    padding:6px;
}
.dxeLyEditorCell_MetropolisBlue 
{   
    padding:5px;
}

.dxeLyCaptionCell_MetropolisBlue 
{
    color: #004184;
    font-weight: bold;
    white-space: nowrap;
}
.dxeLyEditorCell_MetropolisBlue 
{
    width: 0;
}
.dxeLyGroupBox_MetropolisBlue 
{
    border: 1px Solid #9F9F9F;
    border-radius: 4px;
    padding: 10px;
}
.dxeLyGroupBoxCaption_MetropolisBlue > span 
{
    background-color: White;
    padding-left: 5px;
    padding-right: 5px;   
}
.dxeLyGroupBoxCaption_MetropolisBlue 
{
    position:relative;
    margin-top: -21px;
}
.dxeLyGroup_MetropolisBlue 
{
    width: 100%;
}

.dxeLyVATSys > label 
{
    margin-top: 4px;
    margin-bottom: 4px;
    display: block;
}

.dxeLyEditorCell_MetropolisBlue > .dxeMemoSys 
{
    margin-top: 3px;
}

.dxeLyEditorCell_MetropolisBlue > label.dxeBase_MetropolisBlue 
{
    display: block;
    white-space: nowrap;
}

.dxeLyEditorCell_MetropolisBlue > .dxeTextBoxSys,
.dxeLyEditorCell_MetropolisBlue > .dxeButtonEdit_MetropolisBlue
{
}


