<div class="b_bottom-panel">
        <div class="row">
            <div class="col s2">
                <div class="panel-button concluding">
                    <i class="icon icon-message-text-outline"></i>
                    <span>Заключение</span>
                </div>
            </div>
            <div class="col s6 right-align">
                <div class="panel-button">
                    <i class="icon icon-undo-variant red-text"></i>
                    <span>Отправить на доработку</span>
                </div>
                <div class="panel-button">
                    <i class="icon icon-checkbox-marked-circle-outline green-text"></i>
                    <span>Согласовать</span>
                </div>
                <div class="panel-button">
                    <i class="icon icon-forum"></i>
                    <span>(1)</span>
                </div>
            </div>
            <div class="col s4 right-align">
                <div class="panel-button">
                    <span>Схема объекта учета</span>&nbsp;
                    <i class="icon icon-sheme-icon"></i>
                </div
            </div>
        </div>


        <a href="#" class="b_bottom-panel__flow-button btn-floating btn-large waves-effect waves-light red"><i class="icon icon-grid-icon"></i></a>

</div>