{{> header/header title="Просмотр"}}

<body class="page-ouview">

    {{> top-panel/top-panel}}

    {{> sidebar/sidebar sidebar.navs}}

    {{> left-panel/left-panel}}

    <div class="l_ouview-wrapper">
            <div class="ouview-container z-depth-1">
                <div class="ouview-content-wrap clearfix">
                    <div class="ouview-content">


                        <div class="section header-section ">
                          <i class="material-icons">desktop_mac</i>
                          <h1>Объект информатизации подразделений</h1>
                          <div class="label-name">Полное наименование: </div>
                          <div class="name">Создание системы управления и оперативного контроля производительности и работоспособности аппаратного и программного обеспечения ИТ-инфраструктуры Министерства культуры Российской Федерации.</div>
                          <div class="data-block">
                            <div class="uid-label">Уникальный идентификационный номер ОУ: <span class="uid">42.0000288</span></div>
                            <div class="status-label">Статус: <span class="status">Планируется</span></div>
                            <div class="stage-label">Стадия: <span class="stage">Создание</span></div>
                          </div>
                        </div>


                        <div class="section summary-section ">
                            <div class="summary-block">
                              <div class="price-label">
                                  <i class="icon icon-rub"></i> <span>Общая стоимость ОУ: </span>
                              </div>
                              <div class="summary-price">186 723 293,00 <i class="icon icon-rub"></i></div>
                            </div>


                            <div class="summand-block">
                                    <div class="summand">
                                      <span class="summand-label">Cтоимость создания ОУ:</span> <span class="summand-value create">186 723 293,00 <i class="icon icon-rub"></i></span>
                                    </div>
                                    <div class="summand">
                                      <span class="summand-label">Cтоимость развития ОУ:</span> <span class="summand-value develop">186 723 293,00 <i class="icon icon-rub"></i></span>
                                    </div>
                                    <div class="summand">
                                      <span class="summand-label">Стоимость эксплуатации ОУ:</span> <span class="summand-value exploitation">186 723 293,00 <i class="icon icon-rub"></i></span>
                                    </div>
                            </div>
                        </div>


                        <div class="section purpose-section">
                            <div class="purpose-section">Цели создания ОУ: </div>
                            <div class="purpose-body">
                              <p>Создание системы управления и оперативного контроля производительности и работоспособности аппаратного и программного обеспечения ИТ-инфраструктуры Министерства культуры Российской Федерации. Создание системы управления и оперативного контроля производительности и работоспособности аппаратного и программного обеспечения ИТ-инфраструктуры Министерства культуры Российской Федерации.</p>
                              <p>Создание системы управления и оперативного контроля производительности и работоспособности аппаратного и программного обеспечения ИТ-инфраструктуры Министерства культуры Российской Федерации.</p>
                            </div>
                        </div>


                        <div class="section data-columns">
                            <div class="row">
                              <div class="col s4">
                                <div class="label-col">Решение о создании (закупки) ОУ:</div>
                                <div class="document">
                                    <div class="icon xls-icon"></div>
                                    <div class="doc-title">
                                        Табличное сравнение показателей ОУ
                                        <span class="file-data">xls, 5 Мб</span>
                                    </div>
                                    <div class="document-number">
                                        <span>Номер документа</span>
                                        <div class="number">15.0000254</div>
                                    </div>
                                    <div class="document-date">
                                        <i class="icon icon-calendar-view"></i><span>Дата принятия документа</span>
                                        <div class="date">Пн, 15 июня, 2015 г.</div>
                                    </div>
                                    <div class="document-author">
                                        <i class="icon icon-account-star-variant"></i>
                                        <span>Подписал</span>
                                        <div class="author">
                                          <div class="name">Иванов Сергей Василич</div>
                                          <div class="position">Заведующий отделом закупки</div>
                                        </div>
                                    </div>
                                </div>
                              </div>
                              <div class="col s4">
                                <div class="label-col">Решение о создании (закупки) ОУ:</div>
                                <div class="document">
                                    <div class="icon xls-icon"></div>
                                    <div class="doc-title">
                                        Табличное сравнение показателей ОУ
                                        <span class="file-data">xls, 5 Мб</span>
                                    </div>
                                    <div class="document-number">
                                        <span>Номер документа</span>
                                        <div class="number">15.0000254</div>
                                    </div>
                                    <div class="document-date">
                                        <i class="icon icon-calendar-view"></i><span>Дата принятия документа</span>
                                        <div class="date">Пн, 15 июня, 2015 г.</div>
                                    </div>
                                    <div class="document-author">
                                        <i class="icon icon-account-star-variant"></i>
                                        <span>Подписал</span>
                                        <div class="author">
                                          <div class="name">Иванов Сергей Василич</div>
                                          <div class="position">Заведующий отделом закупки</div>
                                        </div>
                                    </div>
                                </div>
                              </div>
                              <div class="col s4">
                                <div class="label-col">Решение о создании (закупки) ОУ:</div>
                                <div class="document">
                                    <div class="icon xls-icon"></div>
                                    <div class="doc-title">
                                        Табличное сравнение показателей ОУ
                                        <span class="file-data">xls, 5 Мб</span>
                                    </div>
                                    <div class="document-number">
                                        <span>Номер документа</span>
                                        <div class="number">15.0000254</div>
                                    </div>
                                    <div class="document-date">
                                        <i class="icon icon-calendar-view"></i><span>Дата принятия документа</span>
                                        <div class="date">Пн, 15 июня, 2015 г.</div>
                                    </div>
                                    <div class="document-author">
                                        <i class="icon icon-account-star-variant"></i>
                                        <span>Подписал</span>
                                        <div class="author">
                                          <div class="name">Иванов Сергей Василич</div>
                                          <div class="position">Заведующий отделом закупки</div>
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </div><!-- /row -->
                          </div><!-- /section -->


                        <div class="section data-budget">
                            <div class="row">
                                <div class="col s4">
                                   <div class="document">
                                      <div class="document-date">
                                          <i class="icon icon-calendar-view"></i><span>Дата принятия документа</span>
                                          <div class="date">Пн, 15 июня, 2015 г.</div>
                                      </div>
                                      <div class="document-number">
                                          <span>Код БК </span>
                                          <div class="number">5800 2356</div>
                                      </div>
                                      <div class="document-number">
                                          <span>Балансовая стоимость </span>
                                          <div class="number">12 032,84 <i class="icon icon-rub"></i></div>
                                      </div>
                                  </div>
                                </div>
                                <div class="col s8">
                                    <span class="label-col">Основания</span>
                                    <p>Текстовое поле основания. Создание системы управления и оперативного контроля производительности и работоспособности аппаратного и программного обеспечения ИТ-инфраструктуры Министерства культуры Российской Федерации. </p>
                                </div>
                            </div>
                        </div>



                        <div class="section cards-grid">
                            <p class="label">Сведения об ответственных организациях и должностных лицах</p>

                            <div class="cards-wrapper">

                                <!-- Organization with img and logo -->
                                <div class="card card-panel for-org">
                                    <div class="card-image">
                                        <img src="static/img/general/card-image.jpg">
                                        <div class="card-image-icon"><img src="static/img/general/herb.png"></div>
                                    </div>
                                    <div class="card-one-wrapper">
                                        <div class="card-title">Минэкономразвития</div>
                                        <div class="card-text">Государственный орган, уполномоченный на создание, развитие ОУ </div>
                                    </div>
                                </div>

                                <!-- Organization without img, just logo -->
                                <div class="card card-panel for-org">
                                    <div class="card-one-wrapper">
                                        <div class="card-image-icon"><img src="static/img/general/herb.png"></div>
                                        <div class="card-title">СпецТрансСтрой</div>
                                        <div class="card-text">Государственный орган или иное юридическое лицо, уполномоченное на эксплуатацию </div>
                                        <div class="card-sub">“Структурное подразделение”</div>
                                        <div class="card-contact">
                                              <div class="phone">Тел: <strong>+7 (495) 123-4567</strong></div>
                                              <a href="mailto:zigmund@gov.info" class="email">E-mail: <span>zigmund@gov.info</span></a>
                                       </div>
                                    </div>
                                </div>

                              <!-- Persons -->
                               {{#repeat 6}}
                                <div class="card card-panel for-person">
                                    <div class="card-one-wrapper">
                                        <div class="card-icon"><i class="material-icons">person</i></div>
                                        <div class="card-title">Иванов Иван Иванович</div>
                                        <div class="card-text">Государственный орган или иное юридическое лицо, уполномоченное на эксплуатацию</div>
                                        <div class="card-sub">“Структурное подразделение”</div>
                                        <div class="card-contact">
                                            <div class="phone">Тел: <strong>+7 (495) 123-4567</strong></div>
                                            <a href="mailto:zigmund@gov.info" class="email">E-mail: <span>zigmund@gov.info</span></a>
                                        </div>
                                    </div>
                                </div>
                               {{/repeat}}


                            </div><!-- /cards-wrapper -->
                        </div><!-- /cards-grid -->



                        <div class="section params-cards">
                            <p class="label">Программное обеспечение</p>
                            <div class="params-card">
                              <div class="body-wrap">
                                   <div class="header-params cf">
                                      <div class="title">Автоматизированная информационная система «Единый государственнный реестр прав на воздушные суда и сделок с ними»</div>
                                      <a class="show-params">Скрыть характеристики</a>
                                   </div>
                                   <div class="params-wrap row">
                                       {{#repeat 3}}
                                      <div class="col s4">
                                          <div class="param-block">
                                            <div class="param-label">Вид ПО &mdash;</div>
                                            <div class="param-value">Заказное программное обеспечение информационных систем</div>
                                          </div>
                                          <div class="param-block">
                                            <div class="param-label">Вид ПО &mdash;</div>
                                            <div class="param-value">Заказное программное обеспечение информационных систем</div>
                                          </div>
                                      </div>
                                      {{/repeat}}
                                   </div>
                                   <div class="pad-25">
                                       <div class="row">
                                          {{#repeat 3}}
                                          <div class="col s4">
                                              <div class="param-block">
                                                <div class="param-label">Вид ПО </div>
                                                <div class="param-value">Заказное программное обеспечение информационных систем</div>
                                              </div>
                                              <div class="param-block">
                                                <div class="param-label">Вид ПО </div>
                                                <div class="param-value">Заказное программное обеспечение информационных систем</div>
                                              </div>
                                          </div>
                                          {{/repeat}}
                                       </div>
                                    </div>
                              </div>
                            </div>
                        </div>

                    </div><!-- /oview-content -->
                </div><!-- /ouview-content-wrap -->
            </div>
    </div>

{{> bottom-panel/bottom-panel}}

{{> footer/footer}}

</body>