input, select {
    font-size:1em;
}

h4 {
    font-size:1.1em;
    text-decoration:none;
    font-weight:bold;
    color:#23A4FF;
}

/*a {
    color:#23A4FF;
}*/

#container {
    width: 100%;
    height: 100%;
    margin:0 auto;
    position:relative;
}

#center-container {
    width:600px;
    left:200px;
    background-color:#ffffff;
    color:#ccc;
}

#log {
    font-size:1.0em;
    font-weight:normal;
    color:#23A4FF;
    font-style: italic;
}

#infovis 
{
    vertical-align:top;
    position:relative;
    width:650px;
    height:800px;
    margin:auto;
    overflow:hidden;
    font-family: Verdana;
}

#infovis .leaf {
  display:table-cell;
  vertical-align:middle;
  border:1px solid #000;
  font-weight: normal;
  overflow:hidden;
}