﻿/******************/
/*  Главное меню  */
/******************/

/*#main_menu_left
{
    height: 50px;
    margin-left: 30px;
    background: url('img/bg_main_menu.png') right top no-repeat;
    
    top: -5px;
    position: relative;
}

#main_menu_right
{
    width: 30px;
    height: 50px;
    margin-left: -30px;
    background: url('img/bg_main_menu.png') left top no-repeat;
}*/

#main_menu
{
    margin: 20px 0;
    display: inline-block;
}

#main_menu ul
{
    margin: 0px;
    padding: 0px;
}

#main_menu li
{
	float: left;
    display: block;
    text-align: center;
    margin-right: 10px;
    padding: 10px 0px;
}

#main_menu  li a
{
	font-weight: bold;
    text-decoration: none;
    display: block;

    font: 1.3em fregatregular, arial;
    text-transform: uppercase;

    border-bottom: 2px solid white;
    
    /*color: white;
    padding: 13px 0 0 0;
    border-right: solid 1px #2D94C7;
    border-left: solid 1px #33506B;
    height: 30px;
    
    font-size: 15px;*/
}

/*#main_menu  li a.left
{
    border-left: none;
}

#main_menu  li a.right
{
    border-right: none;
}

#main_menu  li a.twoline
{
    height: 39px;
    padding-top: 4px;
}*/

#main_menu  a.current,
#main_menu  a:hover 
{
	/*background: url('img/bg_main_menu_item.png') -20px top repeat-y; 
    text-shadow: 0 -1px 0 #204A7D;*/
    border-bottom: 2px solid;
}

/*#main_menu  a.current.left,
#main_menu  a.left:hover 
{
	background: url('img/bg_main_menu_item.png') left top repeat-y; 
    text-shadow: 0 -1px 0 #204A7D;
}

#main_menu  a.current.right,
#main_menu  a.right:hover 
{
	background: url('img/bg_main_menu_item.png') right top repeat-y; 
    text-shadow: 0 -1px 0 #204A7D;
}



#main_menu ul.submenu {
     display:none; 
     position:absolute; 
     margin: 0px;
}

#main_menu ul.submenu li {
     float:none;
}

#main_menu ul.submenu li a 
{
    border: none;
    z-index: 20;
    position: relative;
    background-color: #305B94; #3979B4;
    
}

#main_menu ul.submenu a.current, 
#main_menu ul.submenu a:hover {
     background: url('img/bg_main_menu_item.png') -20px top repeat-y; 
     border: none;
}*/
