﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Main.Master" AutoEventWireup="true" CodeBehind="DictionaryEdit.aspx.cs" Inherits="GB.MKRF.Web.Administrator.DictionaryEdit" %>

<asp:Content ID="Content1" ContentPlaceHolderID="center" runat="server">
    <cc:DictionaryEditControl ID="ctlDictionaryEdit" runat="server"/>
</asp:Content>
