﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Administrator/AdminMaster.master" AutoEventWireup="true" CodeBehind="Dictionary.aspx.cs" Inherits="GB.MKRF.Web.Administrator.Dictionary" %>

<asp:Content ID="Content1" ContentPlaceHolderID="center" runat="server">
    <cc:DictionaryControl ID="ctlDictionary" runat="server"/>
</asp:Content>
