﻿@{
    ViewBag.Title = "Неизвестная ошибка";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-bottom: 5px; margin-left: 10px;">
    <a href="javascript:history.go(-1);"><< Назад</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="../">На главную страницу</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="../login">Выйти из системы</a>
</div>
<div style="font-size: 35px; color: #888888; padding-left: 30px; padding-top: 30px;">
    При работе приложения возникла неизвестная ошибка.
</div>
<div id="errordiv" style="color: #888888; padding-left: 30px;">
</div>
<div style="color: #888888; padding-left: 30px; padding-top: 30px; padding-bottom: 10px">
    Пожалуйста обратитесь за помощью в службу технической поддержки.
        <br />
    тел.: 8 (499) 550-54-26
        <br />
    email: <a href="mailto:fap@gosuslugi.ru?subject=Error application">fap@gosuslugi.ru</a>
</div>
<div style="color: #888888; padding-left: 30px; font-size: x-small">
</div>