﻿<body>
    <script src="~/scripts/all/jquery.validate.min.js"></script>
    <script src="~/scripts/all/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/scripts/all/gb.validate.min.js"></script>
    <script src="~/scripts/gb.global.js"></script>
    @RenderBody()

    
</body>
<script>
    function updateUI()
    {
        $('.popup_panel select:not(.initialized)').material_select();

        $(".datepicker").pickadate({});

        // Update Inputs
        $(".input-field input[type='text'], .input-field textarea").each(function (index, el) {
            if ($(el).val()) {
                $(el).parent(".input-field").find("label").addClass("active");
                $(el).addClass('valid');
            }
        });

        if ($(".b_comment-list").length) {
            $('.b_comment-list').parents('.popup_panel').addClass('commentList-bg');
        }
    }

    $(function(){
        updateUI();
    })
</script>