﻿@{
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
    var help = new bgTeam.IsRui.WebApp.ViewModels.Shared.LayoutHelper(Context.ApplicationInstance);
}

@{
    Session["DateStamp"] = DateTime.Now;
}

<input type="hidden" id="hidSessionID" value='@Session.SessionID' />
<input type="hidden" id="sessionDateStamp" value='@Session["DateStamp"]' />

@*<style>
    .testmenu {
        display: inline-block;
    }

        .testmenu li {
            float: left;
            padding-right: 20px;
        }

    .button_panel {
        height: 60px;
        width: 100%;
        border-top: 1px solid black;
        background-color: #E0E0E0;
        margin-top: 40px;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 100;
    }

        .button_panel div {
            display: inline-block;
        }

    .button_panel_block {
        height: 100px;
    }
</style>*@

<div class="b_top-panel z-depth-1">
    <div class="row">
        <div class="col s2">
            <a href="~/" class="b_top-panel__logo">
                <div class="herb"></div>
                <div class="name">ИС РУИ</div>
            </a>
        </div>
        <div class="col s6">
            <div class="b_top-panel__nav">
                @*<a href="#">Планирование</a>
                <a href="#">Мероприятия</a>
                <a href="#" class="active">Объекты учета</a>*@
                @foreach (var tab in help.Tabs)
                {
                    @Html.Raw(tab)
                }
            </div>
        </div>
        <div class="col s3">
            <div class="b_top-panel__user">
                <a href="@Url.Action("UserCard", "Profile")" class="user_name">@help.User.FullName</a>
                <div class="company_name">@help.User.Department.NameSmall</div>
            </div>
        </div>
        <div class="col s1">
            <div class="b_top-panel__buttons">
                <a href="@Url.Action("Logout", "Account")" class="exit-icon tooltipped" data-position="left" data-delay="50" data-tooltip="Выход"></a>
            </div>
        </div>
    </div>
</div>

@RenderBody()

@section scripts
{
    @RenderSection("scripts", required: false)
}


<script type="text/javascript">
    $(function () {
        var sid = $('#hidSessionID').val();
        var sesDateStamp = $('#sessionDateStamp').val();

        //--------------Persistent connections-------------------------------------//
        //var conn = $.connection("/realtime/chat");
        //var conn = $.connection("http://77.95.130.66/signalrtest/realtime/chat");

        //conn.received(function (msg) {
        //    alert(msg.SessionId + ' - ' + msg.LCId);
        //});

        //conn.start(function() {
        //    var sendObj = {
        //        sessionid: $('#hidSessionID').val(),
        //        lcid: $('#hidLCID').val()
        //    };

        //    conn.send(JSON.stringify(sendObj));
        //});
        //------------------------------------------------------------------------//

        //-------------------HUBS------------------------------------------------//
        //$.connection.hub.url = "http://77.95.130.66/signalrtest";

        var proxy = $.connection.userConnectHub;

        proxy.client.sendDeny = function (msg) {
            alert(msg);
            $(location).attr('href', window.location.protocol  + '//' + window.location.host + '@(Request.ApplicationPath == "/" ? "" : Request.ApplicationPath)' + '/login');
        };

        proxy.client.askAlive = function (connId) {
            proxy.server.denyAccess(connId, sid);
        };

        $('a.exit-icon').click(function () {
            proxy.server.deleteUserSession(sid);
        });

        $.connection.hub.start()
             .done(function () {
                 proxy.server.setSessionParams(sid, sesDateStamp);
             })
             .fail(function () {
                 alert("Connection to signalR hub failed!");
             });

        //-----------------------------------------------------------------------//
        });

    $("body").ajaxStart(function () {
        preloader.show();
    });

    $("body").ajaxStop(function () {
        preloader.hide();
    });

</script>