﻿<!doctype html>
<!--[if IE 7]><html class="ie7 lt-ie10 lt-ie9 lt-ie8 no-js" lang="ru"><![endif]-->
<!--[if IE 8]><html class="ie8 lt-ie10 lt-ie9 no-js" lang="ru"><![endif]-->
<!--[if IE 9 ]><html class="ie9 lt-ie10 no-js" lang="ru"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="ru">
<!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>@ViewBag.Title</title>
    <meta content="" name="author">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta content="telephone=no" name="format-detection">
    <meta name="robots" content="noodp, noydir">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="true">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta property="og:title" content="" />
    <meta property="og:url" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="500" />
    <meta property="og:image:height" content="300" />
    <meta property="twitter:description" content="" />
    <link rel="image_src" href="" />
    <link rel="icon" type="image/png" href="favicon.ico">
    <!--[if lt IE 9 ]><meta content="no" http-equiv="imagetoolbar"><![endif]-->
    <!--[if IE 8 ]><link href="static/css/main_ie8.css" rel="stylesheet" type="text/css"><![endif]-->
    <!--[if IE 9 ]><link href="static/css/main_ie9.css" rel="stylesheet" type="text/css"><![endif]-->
    <!--[if (gt IE 9)|!(IE)]><!-->
    <link href="~/static/css/main.css" rel="stylesheet" type="text/css">

    @*@Scripts.Render("~/Content/New")*@
 
       <!--<![endif]-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script>
        (function (H) { H.className = H.className.replace(/\bno-js\b/, 'js') })(document.documentElement)
    </script>
    <!--[if lt IE 9 ]><script src="static/js/separate-js/html5shiv-3.7.2.min.js" type="text/javascript"></script><meta content="no" http-equiv="imagetoolbar"><![endif]-->
</head>
<body>
    <script type="text/javascript" src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.js" type="text/javascript"></script>
    <script src="~/signalr/hubs"></script>    

    @RenderBody()

    <!-- FOOTER -->
    @*<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>*@
    <!-- Main js -->
    
    <script type="text/javascript" src="~/Static/js/separate-js/alight_0.8.4.min.js"></script>
    @Scripts.Render("~/Scripts/All")
    @Scripts.Render("~/Scripts/knockout")


    

    @*@Scripts.Render("~/Script/New")*@
    @Scripts.Render("~/Scripts/gb")

    <script src="~/static/js/main.js"></script>

    @RenderSection("scripts", required: false)
</body>





