﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.MKRF.Logic.MasterEdit
@model bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.StepBaseViewModel

@if (Model.Master.Prev.Equals(MasterItemEnum.None.ToString()) == false)
{ 
    @Html.Button(Model.StepPrevText, "PrevStep()", notSubmit: true)

    <script type="text/javascript">
    function PrevStep() {
        window.location = '@Url.Action(Model.Master.Prev, RouteHelper.Merge(new { id = Model.Id }, Model.Master.PrevParams))';
    }
    </script>
}

@Html.Button("На карточку", "ToCardForRead()", notSubmit: true)

<script type="text/javascript">
    function ToCardForRead() {
        window.location = '@Url.Action("CardForRead", new { id = Model.Id })';
    }
</script>

@if (Model.Master.Next.Equals(MasterItemEnum.CardForRead.ToString()) == false)
{
    @Html.Button(Model.StepNexpText, "NextStep(this)")
}
else
{
    @Html.Button(Model.ReadyText, "NextStep(this)")
}

