﻿@model bgTeam.IsRui.WebApp.ViewModels.Shared.DateViewModel
@{
    var dateValue = Model.Value.HasValue ? Model.Value.Value.ToString("dd.MM.yyyy") : string.Empty;
}
@if (Model.ReadOnly)
{
    @Html.Raw(!string.IsNullOrEmpty(dateValue) ? dateValue : "--")
}
else
{
    <input type="text" class="datetime" name="@Model.Name" id="@Model.Name" value="@dateValue" @(Html.Raw(Model.ReadOnly ? "readonly='readonly' disabled='disabled'" : "")) />
    <script type="text/javascript">
        $(function () {
            $("#@Model.Name").datepicker({
                showOn: "both",
                buttonImage: "/content/style/all/images/calendar.png",
                buttonText: "Выбрать дату",
                buttonImageOnly: true,
                showAnim: 'blind',
                gotoCurrent: true,
                changeYear: true
            });
        });
    </script>
}