﻿@using GB.Handlers
@model GB.ViewModels.Shared.FileUploadMultiViewModel

<style type="text/css">
    #@Model.Name-uploader .qq-upload-list {
        list-style: none;
        margin-left: 0px;
    }

    #@Model.Name-uploader .qq-upload-list li {
        list-style: none;
    }

    #@Model.Name-uploader .qq-upload-progressbar {
        width: 123px;
        height: 14px;
        margin-bottom: -2px;
        margin-right: 7px;
        display: inline-block;
    }
    #@Model.Name-uploader .qq-upload-progressbar-label {
        float: left;
        font-weight: bold;
        text-shadow: 1px 1px 0 #fff;
        text-align: center;
        width: 100%;
    }
</style>

<div id="@Model.Name-uploader" style="float: left; display: block;">
    <noscript>
        <p>Включите javascript для использования загрузчика файла.</p>
    </noscript>
</div>

<script type="text/javascript">
    function formatFileName (name) {
        if (name.length > 33) {
            name = name.slice(0, 19) + '...' + name.slice(-13);
        }
        return name;
    };
    
    $(function () {
        var uploader = new qq.FileUploader({
            element: $('#@Model.Name-uploader')[0],
            action: '@Url.Action("Upload", "FileUpload")',
            params: {},
            allowedExtensions: [@Html.Raw(Model.Exts)],
            sizeLimit: 2147378176, // max size
            minSizeLimit: 0, // min size
            debug: false,

            onSubmit: function (id, fileName) {
                $('#@Model.Name-uploader .qq-upload-button').hide();
                $('#@Model.Name-uploader .qq-upload-list').show();
            },
            onProgress: function (id, fileName, loaded, total) {
                var container = $('.qq-upload-file:contains(' + formatFileName(fileName) + ')').closest('li');
                $('.qq-upload-spinner', container).hide();
                $('.qq-upload-size', container).hide();
                var text = '';
                if (loaded != total) {
                    text = Math.round(loaded / total * 100) + '%';
                } else {
                    text = "Подождите...";
                }
                $(".qq-upload-progressbar-label", container).text(text);
                $(".qq-upload-progressbar", container).progressbar({
                    value: Math.round((loaded / total) * 100)
                });
            },
            onComplete: function (id, fileName, responseJSON) {
                $('#@Model.Name-uploader  .qq-upload-success').slideUp();
                eval('@(Model.OnCompleteJSFunction)(responseJSON);');
            },
            onCancel: function (id, fileName) {
                $('#@Model.Name-uploader .qq-upload-button').show();
            },

            messages: {
                typeError: "{file} имеет невалидное расширение. Только {extensions} разрешены.",
                sizeError: "{file} слишком большого размера, максимальный размер: {sizeLimit}.",
                minSizeError: "{file} слишком малого размера, минимальный размер: {minSizeLimit}.",
                emptyError: "{file} пуст, please select files again without it.",
                onLeave: "The files are being uploaded, if you leave now the upload will be cancelled."
            },
            showMessage: function (message) { alert(message); }
        });

        $('#@Model.Name-uploader .qq-upload-button').contents()[0].textContent = 'Загрузите файлы';
        $('#@Model.Name-uploader .qq-upload-drop-area span').text('Перетащите файлы сюда');
    });
</script>
