﻿@using bgTeam.IsRui.WebApp.Helpers
@model bgTeam.IsRui.WebApp.ViewModels.Shared.FileUploadViewModel

@*@Html.Hidden(Model.Name + "-validate", null, new { @class="deleted", data_val_required="Введите значение" })*@
@Html.Hidden(Model.Name + "-validate")

@*<style>
        .qq-upload-button {
            float: left;
            display: block;
        }
    </style>*@
@Html.Hidden(Model.Name + "-nameguid")

<div id="@Model.Name-uploader" style="float: left; display: block;">
    <noscript>
        <p>Включите javascript для использования загрузчика файла.</p>
    </noscript>
</div>
<div class="clear"></div>


<script type="text/javascript">
    $(function() {
        @(Model.Name) = new qq.FileUploader({
            element: $('#@Model.Name-uploader')[0],
            action: '@Url.Action("Upload", "FileUpload")',
            params: {},
            allowedExtensions: [@Html.Raw(Model.Exts)],

            sizeLimit: 2147378176, // max size
            minSizeLimit: 0, // min size
            debug: false,

            onSubmit: function(id, fileName) {
                $('#@Model.Name-uploader .qq-upload-button').hide();
                $('#@Model.Name-uploader .qq-upload-list').show();
            },
            onProgress: function(id, fileName, loaded, total) {
                $('#@Model.Name-uploader .qq-upload-spinner').hide();
                $('#@Model.Name-uploader .qq-upload-size').hide();
                var text = '';
                if (loaded !== total) {
                    text = Math.round(loaded / total * 100) + '%';
                } else {
                    text = "Подождите...";
                }
                $("#@Model.Name-uploader .qq-upload-progressbar-label").text(text);
                $("#@Model.Name-uploader .qq-upload-progressbar").progressbar({
                    value: Math.round((loaded / total) * 100)
                });
            },
            onComplete: function(id, fileName, responseJSON) {
                $("#@Model.Name-uploader .qq-upload-progressbar").hide();

                @if (Model.Multi)
                {
                    @:$('#@Model.Name-uploader .qq-upload-button').show();
                }

                var fileLabel = $("#@Model.Name-uploader .qq-upload-file");
                var label = fileLabel[fileLabel.length - 1];

                $(label.parentNode).append('<div class="@Model.Name-uploader-button_delete uploader-button_delete" ></div>');
                $(label.parentNode).prepend('<span class="qq-upload-name" style="display: none;">' + responseJSON.filename + '</span>');
                $(label.parentNode).prepend('<span class="qq-upload-id" style="display: none;">' + responseJSON.guid + '</span>');

                var bloc = '@Html.Raw(string.Format(Model.DisplayFormat, LinkBuilder.GetUrlFile(string.Empty) + "' + responseJSON.guid + '/' + responseJSON.filename + '", "' + responseJSON.filename + '"))';

                $(label).html(bloc);

                //validate
                $('#@Model.Name-validate').val(@(Model.Name).GetValue());
                var validationSpan = $('span[for=@(Model.Name)-validate]');
                if (validationSpan.length != 0) {
                    validationSpan.html('');
                }

                $("#@Model.Name-nameguid").val(responseJSON.guid + ':' + responseJSON.filename);
                $("#@Model.Name-nameguid").trigger("change");
            },
            onCancel: function(id, fileName) {
                $('#@Model.Name-uploader .qq-upload-button').show();
            },

            messages: {
                typeError: "{file} имеет невалидное расширение. Только {extensions} разрешены.",
                sizeError: "{file} слишком большого размера, максимальный размер: {sizeLimit}.",
                minSizeError: "{file} слишком малого размера, минимальный размер: {minSizeLimit}.",
                emptyError: "{file} пуст, please select files again without it.",
                onLeave: "The files are being uploaded, if you leave now the upload will be cancelled."
            },
            showMessage: function(message) { alert(message); }
        });

        @if (Model.Files.Any() && !Model.Multi || Model.ReadOnly)
        {
            <text>
        $('#@Model.Name-uploader .qq-upload-button').hide();
        </text>
        }

        $(@(Model.Name)._listElement).append(function() {
            @foreach (var item in Model.Files)
            {
                @:$('#@Model.Name-validate').val('1');

                @:$(this).append('<li class="qq-upload-success">' +
                                                    @:                  '<span class="qq-upload-id" style="display: none;">@item.Id</span>' +
                                                    @:                  '<span class="qq-upload-file">@Html.Raw(string.Format(Model.DisplayFormat, @LinkBuilder.GetUrlFile(item.Id), @item.Name))</span>'  +
                                                    @:                  '<div class="@Model.Name-uploader-button_delete uploader-button_delete" ></div>' +
                                                    @:              '</li>');
                                                }
        });

        $('.@Model.Name-uploader-button_delete').live("click", function() {
            $(this).closest('.qq-upload-success').remove();
            @if (!Model.Multi)
            {
                @:$('#@Model.Name-uploader .qq-upload-button').show();
            }

            $('#@Model.Name-validate').val(@(Model.Name).GetValue());
        });

        @(Model.Name).GetValue = function() {
            var res = '';
            $(this._listElement).find('.qq-upload-id').each(function() {
                res = res + this.outerText + ':' + $(this).next().text() + ';';
            });
            return res;
        }

        @(Model.Name)_FileUploadToogle();
    });

    function @(Model.Name)_FileUploadToogle() {
        @if (Model.Files.Any())
        {
            if (Model.ReadOnly)
            {
                @: $('.@Model.Name-uploader-button_delete, .uploader-button_delete').hide();
                                    }
            }
            else
            {
            if (Model.ReadOnly)
            {
                @: $('#@Model.Name-uploader').hide();
                                    }
            else
            {
                @: $('#@Model.Name-uploader').show();
                                    }
        }
    }
</script>