﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.Helpers.Control
@using bgTeam.IsRui.WebApp.ViewModels.AccountingObjects
@model InformationInteractionViewModel
@{
    ViewBag.Title = "Информационное взаимодействие";
}

<h1>@ViewBag.Title</h1>

@Html.AddButton("OpenEditInformationInteractionPopup()", Model.ReadOnly)

@Html.Table("Grid", Model.InformationInteractions,
            new DataTableSettings<TableInformationInteraction>()
            .AddColumn(x => x.Name)
            .AddColumn(x => x.Purpose)
            .AddColumn(x => x.TypeName)
            .AddColumn(x => x.SMEV)
            .AddColumn(x => x.Title)
            .AddColumn(x => x.UrlLink)
            .AddColumn(new DataTablesDeleteColumn(!Model.ReadOnly)),
        new DataTablesConfig()
            .OnRowClick("OpenEditInformationInteractionPopup(nRow)"))

<script type="text/javascript">

    function OpenEditInformationInteractionPopup(nRow) {

        var tr = $(nRow);
        var id = tr.data('id');

        popup.popover({
            url: '@Url.Action("InformationInteractionEdit", "AccountingObjects")',
            data: {
                accountingObjectId: @Model.Id,
                id: id
            }
        });
    }
</script>