﻿@model bgTeam.IsRui.WebApp.ViewModels.Shared.SelectEntityViewModel
@if (Model.ReadOnly)
{
    var count = Model.Data.Count;
    if (count == 0)
    {
    @Html.Raw("Не задано")
    }
    else
    {
        foreach (var d in Model.Data)
        {
    @Html.Raw(d.Name)
            if (Model.Data.IndexOf(d) != (count - 1))
            {
    <br />
            }
        }
    }
}
else
{
    <div id="se_@Model.Name" class="selectentity" style="position:relative">
        <input type="hidden" id="hf_@Model.Name" name="hf_@Model.Name" value="@(Model.Value ?? string.Empty)" />

        @foreach (var d in Model.Data)
        {
            <div class="container-entity">
                <input readonly="readonly" type="text" value="@Html.Raw(d.Name)" style="float: left" />
                <div class="button_delete" data-id="@d.Id" title="Удалить"></div>
            </div>
        }
        @if (Model.Data.Count == 0)
        {
            <div class="container-entity">
                <input readonly="readonly" type="text" value="" />
            </div>
        }
        <div class="button_select" title="Выбрать"></div>
        @*        <a class="command">Выбрать</a>*@
    </div>
    
    <script type="text/javascript">
        var @Model.NameUrl = '@Model.SelectUrl';

        $(function () {

            @if (Model.IsRequired)
            {
                @: $("#hf_@Model.Name").rules("add", {
                                @:     required: true,
                                @:     messages: {
                    @:         required: "Выберите значение"
                        @:     }
                                                @: });
            }

            $('#se_@Model.Name div.button_select').click(function () {
                var value = $('#se_@Model.Name input[type="hidden"]').val();
                popup.popover({
                    url: @Model.NameUrl,
                    method: 'post',
                    data: 'selectListCallback=SelectListCallback_@Model.Name&multiple=@Model.IsMultipleSelection&value=' + value,
                    
                    onclose: OnClosePopup,
                });
            });

            $('#se_@Model.Name div.button_delete').live("click", function () {
                var $this = $(this);
                var id = $this.data('id');

                $this.parent('div').remove();

                if ($('#se_@Model.Name input[type="text"]').length == 0) {
                    $('#se_@Model.Name input[type="hidden"]').after('<div class="container-entity"><input readonly="readonly" type="text" value="" />');
                }

                var input = $('#se_@Model.Name input[type="hidden"]');
                var values = input.val().split(',');
                var resultVal = '';

                $.each(values, function (i, e) {
                    if (e != id)
                        resultVal += e + ',';
                });
                input.val(resultVal.substring(0, resultVal.length - 1)).change();

                var SelectEntityCallback = @Html.Raw(string.IsNullOrWhiteSpace(Model.SelectEntityCallback) ? "null" : Model.SelectEntityCallback);
                if (SelectEntityCallback) {
                    SelectEntityCallback();
                }
            });

            $.each($('#se_@Model.Name .container-entity'), function (i, e) {
                UpdateSEContainerHeight($(e));
            });
        });

        function SelectListCallback_@Model.Name (ids, texts) {

            $('.input-validation-error[id="hf_@Model.Name"]').removeClass('input-validation-error');
            $('.field-validation-error[data-valmsg-for="hf_@Model.Name"]').html('');

            var cmd = $('#se_@Model.Name .button_select');
            var hfInput = $('#se_@Model.Name input[type="hidden"]');
            @if (Model.IsMultipleSelection)
            {
                @: $('#se_@Model.Name input[type="text"]').closest('div').remove();
                //@: $('#se_@Model.Name span:contains("Не задано")').closest('div').remove();
            }
            else
            {
                @: hfInput.val('');
                            @: $('#se_@Model.Name div.container-entity').remove();
            }

            if ($.isArray(ids)) {
                $.each(ids, function (i, id) {
                    cmd.before('<div class="container-entity" style="position: relative; height: 30px;"></div>');
                    var itemdiv = cmd.prev('div');
                    itemdiv.append('<input readonly="readonly" style="float: left" type="text" value="' + texts[i] + '" />');
                    itemdiv.append(GetDeleteBtnHtml(id));

                    var val = '';
                    if (hfInput.val() == '')
                        val += id;
                    else val += ',' + id;
                    hfInput.val(hfInput.val() + val).change();

                    UpdateSEContainerHeight(itemdiv);
                });
            }
            else {
                cmd.after('<div class="container-entity" style="position: relative; height: 30px;"></div>');
                var itemdiv = cmd.next('div');
                itemdiv.append('<input readonly="readonly" style="float: left" type="text" value="' + texts + '" />');
                itemdiv.append(GetDeleteBtnHtml(ids));

                var val = '';
                if (hfInput.val() == '')
                    val += ids;
                else val += ',' + ids;
                hfInput.val(hfInput.val() + val).change();

                UpdateSEContainerHeight(itemdiv);
            }

            var SelectEntityCallback = @Html.Raw(string.IsNullOrWhiteSpace(Model.SelectEntityCallback) ? "null" : Model.SelectEntityCallback);
            if (SelectEntityCallback) {
                SelectEntityCallback(ids, texts);
            }
        }

        function GetDeleteBtnHtml(id) {
            return '<div class="button_delete" data-id="' + id + '" title="Удалить"></div>';
        }

        function UpdateSEContainerHeight(itemContainer) {
            //itemContainer.css('height', $('input', itemContainer).outerHeight() + 5);
        }

        function OnClosePopup(){
            if(typeof(PopupClosed) === "function") {
                PopupClosed();
            }
        }


    </script>
    }
