﻿/* ---------------------------- */
/* ------- Боковое меню ------- */
/* ---------------------------- */

.menuleft a
{
    display: inline-block;
    padding: 4px;
    margin-bottom: 7px;
}

.menuleft .current
{
    color: #555;
    text-decoration: none;
    cursor: default;
    background-color: #eec;
}


#filter_menu a
{
    margin-left: 10px;
}



#filter_menu .current
{
    color: #555;
    text-decoration: none;
    cursor: default;
    background-color: #eec;
    border: none;
    padding: 3px;
}

