﻿#logo
{
    width: 349px;
    height: 64px;
    display: block;
    background: url('img/logo.png') left top no-repeat;
    position: absolute;
    top: 22px;
    left: 20px;
}

#logo_text
{
    width: 294px;
    height: 34px;
    display: block;
    background: url('img/logo_text.png') left top no-repeat;
    position: absolute;
    top: 40px;
    left: 42%;
}

/******************/
/*  Главное меню  */
/******************/

#main_menu  .a1{
    width: 90px;
}

#main_menu  .a2{
    width: 180px;
}

#main_menu  .a3{
    width: 90px;
}

#main_menu  .a4{
    width: 110px;
}

#main_menu  .a5{
    width: 110px;
}

#main_menu  .a6{
    width: 130px;
}

#main_menu  .a7{
    width: 160px;
}

#main_menu  .a8{
    width: 88px;
}

#main_menu  .a9
{
    width: 47px;
   
    background: url('img/menusearch.png') 11px 10px no-repeat;
}

#main_menu  a.a9:hover,
#main_menu  a.a9.current {
    width: 47px;
    
    background: url('img/menusearch.png') 11px 10px no-repeat;
}


#main_menu  .as1{
    width: 180px;
}

#main_menu  .as2{
    width: 220px;
}

#main_menu  .as3{
    width: 260px;
}



/*html
{
    background-color: #EFF6FE;
}*/

#content_admin
{
    width: 960px;
    margin: 0px auto;
    padding-top: 30px;
    
}

.searchbutton
{
    display: block;
    height: 33px;
    border: none;
    background-image: url('img/searchinputb.png');
    background-color: #e2eefa;
    color: #1e478e;
    cursor: pointer;
    position: relative;
    z-index: 10;
    background-position: left top;
    background-repeat: no-repeat;
}

.searchbutton:hover
{
    background-position: left -33px;
}

/*#content.edit
{
    background-color: #F7FAFF;
    padding: 50px 0px;
}

#footer
{
    position: fixed;
    background: url('img/backgroundfooter.png') repeat-x;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 623px;
    z-index: -999;
}

#footerimg
{
    padding-top: 20px;
    background: url('img/backgroundfooterimg.png') no-repeat;
    width: 940px;
    height: 300px;
    z-index: -990;
    margin: 70px auto 0px;
}

.headertitle
{
    height: 22px;
    color: #4782ba;
    font-size: 11px;
    text-align: right;
    padding-right: 10px;
}

input:-webkit-autofill
{
    background-color: #B2F0AC !important;
}

#headerl
{
    background-image: url('img/headbackl.png');
    height: 107px;
    width: 50px;
    float: left;
}

#headerm
{
    background-image: url('img/headback.png');
    height: 107px;
    width: 840px;
    float: left;
}

#headerr
{
    background-image: url('img/headbackr.png');
    height: 107px;
    width: 50px;
    float: left;
    position: relative;
}*/

/*.searchinput
{
    border-style: none;
    background: url('img/searchinputt.png') no-repeat 0 50%;
    height: 33px;
    line-height: 33px;
    width: 199px;
    color: #a9bcd8;
    padding-left: 10px;
}

.searchbutton
{
    display: block;
    height: 33px;
    border: none;
    background-image: url('img/searchinputb.png');
    background-color: #e2eefa;
    color: #1e478e;
    cursor: pointer;
    position: relative;
    z-index: 10;
    background-position: left top;
    background-repeat: no-repeat;
}

.searchbutton:hover
{
    background-position: left -33px;
}

#mainmenul
{
    background-image: url('img/mainmenul.png');
    height: 47px;
    width: 10px;
    float: left;
}

#mainmenum
{
    background-image: url('img/mainmenu.png');
    height: 47px;
    width: 920px;
    float: left;
}

#mainmenur
{
    background-image: url('img/mainmenur.png');
    height: 47px;
    width: 10px;
    float: left;
}


.table_border_none
{
    border: 0px; 
    border-collapse: collapse;
}

.table_border_none td
{
    padding: 0px;
}*/


/*.listtext
{
    float: left;
}*/

.small
{
    font-size: 12px;
}

.gray
{
    color: #a4a4a4;
}

.graysmall
{
    color: #a4a4a4;
    font-size: 12px;
}

.button_blue
{
    color: #fff;
    font-weight: 700;
    text-shadow: 0 -1px 0 #1b4477;
    border: none;
    background: url('img/button_blue.png') 0 0 no-repeat transparent;
    height: 33px;
    /*line-height: 33px;*/
    width: 160px;
    cursor: pointer;
}

.button_blue_big
{
    background: url('img/button_blue_big_sprite.png') no-repeat 0 0;
    border: 0;
    color: #fff;
    display: block;
    width: 160px;
    height: 45px;
    line-height: 44px;
    margin: 0 0 5px;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #222;
}

.button_blue_big:hover
{
    background-position: left -45px;
}



/*.inputtext
{
    border: none;
    background-image: url('img/input.png');
    background-color: #e2eefa;
    color: #1e478e;
    height: 33px;
    line-height: 33px;
}*/

div.service
{
    text-align: center;
}

div.service.content
{
    margin-top: 10px;
}


/*.footer
{
    background: url('img/backgroundfooter.png') repeat-x 0 50%;
    height: 499px;
    width: 100%;
    margin-top: -450px;
}

.footerimg
{
    background: url('img/backgroundfooterimg.png') no-repeat 0 0;
    height: 273px;
    width: 100%;
    margin-top: -85px;
}*/


.MRow
{
    font-weight: bold;
    padding: 10px 5px 0px 20px;
    vertical-align: top;
}

.MainRow
{
    width: 300px;
    font-weight: bold; 
    padding: 10px 5px 10px 20px;
    vertical-align: top; 
}

.MainRowLeft
{
    width: 200px;
    font-weight: bold;
    vertical-align: top;
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
}

.RowRight
{
    vertical-align: top;
    padding-top: 5px;
    padding-left: 10px;
}
    
.RowLeft
{
    text-align: right;
    vertical-align: top;
    padding-top: 7px;
}

.EndRow
{
    width: 300px;
    padding: 5px 5px 0px 40px;
    text-align: right;
    vertical-align: top;
}

.tabpanelsep
{
    height: 0px;
    
}

.panelcontetsep
{
    background-color: #83bbf3;
    width: 100%; 
    height: 1px;
}


/* Внутренняю карточка */

.card-text h2 {
	margin: 0;
	padding: 0 0 7px;
}
.card-text h2{
	color: #004990
}
	    
.card-text .date {
	color: #a4a4a4;
	padding: 0 0 10px;
}
.card-text p 
{
	padding: 0 0 15px;	
	margin: 0;
}
.card-text .left-sided 
{
	float: left; 
	margin: 0 15px 15px 0;
}
.clear {
    clear: both;
}



.button-resize .b-top, .button-resize .b-top span, .button-resize .b-center, .button-resize .b-center span, .button-resize .b-center .text, .button-resize .b-bottom, .button-resize .b-bottom span
{
    background-image: url("link/bg_button_resize.png");
    background-repeat: no-repeat;
}

.button-resize-list .button-resize
{
    float: left;
    margin-left: 10px;
}

.button-resize
{
    cursor: pointer;
    display: block;
    text-decoration: none;
}

.button-resize .b-top
{
    background-position: right top;
    display: block;
    margin-left: 65px;
}

.button-resize .b-top span
{
    background-position: left top;
    display: block;
    height: 11px;
    margin-left: -65px;
    width: 65px;
}

.button-resize .b-center
{
    background-position: right -11px;
    display: block; /*margin-left: 65px;*/
}

.button-resize .b-center span
{
    background-position: left -11px;
    display: block; /*height: 30px;*/ /*margin-left: -65px;*/ /*width: 100px;*/
    margin-right: 15px;
    position: relative;
}

.button-resize .b-bottom
{
    background-position: right bottom;
    display: block;
    margin-left: 65px;
}

.button-resize .b-bottom span
{
    background-position: left bottom;
    display: block;
    height: 13px;
    margin-left: -65px;
    width: 65px;
}

.button-resize .text
{
    /*font-size: 16px;     font-weight: 700;     line-height: 52px;     min-height: 52px;*/
    padding: 0 0 0 65px;
    text-shadow: 0 1px 0 #fff; /*color: #303030;*/
    font-size: 14px;
    font-weight: bold;
    line-height: 36px;
    min-height: 36px;
}

.button-resize .multitext
{
    line-height: 18px;
}

.button-resize .icon i
{
    position: absolute;
    left: 18px; /*top: 50%;     background-position: left center;     background-repeat: no-repeat;     display: block;*/
    height: 40px;
    margin-top: -9px;
    width: 40px;
    z-index: 11;
    top: 50%;
    margin-top: -20px;
}

.kremlin .b-center .icon i
{
    background: url('img/icon/kremlin.png') left 6px no-repeat;
}

.gover .b-center .icon i
{
    background: url('img/icon/gover.png') left no-repeat;
}

.minsvyaz .b-center .icon i
{
    background: url('img/icon/minsvyaz.png') left no-repeat;
}

.gosuslugi .b-center .icon i
{
    background: url('img/icon/gosuslugi.png') left no-repeat;
}

.application .b-center .icon i
{
    background: url('img/icon/application.png') left no-repeat;
}

/*news_style*/
.newslist
{
    overflow-y: hidden;
    margin-bottom: 10px;
}

.newsimg
{
    float: left;
    margin-right: 25px;
    margin-bottom: 25px;
}

.newsimg img
{
    width: 150px;
}

.news_meta
{
    font-size: 11px;
    font-style: italic;
    color: #7B7B7B;
    display: block;
}

/*Теги*/
.tagstring
{
    color: #999999;
    font-size: 11px;
}

.tagstring a {
    color: inherit;
    text-decoration: none;
}


/* Панель фильтров */
#filter_panel
{
    color: #555;
    background-color: #eec;
    padding: 10px;
}

.filter_panel
{
    color: #555;
    background-color: #eec;
    padding: 10px;
}

span.deleteicon
{
    position: relative;
}
span.deleteicon span
{
    position: absolute;
    display: block;
    top: 1px;
    right: 6px;
    width: 16px;
    height: 16px;
    background: url('http://cdn.sstatic.net/stackoverflow/img/sprites.png?v=4') 0 -690px;
    cursor: pointer;
}
span.deleteicon input
{
    padding-right: 16px;
}

/*Files*/
.filelist ul
{
	margin-top:5px;
	padding-left:20px;
}
.filelist li
{
    text-indent: -1.24em;
	list-style-type: none;
	padding-top:3px;
	padding-bottom:3px;
}

.filelist li:before
{
	content: "— ";
}