﻿
/* Основное */
body
{
    font: 0.84em Arial,Helvetica,sans-serif;
    color: #606060;
    margin: 0;
    padding: 0;
}

.body_header
{
    padding-top: 40px;
}

.page_content
{
    width: 960px;
    margin: 0px auto;
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2d2d2d; /*font: 13px/27px Arial,sans-serif;*/
    height: 30px; /*color: #CCCCCC;*/
    border-bottom: 1px solid #ddd;
    z-index: 999;
}

header .page_content
{
    padding-top: 5px;
}

#logo
{
    float: left;
}

header a
{
    color: #CCCCCC;
}

.header_menu_sep
{
    padding-left: 10px;
}

footer
{
    height: 80px;
    margin-top: 20px;
    border-top: 1px solid #DDDDDD;
    background: #fff url('img/footer.png') repeat-x top left;
}

footer .page_content
{
    padding-top: 20px;
}

.copyright
{
    color: #6d6d6d;
    font-size: .85em;
}

.round_panel
{
    margin: 0px;
    border: 1px solid #a8d5e0;
    background-color: #ffffff;
    padding: 25px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

/*---------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------*/

/*table 
{ 
    border-collapse: collapse; 
    border-spacing: 0px;
}*/

button
{
    margin: 0;
    padding: 7px 10px;
    line-height: 100%;
    cursor: pointer;
    color: #000;
    border: 1px solid #ACCEF0;
    background-color: #D7E8F8;
}

h1, h2, h3
{
    font-weight: normal;
}

h2.top
{
    margin-top: 0px;
}

h2.next
{
    margin-top: 50px;
}

/*h1, h2
{
    margin: 0px;
}*/



#user_menu
{
    width: 100%;
    text-align: right;
}

/* Главное меню */
#main_menu
{
    font-size: 1.2em;
    padding-top: 8px;
}

#main_menu ul
{
    padding: 0;
    margin: 0;
}

#main_menu li
{
    display: block;
    float: left;
    text-align: center;
}

#main_menu a
{
    padding: 10px 10px;
}

#main_menu .current, #main_menu a:hover
{
    background-color: #DCDCDC;
}

#main_menu li span.comment
{
    display: block;
    font-size: 0.6em;
    padding-top: 10px;
    color: #F00;
    height: 14px;
}


/* Select entity control */
.selectcontrol
{
    float: left; /*background-color: #FEE;*/
    padding: 7px 0px;
}

.selectcontrol_text
{
    /*padding-left: 7px;*/
    padding-right: 10px;
}





.cancelselectlist
{
    padding-top: 10px;
}


/* Ссылки */
a, a.visited
{
    color: #305B94; /*#004990;*/
    text-decoration: none;
}

a:hover
{
    color: #F12938;
    text-decoration: underline;
}

a.command
{
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    text-decoration: none !important;
    cursor: pointer;
}



a.disabled
{
    color: #A6A6A6 !important;
    cursor: default;
}


/* Форма авторизации */
.form_auth
{
    /*border: 1px solid #C0C0C0;     margin: 100px auto 0px;     width: 380px;*/
}

.form_auth_img
{
    height: 80px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #C0C0C0;
}

.form_auth_table
{
    /*padding: 20px;*/
    width: 100%;
}

.form_auth_text
{
    color: #777;
    padding-left: 5px;
    text-align: left;
}

.form_auth_input input[type="text"], .form_auth_input input[type="password"]
{
    font-size: 18px;
    height: 39px;
    line-height: 39px;
    width: 100%;
    border: solid 1px #93afc9;
    border-radius: 3px;
    padding: 0 17px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.form_auth_desc
{
    padding-left: 5px;
    padding-bottom: 5px;
    font-size: 8pt;
    color: #CCC;
    text-align: left;
}

/*.input_big
{
    
}

.button_blue_big
{
    background: url("img/button_blue_big_sprite.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 18px;
    font-weight: 700;
    height: 45px;
    line-height: 44px;
    margin: 0 0 5px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #222222;
    width: 160px;
}*/


.form_auth_input_border input[type="text"], .form_auth_input_border input[type="password"]
{
    color: #7b8288;
    display: block;
    background: #fff;
    border: none;
    width: 100%;
}

.form_auth_input_border
{
    border: solid 1px #93afc9;
    border-radius: 3px;
    padding: 0 17px;
    background: #fff;
    position: relative;
    z-index: 100;
}

input::-webkit-input-placeholder
{
    color: #ccc;
}
input:-moz-placeholder
{
    color: #ccc;
}



/* Форма редактирования */
.form_edit
{
    margin: auto;
    width: 100%;
    border-spacing: 0px 2px;
}

.form_edit_desc
{
    width: 270px;
    text-align: right;
    vertical-align: middle;
}

.form_edit_p3
{
    text-align: right;
    font-weight: bold;
    padding-right: 50px;
}

.form_edit_input
{
    vertical-align: top;
    padding-left: 10px;
}





/* Панель - сообщение об ошибке */
#div_error_panel
{
    padding: 10px;
    margin: 10px 10px 10px 10px;
    font: 0.8em Verdana; /*border: 1px solid #FFC800;     background-color: #FFFBBA;     color: #FF3333;*/
    border: 1px solid #C00;
    background-color: #FCC;
    color: #606060;
}

#form_edit #div_error_panel
{
    margin: 10px 0px;
}


/* Панель - информационное сообщение */
#div_info_panel
{
    padding: 10px;
    margin: 0px 10px 10px 10px;
    font-family: Verdana; /*border: 1px solid #C4C4FF;     background-color: #FCFDFF;     color: #5C5C5C;*/
    border: 1px solid #E5C200;
    background-color: #FFFFCC;
    color: #606060;
}

#form_edit #div_info_panel
{
    margin: 10px 0px;
    border-radius: 10px;
}

/* Панель над таблицой */
.grid_panel
{
    border-spacing: 0px; /*padding-top: 20px;*/
}

.grid_title
{
    padding-right: 10px;
}

.grid_button_add
{
    height: 45px;
    padding-left: 10px;
}

.grid_button_panel
{
    padding: 10px 0px;
    background-color: #d7e8f8;
    border: 1px solid #accef0;
    border-bottom-width: 0px;
}

.grid_button_panel ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

.grid_button_panel li
{
    display: inline-block;
    margin-left: 10px;
}


/* Ссылка возарата */
.dialog_back_arrow
{
    color: #3F66A0;
    text-align: right;
    font-family: Times New Roman;
    font-size: 18px;
    padding-right: 4px;
}

.dialog_back_link
{
    padding-bottom: 1px;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    text-decoration: none !important;
}

.analytics_dialog_back_link
{
    display: initial !important;
    padding: 0 !important;
}

.popup_control_header
{
    height: 55px;
    padding-left: 20px;
}

.popup_control_header h3#header
{
    padding-left: 20px;
    font-weight: normal;
    margin: 0px;
}

.popup_control_footer
{
    height: 55px;
    padding-left: 20px;
}

/* Иконки */
.icon16
{
    font-size: 0;
    vertical-align: bottom;
    display: inline-block;
    height: 16px;
    width: 16px;
    background: transparent url('img/icons_16.png') no-repeat;
}

.icon_24
{
    display: inline-block;
    height: 24px;
    width: 24px;
    background: transparent url('img/icons_24.png') no-repeat;
}

.execute_task_icon
{
    background-position: 0 -24px;
}

.select_all_icon
{
    background-position: 0 -864px;
    cursor: pointer;
}



/* Разное */
.display_none
{
    display: none;
}

.not_valid
{
    background-color: #FCC;
}

.dialog-backArrow
{
    color: #3F66A0;
    text-align: right;
    font-family: Times New Roman;
    font-size: 18px;
    padding-right: 4px;
}

.delete
{
    color: #C00 !important;
}

.grid_mouseover
{
    background-color: #FBFCE7 !important;
    cursor: pointer;
}

/* DevExpress */
.dxgvTable, .dxgvTable_Aqua
{
    font: 0.9em Tahoma !important;
}

.form_auth table.dxeTextBox, .form_auth table.dxeTextBox_Aqua
{
    width: 100%;
}

.form_auth input.dxeEditArea, .form_auth input.dxeEditArea_Aqua
{
    font-size: 11pt;
    font-weight: bold;
    font-family: Verdana;
    height: 20px !important;
    padding: 3px 0px;
}

/* upload */
div.img_list_item
{
    width: 150px;
    padding: 10px 10px;
    text-align: center;
    float: left;
}

div.img_list_item img
{
    width: 150px;
    margin-bottom: 10px;
}

div.video_list_item
{
    width: 330px;
    padding: 10px 10px;
    text-align: center;
    float: left;
}

div.text_list_item
{
    /*padding-left: 7px;*/
    padding-right: 10px;
    float: left;
}


/* Размер полей */
.selectcontrol, td.form_edit_input table.dxeButtonEdit, td.form_edit_input table.dxeTextBox, td.form_edit_input table.dxeMemo, td.form_edit_input table.dxucControl, td.form_edit_input table.dxeButtonEdit_Aqua, td.form_edit_input table.dxeTextBox_Aqua, td.form_edit_input table.dxeMemo_Aqua, td.form_edit_input table.dxucControl_Aqua
{
    width: 420px;
}

td.form_edit_input textarea
{
    height: 100px;
}

td.form_edit_input input
{
}


.ErorField td.selectcontrol, .ErorField table.dxeTextBox, .ErorField table.dxeButtonEdit, .ErorField input[type="text"], .ErorField textarea, .invalid-field
{
    background-color: #FEE;
}

.dxeErrorCell, .dxeErrorCell_Aqua, .validation_summary
{
    color: #F00;
    font-size: 0.8em;
    font-style: italic;
    font-family: Arial,sans-serif;
    white-space: normal !important;
}


.form_edit_input .dxeTextBox td.dxic, .form_edit_input .dxeButtonEdit td.dxic, .form_edit_input .dxeTextBox_Aqua td.dxic, .form_edit_input .dxeButtonEdit_Aqua td.dxic, .form_edit_input .input_container
{
    padding: 5px 7px 5px 5px !important;
}


/* Список задач */
.task_head
{
    display: block;
    font-size: 1.2em;
    color: #999;
}

.task_body
{
    display: block;
    padding: 10px 0px;
    font-size: 1.2em;
}

.task_date
{
    color: #999;
}

.task_red
{
    /*background-color: #f33;     color: #fff;     padding: 4px 7px;*/
    white-space: nowrap;
    color: #f33;
    padding-left: 10px;
    font-weight: bold;
    font-size: 1.1em;
}

.task_yellow
{
    /*background-color: Yellow;     color: #888;     padding: 4px 7px;*/
    white-space: nowrap;
    color: #165c9c;
    padding-left: 10px;
    font-weight: bold;
    font-size: 1.1em;
}

.task_execute
{
    float: left;
}

.none
{
    display: none;
}

.table_full
{
    border: 0 none;
    border-collapse: collapse;
    width: 100%;
}

.curved
{
    border-radius: 8px 8px 8px 8px;
}

#filter_panel
{
    color: #555;
    background-color: #eec;
    padding: 10px;
}

.filter_panel
{
    color: #555;
    background-color: #eec;
    padding: 10px;
}

span.deleteicon
{
    position: relative;
}
span.deleteicon span
{
    position: absolute;
    display: block;
    top: 1px;
    right: 6px;
    width: 16px;
    height: 16px;
    background: url('http://cdn.sstatic.net/stackoverflow/img/sprites.png?v=4') 0 -690px;
    cursor: pointer;
}
span.deleteicon input
{
    padding-right: 16px;
}

div#pers a
{
    background-image: url("link/linkpers.png");
}
div#gov a
{
    background-image: url("link/linkgov.png");
}
div#mks a
{
    background-image: url("link/linkmks.png");
}
div#service a
{
    background-image: url("link/linkservice.png");
}
div#coord a
{
    background-image: url("link/linkcoord.png");
}
div#fap a
{
    background-image: url("link/linkfap.png");
}
div#fgis a
{
    background-image: url("link/linkfgis.png");
}

.button-resize .b-top, .button-resize .b-top span, .button-resize .b-center, .button-resize .b-center span, .button-resize .b-center .text, .button-resize .b-bottom, .button-resize .b-bottom span
{
    background-image: url("link/bg_button_resize.png");
    background-repeat: no-repeat;
}

.button-resize-list .button-resize
{
    float: left;
    margin-left: 10px;
}

.button-resize
{
    cursor: pointer;
    display: block;
    text-decoration: none;
}

.button-resize .b-top
{
    background-position: right top;
    display: block;
    margin-left: 65px;
}

.button-resize .b-top span
{
    background-position: left top;
    display: block;
    height: 11px;
    margin-left: -65px;
    width: 65px;
}

.button-resize .b-center
{
    background-position: right -11px;
    display: block; /*margin-left: 65px;*/
}

.button-resize .b-center span
{
    background-position: left -11px;
    display: block; /*height: 30px;*/ /*margin-left: -65px;*/ /*width: 100px;*/
    margin-right: 15px;
    position: relative;
}

.button-resize .b-bottom
{
    background-position: right bottom;
    display: block;
    margin-left: 65px;
}

.button-resize .b-bottom span
{
    background-position: left bottom;
    display: block;
    height: 13px;
    margin-left: -65px;
    width: 65px;
}

/*.button-resize.l2 .text {
line-height: 18px;
min-height: 44px;
padding-top: 8px;
}*/

.button-resize .text
{
    /*font-size: 16px;     font-weight: 700;     line-height: 52px;     min-height: 52px;*/
    padding: 0 0 0 65px;
    text-shadow: 0 1px 0 #fff; /*color: #303030;*/
    font-size: 14px;
    font-weight: bold;
    line-height: 36px;
    min-height: 36px;
}

.button-resize .multitext
{
    line-height: 18px;
}

.button-resize .icon i
{
    position: absolute;
    left: 18px; /*top: 50%;     background-position: left center;     background-repeat: no-repeat;     display: block;*/
    height: 40px;
    margin-top: -9px;
    width: 40px;
    z-index: 11;
    top: 50%;
    margin-top: -20px;
}

.kremlin .b-center .icon i
{
    background: url('img/icon/kremlin.png') left 6px no-repeat;
}

.gover .b-center .icon i
{
    background: url('img/icon/gover.png') left no-repeat;
}

.minsvyaz .b-center .icon i
{
    background: url('img/icon/minsvyaz.png') left no-repeat;
}

.gosuslugi .b-center .icon i
{
    background: url('img/icon/gosuslugi.png') left no-repeat;
}

.application .b-center .icon i
{
    background: url('img/icon/application.png') left no-repeat;
}

/*news_style*/
.newslist
{
    overflow-y: hidden;
    margin-bottom: 10px;
}

.newsimg
{
    float: left;
    margin-right: 25px;
    margin-bottom: 25px;
}

.newsimg img
{
    width: 150px;
}

.news_meta
{
    font-size: 11px;
    font-style: italic;
    color: #7B7B7B;
    display: block;
}

/*Теги*/
.tagstring
{
    color: #999999;
    font-size: 11px;
}

.tagstring a {
    color: inherit;
    text-decoration: none;
}
