﻿@model bgTeam.IsRui.WebApp.Admin.Models.GetAllUsersViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Пользователи";
}

<h1>Пользователи</h1>

<div style="display: flex; justify-content: space-between;">
    <a class="command button" href="@Url.Action("GetUserInfo", "Admin", new { id = 0 })">Добавить</a>
</div>

<div>
    <input id="gridSearch" type="text" style="width: 100%; margin: 10px 0;" placeholder="Поиск" />
</div>
<div style="overflow-x:auto">
    <table id="userGrid" class="dataTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Login</th>
                <th>IsActive</th>
                <th>Surname</th>
                <th>Name</th>
                <th>Middlename</th>
                <th>Job</th>
                <th>WorkPhone</th>
                <th>MobPhone</th>
                <th>Fax</th>
                <th>Email</th>
                <th>Work</th>
                <th>Education</th>
                <th>ReceiveMail</th>
                <th>IsResponsible</th>
                <th>Snils</th>
                <th>IsESIA</th>
                <th>Token</th>
                <th>GovtOrganId</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model.UsersList)
            {
                <!--tr data-id="row.PrimaryKeyValue" data-clicklink="(Url.Action("EditorCardEdit", new { dictId = Model.DictId, itemId = row.PrimaryKeyValue }))"-->
                <tr data-id="@row.Id" data-clicklink="@Url.Action("GetUserInfo", new { id = row.Id})">
                    <td>@row.Id</td>
                    <td>@row.Login</td>
                    @if (row.IsActive)
                    {
                        <td>Да</td>
                    }
                    else
                    {
                        <td>Нет</td>
                    }
                    <td>@row.Surname</td>
                    <td>@row.Name</td>
                    <td>@row.Middlename</td>
                    <td>@row.Job</td>
                    <td>@row.WorkPhone</td>
                    <td>@row.MobPhone</td>
                    <td>@row.Fax</td>
                    <td>@row.Email</td>
                    <td>@row.Work</td>
                    <td>@row.Education</td>
                    @if (row.ReceiveMail)
                    {
                        <td>Да</td>
                    }
                    else
                    {
                        <td>Нет</td>
                    }
                    @if (row.IsResponsible)
                    {
                        <td>Да</td>
                    }
                    else
                    {
                        <td>Нет</td>
                    }
                    <td>@row.Snils</td>
                    @if (row.IsESIA)
                    {
                        <td>Да</td>
                    }
                    else
                    {
                        <td>Нет</td>
                    }
                    <td>@row.Token</td>
                    <td>@row.GovtOrganId</td>
                    <td style="width: 55px;">
                        <a class="deletebutton" href="@Url.Action("UserChangePassword", "Admin", new { id = row.Id })">Сменить пароль</a>
                    </td>
                    <td style="width: 55px;">
                        <a class="deletebutton" onclick="tableDeleteItem(@row.Id)">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
    var userGrid = null;

    function tableTrClickInit() {
        $('#userGrid tr').click(function (event) {
            if (event.target.localName == 'td') {
                var link = $(this).attr('data-clicklink');
                window.location = link;
            }
        });
    }

    function tableDeleteItem(userId) {

        if (!confirm("Вы действительно хотите удалить запись?"))
            return;

        $.ajax({
            url: '@Url.Action("UserDeleteUser", "Admin")',
            type: 'post',
            data:
            {
                id: userId
            },
            success: function (res) {
                if (res) {
                    var _tr = $('tr[data-id="' + userId + '"]');
                    _tr.remove();
                    notify.showSuccess('Запись удалена');
                }
            },
            error: errorBaseHandler
        });
    }

    $(document).ready(function () {
        tableTrClickInit();
        userGrid = $('#userGrid').DataTable(defaultTableConfig);
        $('#gridSearch').keyup(function (e) {
            if (userGrid)
                userGrid.search(this.value).draw();
        });
    });
</script>