﻿@model bgTeam.IsRui.WebApp.Admin.Models.UserViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Пользователь";
}

<div class="edit_form">
    @using (Html.BeginForm("UserAddOrUpdateUser", "Admin"))
    {
        <dl>
            <dt>
                <label for="Id">Id</label>
            </dt>
            <dd>
                <input name="Id" type="text" value="@Model.Id" readonly />
            </dd>
        </dl>
        <dl>
            <dt>
                <label for="Login">Login</label>
            </dt>
            <dd>
                <input name="Login" type="text" value="@Model.Login" />
            </dd>
        </dl>
        @if (Model.Id < 1 || !Model.Id.HasValue)
        {
        <dl>
            <dt>
                <label for="Password">Password</label>
            </dt>
            <dd>
                <input name="Password" type="password" value="@Model.Password" />
            </dd>
        </dl>
        }
        <dl>
            <dt>
                <label for="IsActive">IsActive</label>
            </dt>
            <dd>
                <select name="IsActive" type="text" value="@Model.IsActive">
                    <option value="true">Да</option>
                    <option value="false">Нет</option>
                </select>
            </dd>
        </dl>
        <dl>
            <dt>
                <label for="Surname">Surname</label>
            </dt>
            <dd>
                <input name="Surname" type="text" value="@Model.Surname" />
            </dd>
        </dl>
        <dl>
            <dt>
                <label for="Name">Name</label>
            </dt>
            <dd>
                <input name="Name" type="text" value="@Model.Name" />
            </dd>
        </dl>
        <dl>
            <dt>
                <label for="Middlename">Middlename</label>
            </dt>
            <dd>
                <input name="Middlename" type="text" value="@Model.Middlename" />
            </dd>
        </dl>
        <dl>
            <dt>
                <label for="Job">Job</label>
            </dt>
            <dd>
                <input name="Job" type="text" value="@Model.Job" />
            </dd>
        </dl>
        <dl>
            <dt>
                <label for="WorkPhone">WorkPhone</label>
            </dt>
            <dd>
                <input name="WorkPhone" type="text" value="@Model.WorkPhone" />
            </dd>
        </dl>
        <dl>
            <dt>
                <label for="MobPhone">MobPhone</label>
            </dt>
            <dd>
                <input name="MobPhone" type="text" value="@Model.MobPhone" />
            </dd>
        </dl>
        <dl>
            <dt>
                <label for="Fax">Fax</label>
            </dt>
            <dd>
                <input name="Fax" type="text" value="@Model.Fax" />
            </dd>
        </dl>
        <dl>
            <dt>
                <label for="Email">Email</label>
            </dt>
            <dd>
                <input name="Email" type="text" value="@Model.Email" />
            </dd>
        </dl>
        <dl>
            <dt>
                <label for="Work">Work</label>
            </dt>
            <dd>
                <input name="Work" type="text" value="@Model.Work" />
            </dd>
        </dl>
        <dl>
            <dt>
                <label for="Education">Education</label>
            </dt>
            <dd>
                <input name="Education" type="text" value="@Model.Education" />
            </dd>
        </dl>
        <dl>
            <dt>
                <label for="ReceiveMail">ReceiveMail</label>
            </dt>
            <dd>
                <select name="ReceiveMail" type="text" value="@Model.ReceiveMail">
                    <option value="true">Да</option>
                    <option value="false">Нет</option>
                </select>
            </dd>
        </dl>
        <dl>
            <dt>
                <label for="IsResponsible">IsResponsible</label>
            </dt>
            <dd>
                <select name="IsResponsible" type="text" value="@Model.IsResponsible">
                    <option value="true">Да</option>
                    <option value="false">Нет</option>
                </select>
            </dd>
        </dl>
        <dl>
            <dt>
                <label for="Snils">Snils</label>
            </dt>
            <dd>
                <input name="Snils" type="text" value="@Model.Snils" />
            </dd>
        </dl>
        <dl>
            <dt>
                <label for="IsESIA">IsESIA</label>
            </dt>
            <dd>
                <select name="IsESIA" type="text" value="@Model.IsESIA">
                    <option value="true">Да</option>
                    <option value="false">Нет</option>
                </select>
            </dd>
        </dl>
        <dl>
            <dt>
                <label for="Token">Token</label>
            </dt>
            <dd>
                <input name="Token" type="text" value="@Model.Token" />
            </dd>
        </dl>
        <dl>
            <dt>
                <label for="GovtOrganId">GovtOrganId</label>
            </dt>
            <dd>
                <input name="GovtOrganId" type="text" value="@Model.GovtOrganId" />
            </dd>
        </dl>

        <div class="buttons">
            <a class="command button gray" onclick="backPage()">Назад</a>
            <div></div>
            <button>Сохранить</button>
        </div>
    }
</div>

<script type="text/javascript">
        function backPage()
        {
            window.location = '@Url.Action("GetAllUsers", "Admin")'
        }
</script>