﻿@model bgTeam.IsRui.WebApp.Admin.Models.UserChangePasswordViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="edit_form">
    @using (Html.BeginForm("UserChangePassword", "Admin"))
    {
        <dl>
            <dt>
                <label for="Id">Id</label>
            </dt>
            <dd>
                <input name="Id" type="text" value="@Model.Id" readonly />
            </dd>
        </dl>
        <dl>
            <dt>
                <label for="UserName">UserName</label>
            </dt>
            <dd>
                <input name="UserName" type="text" value="@Model.UserName" readonly />
            </dd>
        </dl>
        <dl>
            <dt>
                <label for="NewPassword">NewPassword</label>
            </dt>
            <dd>
                <input name="NewPassword" type="password" value="@Model.NewPassword" />
            </dd>
        </dl>
        <dl>
            <dt>
                <label for="NewPasswordConfirm">NewPasswordConfirm</label>
            </dt>
            <dd>
                <input name="NewPasswordConfirm" type="password" value="@Model.NewPasswordConfirm" />
            </dd>
        </dl>

        <ul class="errors">
            @if (!string.IsNullOrWhiteSpace(Model.Message))
            {
                <li>@Model.Message</li>
            }
        </ul>

        <div class="buttons">
            <a class="command button gray" onclick="backPage()">Назад</a>
            <div></div>
            <button>Сохранить</button>
        </div>
    }
</div>


<script type="text/javascript">
        function backPage()
        {
            window.location = '@Url.Action("GetAllUsers", "Admin")'
        }
</script>