﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.Helpers.Control
@model bgTeam.IsRui.WebApp.ViewModels.SelectLists.SelectListViewModel
@{
    ViewBag.Title = "AccountingObjects";
    Layout = "~/Views/SelectList/_LayoutSelect.cshtml";
}

<h1>Объект учета</h1>

@Html.Table("Grid", Model.Data,
new DataTablesSettings()
    .AddColumn("Name", "Краткое наименование ")
    .AddColumn("Type", "Тип ОУ")
    .AddColumn("Kind", "Вид ОУ"),
new DataTablesConfig()
    .OnRowClick("OnClickSelectRow(nRow)"))

<script>
    function OnClickSelectRow(nRow) {
        var tr = $(nRow);
        var id = tr.data('id');
        var mass = tr.children();
        (@Model.SelectListCallback)(id, mass[0].innerText);
        popup.closeContainer(nRow);
    }
</script>