﻿@using bgTeam.IsRui.WebApp.Helpers
@model bgTeam.IsRui.WebApp.ViewModels.SelectLists.FindPurchaseViewModel
@{
    Layout = "~/Views/SelectList/_LayoutSelect.cshtml";
}

<h1>Поиск закупок</h1>

<div id="purchaseSearch">
    <table>
        <tr>
            <td >
                @Html.TextBoxMD(m => m.Number)
            </td>
            <td>
                @Html.DropDownMD(m => m.Type, Model.TypeList)
            </td>
        </tr>
        <tr>
            <td colspan="3">
                @Html.TextBoxMD(m => m.Name)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DateBoxMD(m => m.FromDate)
            </td>
            <td>
                @Html.DateBoxMD(m => m.ToDate)
            </td>
        </tr>
    </table>

    @Html.Button("Поиск", "FindPurchase360()") Выводиться не более 5 записей, В данный момент стоит заглушка пока не вывели функционал на закупках

    <table class="display dataTable no-footer">
        <thead>
            <tr role="row">
                <th></th>
                <th>Реестровый номер</th>
                <th>Наименование</th>
                <th>Дата публикации</th>
                <th>Тип</th>
                <th>Стоимость</th>

            </tr>
        </thead>
        <tbody data-bind="foreach: items">
            <tr>
                <td><a href="#" data-bind="click: $parent.selectContract">Выбрать</a></td>
                <td data-bind="text: Number"></td>
                <td data-bind="html: Name"></td>
                <td data-bind="text: Date"></td>
                <td data-bind="text: TypeStr"></td>
                <td data-bind="text: Price"></td>
            </tr>
        </tbody>
    </table>
</div>

<div id="purchaseSelect" style="display:none">
    @using (Html.FormBegin())
    {
        <div  data-bind="with: contract" >

            @Html.LabelFor(m => m.Number)
            <input type="text" readonly="readonly" data-bind="value: Number" />

            @Html.LabelFor(m => m.Name)
            <textarea class="materialize-textarea" readonly="readonly" data-bind="value: Name" />
            
            @Html.Label("Дата публикации")
            <input type="text" readonly="readonly" data-bind="value: Date" />

            @Html.LabelFor(m => m.Type)
            <input type="text" readonly="readonly" data-bind="value: TypeStr" />
            
            @Html.LabelFor(m => m.Price)
            <input type="text" readonly="readonly" data-bind="value: Price" />

            @Html.LabelFor(m => m.Summ)
            <input type="text" id="Summ" data-bind="value: Summ" />

        </div>
        
        @Html.Button("&#8592; Вернуться к поиску", "ShowSearch()", notSubmit:true)
        <span style="padding-left:20px"></span>
        @Html.Button("Добавить", "AddPurchase(this)")
    }
</div>

<script>
    var contractListViewModel;

    function FindPurchase360() {
        $.ajax({
            url: '@Url.Action("FindPurchase", "ExternalSystems")',
            type: 'post',
            data:
            {
                Number: $("#Number").val(),
                Type: $("#Type").val(),
                Name: $("#Name").val(),
                fDate: $("#FromDate").val(),
                tDate: $("#ToDate").val(),
            },
            success: function (res) {
                contractListViewModel.items.removeAll();
                $.each(res, function (i, e) {
                    contractListViewModel.items.push(e);
                });
            },
        });
    }

    function ShowSearch() {
        $("#purchaseSearch").show();
        $("#purchaseSelect").hide();
    }

    function AddPurchase(s) {
        var form = $(s).closest('form');

        if (!form.valid())
            return false;

        //contractListViewModel.contract.RefreshSumm()

        var data = ko.toJSON(contractListViewModel.contract);

        $.ajax({
            url: '@Url.Action("PurchaseAdd", "AccountingObjects")',
            type: 'post',
            contentType: 'application/json',
            data: data,
            success: function (res) {
                if (res.success) {
                    GridPurchase_afterEdit(res);
                    contractListViewModel.items.removeAll();
                    popup.close();
                    window.location = window.location.href;
                }
                else
                    notify.showWarning(res.message);
            },
        });

        form.submit(function () {
            return false;
        });

        return false;
    }

    function AppViewModel() {
        var self = this;
        contractListViewModel = self;

        self.contract = ko.observable();
        self.items = ko.observableArray([]);

        self.selectContract = function () {

            var res = {
                IdAO: @Model.Id,
                IdZakupki360: this.Id,
                Number: this.Number,
                Type: this.Type,
                TypeStr: this.TypeStr,
                Date: this.Date,
                Name: this.Name,
                Price: this.Price,
                Summ: this.Price,
            }

            self.contract(res);

            $("#purchaseSearch").hide();
            $("#purchaseSelect").show();
            
            //$("#Summ").numberMoney(2);
        };

        @*self.contract.RefreshSumm = function() {
            var summ = $("#Summ").val();

            debugger;

            var res = {
                IdAO: @Model.Id,
                IdZakupki360: this.Id,
                Number: this.Number,
                Type: this.Type,
                TypeStr: this.TypeStr,
                Date: this.Date,
                Name: this.Name,
                Price: this.Price,
                Summ: summ,
            }

            self.contract(res);
        }*@
    }

    $(function () {
        ko.applyBindings(new AppViewModel());
    });
</script>
