﻿@using bgTeam.IsRui.WebApp.Helpers
@model bgTeam.IsRui.WebApp.ViewModels.SelectLists.FindGovernmentContractViewModel
@{
    ViewBag.Title = "FindGovernmentContract";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<h1>Поиск госконтрактов на - Закупки 360</h1>

<div id="contractSearch">
    <table>
        <tr>
            <td colspan="2">
                @Html.TextBoxMD(m => m.Number)
            </td>
            <td>
                @Html.TextBoxMD(m => m.Order)
            </td>
        </tr>
        <tr>
            <td colspan="3">
                @Html.TextBoxMD(m => m.Executer)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DateBoxMD(m => m.FromDate)
            </td>
            <td>
                @Html.DateBoxMD(m => m.ToDate)
            </td>
            <td>
               @Html.DropDownMD(m => m.Status, Model.StatusList)
            </td>
        </tr>
    </table>


    @Html.Button("Поиск", "FindContractZK360()") 

    <table class="display dataTable no-footer">
        <thead>
            <tr role="row">
                <th></th>
                <th>Закупка</th>
                <th>Реестровый номер</th>
                <th>Дата заключения</th>
                <th>Статус</th>
                <th style="min-width: 300px">Исполнитель</th>
                <th>Стоимость</th>
                
            </tr>
        </thead>
        <tbody data-bind="foreach: items">
            <tr>
                <td><a href="#" data-bind="click: $parent.selectContract">Выбрать</a></td>
                <td data-bind="text: Order"></td>
                <td data-bind="html: NumberLink"></td>
                <td data-bind="text: Date"></td>
                <td data-bind="text: StatusStr"></td>
                <td data-bind="text: Executer"></td>
                <td data-bind="text: Price"></td>
            </tr>
        </tbody>
    </table>
</div>

<div id="contractSelect" style="display:none">
    @using (Html.FormBegin())
    {
        <div  data-bind="with: contract" >

            @Html.LabelFor(m => m.Number)
            <input type="text" readonly="readonly" data-bind="value: Number" />

            @Html.LabelFor(m => m.Date)
            <input type="text" readonly="readonly" data-bind="value: Date" />

            @Html.LabelFor(m => m.Status)
            <input type="text" readonly="readonly" data-bind="value: StatusStr" />

            @Html.LabelFor(m => m.Executer)
            <textarea class="materialize-textarea" readonly="readonly" data-bind="value: Executer" />

            @Html.LabelFor(m => m.Price)
            <input type="text" readonly="readonly" data-bind="value: Price" />

            @Html.LabelFor(m => m.Order)
            <input type="text" readonly="readonly" data-bind="value: Order" />

            @Html.LabelFor(m => m.RcDeviation)
            <textarea class="materialize-textarea" data-bind="value: RcDeviation" />

        </div>
        
        @Html.Button("&#8592; Вернуться к поиску", "FindContract()", notSubmit:true)
        <span style="padding-left:20px"></span>
        @Html.Button("Добавить", "AddContract(this)")
    }
</div>

    <script>
        var contractListViewModel;

        function FindContractZK360() {
            $.ajax({
                url: '@Url.Action("FindGovernmentContract", "ExternalSystems")',
                type: 'post',
                data:
                {
                    Status: $("#Status").val(),
                    Number: $("#Number").val(),
                    Order: $("#Order").val(),
                    Performer: $("#Executer").val(),
                    fDate: $("#FromDate").val(),
                    tDate: $("#ToDate").val(),
                },
                success: function (res) {
                    contractListViewModel.items.removeAll();
                    $.each(res, function (i, e) {
                        contractListViewModel.items.push(e);
                    });
                },
            });
        }

        function FindContract() {
            $("#contractSearch").show();
            $("#contractSelect").hide();
        }

        function AddContract(s) {
            var form = $(s).closest('form');

            if (!form.valid())
                return false;

            $.ajax({
                url: '@Url.Action("GovernmentContractAdd", "AccountingObjects")',
                type: 'post',
                contentType: 'application/json',
                data: ko.toJSON(contractListViewModel.contract),
                success:function (res) {
                    if (res.success)
                    {
                        GridGovernmentContract_afterEdit(res);
                        popup.close();
                        window.location = window.location.href;
                    }
                    else
                        notify.showWarning(res.message);
                },
            });

            form.submit(function () {
                return false;
            });

            return false;
        }

        function AppViewModel() {
            var self = this;
            contractListViewModel = self;

            self.contract = ko.observable();
            self.items = ko.observableArray([]);

            self.selectContract = function () {

                var res = {
                    IdAO: @Model.Id,
                    IdZK: this.Id,
                    Status: this.Status,
                    StatusStr: this.StatusStr,
                    Number: this.Number,
                    Order: this.Order,
                    Date: this.Date,
                    Executer: this.Executer,
                    Price: this.Price,
                    RcDeviation: null,
                }

                self.contract(res);

                $("#contractSearch").hide();
                $("#contractSelect").show();
            };
        }

        $(function () {
            ko.applyBindings(new AppViewModel());
        });
    </script>
