﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.Helpers.Control
@model bgTeam.IsRui.WebApp.ViewModels.SelectLists.SelectListViewModel
@{
    Layout = "~/Views/SelectList/_LayoutSelect.cshtml";
}

<h1>Гос. услуги</h1>

@Html.Table("Grid", Model.Data,
new DataTablesSettings()
    .AddColumn("Name", "Наименование", true),
new DataTablesConfig()
    .OnRowClick("OnClickSelectRow(nRow)")
    .ShowFilter(true))

<script>
    function OnClickSelectRow(nRow) {
        var tr = $(nRow);
        var id = tr.data('id');
        var mass = tr.children();
        (@Model.SelectListCallback)(id, mass[0].innerText);
        popup.closeContainer(nRow);
    }
</script>
