﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.Helpers.Control
@using bgTeam.IsRui.WebApp.ViewModels.SelectLists
@model SelectListViewModel<TableResponsible>
@{
    ViewBag.Title = "Ответственные";
    Layout = "~/Views/SelectList/_LayoutSelect.cshtml";
}

<h2>@ViewBag.Title</h2>

@Html.Table("Grid", Model.Data,
new DataTableSettings<TableResponsible>()
    .AddColumn(x => x.Fio)
    .AddColumn(x => x.DepartmentName)
    .AddColumn(x => x.JobName)
    .AddColumn(x => x.Phone)
    .AddColumn(x => x.Email),
new DataTablesConfig()
    .OnRowClick("OnClickSelectRow(nRow)"))

<script>
    function OnClickSelectRow(nRow) {
        var tr = $(nRow);
        var id = tr.data('id');
        var mass = tr.children();
        (@Model.SelectListCallback)(id, mass[0].innerText);
        popup.closeContainer(nRow);
    }
</script>