﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.Helpers.Control
@using bgTeam.IsRui.WebApp.ViewModels.Admin.SiteMap
@model bgTeam.IsRui.WebApp.ViewModels.SelectLists.SelectListViewModel
@{
    ViewBag.Title = "Карта сайта";
    Layout = "~/Views/SelectList/_LayoutSelect.cshtml";
}
<h1>@ViewBag.Title</h1>

@Html.Table("Grid", Model.Data,
new DataTableSettings<TableSiteMap>()
    .IsTreeTable()
    .AddColumn(x => x.Url)
    .AddColumn(x => x.Title),
new DataTablesConfig()
    .PagingPanel(false)
    .OnRowClick("OnClickSelectRow(nRow)"))

<script>
    function OnClickSelectRow(nRow) {
        var tr = $(nRow);
        var id = tr.data('id');
        var mass = tr.children();
        (@Model.SelectListCallback)(id, mass[0].innerText);
        popup.closeContainer(nRow);
    }
</script>