﻿@using bgTeam.IsRui.WebApp.Helpers
@using bgTeam.IsRui.WebApp.Helpers.Control
@using bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.Master
@using bgTeam.IsRui.WebApp.ViewModels.SelectLists
@model SelectListViewModel<bgTeam.IsRui.WebApp.ViewModels.AccountingObjects.Master.TableWorkAndGoods>
@{
    Layout = "~/Views/SelectList/_LayoutSelect.cshtml";
}

<h2>Работы и товары</h2>

@Html.Table("GridWorksAndGoodsSelect", Model.Data,
    new DataTableSettings<TableWorkAndGoods>()
    .AddColumn(x => x.Name, searchable: true, sortable: true)
    .AddColumn(m => m.TypeOfSupportDescription)
    .AddColumn(m => m.KindOfSupport)
    .AddColumn(m => m.Summa),
new DataTablesConfig()
    .OnRowClick("OnClickSelectRow(nRow)"))

<script>

    $(function() {
        //Нужно исключить из списка уже выбранные Работы и Товары

        $.each(GridWorksAndGoods.fnGetData(), function(index, element) {
            var id = element[0];
            var _tr = $('#GridWorksAndGoodsSelect tr[data-id="' + id + '"]');

            if(_tr.length > 0)
            {
                GridWorksAndGoodsSelect.fnDeleteRow(_tr[0], null, false);
            }
        });

        GridWorksAndGoodsSelect.fnDraw();
    });

    function OnClickSelectRow(nRow) {
        var tr = $(nRow);
        var id = tr.data('id');
        var mass = tr.children();
        (@Model.SelectListCallback)(id, mass[0].innerText);
        popup.closeContainer(nRow);
    }
</script>
