/* -- ASPxSpellChecker -- */
.dxwscLoadingDiv_MetropolisBlue
{
	background-color:Gray;	
	opacity: 0.01;
	filter:progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=1);
}
.dxwscCheckedTextContainer_MetropolisBlue
{
	background-color: white;
	font-size: 12px;
	font-family: 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	border: solid 1px #c0c0c0;
	vertical-align:top;
	overflow:auto;
	height: 110px;
	width: 340px;
	padding: 5px;
}
.dxwscErrorWord_MetropolisBlue 
{
	background: url('scErrorUnderline.gif') bottom;
	background-repeat:repeat-x;
	padding-bottom: 3px;
	color: #333333;
	font-weight: bold;
}

.dxwscLoadingPanel_MetropolisBlue
{
	border: 1px solid #C3C3C3;
	background-color: white;
	font: 14px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	color: #333333;
}
.dxwscLoadingPanel_MetropolisBlue td.dx
{
	white-space: nowrap;
	text-align: center;
padding: 10px 14px;
}
.dxsc-main .dxrpControl_MetropolisBlue .dxrpHeader_MetropolisBlue,
.dxsc-main .dxrpControl_MetropolisBlue .dxrpHeader_MetropolisBlue td.dxrp
{
	font-size: 22px;
}
#dxMainSpellCheckFormTable .buttonsCell,
#dxMainSpellCheckOptionsFormTable .buttonsCell
{
	border-top: 1px solid #c0c0c0;
}

