﻿/* Иконки */
.icon16
{
    font-size: 0;
    vertical-align: bottom;
    display: inline-block;
    height: 16px;
    width: 16px;
    background: transparent url('img/icons_16.png') no-repeat;
}

.icon_24
{
    display: inline-block;
    height: 24px;
    width: 24px;
    background: transparent url('img/icons_24.png') no-repeat;
}

.execute_task_icon
{
    background-position: 0 -24px;
}

.select_all_icon
{
    background-position: 0 -864px;
    cursor: pointer;
}



/* Разное */
.display_none
{
    display: none;
}

.not_valid
{
    background-color: #FCC;
}

.dialog-backArrow
{
    color: #3F66A0;
    text-align: right;
    font-family: Times New Roman;
    font-size: 18px;
    padding-right: 4px;
}

.delete
{
    color: #C00 !important;
}

.grid_mouseover
{
    background-color: #FBFCE7 !important;
    cursor: pointer;
}

.arrow_back
{
    font-size: 1.4em;
}

    .arrow_back:before
    {
        content: '←';
        color: #3F66A0;
        font-family: Times New Roman;
        font-size: 1.4em;
        padding-right: 4px;
        top: 2px;
        position: relative;
        line-height: 4px;
    }

.planinfo
{
    font-size: 1.4em;
    color: #3F66A0;
}

.activity_div
{
    margin-top: 5px;
    margin-right: 10px;
}

.marg10
{
    margin: 10px;
}

.detailTop
{
    height: 4em;
    border: 1px solid #C0C0C0;
    border-bottom: 1px solid #EDEDED;
    background: #EDEDED;
}

.detailTopFull
{
    height: 4em;
    border: 1px solid #C0C0C0;
    background: #EDEDED;
}

span.spanSeparator
{
    width: 10px;
}

.fleft
{
    float: left;
}

.topButton
{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

    .topButton.active .dxbButton_MetropolisBlue
    {
        background: #0072C6;
        color: #fff;
    }

.iconButton .dxb,
.iconButton .dxbButton_MetropolisBlue
{
    padding-bottom: 1px !important;
}

td.leftColumn
{
    vertical-align: top;
    width: 150px;
}

td.rigthColumn
{
    width: 99%;
}

h3.line
{
    display: inline;
}

span.batteryEmpty
{
    background-image: url('./img/quanitity_capsule_empty.png');
}                          
                           
span.batteryFull           
{                          
    background-image: url('./img/quantity_capsule_full.png');
}                          
                           
span.batteryPart           
{                          
    background-image: url('./img/quantity_capsule_part.png');
}                          
                           
span.lock                  
{                          
    background-image: url('./img/lock.png');
}                          
                           
span.okGreen               
{                          
    background-image: url('./img/ok_green.png');
    height: 16px;
    width: 16px;
    display: block;
}

span.battery
{
    height: 16px;
    width: 16px;
    display: block;
}

span.favorite
{
    background-image: url('./img/favor16.png');
    height: 16px;
    width: 16px;
    display: block;
    cursor: pointer;
}

span.unfavorite
{
    background-image: url('./img/favor16d.png');
    height: 16px;
    width: 16px;
    display: block;
    cursor: pointer;
}

.bottomborder
{
    border-right-width: 0px !important;
    border-left-width: 0px !important;
    border-top-width: 0px !important;
}



.statusError
{
}

a.statusError
{
    padding-left: 4px;
}

.statusErrorActyvity
{
    padding-bottom: 4px;
}

    .statusErrorActyvity::before
    {
        content: '—';
        padding-left: 10px;
        padding-right: 2px;
        color: #3F66A0;
    }

.gridLink
{
    line-height: 18px;
    font-size: 1.1em;
    padding: 5px 0;
    display: inline-block;
}

/*Эмуляция чекбоксов*/
span.cb
{
    height: 16px;
    width: 16px;
    display: inline-block;
}

span.Off
{
    background: url("sprite.png") no-repeat scroll 0 0 White;
    background-position: -41px -99px;
}

span.On
{
    background: url("sprite.png") no-repeat scroll 0 0 White;
    background-position: -56px -99px;
}

span.Dis
{
    background: url("sprite.png") no-repeat scroll 0 0 White;
    background-position: -86px -99px;
}

.caption_cell
{
    font-weight: bold;
    text-align: right;
    padding: 2px 10px 2px 2px;
}

.header_cell
{
    text-align: center;
    font-size: 1.2em;
    margin: 10px 0px 5px 0px;
}

p.header_grid
{
    color: #333;
    font-size: 1.3em;
    padding-left: 20px;
}

    p.header_grid .subtitle
    {
        color: #C0C0C0;
        display: block;
        font-size: 0.7em;
        margin-top: -2px;
    }
