.dxTreeList_CollapsedButton_MetropolisBlue,
.dxTreeList_CollapsedButtonRtl_MetropolisBlue,
.dxTreeList_ExpandedButton_MetropolisBlue,
.dxTreeList_ExpandedButtonRtl_MetropolisBlue,
.dxTreeList_SortAsc_MetropolisBlue,
.dxTreeList_SortDesc_MetropolisBlue,
.dxTreeList_DragAndDropArrowDown_MetropolisBlue,
.dxTreeList_DragAndDropArrowUp_MetropolisBlue,
.dxTreeList_DragAndDropHide_MetropolisBlue,
.dxTreeList_DragAndDropNode_MetropolisBlue
{
	background: transparent url('sprite.png') no-repeat;
}

.dxTreeList_CollapsedButton_MetropolisBlue
{
    background-position: -64px 0px;
    width: 13px;
    height: 13px;
}

.dxTreeList_CollapsedButtonRtl_MetropolisBlue 
{
    background-position: -79px 0px;
    width: 13px;
    height: 13px;
}

.dxTreeList_ExpandedButton_MetropolisBlue
{
    background-position: -64px -18px;
    width: 13px;
    height: 13px;
}

.dxTreeList_ExpandedButtonRtl_MetropolisBlue 
{
    background-position: -79px -18px;
    width: 13px;
    height: 13px;
}

.dxTreeList_SortAsc_MetropolisBlue {
    background-position: -50px 0px;
    width: 7px;
    height: 5px;
}

.dxTreeList_SortDesc_MetropolisBlue {
    background-position: -50px -7px;
    width: 7px;
    height: 5px;
}

.dxTreeList_DragAndDropArrowDown_MetropolisBlue {
    background-position: -30px 0px;
    width: 11px;
    height: 9px;
}

.dxTreeList_DragAndDropArrowUp_MetropolisBlue {
    background-position: -30px -18px;
    width: 11px;
    height: 9px;
}

.dxTreeList_DragAndDropHide_MetropolisBlue {
    background-position: 0px 0px;
    width: 22px;
    height: 22px;
}

.dxTreeList_DragAndDropNode_MetropolisBlue {
    background-position: -46px -18px;
    width: 13px;
    height: 13px;
}



