﻿h1 {
    font: 32px/40px 'Arial',sans-serif;
}

h2 {
    /*font: bold 20px/24px Arial,sans-serif;*/
    font: 23px/30px Arial,sans-serif;
}

h3 {
    /*font: bold 20px/24px Arial,sans-serif;*/
    font: 18px/25px Arial,sans-serif;
}

h2.sectionTitle {
    color: #204E8A;
    padding: 11px 0 13px;
    border-bottom: 1px solid #DCDCDC;
}

h3.docGroupTitle {
    padding-top: 40px;
}


div.clear {
    clear: both;
}





.searchButton
{
    background: url('img/search.png') no-repeat 0 0;
    width: 24px;
    height: 24px;

    position: absolute;
    top: 10px;
    right: 0px;
}

/* Список документов */

.listtext
{
    margin: 24px 0 -2px;
}

.listtext a {
    padding: 6px 0;
    color: #262626;
    text-decoration: none;
}

.listtext a:hover
{
    color: #084EA5;
}

.listtext time
{
    display: block;
    margin: 4px 0;
    font: italic 11px/14px Arial,sans-serif;
    color: #7B7B7B;
}

.allItem {
    padding-top:30px;
    text-align: right;
}


.allItem a{
    font-size: 1.1em;
    font-style: italic;
    color: #7B7B7B;

    border-bottom-width: 1px;
    border-bottom-style: dotted;
    text-decoration: none;
}


.criterianBox
{
    padding-top:10px;
}









.small
{
    font-size: 12px;
}

.gray
{
    color: #a4a4a4;
}

.graysmall
{
    color: #a4a4a4;
    font-size: 12px;
}

/*.button_blue
{
    color: #fff;
    font-weight: 700;
    text-shadow: 0 -1px 0 #1b4477;
    border: none;
    background: url('img/button_blue.png') 0 0 no-repeat transparent;
    height: 33px;

    width: 160px;
    cursor: pointer;
}

.button_blue_big
{
    background: url('img/button_blue_big_sprite.png') no-repeat 0 0;
    border: 0;
    color: #fff;
    display: block;
    width: 160px;
    height: 45px;
    line-height: 44px;
    margin: 0 0 5px;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #222;
}

.button_blue_big:hover
{
    background-position: left -45px;
}*/



/*.inputtext
{
    border: none;
    background-image: url('img/input.png');
    background-color: #e2eefa;
    color: #1e478e;
    height: 33px;
    line-height: 33px;
}*/

div.service
{
    text-align: center;
}

div.service.content
{
    margin-top: 10px;
}


/*.footer
{
    background: url('img/backgroundfooter.png') repeat-x 0 50%;
    height: 499px;
    width: 100%;
    margin-top: -450px;
}

.footerimg
{
    background: url('img/backgroundfooterimg.png') no-repeat 0 0;
    height: 273px;
    width: 100%;
    margin-top: -85px;
}*/


.MRow
{
    font-weight: bold;
    padding: 10px 5px 0px 20px;
    vertical-align: top;
}

.MainRow
{
    width: 300px;
    font-weight: bold; 
    padding: 10px 5px 10px 20px;
    vertical-align: top; 
}

.MainRowLeft
{
    width: 200px;
    font-weight: bold;
    vertical-align: top;
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
}

.RowRight
{
    vertical-align: top;
    padding-top: 5px;
    padding-left: 10px;
}
    
.RowLeft
{
    text-align: right;
    vertical-align: top;
    padding-top: 7px;
}

.EndRow
{
    width: 300px;
    padding: 5px 5px 0px 40px;
    text-align: right;
    vertical-align: top;
}

.tabpanelsep
{
    height: 0px;
    
}

.panelcontetsep
{
    background-color: #83bbf3;
    width: 100%; 
    height: 1px;
}


/* Внутренняю карточка */

.card-text time {
	/*color: #a4a4a4;
	padding: 0 0 10px;*/
    display: block;
    margin: 4px 0;
    /*font: italic 11px/14px Arial,sans-serif;*/
    font-style:italic;
    color: #7B7B7B;
}

.card-text .author{
    float: right
}

.card-text .media{
    max-width: 350px;
    display: block;
    padding: 0 0 20px 40px
}

/*news_style*/
.newslist
{
    overflow-y: hidden;
    margin-bottom: 10px;
}

.newsimg
{
    float: left;
    margin-right: 25px;
    margin-bottom: 25px;
}

.newsimg img
{
    width: 250px;
}

.news_meta
{
    font-size: 11px;
    font-style: italic;
    color: #7B7B7B;
    display: block;
}







/*Files*/
.filelist span
{
    font-style: italic;
}

.filelist ul
{
	/*padding-left:20px;*/
}
.filelist li
{
    text-indent: 1em;
	/*list-style-type: none;*/
	/*padding-top:3px;
	padding-bottom:3px;*/
}

.filelist li:before
{
	content: "— ";
    margin-right: 10px;
}


/*Теги*/
.tagstring
{
    color: #7B7B7B;
    font-style: italic;
    padding-top: 10px;
}

.tagstring a {
    text-decoration: none;
}






.button-resize .b-top, .button-resize .b-top span, .button-resize .b-center, .button-resize .b-center span, .button-resize .b-center .text, .button-resize .b-bottom, .button-resize .b-bottom span
{
    /*background-image: url("link/bg_button_resize.png");*/
    background-repeat: no-repeat;
}

.button-resize-list .button-resize
{
    float: left;
    margin-left: 20px;
}

.button-resize
{
    cursor: pointer;
    display: block;
    text-decoration: none;
    /*border: 1px solid #325C92;*/
    background-color: #FAFCFF;
    -webkit-box-shadow: 0 8px 6px -6px #325C92;
	-moz-box-shadow: 0 8px 6px -6px #325C92;
	box-shadow: 0 8px 6px -6px #325C92;
}

.button-resize:hover {
}

.button-resize .b-top
{
    background-position: right top;
    display: block;
    margin-left: 65px;
}

.button-resize .b-top span
{
    background-position: left top;
    display: block;
    height: 11px;
    margin-left: -65px;
    width: 65px;
}

.button-resize .b-center
{
    background-position: right -11px;
    display: block; /*margin-left: 65px;*/
}

.button-resize .b-center span
{
    background-position: left -11px;
    display: block; /*height: 30px;*/ /*margin-left: -65px;*/ /*width: 100px;*/
    margin-right: 15px;
    position: relative;
}

.button-resize .b-bottom
{
    background-position: right bottom;
    display: block;
    margin-left: 65px;
}

.button-resize .b-bottom span
{
    background-position: left bottom;
    display: block;
    height: 13px;
    margin-left: -65px;
    width: 65px;
}

.button-resize .text
{
    /*font-size: 16px;     font-weight: 700;     line-height: 52px;     min-height: 52px;*/
    padding: 0 0 0 65px;
    text-shadow: 0 1px 0 #fff; /*color: #303030;*/
    font-size: 14px;
    font-weight: bold;
    line-height: 36px;
    min-height: 36px;
}

.button-resize .multitext
{
    line-height: 18px;
}

.button-resize .icon i
{
    position: absolute;
    left: 18px; /*top: 50%;     background-position: left center;     background-repeat: no-repeat;     display: block;*/
    height: 40px;
    margin-top: -9px;
    width: 40px;
    z-index: 11;
    top: 50%;
    margin-top: -20px;
}

.kremlin .b-center .icon i
{
    background: url('img/icon/kremlin.png') left 6px no-repeat;
}

.gover .b-center .icon i
{
    background: url('img/icon/gover.png') left no-repeat;
}

.minsvyaz .b-center .icon i
{
    background: url('img/icon/minsvyaz.png') left no-repeat;
}

.gosuslugi .b-center .icon i
{
    background: url('img/icon/gosuslugi.png') left no-repeat;
}

.application .b-center .icon i
{
    background: url('img/icon/application.png') left no-repeat;
}






/* Панель фильтров */
#filter_panel
{
    color: #555;
    background-color: #eec;
    padding: 10px;
}

.filter_panel
{
    color: #555;
    background-color: #eec;
    padding: 10px;
}

span.deleteicon
{
    position: relative;
}
span.deleteicon span
{
    position: absolute;
    display: block;
    top: 1px;
    right: 6px;
    width: 16px;
    height: 16px;
    background: url('http://cdn.sstatic.net/stackoverflow/img/sprites.png?v=4') 0 -690px;
    cursor: pointer;
}
span.deleteicon input
{
    padding-right: 16px;
}


.logo2 {
    background: url('img/logo-2.png') left no-repeat;
    width: 100%;
    height: 78px;
    background-size: 92%;
}


