﻿.tags ul
{
    margin: 0;
    padding: .0px;
    text-align: center;
    /*background: #71b5e9 url(img/bg_tags.gif) repeat-x;*/
    background: #fff;
}
.tags li
{
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}
.tags li a
{
    text-decoration: none;
    /*color: #71b5e9;*/
    /*color: #fff;*/
    padding: 0 4px;
}
.tags li a:hover
{
    /*color: #cff400;*/
}

.tag1
{
    font-size: 100%;
}
.tag2
{
    font-size: 100%;
}
.tag3
{
    font-size: 140%;
}
.tag4
{
    font-size: 160%;
}
.tag5
{
    font-size: 180%;
}
