﻿.tags ul
{
    text-align: left;
    padding: 0;
    background: none;
}
.tags li
{
    padding: 4px 4px;
    display: inline;
}

.tags li a
{
    text-decoration: none;
    color: #fff;
    padding: 2px 2px;
}
.tags li a:hover
{
    color: #cff400;
}

.tags .tag1, .tags .tag2, .tags .tag3, .tags .tag4, .tags .tag5
{
    font-size: 100%;
}
.tags .tag1
{
    background: #7cc0f4;
}
.tags .tag2
{
    background: #67abe0;
}
.tags .tag3
{
    background: #4d92c7;
}
.tags .tag4
{
    background: #3277ad;
}
.tags .tag5
{
    background: #266ca2;
}
