﻿.popup_background
{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:100;
	background:#AAA;
	-moz-opacity:0.4;
	-webkit-opacity:0.4;
	opacity:0.4;
	-khtml-opacity:0.4;
}

.popup_panel
{
	display:none;
	position:fixed;
	background:white;
	border:1px solid #999;
	z-index:101;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	-khtml-border-radius:4px;
}

.popup_title
{
	cursor:default;
	font-size:1.6em;
	margin:10px 15px;
}

.popup_close
{
	cursor:pointer;
	position:absolute;
	right:10px;
	top:10px;
	background:url(img/popup_close.png) no-repeat center center;
	height:18px;
	width:18px;
}

.popup_close:hover
{
	border:1px solid #999;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	-khtml-border-radius:2px;
}



