﻿@model bgTeam.IsRui.WebApp.Admin.Models.EditorTableViewModel

@{
    Layout = String.Empty;
}

<a class ="dictTableFiltersText" onclick="showHideFilters();">Фильтры</a>
<div class="dictTableFilters" style="display:none">
    @foreach (var item in Model.Columns)
    {
        <input id="filter_@item.ColumnName" type="text" placeholder="@item.Name" />
    }
</div>

<table id="dictGrid" class="dataTable">
    <thead>
        <tr>
            @foreach (var item in Model.Columns)
            {
                <th>@item.Name</th>
            }
            @if (!Model.ReadOnly)
            {
                <th class="sorting_disabled"></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model.Data)
        {
            <tr data-id="@row.PrimaryKeyValue" data-clicklink="@(Url.Action("EditorCardEdit", new { dictId = Model.DictId, itemId = row.PrimaryKeyValue }))">
                @foreach (var col in Model.Columns)
                {
                    var columnName = col.Type != bgTeam.IsRui.WebApp.Admin.Domain.MetaColumnTypeEnum.TRef ? col.ColumnName : "RF" + col.ColumnName;
                    <td>@row.Values[columnName]</td>
                }
                @if (!Model.ReadOnly)
                {
                    <td style="width: 55px;">
                        <a class="deletebutton" onclick="tableDeleteItem(@Model.DictId, @row.PrimaryKeyValue)">Удалить</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
<script>
    @{ int i = 0; }
    @foreach (var item in Model.Columns)
    {
        <text>
        $('#filter_@item.ColumnName').keyup(function(e) {
                if (dictTable)
                    dictTable.column(@i).search(this.value).draw();
        });
        </text>
        i++;
    }

    function showHideFilters()
    {
        var s = $('.dictTableFilters')[0];
        var d = $(s).css('display');

        if (d == 'none')
            $(s).show();
        else
            $(s).hide();
    }
</script>