﻿@model bgTeam.IsRui.WebApp.Admin.Models.EditorCardEditRefFieldModelView

@{
    Layout = String.Empty;
}

<select name="@Model.Column" id="select_@Model.Column" class="search">
    @foreach (var row in Model.Data)
    {
        <option value="@row.Values[Model.FieldValue]">@row.Values[Model.FieldName]</option>
    }
</select>

@*<div class="selection ui dropdown" id="select_@Model.Column">
    <input type="hidden" id="@Model.Column">
    <i class="dropdown icon"></i>
    <div class="text">Gender</div>
    <div class="menu">
        @foreach (System.Data.DataRow row in Model.Data.Rows)
        {
            <div class="item" data-value="@row[Model.FieldValue]">@row[Model.FieldName]</div>
        }
    </div>
</div>*@


