﻿@using LogStream.Megafon.Oco.ECP.DataAccess.Domain
@model LogStream.Megafon.Oco.EditorDirectories.Home.ViewModel.SignatureGroupEditViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table>
    <tr>
        <td class="td-no-border">
            <div class="edit_form">
                @using (Html.BeginForm())
                {
                    @Html.HiddenFor(x => x.SysId)
                    @Html.HiddenFor(x => x.DocTypeId)
                    @Html.HiddenFor(x => x.DivisionId)
                    <div>
                        <dl>
                            <dt>Вид документа</dt>
                            <dd>
                                <input type="text" value="@Model.DocTypeName" readonly />
                            </dd>

                            <dt>Подразделение</dt>
                            <dd>
                                <input type="text" value="@Model.DivisionName" readonly />
                            </dd>

                            <dt>Тип подписанта</dt>
                            <dd>
                                @*@Html.EnumDropDownListFor(x => x.SignatoryType, new { @id = "signatoryType", @class = "ui form dropdown" })*@
                                @Html.DropDownListFor(x => x.SignatoryType, EnumHelper.GetSelectList(typeof(SignatoryType)), new { @id = "signatoryType", @class = "ui form dropdown" })
                            </dd>

                            <div id="signatoryId">
                                <dt>Пользователь</dt>
                                <dd>
                                    @Html.DropDownListFor(x => x.UserId, Model.UserList, new { @class = "ui form dropdown" })
                                </dd>
                            </div>

                            <div id="signatureRole">
                                <dt>Роль</dt>
                                <dd>
                                    @Html.DropDownListFor(x => x.Role, EnumHelper.GetSelectList(typeof(SignatureRole)), new { @class = "ui form dropdown" })
                                </dd>
                            </div>

                            <div id="signatureGroup">
                                <dt>Группа</dt>
                                <dd>
                                    @Html.DropDownListFor(x => x.GroupId, Model.GroupList, new { @class = "ui form dropdown search" })
                                </dd>
                            </div>

                            <dt>Позиция</dt>
                            <dd>
                                @Html.TextBoxFor(x => x.Position)
                            </dd>

                            <dt>Срок рассмотрения, ч.</dt>
                            <dd>
                                @Html.TextBoxFor(x => x.TimeForConsideration, new { type = "number" })
                            </dd>
                        </dl>
                    </div>

                    <div class="buttons">
                        @Html.ActionLink("Назад", "SignatureGroup", new { divisionId = Model.DivisionId, docTypeId = Model.DocTypeId }, new { @class = "command button gray" })
                        <div></div>
                        <button>Сохранить</button>
                    </div>
                }
            </div>
        </td>
        <td valign="top" class="td-no-border">
            <table @*class="group-list"*@>
                <thead>
                    <tr>
                        <th>
                            Пользователь
                        </th>
                        <th>
                            Позиция
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var row in Model.GroupUsers)
                    {
                        <tr>
                            <td>
                                @Model.GetSignatoryName(row)
                            </td>
                            <td>
                                @row.POSITION
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </td>
    </tr>
</table>
@section scripts {
    <script type="text/javascript">
        function getFilialUsers(s)
        {
            $.ajax({
                url: '@Url.Action("GetUsersFilial")',
                type: 'post',
                data: { id: $(s).val() },
                success: function (res) {
                    $('#UserId').dropdown('clear');
                    helper.fillDropDown(res.data, '#UserId');
                },
            });
        }

        $(document).ready(function () {
            $('#UserId').dropdown();
            $('#SignatoryType').dropdown();
            $('#GroupId').dropdown({fullTextSearch:true});
            $("#signatoryType").change(switchType);

            //$('#DivisionId').change(function () { getFilialUsers(this); });

            //$('#timeForConsideration').timepicki({
            //    show_meridian:false,
            //    min_hour_value:0,
            //    max_hour_value:23});
            $("#signatoryType").trigger('change');
        });

        function switchType() {
            var userType = @((int)SignatoryType.User);
            var roleType = @((int)SignatoryType.Role);            

            if (this.value == userType) {
                $("#signatoryId").show();
                $("#signatureRole").hide();
                $("#signatureGroup").hide();
            } else if (this.value == roleType){
                $("#signatoryId").hide();
                $("#signatureRole").show();
                $("#signatureGroup").hide();
            }
            else {
                $("#signatoryId").hide();
                $("#signatureRole").hide();
                $("#signatureGroup").show();
            }
        }
    </script>
}

