﻿@model LogStream.Megafon.Oco.EditorDirectories.Home.SignatureLogsListViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table id="dictGrid" class="dataTable" style="width:100%">
    <thead>
        <tr>
            <th>Дата</th>
            <th>Пользователь</th>
            @*<th></th>*@
            <th>Документ</th>
            <th>Действие</th>
            <th>Результат</th>
            <th>Сообщение</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model.List)
        {
            <tr>
                <td>@row.CreateDate</td>
                <td>@row.UserId</td>
                @*<td>@row.CUR_USER_ID</td>*@
                <td>@row.NodeId</td>
                <td>@row.Actions</td>
                <td>@row.Results</td>
                <td style="max-width: 400px;">@row.Message</td>
                <td>
                    @if (@row.Results == "Успешно")
                    {
                        <!--<button onclick="downloadDocument()">Выгрузить документ</button>-->
                        <a href="@Url.Action("DownloadDocument")?nodeId=@row.NodeId" download>Выгрузить документ</a>
                    }
                </td>            
            </tr>
        }
    </tbody>
</table>

