﻿@model bgTeam.IsRui.WebApp.ViewModels.Account.LoginViewModel

@{
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}


<div class="b_login">
    <div class="b_login__logo">
        <div class="logo"></div>
        <div class="name">Информационная система</div>
        <div class="name">регионального учёта информатизации</div>
    </div>
    <div class="b_login__form">
        @using (Html.BeginForm()) {
            <div class="input-field">
                <input name="Login" id="Login" type="text" class="validate">
                <i class="material-icons">person</i>
            </div>
            <div class="input-field">
                <input name="Password" id="Password" type="password" class="validate">
                <i class="material-icons">lock</i>
            </div>
            <div class="input-field">
                <button class="waves-effect waves-light btn">Войти</button>
            </div>
            if (!string.IsNullOrEmpty(Model.InvalidMessage)) {
                <div class="input-field">
                    <div class="error">@Model.InvalidMessage</div>
                </div>
            }
        }
    </div>
</div>


@section scripts
{
    <script>
        $(function () {

            var l = document.getElementById("Login");

            if (l.value == "") {
                l.focus();
                return;
            }

            var p = document.getElementById("Password");

            if (p.value == "")
                p.focus();
        });
    </script>
}