.dxGridView_gvCollapsedButton_MetropolisBlue,
.dxGridView_gvCollapsedButtonRtl_MetropolisBlue,
.dxGridView_gvExpandedButton_MetropolisBlue,
.dxGridView_gvExpandedButtonRtl_MetropolisBlue,
.dxGridView_gvDetailCollapsedButton_MetropolisBlue,
.dxGridView_gvDetailCollapsedButtonRtl_MetropolisBlue,
.dxGridView_gvDetailExpandedButton_MetropolisBlue,
.dxGridView_gvDetailExpandedButtonRtl_MetropolisBlue,
.dxGridView_gvFilterRowButton_MetropolisBlue,
.dxGridView_gvHeaderFilter_MetropolisBlue,
.dxGridView_gvHeaderFilterActive_MetropolisBlue,
.dxGridView_gvHeaderSortDown_MetropolisBlue,
.dxGridView_gvHeaderSortUp_MetropolisBlue,
.dxGridView_gvDragAndDropArrowDown_MetropolisBlue,
.dxGridView_gvDragAndDropArrowUp_MetropolisBlue,
.dxGridView_gvDragAndDropHideColumn_MetropolisBlue,
.dxGridView_gvParentGroupRows_MetropolisBlue,
.dxGridView_WindowResizer_MetropolisBlue,
.dxGridView_WindowResizerRtl_MetropolisBlue
{
	background: transparent url('sprite.png') no-repeat;
}

.dxGridView_gvCollapsedButton_MetropolisBlue
{
    background-position: -35px 0px;
    width: 13px;
    height: 13px;
}

.dxGridView_gvCollapsedButtonRtl_MetropolisBlue 
{
    background-position: -89px -38px;
    width: 13px;
    height: 13px;
}

.dxgvFocusedGroupRow_MetropolisBlue .dxGridView_gvCollapsedButton_MetropolisBlue
{
    background-position: -52px 0px;
    width: 13px;
    height: 13px;
}

.dxgvFocusedGroupRow_MetropolisBlue .dxGridView_gvCollapsedButtonRtl_MetropolisBlue {
    background-position: -106px -px;
    width: 13px;
    height: 13px;
}

.dxGridView_gvExpandedButton_MetropolisBlue
{
    background-position: -35px -18px;
    width: 13px;
    height: 13px;
}

.dxGridView_gvExpandedButtonRtl_MetropolisBlue 
{
    background-position: -89px -56px;
    width: 13px;
    height: 13px;
}

.dxgvFocusedGroupRow_MetropolisBlue .dxGridView_gvExpandedButton_MetropolisBlue
{
    background-position: -52px -18px;
    width: 13px;
    height: 13px;
}

.dxgvFocusedGroupRow_MetropolisBlue .dxGridView_gvExpandedButtonRtl_MetropolisBlue 
{
    background-position: -106px -56px;
    width: 13px;
    height: 13px;
}

.dxGridView_gvDetailCollapsedButton_MetropolisBlue
{
    background-position: -35px 0px;
    width: 13px;
    height: 13px;
}

.dxGridView_gvDetailCollapsedButtonRtl_MetropolisBlue 
{
    background-position: -89px -38px;
    width: 13px;
    height: 13px;
}

.dxgvFocusedRow_MetropolisBlue .dxGridView_gvDetailCollapsedButton_MetropolisBlue
{
    background-position: -52px 0px;
    width: 13px;
    height: 13px;
}

.dxgvFocusedRow_MetropolisBlue .dxGridView_gvDetailCollapsedButtonRtl_MetropolisBlue {
    background-position: -106px -38px;
    width: 13px;
    height: 13px;
}

.dxGridView_gvDetailExpandedButton_MetropolisBlue
{
    background-position: -35px -18px;
    width: 13px;
    height: 13px;
}

.dxGridView_gvDetailExpandedButtonRtl_MetropolisBlue 
{
    background-position: -89px -56px;
    width: 13px;
    height: 13px;
}

.dxgvFocusedRow_MetropolisBlue .dxGridView_gvDetailExpandedButton_MetropolisBlue
{
    background-position: -52px -18px;
    width: 13px;
    height: 13px;
}

.dxgvFocusedRow_MetropolisBlue .dxGridView_gvDetailExpandedButtonRtl_MetropolisBlue {
    background-position: -106px -56px;
    width: 13px;
    height: 13px;
}

.dxGridView_gvFilterRowButton_MetropolisBlue 
{
    background-position: -100px 0px;
    width: 14px;
    height: 14px;
}

.dxGridView_gvHeaderFilter_MetropolisBlue {
    background-position: 0px -36px;
    width: 14px;
    height: 16px;
}

.dxGridView_gvHeaderFilterActive_MetropolisBlue 
{
    background-position: -23px -36px;
    width: 14px;
    height: 16px;
}

.dxGridView_gvHeaderSortDown_MetropolisBlue {
    background-position: -19px -1px;
    width: 7px;
    height: 5px;
}

.dxGridView_gvHeaderSortUp_MetropolisBlue {
    background-position: -19px -7px;
    width: 7px;
    height: 5px;
}

.dxGridView_gvDragAndDropArrowDown_MetropolisBlue {
    background-position: 0px 0px;
    width: 11px;
    height: 9px;
}

.dxGridView_gvDragAndDropArrowUp_MetropolisBlue {
    background-position: 0px -17px;
    width: 11px;
    height: 9px;
}

.dxGridView_gvDragAndDropHideColumn_MetropolisBlue {
    background-position: -70px 0px;
    width: 22px;
    height: 22px;
}

.dxGridView_gvParentGroupRows_MetropolisBlue {
    background-position: -70px -36px;
    width: 18px;
    height: 13px;
}

.dxGridView_WindowResizer_MetropolisBlue {
    background-position: -46px -36px;
    width: 16px;
    height: 16px;
}

.dxGridView_WindowResizerRtl_MetropolisBlue {
    background-position: -46px -54px;
    width: 16px;
    height: 16px;
}



