.dxgvControl_MetropolisBlue,
.dxgvDisabled_MetropolisBlue
{
	border: 1px Solid #c0c0c0;
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	background-color: White;
	color: #333333;
	cursor: default;
}
.dxgvDisabled_MetropolisBlue
{
	color: #b8b8b8;
}
.dxgvControl_MetropolisBlue a
{
	/*color: #0072C6;*/
    color: #333;
}
.dxgvDisabled_MetropolisBlue a
{
	color: #b8b8b8;
}
.dxgvLoadingPanel_MetropolisBlue
{
	border: 1px solid #C3C3C3;
	background-color: white;
	font: 14px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	color: #333333;
}
.dxgvLoadingPanel_MetropolisBlue td
{
	white-space: nowrap;
	text-align: center;
	padding: 10px 14px;
}
.dxgvLoadingPanelStatusBar_MetropolisBlue
{
	background-color: Transparent;
}
.dxgvLoadingPanelStatusBar_MetropolisBlue td
{
	white-space: nowrap;
	text-align: center;
	padding: 0px 2px;
}

.dxgvTable_MetropolisBlue
{
	background-color: White;
	border-width: 0;
	border-collapse: separate!important;
	overflow: hidden;
}
.dxgvInlineEditRow_MetropolisBlue {
}
.dxgvDataRow_MetropolisBlue
{
    height: 55px;
}
.dxgvInlineEditRow_MetropolisBlue td.dxgv
{
	border-bottom: 1px Solid #D3D3D3;
	border-right: 1px Solid #D3D3D3;
}
.dxgvDataRowAlt_MetropolisBlue
{
	background-color: WhiteSmoke;
}
.dxgvFilterRow_MetropolisBlue
{
	border-top: 1px Solid #c0c0c0;
}
.dxgvEditForm_MetropolisBlue
{
}
.dxgvEditForm_MetropolisBlue td.dxgv
{
	border-bottom: 1px Solid #D3D3D3;
	padding: 8px 10px 10px;
}
.dxgvEditForm_MetropolisBlue td.dxgvIndentCell
{
	border-right: 1px Solid #CFCFCF;
	border-left: 1px Solid #CFCFCF;
	border-top-width: 0px;
}
.dxgvSelectedRow_MetropolisBlue
{
	background-color: #e0e0e0;
	color: #333333;
    height: 55px;
}
.dxgvFocusedRow_MetropolisBlue,
.dxgvFocusedRow_MetropolisBlue a
{
	background-color: #0072C6;
	color: White;
}
.dxgvFocusedRow_MetropolisBlue .dxgvCommandColumn_MetropolisBlue a
{
	color: White;
}
.dxgvSelectedRow_MetropolisBlue .dxgvCommandColumn_MetropolisBlue a
{
	color: #0072C6;
}
.dxgvPreviewRow_MetropolisBlue
{
	color: #999999;
}
.dxgvDetailCell_MetropolisBlue,
.dxgvPreviewRow_MetropolisBlue td.dxgv,
.dxgvEmptyDataRow_MetropolisBlue td.dxgv
{
	padding: 20px 2px 20px 4px;
	border-bottom: 1px Solid #D3D3D3;
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0;
}
.dxgvPreviewRow_MetropolisBlue td.dxgv
{
	padding: 10px 10px 10px 15px;
}
.dxgvDetailCell_MetropolisBlue
{
	padding: 16px 18px;
}
.dxgvDetailRow_MetropolisBlue td.dxgvIndentCell
{
	padding-right: 0px;
	border-bottom: 1px Solid #D3D3D3;
}
.dxgvEmptyDataRow_MetropolisBlue
{
	color: Gray;
}
.dxgvEmptyDataRow_MetropolisBlue td.dxgv
{
	border-bottom: 1px Solid #CFCFCF;
	text-align: center;
}

.dxgvEditFormDisplayRow_MetropolisBlue td.dxgv,
.dxgvDataRow_MetropolisBlue td.dxgv,
.dxgvDataRowAlt_MetropolisBlue td.dxgv,
.dxgvSelectedRow_MetropolisBlue td.dxgv,
.dxgvFocusedRow_MetropolisBlue td.dxgv
{
	overflow: hidden;
	border-bottom: 1px Solid #c0c0c0;
	border-right: 1px Solid #c0c0c0;
	border-top-width: 0;
	border-left-width: 0;
	padding: 3px 6px 4px;
}
.dxgvEditFormDisplayRow_MetropolisBlue
{
}
.dxgvEditFormDisplayRow_MetropolisBlue td.dxgv
{
}
.dxgvEditFormDisplayRow_MetropolisBlue td.dxgvIndentCell
{
	background: #EDEDED none;
	border-right: 1px Solid #CFCFCF;
	border-left: 1px Solid #CFCFCF;
	border-top-width: 0px;
}

.dxgvEditingErrorRow_MetropolisBlue
{
	background-color: #FFC8C8;
	color: #FF0000;
}
.dxgvEditingErrorRow_MetropolisBlue td.dxgv
{
	white-space: pre-wrap;
	border-bottom: 1px Solid #D3D3D3;
	border-right-width: 0;
	border-top-width: 0;
	border-left-width: 0;
	padding: 6px 10px;
}

.dxgvFilterRow_MetropolisBlue td.dxgv
{
	border-bottom: 1px Solid #c0c0c0;
	border-right: 1px Solid #c0c0c0;
	border-top-width: 0;
	border-left-width: 0;
	padding: 2px;
	overflow: hidden;
}
.dxgvGroupRow_MetropolisBlue
{
}
.dxgvFocusedGroupRow_MetropolisBlue
{
	background-color: #0072C6;
	color: White;
}
.dxgvGroupRow_MetropolisBlue td.dxgv,
.dxgvFocusedGroupRow_MetropolisBlue td.dxgv
{
	border: 0 none;
	vertical-align: middle;
	white-space: nowrap;
	border-bottom: 1px Solid #D3D3D3;
	padding: 3px 6px 4px;
}
.dxgvFocusedRow_MetropolisBlue td.dxgvIndentCell,
.dxgvFocusedGroupRow_MetropolisBlue td.dxgvIndentCell,
.dxgvSelectedRow_MetropolisBlue td.dxgvIndentCell
{
	background-color: white!important;
	border-right: 1px solid #CFCFCF;
	border-left: 1px solid #CFCFCF;
	border-top-width: 0px;
}
.dxgvHeaderPanel_MetropolisBlue
{
	background-color: #F9F9F9;
	padding: 8px 6px;
	border-bottom: 1px Solid #9F9F9F;
}

.dxgvMSDraggable_MetropolisBlue .dxgvHeader_MetropolisBlue,
.dxgvMSDraggable_MetropolisBlue.dxgvGroupPanel_MetropolisBlue
{
    -ms-touch-action: pinch-zoom;
}
.dxgvHeader_MetropolisBlue
{
	cursor: pointer;
	white-space: nowrap;
	padding: 4px 6px 5px;
	border: 1px Solid #c0c0c0;
	overflow: hidden;
	font-weight: normal;
	text-align: left;
}
.dxgvHeader_MetropolisBlue,
.dxgvHeader_MetropolisBlue table
{
}
.dxgvHeader_MetropolisBlue td
{
	white-space: nowrap;
}
.dxgvHeader_MetropolisBlue a
{
	color: #0072C6;
}
.dxgvPopupEditForm_MetropolisBlue
{
	padding: 4px;
	margin: 0;
}
.dxgvCustomization_MetropolisBlue
{
	margin: 0;
	padding: 10px;
	min-width: 220px;
}
.dxgvGroupPanel_MetropolisBlue
{
	white-space: nowrap;
	border-bottom: 1px Solid #c0c0c0;
	padding: 7px 4px 8px 6px;
}
.dxgvFooter_MetropolisBlue
{
	white-space: nowrap;
}
.dxgvFooter_MetropolisBlue td.dxgv
{
	padding: 5px 6px 6px;
	border-bottom: 1px Solid #c0c0c0;
	border-right-width: 0;
}
.dxgvGroupFooter_MetropolisBlue
{
}
.dxgvGroupFooter_MetropolisBlue td.dxgv
{
	white-space: nowrap;
}
.dxgvGroupFooter_MetropolisBlue td.dxgv
{
	padding: 5px 4px 6px 6px;
	border-bottom: 1px Solid #c0c0c0;
	border-right-width: 0;
}
.dxgvDataRow_MetropolisBlue td.dxgvIndentCell,
.dxgvGroupRow_MetropolisBlue td.dxgvIndentCell,
.dxgvGroupFooter_MetropolisBlue td.dxgvIndentCell
{
	background-color: white;
	border-right: 1px Solid #CFCFCF;
	border-left: 1px Solid #CFCFCF;
	border-top-width: 0px;
}

.dxgvTitlePanel_MetropolisBlue, 
.dxgvTable_MetropolisBlue caption
{
	font-size: 15px;
	font-weight: normal;
	padding: 3px 3px 5px;
	text-align: center;
	color: #999999;
	border-bottom: 1px Solid #c0c0c0;
}
.dxgvLoadingDiv_MetropolisBlue
{
	background-color: Gray;
	opacity: 0.3;
	filter: alpha(opacity=1);
}
.dxgvStatusBar_MetropolisBlue
{
	border-top: 1px Solid #c0c0c0;
}
.dxgvStatusBar_MetropolisBlue tr.dxgv
{
	height: 20px;
}
.dxgvStatusBar_MetropolisBlue tr.dxgv > td
{
	padding: 4px;
}
.dxgvCommandColumn_MetropolisBlue
{
	padding: 8px 4px;
}
.dxgvCommandColumn_MetropolisBlue a
{
	margin: 0 3px 0 0;
	color: #0072C6;
}
.dxgvCommandColumn_MetropolisBlue a:hover
{
}

.dxgvCommandColumnItem_MetropolisBlue
{
}
.dxgvEditFormTable_MetropolisBlue
{
	padding: 2px 6px 6px 4px;
	font-size: 11px;
	min-width: 300px;
}
.dxgvEditFormTable_MetropolisBlue a
{
	color: #0072C6;
}
.dxgvEditFormTable_MetropolisBlue a:hover
{
}

.dxgvEditFormCaption_MetropolisBlue
{
	padding: 4px 4px 4px 10px;
	white-space: nowrap;
}

.dxgvInlineEditCell_MetropolisBlue
{
	padding: 1px;
}

.dxgvEditFormCell_MetropolisBlue
{
	padding: 4px;
	border-width: 0;
}

.dxgvPagerTopPanel_MetropolisBlue,
.dxgvPagerBottomPanel_MetropolisBlue
{
	padding: 4px 0;
}
.dxgvPagerTopPanel_MetropolisBlue
{
	border-bottom: 1px Solid #c0c0c0;
}

.dxgvDetailButton_MetropolisBlue
{
}

.dxgvFilterBar_MetropolisBlue
{
	border-top: 1px Solid #c0c0c0;
}
.dxgvFilterBar_MetropolisBlue a
{
	color: #0072C6;
	text-decoration: underline;
}
.dxgvFilterBarCheckBoxCell_MetropolisBlue
{
	padding: 0 7px;
}
.dxgvFilterBarImageCell_MetropolisBlue
{
	padding: 0 1px 0 3px;
	cursor: pointer;
}
.dxgvFilterBarExpressionCell_MetropolisBlue
{
	padding: 5px 5px 8px 0;
	white-space: nowrap;
}
.dxgvFilterBarClearButtonCell_MetropolisBlue
{
	padding: 5px 6px 8px;
}
.dxgvFilterBuilderMainArea_MetropolisBlue
{
	background: white none;
	padding: 6px 2px;
} 
.dxgvFilterBuilderButtonArea_MetropolisBlue
{
	border-top: 1px solid #c0c0c0;
	padding: 6px;
	white-space: nowrap;
}

.dxgvDataRowHover_MetropolisBlue
{
	background-color: #f0f0f0;
	color: #333333;
}
.dxgvDataRowHover_MetropolisBlue a
{
	color: #0072C6!important;
}


.dxgvControl_MetropolisBlue .dxpControl_MetropolisBlue td.dxpCtrl_MetropolisBlue, 
.dxgvDisabled_MetropolisBlue .dxpControl_MetropolisBlue td.dxpCtrl_MetropolisBlue,

.dxgvControl_MetropolisBlue .dxpLite_MetropolisBlue,
.dxgvDisabled_MetropolisBlue .dxpLite_MetropolisBlue
{
	padding-top: 4px;
}

.dxgvControl_MetropolisBlue .dxgvHFSAC
{
    padding: 9px 0 0 4px;
}
.dxgvControl_MetropolisBlue .dxgvHFSC
{
    padding: 9px 0 6px;
}
.dxgvControl_MetropolisBlue .dxgvHFSC div
{
    height: 1px;
    background: #c0c0c0;
}
.dxgvControl_MetropolisBlue div[id$='DXEPLPC']
{
    height: 53px;
}

/* Removes flicking in iOS Safari*/
.dxgvTable_MetropolisBlue
{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

