
@font-face {
    font-family: 'Cuprum';
    src: url('cuprum-bold.eot');
    src: url('cuprum-bold.eot?#iefix') format('embedded-opentype'),
         url('cuprum-bold.woff') format('woff'),
         url('cuprum-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'Cuprum';
    src: url('cuprum-bolditalic.eot');
    src: url('cuprum-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('cuprum-bolditalic.woff') format('woff'),
         url('cuprum-bolditalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;

}




@font-face {
    font-family: 'Cuprum';
    src: url('cuprum-italic.eot');
    src: url('cuprum-italic.eot?#iefix') format('embedded-opentype'),
         url('cuprum-italic.woff') format('woff'),
         url('cuprum-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;

}




@font-face {
    font-family: 'Cuprum';
    src: url('cuprum-regular.eot');
    src: url('cuprum-regular.eot?#iefix') format('embedded-opentype'),
         url('cuprum-regular.woff') format('woff'),
         url('cuprum-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}