﻿/******************/
/*  Главное меню  */
/******************/

#main_menu
{
    margin-top: 10px;
    margin-left: 25px;
    display: inline-block;
    
}

#main_menu ul
{
    margin: 0px;
    padding: 0px;
}

#main_menu li
{
    float: left;
    display: block;
    text-align: center;
    padding: 0px 10px;
}

#main_menu  li a
{
    font-weight: bold;
    text-decoration: none;
    display: block;
    color: white;

    font: 1.3em fregatregular, arial;
    text-transform: uppercase;

    /*border-bottom: 2px solid white;*/
}

#main_menu  a.current,
#main_menu  a:hover 
{
    border-bottom: 2px solid;
}


/* ---------------------------- */
/* ------- Боковое меню ------- */
/* ---------------------------- */

.menuleft ul {
    margin: 0;
    padding: 0 10px;
    background: #ECECEC;
}

.menuleft li {
    display: block;
}

.menuleft li.sep {
    border-top: solid thin #A0A0A0;
}

.menuleft a
{
    display: inline-block;
    padding: 5px 0px;
    margin-bottom: 6px;
    text-decoration: none;
}

.menuleft .current
{
    color: #BD972B;
    text-decoration: none;
    cursor: default;
}


/*Горизонтальное меню*/


.menutop a {
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 0.9em;
}
.menutop ul {
    list-style:none;
    padding:0;
    position:relative;
    z-index:1;
    margin: 0;
}
.menutop ul li{
    float:left;
    /*padding-left:10px;*/
    margin:0;
    /*border-left:1px solid #2d94c7;*/
    position:relative;
    z-index:1;
    display: block;
}
.menutop ul li:first-child
{
    border-left: none;
}
.menutop ul li.sep {
}
.menutop ul li.sep :before{
    content:'\2022';
    padding-right:10px;
}
.menutop ul.submenu {
    display: none;
    position:absolute;
    background: #fff;
    padding: 0;
    border-bottom: none;
    box-shadow: 0 0 9px 1px #aaa;
    z-index: 2;
    left: 0px;
}
.menutop ul.submenu li {
    border: none;
    float: none;
    position: relative;
    width: 250px;
    padding: 0 20px;
    z-index: 2;
}
.menutop ul.submenu li a {
    text-align: left;
    z-index: 2;
}
.menutop ul li .current {
    color: #BD972B;
}
