﻿
#logo 
{
    width: 349px;
    height: 64px;
    display: block;
    background: url('img/logo.png') left top no-repeat;
    position: absolute;
    top: 22px;
    left: 20px;
}

#logo_text
{
    width: 157px;
    height: 34px;
    display: block;
    background: url('img/logo_text.png') left top no-repeat;
    position: absolute;
    top: 40px;
    left: 42%;
}

/******************/
/*  Главное меню  */
/******************/

#main_menu  .a1{
    width: 120px;
}

#main_menu  .a2{
    width: 140px;
}

#main_menu  .a3{
    width: 120px;
}

/* Общие (Главные) */

/*body
{
    font: 0.84em Arial,Helvetica,sans-serif;
    background-color: #EFF6FE;
    color: #606060;
    margin: 0;
    padding: 0;
}

::selection,
body::selection, 
input::selection,
textarea::selection
{
    background: #DAF4F5;
    color: #006699;
}

.table_full
{
    width: 100%;
    border: 0px;
    border-collapse: collapse;
}

.table_not_border
{
    border: 0px;
    border-collapse: collapse;
}

.page
{
    width: 1044px;
    margin: 0px auto;
}

.separator
{
    padding-bottom: 20px;
}*/

/* Загаловок сайта */

/*.header_top
{
    color: #4782ba;
    font-size: 11px;
    text-align: right;
    padding: 2px 15px 4px 3px;
}

.header
{
    height: 107px
}

.header_left
{
    background-image: url('img/headbackl.png');
    width: 48px;
}

.header_centre
{
    background-image: url('img/headback.png');
}

.header_right
{
    background-image: url('img/headbackr.png');
    width: 48px;
}

header a
{
    color: #CCCCCC;
}

.header_menu_sep
{
    padding-left: 10px;
}*/

/* Низ */

/*.footer
{
    position: fixed;
    background: url('img/backgroundfooter.png') repeat-x;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 623px;
    z-index: -999;
}

.footer_img
{
    padding-top: 20px;
    background: url('img/backgroundfooterimg.png') no-repeat;
    width: 940px;
    height: 300px;
    z-index: -990;
    margin: 50px auto 0px;
}*/

/* Загаловки */

/*h1, h2 {
    margin: 0px;
}

h1, h2, h3 {
    font-weight: normal;
}*/

/* Ссылки */

/*a,
a.visited
{	
    color: #4782BA; #004990;
}

a:hover
{
    color: #F12938;
}

a.command
{
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    text-decoration: none !important;
    cursor: pointer;
}

a.disabled
{
    color: #A6A6A6 !important;
    cursor: default;
}*/

/* Форма редактирования */

/*.form_edit
{
    margin: auto; 
    width: 100%;
    border-spacing: 0px 2px;
    /*width: 100%;
    border: 0px;
    border-collapse: collapse;
}

.form_edit_desc
{
    width: 270px;
    text-align: right;
    vertical-align:  middle;
}

.form_edit_desc_small
{
    width: 150px;
    text-align: right;
    vertical-align:  middle;
}

.form_edit_p3
{
    text-align: right;
    font-weight: bold;
    padding-right: 50px;
}

.form_edit_input
{
    vertical-align: top;
    padding-left: 10px;
}

.form_edit_head_block
{
    font-weight: bold;
    padding: 10px 5px 4px 20px;
    vertical-align: top;
    border-bottom: 1px solid #83bbf3;
}

.form_edit_section
{
    vertical-align: top;
    padding-bottom: 3px;
}



.form_edit_section div.text
{
    font-weight: bold;
    padding: 10px 3px 5px 20px;
}*/

/*.MRow
{
    font-weight: bold;
    padding: 10px 5px 0px 20px;
    vertical-align: top;
}

.panelcontetsep
{
    background-color: #83bbf3;
    width: 100%; 
    height: 1px;
}



input:-webkit-autofill
{
    background-color: #B2F0AC !important;
}*/



/*.searchinput
{
    border-style: none;
    background: url('img/searchinputt.png') no-repeat 0 50%;
    height: 33px;
    line-height: 33px;
    width: 199px;
    color: #a9bcd8;
    padding-left: 10px;
}

.searchbutton
{
    display: block;
    height: 33px;
    border: none;
    background-image: url('img/searchinputb.png');
    background-color: #e2eefa;
    color: #1e478e;
    cursor: pointer;
    position: relative;
    z-index: 10;
    background-position: left top;
    background-repeat: no-repeat;
}

.searchbutton:hover
{
    background-position: left -33px;
}*/

/*#mainmenul
{
    background-image: url('img/mainmenul.png');
    height: 47px;
    width: 10px;
    float: left;
}

#mainmenum
{
    background-image: url('img/mainmenu.png');
    height: 47px;
    width: 920px;
    float: left;
}

#mainmenur
{
    background-image: url('img/mainmenur.png');
    height: 47px;
    width: 10px;
    float: left;
}

.commandButton
{
    color: #3F66A0;
    margin-right: 3px;
}


.tablenoborder
{
    width: 100%;
    border: 0px; 
    border-collapse: collapse;
}

.tablenoborder td
{
    padding: 0px;
}*/


/*.listtext
{
    float: left;
}*/

.small
{
    font-size: 12px;
}

.gray
{
    color: #a4a4a4;
}

.button_blue
{
    color: #fff;
    font-weight: 700;
    text-shadow: 0 -1px 0 #1b4477;
    border: none;
    background: url('img/button_blue.png') 0 0 no-repeat transparent;
    height: 33px;
    /*line-height: 33px;*/
    width: 144px;
    /*margin-top: 20px;*/
    cursor: pointer;
}

.button_blue_small
{
    color: #fff;
    font-weight: 700;
    text-shadow: 0 -1px 0 #1b4477;
    border: none;
    background: url('img/button_blue_small.png') 0 0 no-repeat transparent;
    height: 28px;
    line-height: 25px;
    width: 108px;
    /*margin-top: 20px;*/
    cursor: pointer;
}


.button_blue_big
{
    background: url('img/button_blue_big_sprite.png') no-repeat 0 0;
    border: 0;
    color: #fff;
    display: block;
    width: 160px;
    height: 45px;
    line-height: 44px;
    margin: 0 0 5px;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #222;
}

.button_blue_big:hover
{
    background-position: left -45px;
}



/*.inputtext
{
    border: none;
    background-image: url('img/input.png');
    background-color: #e2eefa;
    color: #1e478e;
    height: 33px;
    line-height: 33px;
}*/

div.service
{
    text-align: center;
}

div.service.content
{
    margin-top: 10px;
}


/*.footer
{
    background: url('img/backgroundfooter.png') repeat-x 0 50%;
    height: 499px;
    width: 100%;
    margin-top: -450px;
}

.footerimg
{
    background: url('img/backgroundfooterimg.png') no-repeat 0 0;
    height: 273px;
    width: 100%;
    margin-top: -85px;
}*/



/*
.MainRow
{
    width: 300px;
    font-weight: bold; 
    padding: 10px 5px 10px 20px;
    vertical-align: top; 
}

.MainRowLeft
{
    width: 200px;
    font-weight: bold;
    vertical-align: top;
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
}

.RowRight
{
    vertical-align: top;
    padding-top: 5px;
    padding-left: 10px;
}
    
.RowLeft
{
    text-align: right;
    vertical-align: top;
    padding-top: 5px;
}

.EndRow
{
    width: 300px;
    padding: 5px 5px 0px 40px;
    text-align: right;
    vertical-align: top;
}

.tabpanelsep
{
    height: 0px;
    
}*/




/* Внутренняю карточка */

/*.card-text h2 {
	margin: 0;
	padding: 0 0 7px;
}
.card-text h2{
	color: #004990
}
	    
.card-text .date {
	color: #a4a4a4;
	padding: 0 0 10px;
}
.card-text p 
{
	padding: 0 0 15px;	
	margin: 0;
}
.card-text .left-sided 
{
	float: left; 
	margin: 0 15px 15px 0;
}*/








