﻿::selection, body::selection, input::selection, textarea::selection {
    background: #DBEAFF;
}

html {
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font: normal 14px/20px OpenSans, Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    color: #464646;
    text-align: left;
    position: relative;
    cursor: default;
    -webkit-text-size-adjust: 100%;
}

body .page,
body .page {
    margin: 0 auto;
    max-width: 1400px;
    min-width: 900px;
}

header {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    width: 100%;
    padding: 20px 0;
    /*background-color: #329bbe;*/
    border-bottom: 2px solid #00985E;
    /*color: #fff;*/
}

.container {
    margin: 50px 0;
}

div {
    position: relative;
}

ol, ul {
    list-style: none;
    border: 0;
    margin: 0;
    padding: 0;
}

.headerTitle{
    display: flex;
    justify-content: center;
}

.headerTitle a {
    position: absolute;
    left: 0;
    top: 4px;
}

.headerTitle h1{
    margin: 0;
}

#logo{
    height: 28px;
    width: 158px;
    background: url('img/mf_logo_158x28.png');
}

.navMain {
    width: 100%;
}

.navMain ul {
    padding-bottom: 0;
}

.navMainList {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 0;
    padding: 20px 0px;
    list-style: none;
}

.navMainList li {
    display: inline-block;
    margin: 0;
        padding: 5px 0px;
    padding-right: 24px;
    font-family: OpenSansSemiBold, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1em;
}

a {
    color: #464646;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #00985E;
}

input,select,textarea,button {
  height: 40px;
  padding: 7px 11px;
  margin: 0;
  box-sizing: border-box;
  background: #f3f3f3;
  border: 1px solid #c5c5c5;
  border-radius: 5px;
  color: #444;
  font: inherit;
  vertical-align: middle;
}

input[type=text], input[type=number]
{
    width:600px;
}

input[readonly]
{
    color: #afafaf;
}

input::-ms-clear {
  display: none;
}

textarea {
  width: 100%;
  height: auto;
  resize: vertical;
}

input:placeholder,textarea:placeholder {
  color: #7c7c7c;
}

input[type=checkbox],input[type=radio] {
  height: auto;
  padding: 0;
  border: none;
  background: none;
  border-radius: 0;
  margin-right:15px;
}

/**/input[type=submit],input[type=button],input[type=reset],button,.button,.documentsList-load,.documentsList-edit,.blockFormula .formBlock dd span[onclick] {
  display: inline-block;
  height: auto;
  padding: 5px 12px;
  background: #00BD77; /*#00afd1;*/
  border: 1px solid #00985E;
  border-radius: 5px;
  box-sizing: border-box;
  color: #fff;
  text-align: center;
  text-decoration: none !important;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-appearance: none;
  font: normal 1.1em/30px Exo2Condensed, Arial, Helvetica, sans-serif;
}

.button.gray {
    background: #efefef !important;
    border: 1px solid #c5c5c5 !important;
    color: #777777 !important;
    }

.button.gray:hover {
	background: #e6e6e6 !important;
}

input[type=submit]:hover,input[type=button]:hover,input[type=reset]:hover,button:hover,.button:hover,.documentsList-load:hover,.documentsList-edit:hover,.blockFormula .formBlock dd span[onclick]:hover {
    color:#fff;
    background: #00985E;
}

input[type=submit]:active,input[type=button]:active,input[type=reset]:active,button:active,.button:active,.documentsList-load:active,.documentsList-edit:active,.blockFormula .formBlock dd span[onclick]:active {
  background: #009ab8;
}

input[type=submit]:disabled,input[type=button]:disabled,input[type=reset]:disabled,button:disabled,.button:disabled,.documentsList-load:disabled,.documentsList-edit:disabled,.blockFormula .formBlock dd span[onclick]:disabled {
  cursor: default;
}

.ui.search.dropdown {
    min-width: 300px;
}

.ui.form.dropdown {
    width: 600px;
}

.notify {
  max-width: 500px;
  padding: 12px 18px;
  border-radius: 5px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.27);
  color: #fff;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9999;
}

/*.columnsList {
  -webkit-columns: 4;
  -moz-columns: 4;
  columns: 4;
  margin: 0 -25px 0 0;
  padding: 20px 0 0 0;
}*/

dl {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  margin: 7px;
}

dt {
  display: block;
  width: 230px;
  margin: 10px 0 0;
  /*padding: 0;
  border-radius: 100%;
  background: #f3f3f3;
  font: normal 18px/30px Exo2Condensed, Arial, Helvetica, sans-serif;
  text-align: center;*/
  float: left;
}

dd {
  margin: 0 0 6px 0;
  padding: 0;
}

#sertContainer{
    margin: 0 25px 45px 0;
    padding: 0 0 0 30px;
}




.popup,.preloader {
  display:none;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 40px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  /*opacity: 0;*/
  transition: opacity .3s linear;
  overflow: auto;
}

.popup.active,.active.preloader {
  z-index: 999;
  /*opacity: 1;*/
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.popup.hidePop,.hidePop.preloader {
  /*opacity: 0;*/
  display:none;
}

.popupBlock,.preloaderBlock {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  max-width: 835px;
  min-width: 800px;
  max-height: 100%;
  padding: 22px 30px;
  margin: auto;
  box-sizing: border-box;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.27);
  overflow: auto;
  position: relative;
}

table {
    border-collapse: collapse;
}

table th {
    padding: 5px 10px;
    font-size: 1rem;
    border-bottom: 1px solid #444;
    text-align: left;
}

table td {
    padding: 5px 10px;
    font-size: 1rem;
    border-bottom: 1px solid #e6e6e6;
}


.dataTable {
    width: 100%
}

#dictTableContainer {
    margin: 50px 0;
    overflow-x: auto;
    overflow-y: hidden;
}

.dictTableFilters {
    margin: 50px 0;
}

.dictTableFilters input{
    margin: 0px 20px 15px 0px;
}

.dictTableFiltersText, 
.dictTableFiltersText:hover{
    color: cornflowerblue;
    /*position: absolute;*/
    top: -35px;
    /*margin: 6px 18px;*/
}

.dataTable tbody td, .dataTable tbody th {
    padding: 20px 10px;
    vertical-align: top;
}

.dataTable tbody tr:hover {
  background: #f1f6f7;
  cursor: pointer;
}

.dataTables_info {
  margin: 0 0 5px 0;
  color: #7b7b7b;
  text-align: center;
}

.dataTables_paginate {
  text-align: center;
  margin-top:10px;
}

.dataTables_paginate > span {
  margin: 0 5px;
}

.dataTables_paginate a {
  min-width: 10px;
  padding: 2px 8px;
  margin: 0 2px 5px 2px;
  text-transform: none;
    color: #329bbe;
}

.dataTables_paginate a.disabled {
  background: none !important;
  color: #7b7b7b;
  cursor: default;
}

.dataTables_paginate a.current {
  background: #f3f3f3;
  color: #444;
  cursor: default;
}

.sorting,.sorting_asc,.sorting_desc {
  padding-right: 25px;
  cursor: pointer;
  position: relative;
}

.sorting:before,.sorting:after,.sorting_asc:before,.sorting_asc:after,.sorting_desc:before,.sorting_desc:after {
  display: block;
  content: '';
  width: 0px;
  height: 0px;
  border: 5px solid transparent;
  position: absolute;
  top: 50%;
  right: 10px;
  opacity: .5;
}

.sorting:before,.sorting_asc:before,.sorting_desc:before {
  margin-top: -9px;
  border-bottom-color: #aaa;
}

.sorting:after,.sorting_asc:after,.sorting_desc:after {
  margin-top: 3px;
  border-top-color: #aaa;
}

.sorting:hover:before,.sorting:hover:after,.sorting_asc:hover:before,.sorting_asc:hover:after,.sorting_desc:hover:before,.sorting_desc:hover:after {
  opacity: .8;
}

.sorting:active:before,.sorting:active:after,.sorting_asc:active:before,.sorting_asc:active:after,.sorting_desc:active:before,.sorting_desc:active:after {
  opacity: 1;
}

.sorting_asc:after {
  border-top-color: #329bbe;
}

.sorting_desc:before {
  border-bottom-color: #329bbe;
}


.deletebutton {
    color: #ffb1b1;
}

.deletebutton:hover {
    color: red;
}

.buttons {
        display: flex;
    margin-top: 30px;
    justify-content: center;
}

    .buttons div {
        width: 10px;
    }

    .filterBox
    {
        display: flex;
        margin: 10px 0;
    }

    .filterBox span{
        width: 10px;
    }


.group-list {
    position: absolute;
    right: 20px;
    top: 0;
    width:400px;
}

.td-no-border {
    border: 0;
}

.errors{
    color: red;
    list-style-type: circle;
}