﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/semantic.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
    </environment>

</head>
<body>
    <header>
        <div class="page">
            <div class="headerTitle">
                @*<a class="item" href="@Url.Action("Index")">
                    <div id="logo"></div>
                </a>*@
                <h1>Редактор справочников</h1>
            </div>

            <nav class="navMain">
                <ul class="navMainList">
                    <li><a class="item" href="@Url.Action("Editor")">Справочники</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="page">
        <div class="container ">
            @RenderBody()
        </div>
    </div>

    <environment include="Development">
        <script src="~/lib/dataTables/jquery.dataTables.min.js"></script>
        <script src="~/lib/semantic/semantic.min.js"></script>
        <script src="~/js/site.js"></script>
    </environment>

    <script type="text/javascript">
        $(document).ready(function () {
            $(document).ajaxStart(function () {
                preloader.show();
            });

            $(document).ajaxStop(function () {
                preloader.hide();
            });
        });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
