.dxGridView_gvCellError_MetropolisBlue,
.dxGridView_gvCMClearFilter_MetropolisBlue,
.dxGridView_gvCMClearGrouping_MetropolisBlue,
.dxGridView_gvCMCollapseDetailRow_MetropolisBlue,
.dxGridView_gvCMCollapseDetailRowDisabled_MetropolisBlue,
.dxGridView_gvCMCollapseRow_MetropolisBlue,
.dxGridView_gvCMCollapseRowDisabled_MetropolisBlue,
.dxGridView_gvCMDeleteRow_MetropolisBlue,
.dxGridView_gvCMEditRow_MetropolisBlue,
.dxGridView_gvCMExpandDetailRow_MetropolisBlue,
.dxGridView_gvCMExpandDetailRowDisabled_MetropolisBlue,
.dxGridView_gvCMExpandRow_MetropolisBlue,
.dxGridView_gvCMExpandRowDisabled_MetropolisBlue,
.dxGridView_gvCMFullCollapse_MetropolisBlue,
.dxGridView_gvCMFullExpand_MetropolisBlue,
.dxGridView_gvCMGroupByColumn_MetropolisBlue,
.dxGridView_gvCMNewRow_MetropolisBlue,
.dxGridView_gvCMRefresh_MetropolisBlue,
.dxGridView_gvCMShowCustomizationWindow_MetropolisBlue,
.dxGridView_gvCMShowFilterEditor_MetropolisBlue,
.dxGridView_gvCMShowGroupPanel_MetropolisBlue,
.dxGridView_gvCMSortAscending_MetropolisBlue,
.dxGridView_gvCMSortDescending_MetropolisBlue,
.dxGridView_gvCMSummaryAverage_MetropolisBlue,
.dxGridView_gvCMSummaryCount_MetropolisBlue,
.dxGridView_gvCMSummaryMax_MetropolisBlue,
.dxGridView_gvCMSummaryMin_MetropolisBlue,
.dxGridView_gvCMSummarySum_MetropolisBlue,
.dxGridView_gvCMUngroupColumn_MetropolisBlue,
.dxGridView_gvCollapsedButton_MetropolisBlue,
.dxGridView_gvCollapsedButtonRtl_MetropolisBlue,
.dxGridView_gvDetailCollapsedButton_MetropolisBlue,
.dxGridView_gvDetailCollapsedButtonRtl_MetropolisBlue,
.dxGridView_gvDetailExpandedButton_MetropolisBlue,
.dxGridView_gvDetailExpandedButtonRtl_MetropolisBlue,
.dxGridView_gvDragAndDropArrowDown_MetropolisBlue,
.dxGridView_gvDragAndDropArrowUp_MetropolisBlue,
.dxGridView_gvDragAndDropHideColumn_MetropolisBlue,
.dxGridView_gvExpandedButton_MetropolisBlue,
.dxGridView_gvExpandedButtonRtl_MetropolisBlue,
.dxGridView_gvFilterRowButton_MetropolisBlue,
.dxGridView_gvHeaderFilter_MetropolisBlue,
.dxGridView_gvHeaderFilterActive_MetropolisBlue,
.dxGridView_gvHeaderSortDown_MetropolisBlue,
.dxGridView_gvHeaderSortUp_MetropolisBlue,
.dxGridView_gvParentGroupRows_MetropolisBlue,
.dxGridView_WindowResizer_MetropolisBlue,
.dxGridView_WindowResizerRtl_MetropolisBlue,
.dxgvFocusedGroupRow_MetropolisBlue .dxGridView_gvCollapsedButton_MetropolisBlue,
.dxgvFocusedGroupRow_MetropolisBlue .dxGridView_gvCollapsedButtonRtl_MetropolisBlue,
.dxgvFocusedGroupRow_MetropolisBlue .dxGridView_gvExpandedButton_MetropolisBlue,
.dxgvFocusedGroupRow_MetropolisBlue .dxGridView_gvExpandedButtonRtl_MetropolisBlue,
.dxgvFocusedRow_MetropolisBlue .dxGridView_gvDetailCollapsedButton_MetropolisBlue,
.dxgvFocusedRow_MetropolisBlue .dxGridView_gvDetailCollapsedButtonRtl_MetropolisBlue,
.dxgvFocusedRow_MetropolisBlue .dxGridView_gvDetailExpandedButton_MetropolisBlue,
.dxgvFocusedRow_MetropolisBlue .dxGridView_gvDetailExpandedButtonRtl_MetropolisBlue
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxGridView_gvCellError_MetropolisBlue
{
    background-position: -49px -118px;
    width: 14px;
    height: 14px;
}
.dxGridView_gvCMClearFilter_MetropolisBlue
{
    background-position: 0px -80px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMClearGrouping_MetropolisBlue
{
    background-position: -19px -23px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMCollapseDetailRow_MetropolisBlue
{
    background-position: -19px -42px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMCollapseDetailRowDisabled_MetropolisBlue
{
    background-position: -76px -99px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMCollapseRow_MetropolisBlue
{
    background-position: 0px -61px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMCollapseRowDisabled_MetropolisBlue
{
    background-position: 0px -23px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMDeleteRow_MetropolisBlue
{
    background-position: -19px -61px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMEditRow_MetropolisBlue
{
    background-position: -76px -23px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMExpandDetailRow_MetropolisBlue
{
    background-position: -38px -42px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMExpandDetailRowDisabled_MetropolisBlue
{
    background-position: -61px 0px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMExpandRow_MetropolisBlue
{
    background-position: -38px -61px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMExpandRowDisabled_MetropolisBlue
{
    background-position: -19px -80px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMFullCollapse_MetropolisBlue
{
    background-position: -76px -80px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMFullExpand_MetropolisBlue
{
    background-position: -19px -99px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMGroupByColumn_MetropolisBlue
{
    background-position: -38px -99px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMNewRow_MetropolisBlue
{
    background-position: -57px -42px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMRefresh_MetropolisBlue
{
    background-position: -57px -23px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMShowCustomizationWindow_MetropolisBlue
{
    background-position: -57px -99px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMShowFilterEditor_MetropolisBlue
{
    background-position: -38px -23px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMShowGroupPanel_MetropolisBlue
{
    background-position: -57px -61px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMSortAscending_MetropolisBlue
{
    background-position: -38px -80px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMSortDescending_MetropolisBlue
{
    background-position: 0px -42px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMSummaryAverage_MetropolisBlue
{
    background-position: -42px 0px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMSummaryCount_MetropolisBlue
{
    background-position: 0px -99px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMSummaryMax_MetropolisBlue
{
    background-position: -76px -61px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMSummaryMin_MetropolisBlue
{
    background-position: -57px -80px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMSummarySum_MetropolisBlue
{
    background-position: -23px 0px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCMUngroupColumn_MetropolisBlue
{
    background-position: -76px -42px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvCollapsedButton_MetropolisBlue
{
    background-position: 0px -163px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvCollapsedButtonRtl_MetropolisBlue
{
    background-position: -28px -163px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvDetailCollapsedButton_MetropolisBlue
{
    background-position: -28px -149px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvDetailCollapsedButtonRtl_MetropolisBlue
{
    background-position: -42px -163px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvDetailExpandedButton_MetropolisBlue
{
    background-position: 0px -149px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvDetailExpandedButtonRtl_MetropolisBlue
{
    background-position: -70px -149px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvDragAndDropArrowDown_MetropolisBlue
{
    background-position: -68px -163px;
    width: 11px;
    height: 9px;
}
.dxGridView_gvDragAndDropArrowUp_MetropolisBlue
{
    background-position: -56px -163px;
    width: 11px;
    height: 9px;
}
.dxGridView_gvDragAndDropHideColumn_MetropolisBlue
{
    background-position: 0px 0px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvExpandedButton_MetropolisBlue
{
    background-position: -14px -163px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvExpandedButtonRtl_MetropolisBlue
{
    background-position: -14px -149px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvFilterRowButton_MetropolisBlue
{
    background-position: -64px -118px;
    width: 14px;
    height: 14px;
}
.dxGridView_gvHeaderFilter_MetropolisBlue
{
    background-position: -80px 0px;
    width: 14px;
    height: 16px;
}
.dxGridView_gvHeaderFilterActive_MetropolisBlue
{
    background-position: -34px -118px;
    width: 14px;
    height: 16px;
}
.dxGridView_gvHeaderSortDown_MetropolisBlue
{
    background-position: -87px -17px;
    width: 7px;
    height: 5px;
}
.dxGridView_gvHeaderSortUp_MetropolisBlue
{
    background-position: -84px -149px;
    width: 7px;
    height: 5px;
}
.dxGridView_gvParentGroupRows_MetropolisBlue
{
    background-position: 0px -135px;
    width: 18px;
    height: 13px;
}
.dxGridView_WindowResizer_MetropolisBlue
{
    background-position: 0px -118px;
    width: 16px;
    height: 16px;
}
.dxGridView_WindowResizerRtl_MetropolisBlue
{
    background-position: -17px -118px;
    width: 16px;
    height: 16px;
}
.dxgvFocusedGroupRow_MetropolisBlue .dxGridView_gvCollapsedButton_MetropolisBlue
{
    background-position: -56px -149px;
    width: 13px;
    height: 13px;
}
.dxgvFocusedGroupRow_MetropolisBlue .dxGridView_gvCollapsedButtonRtl_MetropolisBlue
{
    background-position: -47px -135px;
    width: 13px;
    height: 13px;
}
.dxgvFocusedGroupRow_MetropolisBlue .dxGridView_gvExpandedButton_MetropolisBlue
{
    background-position: -75px -135px;
    width: 13px;
    height: 13px;
}
.dxgvFocusedGroupRow_MetropolisBlue .dxGridView_gvExpandedButtonRtl_MetropolisBlue
{
    background-position: -19px -135px;
    width: 13px;
    height: 13px;
}
.dxgvFocusedRow_MetropolisBlue .dxGridView_gvDetailCollapsedButton_MetropolisBlue
{
    background-position: -61px -135px;
    width: 13px;
    height: 13px;
}
.dxgvFocusedRow_MetropolisBlue .dxGridView_gvDetailCollapsedButtonRtl_MetropolisBlue
{
    background-position: -79px -118px;
    width: 13px;
    height: 13px;
}
.dxgvFocusedRow_MetropolisBlue .dxGridView_gvDetailExpandedButton_MetropolisBlue
{
    background-position: -33px -135px;
    width: 13px;
    height: 13px;
}
.dxgvFocusedRow_MetropolisBlue .dxGridView_gvDetailExpandedButtonRtl_MetropolisBlue
{
    background-position: -42px -149px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvHeaderFilterActive_MetropolisBlue
{
	background-color: #0072C6;
}

